.lambda-dropdown-wrapper {
	font-family: var(--font-family);
	height: max-content;
}

.lambda-dropdown {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-lg);
	font-family: var(--font-family);
	font-weight: var(--font-weight-medium);
	text-decoration: none;
	cursor: pointer;
	pointer-events: all;
	box-sizing: border-box;
	z-index: 0;
	min-height: 24px;
	min-width: max-content;
	color: var(--foreground-color);
	transition: background-color 0.25s ease-in-out, color 0.3s ease-in-out;

	&:hover {
		background-color: var(--surface-b);
	}

	&:focus-within {
		outline: var(--border-width-sm) solid var(--primary-shadow-color);
		outline-offset: var(--border-width-sm);
	}

	&>.lambda-dropdown-icon {
		&.lambda-dropdown-icon-only {
			justify-content: center;
			width: 100%;
		}
	}

	&.lambda-dropdown-width-block {
		width: 100%;
	}

	&.lambda-dropdown-width-normal {
		width: max-content;
	}
}

.lambda-dropdown-label {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: inherit;
}

.lambda-dropdown-content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-md);
}

.lambda-dropdown-solid {
	background-color: var(--surface-a);
	border: var(--border-width-xs) solid var(--border-color);

	&.lambda-dropdown-active {
		background-color: var(--surface-b);
	}
}

.lambda-dropdown-soft {
	background-color: var(--surface-a);
	border: none;

	&.lambda-dropdown-active {
		background-color: var(--surface-b);
	}
}

.lambda-dropdown-subtle {
	background-color: var(--surface-a);
	border: var(--border-width-xs) solid var(--surface-b);

	&.lambda-dropdown-active {
		background-color: var(--surface-b);
	}
}

.lambda-dropdown-text {
	background-color: transparent;
	border: none;

	&.lambda-dropdown-active {
		background-color: var(--surface-b);
	}
}

.lambda-dropdown-tiny {
	font-size: var(--font-size-xs);
	padding: var(--spacing-none) var(--spacing-sm) var(--spacing-none) var(--spacing-md);
	height: var(--size-lg);

	&:is(.lambda-dropdown-icon-only) {
		width: var(--size-lg);
		height: var(--size-lg);
		padding: var(--spacing-none);
	}

	.lambda-dropdown-icon {
		display: flex;
		height: var(--size-sm);
		line-height: var(--size-sm);

		&:not(.lambda-dropdown-icon-only) {
			align-items: center;
			width: var(--size-sm);
		}
	}

	.lambda-dropdown-label {
		height: var(--font-size-xs);
		line-height: var(--font-size-xs);
		font-weight: var(--font-weight-semibold);
	}

	& svg {
		&:is(:first-child) {
			width: var(--size-sm);
			height: var(--size-sm);
			line-height: var(--size-sm);
			filter: none;
		}

		&:is(:last-child) {
			width: var(--size-sm);
			height: var(--size-sm);
			line-height: var(--size-sm);
			filter: none;
		}
	}
}

.lambda-dropdown-small {
	font-size: var(--font-size-sm);
	padding: var(--spacing-none) var(--spacing-md) var(--spacing-none) var(--spacing-md);
	height: var(--size-2xl);

	&:is(.lambda-dropdown-icon-only) {
		width: var(--size-2xl);
		height: var(--size-2xl);
		padding: var(--spacing-none);
	}

	.lambda-dropdown-icon {
		display: flex;
		height: var(--size-sm);
		padding: var(--spacing-none);

		&:not(.lambda-dropdown-icon-only) {
			align-items: center;
			width: var(--size-sm);
		}
	}

	.lambda-dropdown-label {
		font-weight: var(--font-weight-medium);
	}

	& svg {
		&:is(:first-child) {
			width: var(--size-sm);
			height: var(--size-sm);
			filter: none;
		}

		&:is(.lambda-dropdown-icon-arrow) {
			width: var(--size-sm);
			height: var(--size-sm);
			filter: none;
		}
	}
}

.lambda-dropdown-medium {
	font-size: var(--font-size-md);
	padding: var(--spacing-none) var(--spacing-md) var(--spacing-none) calc(var(--spacing-md) + var(--spacing-xs));
	height: var(--size-4xl);

	&:is(.lambda-dropdown-icon-only) {
		width: var(--size-4xl);
		height: var(--size-4xl);
		padding: var(--spacing-none);
	}

	.lambda-dropdown-icon {
		display: flex;
		height: var(--size-md);
		line-height: var(--size-md);

		&:not(.lambda-dropdown-icon-only) {
			align-items: center;
			width: var(--size-md);
		}
	}

	.lambda-dropdown-label {
		font-weight: var(--font-weight-medium);
	}

	& svg {
		width: var(--size-md);
		height: var(--size-md);
		line-height: var(--size-md);
		filter: none;
	}
}

.lambda-dropdown-large {
	font-size: var(--font-size-md);
	padding: var(--spacing-none) calc(var(--spacing-md) + var(--spacing-xs)) var(--spacing-none) calc(var(--spacing-md) + var(--spacing-sm));
	height: var(--size-6xl);

	&:is(.lambda-dropdown-icon-only) {
		width: var(--size-6xl);
		height: var(--size-6xl);
		padding: var(--spacing-none);
	}

	.lambda-dropdown-icon {
		display: flex;
		height: var(--size-md);
		line-height: var(--size-md);

		&:not(.lambda-dropdown-icon-only) {
			align-items: center;
			width: var(--size-md);
		}
	}

	.lambda-dropdown-label {
		font-weight: var(--font-weight-medium);
	}

	& svg {
		width: var(--size-md);
		height: var(--size-md);
		line-height: var(--size-md);
		filter: none;
	}
}

.lambda-dropdown-radius-none {
	border-radius: var(--radius-none);
}

.lambda-dropdown-radius-tiny {
	border-radius: var(--radius-xs);
}

.lambda-dropdown-radius-small {
	border-radius: var(--radius-sm);
}

.lambda-dropdown-radius-medium {
	border-radius: var(--radius-md);
}

.lambda-dropdown-radius-large {
	border-radius: var(--radius-lg);
}

.lambda-dropdown-radius-full {
	border-radius: var(--radius-full);
}

.lambda-dropdown-circle {
	padding: var(--spacing-none);
	border-radius: var(--radius-full);
	aspect-ratio: 1 / 1;
}

.lambda-dropdown-first {
	border-top-right-radius: var(--radius-none);
	border-bottom-right-radius: var(--radius-none);
}

.lambda-dropdown-middle {
	border-radius: var(--radius-none);
}

.lambda-dropdown-last {
	border-top-left-radius: var(--radius-none);
	border-bottom-left-radius: var(--radius-none);
}

.lambda-dropdown-menu {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	padding: var(--spacing-xs);
	min-width: 145px;
	background: radial-gradient(var(--surface-a), var(--background-color));
	border: var(--border-width-xs) solid var(--border-color);
	z-index: 100;
	border-radius: var(--radius-sm);

	&:focus-within {
		outline: var(--border-width-sm) solid transparent;
		outline-offset: var(--border-width-sm);
	}
}

.lambda-dropdown-item {
	display: grid;
	grid-template-columns: 1.25rem 1fr auto;
	place-items: center start;
	gap: var(--spacing-sm);
	font-family: var(--font-family);
	padding: var(--spacing-xs) var(--spacing-md);
	border-radius: var(--radius-xs);
	background-color: transparent;
	border: none;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		background-color: var(--surface-b);
	}

	&:is(.lambda-dropdown-item-tiny) {
		height: var(--size-lg);
		font-size: var(--font-size-xs);
		gap: var(--spacing-xs);

		.lambda-dropdown-item-icon {
			width: var(--size-sm);
			height: var(--size-sm);
			line-height: var(--size-sm);
		}

		.lambda-dropdown-item-label {
			font-size: var(--font-size-xs);
			line-height: var(--font-size-xs);
			font-weight: var(--font-weight-medium);
		}
	}

	&:is(.lambda-dropdown-item-small) {
		height: var(--size-lg);
		font-size: var(--font-size-sm);
		gap: var(--spacing-md);

		.lambda-dropdown-item-icon {
			width: var(--size-sm);
			height: var(--size-sm);
			line-height: var(--size-sm);
		}

		.lambda-dropdown-item-label {
			font-size: var(--font-size-sm);
			line-height: var(--font-size-sm);
			font-weight: var(--font-weight-medium);
		}
	}

	&:is(.lambda-dropdown-item-medium) {
		height: var(--size-xl);
		font-size: var(--font-size-sm);
		gap: var(--spacing-md);

		.lambda-dropdown-item-icon {
			width: var(--size-sm);
			height: var(--size-sm);
			line-height: var(--size-sm);
		}

		.lambda-dropdown-item-label {
			font-size: var(--font-size-sm);
			line-height: var(--font-size-sm);
			font-weight: var(--font-weight-medium);
		}
	}

	&:is(.lambda-dropdown-item-large) {
		height: var(--size-2xl);
		font-size: var(--font-size-md);
		gap: var(--spacing-md);

		.lambda-dropdown-item-icon {
			width: var(--size-md);
			height: var(--size-md);
			line-height: var(--size-md);
		}

		.lambda-dropdown-item-label {
			font-size: var(--font-size-sm);
			line-height: var(--font-size-sm);
			font-weight: var(--font-weight-medium);
		}
	}
}

.lambda-dropdown-item-active {
	background-color: var(--surface-b);
}

.lambda-dropdown-item-label {
	display: flex;
	align-items: flex-start;
	min-width: 80px;
	color: var(--foreground-color);
	pointer-events: none;
}

.lambda-dropdown-item-icon {
	color: var(--foreground-secondary-color);
	opacity: 0.5;
	pointer-events: none;
}

.lambda-dropdown-item-shortcut-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-xs);
	grid-column: 3/4;
	margin-left: var(--spacing-lg);
	height: 100%;
	pointer-events: none;
}

.lambda-dropdown-item-shortcut {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--foreground-color);
	font-size: var(--font-size-2xs);
	line-height: var(--font-size-2xs);
	font-weight: var(--font-weight-bold);
	height: 100%;
	max-height: 1.8em;
	padding: var(--spacing-none) var(--spacing-xs);
	border-radius: var(--radius-sm);
	background-color: var(--surface-b);
	border: var(--border-width-xs) solid var(--border-color);
	box-shadow: 1px 1px 2px var(--shadow-color);
}

.lambda-dropdown-item-custom {
	padding: var(--spacing-xs);
	border-radius: var(--radius-xs);
	background-color: transparent;
	border: none;
	text-decoration: none;
	cursor: pointer;
	font-family: var(--font-family);
	color: var(--foreground-color);
	font-size: var(--font-size-sm);

	&:hover {
		background-color: var(--surface-b);
	}
}

.lambda-dropdown-item-custom-active {
	background-color: var(--surface-b);
}

.lambda-dropdown-disabled {
	cursor: not-allowed;
	opacity: 0.5;
}