.lambda-tag {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-md);
	font-family: var(--font-family);
	font-weight: var(--font-weight-semibold);
	box-sizing: border-box;
	width: max-content;

	&>svg {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&>.lambda-tag-text {
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
	}
}

.lambda-tag-solid {
	border: var(--border-width-xs) solid transparent;

	&.lambda-tag-neutral {
		color: var(--foreground-invert-color);
		background-color: var(--neutral-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--lambda-color-neutral-300);

			&:hover {
				color: var(--lambda-color-neutral-600);
			}
		}
	}

	&.lambda-tag-primary {
		color: var(--white-color);
		background-color: var(--primary-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--lambda-color-cyan-400);

			&:hover {
				color: var(--lambda-color-cyan-100);
			}
		}
	}

	&.lambda-tag-secondary {
		color: var(--white-color);
		background-color: var(--secondary-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--lambda-color-cyan-300);

			&:hover {
				color: var(--lambda-color-cyan-100);
			}
		}
	}

	&.lambda-tag-danger {
		color: var(--white-color);
		background-color: var(--danger-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--lambda-color-red-300);

			&:hover {
				color: var(--lambda-color-red-100);
			}
		}
	}

	&.lambda-tag-success {
		color: var(--white-color);
		background-color: var(--success-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--lambda-color-green-300);

			&:hover {
				color: var(--lambda-color-green-100);
			}
		}
	}

	&.lambda-tag-warning {
		color: var(--white-color);
		background-color: var(--warning-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--lambda-color-yellow-300);

			&:hover {
				color: var(--lambda-color-yellow-100);
			}
		}
	}

	&.lambda-tag-info {
		color: var(--white-color);
		background-color: var(--info-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--lambda-color-sky-300);

			&:hover {
				color: var(--lambda-color-sky-100);
			}
		}
	}
}

.lambda-tag-outline {
	border: var(--border-width-xs) solid;

	&.lambda-tag-neutral {
		color: var(--neutral-base-color);
		border-color: var(--neutral-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--neutral-hover-color);

			&:hover {
				color: var(--neutral-text-color);
			}
		}
	}

	&.lambda-tag-primary {
		color: var(--primary-base-color);
		border-color: var(--primary-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--primary-hover-color);

			&:hover {
				color: var(--primary-text-color);
			}
		}
	}

	&.lambda-tag-secondary {
		color: var(--secondary-base-color);
		border-color: var(--secondary-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--secondary-hover-color);

			&:hover {
				color: var(--secondary-text-color);
			}
		}
	}

	&.lambda-tag-success {
		color: var(--success-base-color);
		border-color: var(--success-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--success-hover-color);

			&:hover {
				color: var(--success-text-color);
			}
		}
	}

	&.lambda-tag-danger {
		color: var(--danger-base-color);
		border-color: var(--danger-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--danger-hover-color);

			&:hover {
				color: var(--danger-text-color);
			}
		}
	}

	&.lambda-tag-warning {
		color: var(--warning-base-color);
		border-color: var(--warning-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--warning-hover-color);

			&:hover {
				color: var(--warning-text-color);
			}
		}
	}

	&.lambda-tag-info {
		color: var(--info-base-color);
		border-color: var(--info-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--info-hover-color);

			&:hover {
				color: var(--info-text-color);
			}
		}
	}
}

.lambda-tag-soft {
	border: var(--border-width-xs) solid transparent;
	color: var(--primary-text-color);

	&.lambda-tag-neutral {
		color: var(--neutral-text-color);
		background-color: var(--neutral-opacity-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--neutral-hover-color);

			&:hover {
				color: var(--neutral-text-color);
			}
		}
	}

	&.lambda-tag-primary {
		color: var(--primary-text-color);
		background-color: var(--primary-opacity-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--primary-hover-color);

			&:hover {
				color: var(--primary-text-color);
			}
		}
	}

	&.lambda-tag-secondary {
		color: var(--secondary-text-color);
		background-color: var(--secondary-opacity-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--secondary-hover-color);

			&:hover {
				color: var(--secondary-text-color);
			}
		}
	}

	&.lambda-tag-danger {
		color: var(--danger-text-color);
		background-color: var(--danger-opacity-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--danger-hover-color);

			&:hover {
				color: var(--danger-text-color);
			}
		}
	}

	&.lambda-tag-success {
		color: var(--success-text-color);
		background-color: var(--success-opacity-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--success-hover-color);

			&:hover {
				color: var(--success-text-color);
			}
		}
	}

	&.lambda-tag-warning {
		color: var(--warning-text-color);
		background-color: var(--warning-opacity-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--warning-hover-color);

			&:hover {
				color: var(--warning-text-color);
			}
		}
	}

	&.lambda-tag-info {
		color: var(--info-text-color);
		background-color: var(--info-opacity-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--info-hover-color);

			&:hover {
				color: var(--info-text-color);
			}
		}
	}
}

.lambda-tag-dashed {
	color: var(--primary-base-color);
	border: var(--border-width-xs) dashed var(--primary-base-color);

	&.lambda-tag-neutral {
		color: var(--neutral-text-color);
		border: var(--border-width-xs) dashed var(--neutral-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--neutral-hover-color);

			&:hover {
				color: var(--neutral-text-color);
			}
		}
	}

	&.lambda-tag-primary {
		color: var(--primary-text-color);
		border: var(--border-width-xs) dashed var(--primary-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--primary-hover-color);

			&:hover {
				color: var(--primary-text-color);
			}
		}
	}

	&.lambda-tag-secondary {
		color: var(--secondary-text-color);
		border: var(--border-width-xs) dashed var(--secondary-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--secondary-hover-color);

			&:hover {
				color: var(--secondary-text-color);
			}
		}
	}

	&.lambda-tag-danger {
		color: var(--danger-text-color);
		border: var(--border-width-xs) dashed var(--danger-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--danger-hover-color);

			&:hover {
				color: var(--danger-text-color);
			}
		}
	}

	&.lambda-tag-success {
		color: var(--success-text-color);
		border: var(--border-width-xs) dashed var(--success-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--success-hover-color);

			&:hover {
				color: var(--success-text-color);
			}
		}
	}

	&.lambda-tag-warning {
		color: var(--warning-text-color);
		border: var(--border-width-xs) dashed var(--warning-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--warning-hover-color);

			&:hover {
				color: var(--warning-text-color);
			}
		}
	}

	&.lambda-tag-info {
		color: var(--info-text-color);
		border: var(--border-width-xs) dashed var(--info-base-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--info-hover-color);

			&:hover {
				color: var(--info-text-color);
			}
		}
	}
}

.lambda-tag-subtle {
	border: var(--border-width-xs) solid;

	&.lambda-tag-neutral {
		color: var(--neutral-text-color);
		border-color: var(--neutral-subtle-color);
		background-color: var(--neutral-opacity-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--neutral-hover-color);

			&:hover {
				color: var(--neutral-text-color);
			}
		}
	}

	&.lambda-tag-primary {
		color: var(--primary-text-color);
		border-color: var(--primary-subtle-color);
		background-color: var(--primary-opacity-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--primary-hover-color);

			&:hover {
				color: var(--primary-text-color);
			}
		}
	}

	&.lambda-tag-secondary {
		color: var(--secondary-text-color);
		border-color: var(--secondary-subtle-color);
		background-color: var(--secondary-opacity-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--secondary-hover-color);

			&:hover {
				color: var(--secondary-text-color);
			}
		}
	}

	&.lambda-tag-danger {
		color: var(--danger-text-color);
		border-color: var(--danger-subtle-color);
		background-color: var(--danger-opacity-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--danger-hover-color);

			&:hover {
				color: var(--danger-text-color);
			}
		}
	}

	&.lambda-tag-success {
		color: var(--success-text-color);
		border-color: var(--success-subtle-color);
		background-color: var(--success-opacity-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--success-hover-color);

			&:hover {
				color: var(--success-text-color);
			}
		}
	}

	&.lambda-tag-warning {
		color: var(--warning-text-color);
		border-color: var(--warning-subtle-color);
		background-color: var(--warning-opacity-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--warning-hover-color);

			&:hover {
				color: var(--warning-text-color);
			}
		}
	}

	&.lambda-tag-info {
		color: var(--info-text-color);
		border-color: var(--info-subtle-color);
		background-color: var(--info-opacity-color);

		& .lambda-tag-close-button>svg:last-child {
			color: var(--info-hover-color);

			&:hover {
				color: var(--info-text-color);
			}
		}
	}
}

.lambda-tag-tiny {
	font-size: var(--font-size-2xs);
	padding: var(--spacing-xs);
	min-width: var(--size-3xs);
	min-height: var(--size-3xs);

	&>svg:first-child {
		width: var(--size-xs);
		height: var(--size-xs);
	}
}

.lambda-tag-small {
	font-size: var(--font-size-xs);
	padding: var(--spacing-xs);
	min-width: var(--size-2xs);
	min-height: var(--size-2xs);

	&>svg {
		width: var(--size-xs);
		height: var(--size-xs);
	}
}

.lambda-tag-medium {
	font-size: var(--font-size-sm);
	padding: var(--spacing-xs);
	min-width: var(--size-sm);
	min-height: var(--size-sm);

	&>svg {
		width: var(--size-sm);
		height: var(--size-sm);
	}
}

.lambda-tag-large {
	font-size: var(--font-size-md);
	padding: var(--spacing-xs) var(--spacing-sm);
	min-width: var(--size-md);
	min-height: var(--size-md);

	&>svg {
		width: var(--size-md);
		height: var(--size-md);
	}
}

.lambda-tag-radius-none {
	border-radius: var(--radius-none);
}

.lambda-tag-radius-tiny {
	border-radius: var(--radius-xs);
}

.lambda-tag-radius-small {
	border-radius: var(--radius-sm);
}

.lambda-tag-radius-medium {
	border-radius: var(--radius-md);
}

.lambda-tag-radius-large {
	border-radius: var(--radius-lg);
}

.lambda-tag-radius-full {
	border-radius: var(--radius-full);
}

.lambda-tag-close-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	box-sizing: border-box;
	transition: color 0.2s ease-in-out;
	cursor: pointer;

	&:is(.lambda-tag-close-button-tiny) {
		&>svg {
			width: var(--size-xs);
			height: var(--size-xs);
		}
	}

	&:is(.lambda-tag-close-button-small) {
		&>svg {
			width: var(--size-xs);
			height: var(--size-xs);
		}
	}

	&:is(.lambda-tag-close-button-medium) {
		&>svg {
			width: var(--size-sm);
			height: var(--size-sm);
		}
	}

	&:is(.lambda-tag-close-button-large) {
		&>svg {
			width: var(--size-sm);
			height: var(--size-sm);
		}
	}

	&:hover {
		color: var(--secondary-base-color);
	}
}