.lambda-stepper-wrapper {
	display: flex;
	width: 100%;
	height: 100%;

	&.lambda-stepper-wrapper-horizontal {
		flex-direction: column;
	}

	&.lambda-stepper-wrapper-vertical {
		flex-direction: row;
	}
}

.lambda-stepper {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: var(--spacing-lg);
	padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-none) var(--spacing-sm);
	width: 100%;
	align-items: flex-start;
	font-family: var(--font-family);
	background-color: var(--surface-b);

	&:is(.lambda-stepper-bordered) {
		border: var(--border-width) solid var(--border-color);
	}

	&:is(.lambda-stepper-soft) {
		border: 0;
	}

	&.lambda-stepper-horizontal {
		border-radius: min(var(--radius-xl), var(--radius-box)) min(var(--radius-xl), var(--radius-box)) 0 0;
		flex-direction: row;
	}

	&.lambda-stepper-vertical {
		border-radius: min(var(--radius-xl), var(--radius-box)) 0 0 min(var(--radius-xl), var(--radius-box));
		flex-direction: column;
		max-width: 11.5em;

		@media (width <=600px) {
			max-width: 3.5em;
		}
	}
}

.lambda-stepper-horizontal {
	flex-direction: row;
}

.lambda-stepper-vertical {
	flex-direction: column;
}

.lambda-step {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: var(--spacing-sm);
	min-width: 0;
	width: 100%;
	height: 100%;

	&.lambda-step-horizontal {
		flex-direction: column;
		gap: var(--spacing-md);
	}

	&.lambda-step-vertical {
		flex-direction: row;
		align-items: center;
		gap: var(--spacing-lg);
	}
}

.lambda-step-indicator {
	position: relative;
	width: var(--size-3xl);
	height: var(--size-3xl);
	aspect-ratio: 1;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	border: var(--border-width-md) solid var(--border-color);
	font-size: var(--font-size-md);
	transition: border-color 0.3s, background 0.3s, color 0.3s;

	/*&::before {
		content: "";
		position: absolute;
		top: -7px;
		left: -7px;
		width: 40px;
		height: 40px;
		min-width: 40px;
		min-height: 40px;
		aspect-ratio: 1;
		border-radius: 50%;
		border: 2px solid red;
		background: transparent;
	}*/
}

.lambda-step-indicator-content {
	position: relative;
	width: var(--size-xl);
	height: var(--size-xl);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--surface-c);
}

.lambda-step-pending {
	.lambda-step-indicator-content {
		border-color: var(--surface-c);
		background: var(--surface-c);
		color: var(--neutral-shadow-color);

		&::before {
			border-color: var(--border-color);
		}
	}

	.lambda-step-indicator {
		border-color: var(--surface-c);
	}
}

.lambda-step-active {
	.lambda-step-indicator-content {
		border-color: var(--neutral-base-color);
		background: var(--neutral-base-color);
		color: var(--foreground-invert-color);

		&::before {
			border-color: var(--neutral-base-color);
		}
	}

	.lambda-step-indicator {
		border-color: var(--neutral-base-color);
	}
}

.lambda-step-completed {
	.lambda-step-indicator-content {
		border-color: var(--success-base-color);
		background: var(--success-base-color);
		color: var(--white-color);
		animation: animateOutline 0.5s ease-in-out both;

		&::before {
			border-color: var(--success-base-color);
		}
	}

	.lambda-step-indicator {
		border-color: var(--success-base-color);
	}
}

.lambda-step-error {
	.lambda-step-indicator-content {
		border-color: var(--danger-base-color);
		background: var(--danger-base-color);
		color: var(--white-color);
		animation: animateOutlineError 0.8s ease-in-out infinite;

		&::before {
			border-color: var(--danger-base-color);
		}
	}

	.lambda-step-indicator {
		border-color: var(--danger-base-color);
	}
}

@keyframes animateOutline {
	from {
		outline: 2px solid var(--success-base-color);
		outline-offset: 3px;
		/* Oculta el trazo al inicio */
	}

	to {
		outline: 2px solid transparent;
		outline-offset: 10px;
		/* Mostrar el trazo completo */
	}
}

@keyframes animateOutlineError {
	from {
		outline: 2px solid var(--danger-base-color);
		outline-offset: 3px;
		/* Oculta el trazo al inicio */
	}

	to {
		outline: 2px solid transparent;
		outline-offset: 10px;
		/* Mostrar el trazo completo */
	}
}

.lambda-step-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	& svg {
		width: var(--size-md);
		height: var(--size-md);
	}
}

.lambda-step-icon-check {
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--size-md);
	height: var(--size-md);
	stroke-width: var(--border-width-md);
	stroke-dasharray: 250;
	/* Longitud del trazado */
	stroke-dashoffset: 250;
	/* Oculta el trazo al inicio */
	animation: animateIcon 4s ease both;
}

@keyframes animateIcon {
	from {
		stroke-dashoffset: 250;
		/* Oculta el trazo al inicio */
	}

	to {
		stroke-dashoffset: 0;
		/* Mostrar el trazo completo */
	}
}

.lambda-step-summary {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-xs);
	min-width: 0;
	height: 100%;

	h1 {
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-semibold);
		color: var(--foreground-secondary-color);
		text-align: center;
		flex: 1;
	}

	p {
		font-size: var(--font-size-xs);
		font-weight: var(--font-weight-regular);
		color: var(--foreground-secondary-color);
		text-align: center;
		flex: 1;
	}

	&.lambda-step-summary-vertical {
		justify-content: center;

		& h1,
		p {
			flex: 0;
		}

		@media (width <=600px) {
			display: none;
		}
	}
}

.lambda-step-connector {
	position: absolute;

	&.lambda-step-connector-horizontal {
		top: var(--spacing-xl);
		left: calc(50% + 20px);
		width: calc(100% - 24px);
		height: 3px;
		background: var(--border-color);
		transform: translateY(-50%);
		z-index: 0;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			background: var(--success-base-color);
			transition: width 0.75s ease;
		}

		&.lambda-step-connector-completed::before {
			width: 100%;
		}
	}

	&.lambda-step-connector-vertical {
		left: 20px;
		top: calc(50% + 14px);
		width: 2px;
		height: calc(100% - 24px);
		background: var(--border-color);
		margin: 6px 0 6px 0;
		z-index: 0;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 0;
			background: var(--success-base-color);
			transition: height 0.75s ease;
		}

		&.lambda-step-connector-completed::before {
			height: 100%;
		}
	}
}

.lambda-step:last-child .lambda-step-connector {
	display: none;
}

.lambda-step-active h1 {
	color: var(--foreground-color);
}

.lambda-step-completed h1 {
	color: var(--success-hover-color);
}

.lambda-step-error h1 {
	color: var(--danger-hover-color);
}

.lambda-stepper-content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	background-color: var(--surface-a);
	overflow: hidden;

	&.lambda-stepper-content-horizontal {
		border-radius: 0 0 var(--radius-xs) var(--radius-xs);

		&:is(.lambda-stepper-content-bordered) {
			border: var(--border-width) solid var(--border-color);
			border-top: 0;
		}

		&:is(.lambda-stepper-content-soft) {
			border: 0;
		}
	}

	&.lambda-stepper-content-vertical {
		border-radius: 0 var(--radius-xs) var(--radius-xs) 0;

		&:is(.lambda-stepper-content-bordered) {
			border: var(--border-width) solid var(--border-color);
			border-left: 0;
		}

		&:is(.lambda-stepper-content-soft) {
			border: 0;
		}

		& header {
			display: none;
			padding: var(--spacing-sm);
			background-color: var(--surface-b);

			h1 {
				font-size: var(--font-size-sm);
				font-weight: var(--font-weight-semibold);
				color: var(--success-hover-color);
			}

			p {
				font-size: var(--font-size-xs);
				font-weight: var(--font-weight-regular);
				color: var(--foreground-secondary-color);
			}

			@media (width <=600px) {
				display: block;
			}
		}
	}
}

.lambda-stepper-error {
	position: absolute;
	margin-top: 8px;
	text-align: center;
	padding: var(--spacing-xs) var(--spacing-lg);
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-regular);
	border-radius: var(--radius-xs);
	color: var(--white-color);
	background-color: var(--danger-base-color);
}

.lambda-stepper-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--spacing-sm);
	width: 100%;
	height: 3em;

	& button {
		min-width: 9.5em;
	}
}