.lambda-pagination-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: var(--font-family);
	font-weight: var(--font-weight-medium);
	box-sizing: border-box;
	padding: var(--spacing-xs) var(--spacing-none);
}

.lambda-pagination-wrapper-disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.lambda-pagination-list-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: var(--spacing-sm);
}

.lambda-pagination-list-container-tiny {
	gap: var(--spacing-xs);
}

.lambda-pagination-list-container-small {
	gap: var(--spacing-sm);
}

.lambda-pagination-list-container-medium {
	gap: var(--spacing-sm);
}

.lambda-pagination-list-container-large {
	gap: var(--spacing-sm);
}

.lambda-pagination-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: var(--size-xs);
	height: var(--size-xs);
	padding: 0 var(--spacing-xs);
	font-family: var(--font-family);
	font-weight: var(--font-weight-semibold);
	outline: none;
	text-decoration: none;
	border: var(--border-width) solid transparent;
	cursor: pointer;
	transition: all 0.2s ease;
}

.lambda-pagination-button-tiny {
	min-width: var(--size-xl);
	height: var(--size-xl);
	font-size: var(--font-size-xs);
}

.lambda-pagination-button-small {
	min-width: var(--size-2xl);
	height: var(--size-2xl);
	font-size: var(--font-size-sm);
}

.lambda-pagination-button-medium {
	min-width: var(--size-3xl);
	height: var(--size-3xl);
	font-size: var(--font-size-md);
}

.lambda-pagination-button-large {
	min-width: var(--size-5xl);
	height: var(--size-5xl);
	font-size: var(--font-size-lg);
}

.lambda-pagination-button-bordered {
	border-color: var(--border-color);
	background-color: var(--surface-a);
	color: var(--neutral-text-color);

	&:is(.lambda-pagination-button-disabled) {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

.lambda-pagination-button-soft {
	border: none;
	background-color: var(--primary-opacity-color);
	color: var(--primary-text-color);

	&:is(.lambda-pagination-button-disabled) {
		cursor: not-allowed;
		opacity: 0.4;
	}
}

.lambda-pagination-button-solid {
	border-color: var(--surface-b);
	background-color: var(--surface-b);
	color: var(--neutral-text-color);

	&:is(.lambda-pagination-button-disabled) {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

.lambda-pagination-button-outline {
	border-color: var(--border-color);
	background-color: transparent;
	color: var(--neutral-text-color);

	&:is(.lambda-pagination-button-disabled) {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

.lambda-pagination-button-radius-default {
	border-radius: var(--radius-field);
}

.lambda-pagination-button-radius-none {
	border-radius: var(--radius-none);
}

.lambda-pagination-button-radius-tiny {
	border-radius: var(--radius-xs);
}

.lambda-pagination-button-radius-small {
	border-radius: var(--radius-sm);
}

.lambda-pagination-button-radius-medium {
	border-radius: var(--radius-md);
}

.lambda-pagination-button-radius-large {
	border-radius: var(--radius-lg);
}

.lambda-pagination-button-radius-full {
	border-radius: var(--radius-full);
}

.lambda-pagination-button:hover:not(.lambda-pagination-button-disabled):not(.lambda-pagination-button-active):not(.lambda-pagination-button-ellipsis) {
	&.lambda-pagination-button-solid {
		border-color: var(--primary-base-color);
		background-color: var(--primary-base-color);
		color: var(--white-color);
	}

	&.lambda-pagination-button-bordered {
		border-color: var(--primary-base-color);
		background-color: var(--primary-soft-color);
		color: var(--primary-text-color);
	}

	&.lambda-pagination-button-soft {
		background-color: var(--primary-shadow-color);
		color: var(--primary-text-color);
	}

	&.lambda-pagination-button-outline {
		border-color: var(--primary-base-color);
		background-color: transparent;
		color: var(--primary-text-color);
	}
}

.lambda-pagination-button:focus-visible:not(.lambda-pagination-button-disabled):not(.lambda-pagination-button-ellipsis) {
	outline: 2px solid var(--primary-subtle-color);
	outline-offset: 1px;
}

.lambda-pagination-button-active {
	cursor: default;
	pointer-events: none;
	font-weight: var(--font-weight-extrabold);

	&:hover,
	&:focus-visible {
		border-color: var(--primary-base-color);
		background-color: var(--primary-base-color);
		outline: none;
	}
}

.lambda-pagination-button-bordered-active {
	border-color: var(--primary-hover-color);
	background-color: var(--primary-subtle-color);
	color: var(--white-color);
}

.lambda-pagination-button-soft-active {
	border: none;
	background-color: var(--primary-base-color);
	color: var(--white-color);
}

.lambda-pagination-button-solid-active {
	border-color: var(--primary-base-color);
	background-color: var(--primary-base-color);
	color: var(--white-color);
}

.lambda-pagination-button-outline-active {
	border-color: var(--primary-base-color);
	outline: var(--border-width) solid var(--primary-base-color);
	background-color: var(--primary-opacity-color);
	color: var(--primary-text-color);
}

.lambda-pagination-button-ellipsis {
	cursor: default;
	pointer-events: none;
	background-color: transparent;
	color: var(--surface-c);

	&:hover,
	&:focus-visible {
		background-color: transparent;
		border: none;
		color: var(--color-text-secondary);
		outline: none;
		box-shadow: none;
	}
}

.lambda-pagination-button-ellipsis-disabled {
	opacity: 0.5;
}

.lambda-pagination-button-icon {
	width: var(--size-sm);
	height: var(--size-sm);
}

.lambda-pagination-button-tiny .lambda-pagination-button-icon {
	width: var(--size-xs);
	height: var(--size-xs);
}

.lambda-pagination-button-small .lambda-pagination-button-icon {
	width: var(--size-xs);
	height: var(--size-xs);
}

.lambda-pagination-button-medium .lambda-pagination-button-icon {
	width: var(--size-sm);
	height: var(--size-sm);
}

.lambda-pagination-button-large .lambda-pagination-button-icon {
	width: var(--size-md);
	height: var(--size-md);
}