.notification-group {
	position: fixed;
	max-width: 450px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: var(--padding-md) 0 0 0;
	height: max-content;
	z-index: 1000;
}

.notification {
	position: relative;
	display: flex;
	flex-direction: column;
	opacity: 1;
	overflow: hidden;
	width: 100%;
	max-width: 450px;
	min-height: 4em;
	padding: var(--padding-sm) var(--padding-sm);
	font-family: var(--font-family);
	color: var(--foreground-color);
	/* No transition ni animation: Framer Motion controla todo */

	&.notification-radius-none {
		border-radius: var(--border-radius-none);
	}

	&.notification-radius-tiny {
		border-radius: var(--border-radius-xs);
	}

	&.notification-radius-small {
		border-radius: var(--border-radius-sm);
	}

	&.notification-radius-medium {
		border-radius: var(--border-radius-md);
	}

	&.notification-radius-large {
		border-radius: var(--border-radius-lg);
	}
}

@media (width < 500px) {
	.notification-group,
	.notification {
		max-width: 300px;
	}
}

.notification-header {
	display: grid;
	grid-template-columns: 2.5em 1fr 2.5em;
	place-items: center left;
}

.notification-footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 1em;
	padding: var(--padding-sm) var(--padding-none);
}

.notification-footer-button {
	width: 5.5em;
	padding: var(--padding-xs) var(--padding-sm);
	font-size: var(--font-size-xs);
	border: none;
	border-radius: var(--border-radius-xs);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	font-weight: var(--font-weight-semibold);
}

.notification-footer-themed,
.notification-footer-soft {
	&.notification-footer-neutral {
		.notification-footer-button-confirm {
			background-color: var(--neutral-base-color);
			color: var(--foreground-invert-color);

			&:hover {
				background-color: var(--neutral-hover-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--neutral-text-color);
			color: var(--neutral-disbled-color);

			&:hover {
				background-color: var(--neutral-subtle-color);
				color: var(--neutral-text-color);
			}
		}
	}

	&.notification-footer-success {
		.notification-footer-button-confirm {
			background-color: var(--success-base-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--success-hover-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			color: var(--success-base-color);
			border: var(--border-width-xs) solid var(--success-base-color);

			&:hover {
				background-color: var(--success-subtle-color);
				color: var(--success-text-color);
			}
		}
	}

	&.notification-footer-danger {
		.notification-footer-button-confirm {
			background-color: var(--danger-base-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--danger-hover-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			color: var(--danger-base-color);
			border: var(--border-width-xs) solid var(--danger-base-color);

			&:hover {
				background-color: var(--danger-subtle-color);
				color: var(--danger-text-color);
			}
		}
	}

	&.notification-footer-warning {
		.notification-footer-button-confirm {
			background-color: var(--warning-base-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--warning-hover-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			color: var(--warning-base-color);
			border: var(--border-width-xs) solid var(--warning-base-color);

			&:hover {
				background-color: var(--warning-subtle-color);
				color: var(--warning-text-color);
			}
		}
	}

	&.notification-footer-info {
		.notification-footer-button-confirm {
			background-color: var(--info-base-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--info-hover-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			color: var(--info-base-color);
			border: var(--border-width-xs) solid var(--info-base-color);

			&:hover {
				background-color: var(--info-subtle-color);
				color: var(--info-text-color);
			}
		}
	}
}

.notification-footer-solid {
	&.notification-footer-neutral {
		.notification-footer-button-confirm {
			background-color: var(--foreground-invert-color);
			color: var(--foreground-color);

			&:hover {
				opacity: 0.8;
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--neutral-subtle-color);
			color: var(--foreground-invert-color);

			&:hover {
				background-color: var(--foreground-invert-color);
				color: var(--foreground-color);
			}
		}
	}

	&.notification-footer-success {
		.notification-footer-button-confirm {
			background-color: var(--white-color);
			color: var(--success-hover-color);

			&:hover {
				opacity: 0.8;
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--success-light-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--white-color);
				color: var(--success-hover-color);
			}
		}
	}

	&.notification-footer-danger {
		.notification-footer-button-confirm {
			background-color: var(--white-color);
			color: var(--danger-hover-color);

			&:hover {
				opacity: 0.8;
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--danger-light-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--white-color);
				color: var(--danger-hover-color);
			}
		}
	}

	&.notification-footer-warning {
		.notification-footer-button-confirm {
			background-color: var(--white-color);
			color: var(--warning-hover-color);

			&:hover {
				opacity: 0.8;
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--warning-light-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--white-color);
				color: var(--warning-hover-color);
			}
		}
	}

	&.notification-footer-info {
		.notification-footer-button-confirm {
			background-color: var(--white-color);
			color: var(--info-hover-color);

			&:hover {
				opacity: 0.8;
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--info-light-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--white-color);
				color: var(--info-hover-color);
			}
		}
	}
}

.notification-footer-darkened {
	&.notification-footer-neutral {
		.notification-footer-button-confirm {
			background-color: var(--neutral-light-color);
			color: var(--black-color);

			&:hover {
				background-color: var(--neutral-subtle-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--secondary-light-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--neutral-shadow-color);
				color: var(--white-color);
			}
		}
	}

	&.notification-footer-success {
		.notification-footer-button-confirm {
			background-color: var(--success-base-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--success-hover-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--success-base-color);
			color: var(--success-base-color);

			&:hover {
				background-color: var(--success-shadow-color);
				color: var(--white-color);
			}
		}
	}

	&.notification-footer-danger {
		.notification-footer-button-confirm {
			background-color: var(--danger-base-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--danger-shadow-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--danger-base-color);
			color: var(--danger-base-color);

			&:hover {
				background-color: var(--danger-shadow-color);
				color: var(--white-color);
			}
		}
	}

	&.notification-footer-warning {
		.notification-footer-button-confirm {
			background-color: var(--warning-base-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--warning-hover-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--warning-base-color);
			color: var(--warning-base-color);

			&:hover {
				background-color: var(--warning-shadow-color);
				color: var(--white-color);
			}
		}
	}

	&.notification-footer-info {
		.notification-footer-button-confirm {
			background-color: var(--info-base-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--info-hover-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--info-base-color);
			color: var(--info-base-color);

			&:hover {
				background-color: var(--info-shadow-color);
				color: var(--white-color);
			}
		}
	}
}

.notification-footer-lightened {
	&.notification-footer-neutral {
		.notification-footer-button-confirm {
			background-color: var(--black-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--lambda-color-neutral-800);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--black-color);
			color: var(--black-color);

			&:hover {
				background-color: var(--neutral-shadow-color);
			}
		}
	}

	&.notification-footer-success {
		.notification-footer-button-confirm {
			background-color: var(--success-base-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--success-hover-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--success-base-color);
			color: var(--success-base-color);

			&:hover {
				background-color: var(--success-opacity-color);
			}
		}
	}

	&.notification-footer-danger {
		.notification-footer-button-confirm {
			background-color: var(--danger-base-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--danger-hover-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--danger-base-color);
			color: var(--danger-base-color);

			&:hover {
				background-color: var(--danger-opacity-color);
			}
		}
	}

	&.notification-footer-warning {
		.notification-footer-button-confirm {
			background-color: var(--warning-base-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--warning-hover-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--warning-base-color);
			color: var(--warning-base-color);

			&:hover {
				background-color: var(--warning-opacity-color);
			}
		}
	}

	&.notification-footer-info {
		.notification-footer-button-confirm {
			background-color: var(--info-base-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--info-hover-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--info-base-color);
			color: var(--info-base-color);

			&:hover {
				background-color: var(--info-opacity-color);
			}
		}
	}
}

.notification-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 1.5em;
	height: 1.5em;

	:not(svg) {
		background-color: #80808090;
	}

	* {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.5em;
		height: 1.5em;
		border-radius: var(--border-radius-sm);
	}
}

.notification-time-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: var(--surface-c);
}

.notification-time {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	animation-name: shrink;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes shrink {
	from {
		width: 100%;
	}

	to {
		width: 0%;
	}
}

.notification-content {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
	padding: var(--padding-xs) 0 var(--padding-md) 0;
}

.notification-title {
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-bold);
	text-transform: capitalize;
}

.notification-message {
	padding: 0;
	text-align: left;
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-medium);
	width: 250px;
}

.notification-close-button {
	width: 1.5em;
	height: 1.5em;
	border-radius: var(--border-radius-xs);
	transition: all 0.3s ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: transparent;
		backdrop-filter: invert(0.15);
	}
}

.notification-themed {
	background-color: var(--surface-a);
	border: 1px solid var(--border-color);

	.notification-title {
		color: var(--foreground-color);
	}

	.notification-message {
		color: var(--foreground-secondary-color);
	}

	.notification-close-button {
		.notification-close-button-icon {
			color: var(--foreground-color);
		}
	}

	.notification-time {
		background-color: var(--neutral-soft-color);
	}

	&:is(.notification-neutral) {
		color: var(--neutral-hover-color);

		.notification-time {
			background-color: var(--neutral-base-color);
		}
	}

	&:is(.notification-success) {
		color: var(--success-base-color);

		.notification-time {
			background-color: var(--success-base-color);
		}
	}

	&:is(.notification-danger) {
		color: var(--danger-hover-color);

		.notification-time {
			background-color: var(--danger-base-color);
		}
	}

	&:is(.notification-warning) {
		color: var(--warning-hover-color);

		.notification-time {
			background-color: var(--warning-base-color);
		}
	}

	&:is(.notification-info) {
		color: var(--info-hover-color);

		.notification-time {
			background-color: var(--info-base-color);
		}
	}
}

.notification-solid {
	color: var(--white-color);

	.notification-title {
		color: var(--white-color);
	}

	.notification-message {
		color: var(--white-color);
	}

	.notification-close-button {
		.notification-close-button-icon {
			color: var(--surface-c);
		}
	}
	.notification-time-container {
		background-color: #ffffff50;
	}

	.notification-time {
		background-color: #ffffff80;
	}

	&:is(.notification-neutral) {
		background-color: var(--neutral-base-color);
		color: var(--foreground-invert-color);

		.notification-title {
			color: var(--foreground-invert-color);
		}

		.notification-message {
			color: var(--foreground-invert-color);
		}

		.notification-time {
			background-color: var(--neutral-soft-color);
		}
	}

	&:is(.notification-success) {
		background-color: var(--success-hover-color);
	}

	&:is(.notification-danger) {
		background-color: var(--danger-hover-color);
	}

	&:is(.notification-warning) {
		background-color: var(--warning-hover-color);
	}

	&:is(.notification-info) {
		background-color: var(--info-hover-color);
	}
}

.notification-darkened {
	color: var(--white-color);
	box-shadow: var(--box-shadow);

	.notification-close-button {
		.notification-close-button-icon {
			color: var(--white-color);
		}
	}

	&:is(.notification-neutral) {
		background-color: var(--neutral-dark-color);

		.notification-message {
			color: var(--neutral-light-color);
			font-weight: var(--font-weight-medium);
		}

		.notification-time-container {
			background-color: var(--neutral-shadow-color);
		}

		.notification-time {
			background-color: var(--white-color);
		}
	}

	&:is(.notification-success) {
		background-color: var(--success-dark-color);

		.notification-title {
			color: var(--success-base-color);
		}

		.notification-message {
			color: var(--success-base-color);
		}

		.notification-icon {
			color: var(--success-base-color);
		}

		.notification-time-container {
			background-color: var(--success-shadow-color);
		}

		.notification-time {
			background-color: var(--success-base-color);
		}
	}

	&:is(.notification-danger) {
		background-color: var(--danger-dark-color);

		.notification-title {
			color: var(--danger-base-color);
		}

		.notification-message {
			color: var(--danger-base-color);
		}

		.notification-icon {
			color: var(--danger-base-color);
		}

		.notification-time-container {
			background-color: var(--danger-shadow-color);
		}

		.notification-time {
			background-color: var(--danger-base-color);
		}
	}

	&:is(.notification-warning) {
		background-color: var(--warning-dark-color);

		.notification-title {
			color: var(--warning-base-color);
		}

		.notification-message {
			color: var(--warning-base-color);
		}

		.notification-icon {
			color: var(--warning-base-color);
		}

		.notification-time-container {
			background-color: var(--warning-shadow-color);
		}

		.notification-time {
			background-color: var(--warning-base-color);
		}
	}

	&:is(.notification-info) {
		background-color: var(--info-dark-color);

		.notification-title {
			color: var(--info-base-color);
		}

		.notification-message {
			color: var(--info-base-color);
		}

		.notification-icon {
			color: var(--info-base-color);
		}

		.notification-time-container {
			background-color: var(--info-shadow-color);
		}

		.notification-time {
			background-color: var(--info-base-color);
		}
	}
}

.notification-lightened {
	color: var(--white-color);
	box-shadow: var(--box-shadow);

	.notification-message {
		color: var(--black-color);
	}

	.notification-time-container {
		background-color: #00000020;
	}

	.notification-close-button {
		.notification-close-button-icon {
			color: var(--black-color);
		}
	}

	&:is(.notification-neutral) {
		background-color: var(--neutral-light-color);

		.notification-title {
			color: var(--neutral-disabled-color);
		}

		.notification-icon {
			color: var(--black-color);
		}

		.notification-time {
			background-color: var(--black-color);
		}
	}

	&:is(.notification-success) {
		background-color: var(--success-light-color);

		.notification-title {
			color: var(--success-hover-color);
		}

		.notification-message {
			color: var(--success-dark-color);
		}

		.notification-icon {
			color: var(--success-base-color);
		}

		.notification-time {
			background-color: var(--success-base-color);
		}
	}

	&:is(.notification-danger) {
		background-color: var(--danger-light-color);

		.notification-title {
			color: var(--danger-hover-color);
		}

		.notification-message {
			color: var(--danger-dark-color);
		}

		.notification-icon {
			color: var(--danger-hover-color);
		}

		.notification-time {
			background-color: var(--danger-base-color);
		}
	}

	&:is(.notification-warning) {
		background-color: var(--warning-light-color);

		.notification-title {
			color: var(--warning-hover-color);
		}

		.notification-message {
			color: var(--warning-dark-color);
		}

		.notification-icon {
			color: var(--warning-hover-color);
		}

		.notification-time {
			background-color: var(--warning-base-color);
		}
	}

	&:is(.notification-info) {
		background-color: var(--info-light-color);

		.notification-title {
			color: var(--info-hover-color);
		}

		.notification-message {
			color: var(--info-dark-color);
		}

		.notification-icon {
			color: var(--info-base-color);
		}

		.notification-time {
			background-color: var(--info-base-color);
		}
	}
}

body[data-theme="dark"] {
	.notification-soft {
		.notification-message {
			text-shadow: 0 0px 1px #00000070;
			filter: brightness(200%);
		}
	}
}

body[data-theme="light"] {
	.notification-soft {
		.notification-message {
			text-shadow: 0 0px 1px #00000070;
			filter: brightness(80%) contrast(150%);
		}
	}
}

.notification-soft {
	backdrop-filter: blur(10px);

	&:is(.notification-neutral) {
		background-color: var(--neutral-opacity-color);
		color: var(--neutral-text-color);

		.notification-title {
			color: var(--neutral-text-color);
		}

		.notification-message {
			color: var(--neutral-text-color);
		}

		.notification-time {
			background-color: var(--neutral-base-color);
		}

		.notification-close-button {
			.notification-close-button-icon {
				color: var(--neutral-text-color);
			}
		}
	}

	&:is(.notification-success) {
		background-color: var(--success-opacity-color);
		color: var(--success-text-color);

		.notification-title {
			color: var(--success-text-color);
		}

		.notification-message {
			color: var(--success-text-color);
		}

		.notification-time {
			background-color: var(--success-base-color);
		}

		.notification-close-button {
			.notification-close-button-icon {
				color: var(--success-text-color);
			}
		}
	}

	&:is(.notification-danger) {
		background-color: var(--danger-opacity-color);
		color: var(--danger-text-color);

		.notification-title {
			color: var(--danger-text-color);
		}

		.notification-message {
			color: var(--danger-text-color);
		}

		.notification-time {
			background-color: var(--danger-base-color);
		}

		.notification-close-button {
			.notification-close-button-icon {
				color: var(--danger-text-color);
			}
		}
	}

	&:is(.notification-warning) {
		background-color: var(--warning-opacity-color);
		color: var(--warning-text-color);

		.notification-title {
			color: var(--warning-text-color);
		}

		.notification-message {
			color: var(--warning-text-color);
		}

		.notification-time {
			background-color: var(--warning-base-color);
		}

		.notification-close-button {
			.notification-close-button-icon {
				color: var(--warning-text-color);
			}
		}
	}

	&:is(.notification-info) {
		background-color: var(--info-opacity-color);
		color: var(--info-text-color);

		.notification-title {
			color: var(--info-text-color);
		}

		.notification-message {
			color: var(--info-text-color);
		}

		.notification-time {
			background-color: var(--info-base-color);
		}

		.notification-close-button {
			.notification-close-button-icon {
				color: var(--info-text-color);
			}
		}
	}
}

.notification-group-top-left {
	flex-direction: column-reverse;
	top: 10px;
	left: 10px;
}

.notification-group-top-center {
	flex-direction: column-reverse;
	top: 10px;
	left: 50%;
	transform: translate(-50%, 0);
}

.notification-group-top-right {
	flex-direction: column-reverse;
	top: 10px;
	right: 10px;
}

.notification-group-bottom-left {
	bottom: 10px;
	left: 10px;
}

.notification-group-bottom-center {
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);
}

.notification-group-bottom-right {
	bottom: 10px;
	right: 10px;
}

.notification-close-button {
	background-color: transparent;
	place-self: center right;
	border: none;
	color: var(--foreground-color);
	opacity: 0.5;
}

.notification-close-button-icon {
	width: 1.5em;
	height: 1.5em;
	align-self: end;
}
