.notification-group {
	position: fixed;
	max-width: 450px;
	display: flex;
	flex-flow: column;
	gap: 5px;
	padding: var(--padding-md) 0 0 0;
	height: max-content;
	z-index: 1000;
}

.notification {
	position: relative;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transform: translateY(0);
	overflow: hidden;
	width: 100%;
	max-width: 450px;
	min-height: 4em;
	padding: var(--padding-sm) var(--padding-sm);
	border-radius: var(--border-radius-sm);
	font-family: var(--font-family);
	color: var(--foreground-color);
	transition: all 0.3s ease-in-out;
}

@media (width < 500px) {
	.notification-group,
	.notification {
		max-width: 300px;
	}
}

.notification-header {
	display: grid;
	grid-template-columns: 2.5em 1fr 2.5em;
	place-items: center left;
}

.notification-footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 1em;
	padding: var(--padding-sm) var(--padding-none);
}

.notification-footer-button {
	width: 5.5em;
	padding: var(--padding-sm) var(--padding-sm);
	font-size: var(--font-size-sm);
	border: none;
	border-radius: var(--border-radius-xs);
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
	font-weight: var(--font-weight-md);
}

.notification-footer-themed,
.notification-footer-soft {
	&.notification-footer-secondary {
		.notification-footer-button-confirm {
			background-color: var(--secondary-base-color);
			color: var(--foreground-invert-color);

			&:hover {
				background-color: var(--secondary-hover-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: var(--secondary-soft-color);
			color: var(--secondary-disbled-color);

			&:hover {
				background-color: var(--secondary-subtle-color);
			}
		}
	}

	&.notification-footer-success {
		.notification-footer-button-confirm {
			background-color: var(--success-base-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--success-hover-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: var(--success-soft-color);
			color: var(--success-text-color);

			&:hover {
				background-color: var(--success-subtle-color);
			}
		}
	}

	&.notification-footer-danger {
		.notification-footer-button-confirm {
			background-color: var(--danger-base-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--danger-hover-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: var(--danger-soft-color);
			color: var(--danger-text-color);

			&:hover {
				background-color: var(--danger-subtle-color);
			}
		}
	}

	&.notification-footer-warning {
		.notification-footer-button-confirm {
			background-color: var(--warning-base-color);
			color: var(--black-color);

			&:hover {
				background-color: var(--warning-hover-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: var(--warning-soft-color);
			color: var(--warning-text-color);

			&:hover {
				background-color: var(--warning-subtle-color);
			}
		}
	}

	&.notification-footer-info {
		.notification-footer-button-confirm {
			background-color: var(--info-base-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--info-hover-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: var(--info-soft-color);
			color: var(--info-text-color);

			&:hover {
				background-color: var(--info-subtle-color);
			}
		}
	}
}

.notification-footer-solid {
	&.notification-footer-secondary {
		.notification-footer-button-confirm {
			background-color: var(--foreground-invert-color);
			color: var(--foreground-color);
		}

		.notification-footer-button-cancel {
			background-color: var(--secondary-subtle-color);
			color: var(--foreground-invert-color);
		}
	}

	&.notification-footer-success {
		.notification-footer-button-confirm {
			background-color: var(--white-color);
			color: var(--success-hover-color);

			&:hover {
				background-color: var(--success-light-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--success-light-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--secondary-subtle-color);
			}
		}
	}

	&.notification-footer-danger {
		.notification-footer-button-confirm {
			background-color: var(--white-color);
			color: var(--danger-hover-color);

			&:hover {
				background-color: var(--danger-light-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--danger-light-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--secondary-subtle-color);
			}
		}
	}

	&.notification-footer-warning {
		.notification-footer-button-confirm {
			background-color: var(--white-color);
			color: var(--warning-hover-color);

			&:hover {
				background-color: var(--warning-light-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--warning-light-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--secondary-subtle-color);
			}
		}
	}

	&.notification-footer-info {
		.notification-footer-button-confirm {
			background-color: var(--white-color);
			color: var(--info-hover-color);

			&:hover {
				background-color: var(--info-light-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--info-light-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--secondary-subtle-color);
			}
		}
	}
}

.notification-footer-darkened {
	&.notification-footer-secondary {
		.notification-footer-button-confirm {
			background-color: var(--secondary-light-color);
			color: var(--black-color);

			&:hover {
				background-color: var(--secondary-disabled-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--secondary-light-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--secondary-subtle-color);
			}
		}
	}

	&.notification-footer-success {
		.notification-footer-button-confirm {
			background-color: var(--success-light-color);
			color: var(--success-dark-color);

			&:hover {
				background-color: var(--white-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--success-light-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--secondary-subtle-color);
			}
		}
	}

	&.notification-footer-danger {
		.notification-footer-button-confirm {
			background-color: var(--danger-light-color);
			color: var(--danger-dark-color);

			&:hover {
				background-color: var(--white-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--danger-light-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--secondary-subtle-color);
			}
		}
	}

	&.notification-footer-warning {
		.notification-footer-button-confirm {
			background-color: var(--warning-light-color);
			color: var(--warning-dark-color);

			&:hover {
				background-color: var(--white-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--warning-light-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--secondary-subtle-color);
			}
		}
	}

	&.notification-footer-info {
		.notification-footer-button-confirm {
			background-color: var(--info-light-color);
			color: var(--info-dark-color);

			&:hover {
				background-color: var(--white-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--info-light-color);
			color: var(--white-color);

			&:hover {
				background-color: var(--secondary-subtle-color);
			}
		}
	}
}

.notification-footer-lightened {
	&.notification-footer-secondary {
		.notification-footer-button-confirm {
			background-color: var(--secondary-subtle-color);
			color: var(--black-color);

			&:hover {
				background-color: var(--secondary-soft-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--secondary-subtle-color);
			color: var(--black-color);

			&:hover {
				background-color: var(--secondary-subtle-color);
			}
		}
	}

	&.notification-footer-success {
		.notification-footer-button-confirm {
			background-color: var(--success-subtle-color);
			color: var(--success-dark-color);

			&:hover {
				background-color: var(--success-base-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--success-subtle-color);
			color: var(--success-dark-color);

			&:hover {
				background-color: var(--success-soft-color);
			}
		}
	}

	&.notification-footer-danger {
		.notification-footer-button-confirm {
			background-color: var(--danger-subtle-color);
			color: var(--danger-dark-color);

			&:hover {
				background-color: var(--danger-base-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--danger-subtle-color);
			color: var(--danger-dark-color);

			&:hover {
				background-color: var(--danger-soft-color);
			}
		}
	}

	&.notification-footer-warning {
		.notification-footer-button-confirm {
			background-color: var(--warning-subtle-color);
			color: var(--warning-dark-color);

			&:hover {
				background-color: var(--warning-base-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--warning-subtle-color);
			color: var(--warning-dark-color);

			&:hover {
				background-color: var(--warning-subtle-color);
			}
		}
	}

	&.notification-footer-info {
		.notification-footer-button-confirm {
			background-color: var(--info-subtle-color);
			color: var(--info-dark-color);

			&:hover {
				background-color: var(--info-base-color);
			}
		}

		.notification-footer-button-cancel {
			background-color: transparent;
			border: var(--border-width-xs) solid var(--info-subtle-color);
			color: var(--info-dark-color);

			&:hover {
				background-color: var(--info-soft-color);
			}
		}
	}
}

.notification-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 1.5em;
	height: 1.5em;

	:not(svg) {
		background-color: #80808090;
	}

	* {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.5em;
		height: 1.5em;
		border-radius: var(--border-radius-sm);
	}
}

.notification-time {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	animation-name: shrink;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes shrink {
	from {
		width: 100%;
	}

	to {
		width: 0%;
	}
}

.notification-content {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
	padding: var(--padding-xs) 0 var(--padding-md) 0;
}

.notification-title {
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-bold);
	text-transform: capitalize;
}

.notification-message {
	padding: 0;
	text-align: left;
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-reg);
	width: 250px;
}

.notification-close-button {
	width: 1.5em;
	height: 1.5em;
	border-radius: var(--border-radius-xs);
	transition: all 0.3s ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: transparent;
		backdrop-filter: invert(0.15);
	}
}

.notification-themed {
	background-color: var(--surface-a);
	border-top: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);

	.notification-message {
		color: var(--foreground-secondary-color);
	}

	.notification-close-button {
		.notification-close-button-icon {
			color: var(--foreground-color);
		}
	}

	.notification-time {
		background-color: var(--surface-d);
		filter: brightness(115%);
	}

	&:is(.notification-neutral) {
		border-left: 4px solid var(--neutral-base-color);
		color: var(--neutral-hover-color);
	}

	&:is(.notification-success) {
		border-left: 4px solid var(--success-base-color);
		color: var(--success-hover-color);
	}

	&:is(.notification-danger) {
		border-left: 4px solid var(--danger-base-color);
		color: var(--danger-hover-color);
	}

	&:is(.notification-warning) {
		border-left: 4px solid var(--warning-base-color);
		color: var(--warning-hover-color);
	}

	&:is(.notification-info) {
		border-left: 4px solid var(--info-base-color);
		color: var(--info-hover-color);
	}
}

.notification-solid {
	color: var(--white-color);
	box-shadow: var(--box-shadow);

	.notification-message {
		color: var(--white-color);
		text-shadow: var(--box-shadow);
	}

	.notification-close-button {
		.notification-close-button-icon {
			color: var(--surface-c);
		}
	}

	&:is(.notification-neutral) {
		background-color: var(--neutral-base-color);
		color: var(--foreground-invert-color);

		.notification-message {
			color: var(--foreground-invert-color);
		}

		.notification-time {
			background-color: var(--neutral-border-color);
			filter: brightness(100%);
		}
	}

	&:is(.notification-success) {
		background-color: var(--success-base-color);

		.notification-time {
			background-color: var(--success-subtle-color);
			filter: brightness(100%);
		}
	}

	&:is(.notification-danger) {
		background-color: var(--danger-base-color);

		.notification-time {
			background-color: var(--danger-subtle-color);
			filter: brightness(100%);
		}
	}

	&:is(.notification-warning) {
		background-color: var(--warning-base-color);

		.notification-time {
			background-color: var(--warning-subtle-color);
			filter: brightness(100%);
		}
	}

	&:is(.notification-info) {
		background-color: var(--info-base-color);

		.notification-time {
			background-color: var(--info-subtle-color);
			filter: brightness(100%);
		}
	}
}

.notification-darkened {
	color: var(--white-color);
	box-shadow: var(--box-shadow);

	.notification-close-button {
		.notification-close-button-icon {
			color: var(--white-color);
		}
	}

	&:is(.notification-neutral) {
		background-color: var(--neutral-dark-color);

		.notification-message {
			color: var(--neutral-light-color);
			font-weight: var(--font-weight-reg);
		}

		.notification-time {
			background-color: var(--neutral-hover-color);
		}
	}

	&:is(.notification-success) {
		background-color: var(--success-dark-color);

		.notification-title {
			color: var(--success-base-color);
		}

		.notification-message {
			color: var(--success-base-color);
		}

		.notification-icon {
			color: var(--success-base-color);
		}

		.notification-time {
			background-color: var(--success-subtle-color);
			filter: brightness(100%);
		}
	}

	&:is(.notification-danger) {
		background-color: var(--danger-dark-color);

		.notification-title {
			color: var(--danger-base-color);
		}

		.notification-message {
			color: var(--danger-base-color);
		}

		.notification-icon {
			color: var(--danger-base-color);
		}

		.notification-time {
			background-color: var(--danger-subtle-color);
			filter: brightness(100%);
		}
	}

	&:is(.notification-warning) {
		background-color: var(--warning-dark-color);

		.notification-title {
			color: var(--warning-base-color);
		}

		.notification-message {
			color: var(--warning-base-color);
		}

		.notification-icon {
			color: var(--warning-base-color);
		}

		.notification-time {
			background-color: var(--warning-subtle-color);
			filter: brightness(100%);
		}
	}

	&:is(.notification-info) {
		background-color: var(--info-dark-color);

		.notification-title {
			color: var(--info-base-color);
		}

		.notification-message {
			color: var(--info-base-color);
		}

		.notification-icon {
			color: var(--info-base-color);
		}

		.notification-time {
			background-color: var(--info-subtle-color);
			filter: brightness(100%);
		}
	}
}

.notification-lightened {
	color: var(--white-color);
	box-shadow: var(--box-shadow);

	.notification-message {
		color: var(--black-color);
		text-shadow: var(--box-shadow);
	}

	.notification-close-button {
		.notification-close-button-icon {
			color: var(--black-color);
		}
	}

	&:is(.notification-neutral) {
		background-color: var(--neutral-light-color);

		.notification-title {
			color: var(--neutral-dark-color);
		}

		.notification-icon {
			color: var(--black-color);
		}

		.notification-time {
			background-color: var(--neutral-disabled-color);
			filter: brightness(135%);
		}
	}

	&:is(.notification-success) {
		background-color: var(--success-light-color);

		.notification-title {
			color: var(--success-dark-color);
		}

		.notification-message {
			color: var(--success-dark-color);
		}

		.notification-icon {
			color: var(--success-base-color);
		}

		.notification-time {
			background-color: var(--success-disabled-color);
			filter: brightness(90%);
		}
	}

	&:is(.notification-danger) {
		background-color: var(--danger-light-color);

		.notification-title {
			color: var(--danger-dark-color);
		}

		.notification-message {
			color: var(--danger-disabled-color);
		}

		.notification-icon {
			color: var(--danger-hover-color);
		}

		.notification-time {
			background-color: var(--danger-disabled-color);
			filter: brightness(110%);
		}
	}

	&:is(.notification-warning) {
		background-color: var(--warning-light-color);

		.notification-title {
			color: var(--warning-dark-color);
		}

		.notification-message {
			color: var(--warning-disabled-color);
		}

		.notification-icon {
			color: var(--warning-hover-color);
		}

		.notification-time {
			background-color: var(--warning-disabled-color);
			filter: brightness(110%);
		}
	}

	&:is(.notification-info) {
		background-color: var(--info-light-color);

		.notification-title {
			color: var(--info-dark-color);
		}

		.notification-message {
			color: var(--info-content-color);
		}

		.notification-icon {
			color: var(--info-base-color);
		}

		.notification-time {
			background-color: var(--info-disabled-color);
			filter: brightness(110%);
		}
	}
}

body[data-theme="dark"] {
	.notification-soft {
		.notification-message {
			text-shadow: 0 0px 1px #00000070;
			filter: brightness(200%);
		}
	}
}

body[data-theme="light"] {
	.notification-soft {
		.notification-message {
			text-shadow: 0 0px 1px #00000070;
			filter: brightness(80%) contrast(150%);
		}
	}
}

.notification-soft {
	backdrop-filter: blur(10px);
	box-shadow: var(--box-shadow);

	&:is(.notification-neutral) {
		background-color: var(--neutral-opacity-color);
		border-left: 5px solid var(--neutral-base-color);
		color: var(--neutral-text-color);

		.notification-title {
			color: var(--neutral-text-color);
		}

		.notification-message {
			color: var(--neutral-text-color);
		}

		.notification-time {
			background-color: var(--neutral-subtle-color);
		}

		.notification-close-button {
			.notification-close-button-icon {
				color: var(--neutral-text-color);
			}
		}
	}

	&:is(.notification-success) {
		background-color: var(--success-opacity-color);
		border-left: 5px solid var(--success-base-color);
		color: var(--success-text-color);

		.notification-title {
			color: var(--success-text-color);
		}

		.notification-message {
			color: var(--success-text-color);
		}

		.notification-time {
			background-color: var(--success-subtle-color);
		}

		.notification-close-button {
			.notification-close-button-icon {
				color: var(--success-text-color);
			}
		}
	}

	&:is(.notification-danger) {
		background-color: var(--danger-opacity-color);
		border-left: 5px solid var(--danger-base-color);
		color: var(--danger-text-color);

		.notification-title {
			color: var(--danger-text-color);
		}

		.notification-message {
			color: var(--danger-text-color);
		}

		.notification-time {
			background-color: var(--danger-subtle-color);
		}

		.notification-close-button {
			.notification-close-button-icon {
				color: var(--danger-text-color);
			}
		}
	}

	&:is(.notification-warning) {
		background-color: var(--warning-opacity-color);
		border-left: 5px solid var(--warning-base-color);
		color: var(--warning-text-color);

		.notification-title {
			color: var(--warning-text-color);
		}

		.notification-message {
			color: var(--warning-text-color);
		}

		.notification-time {
			background-color: var(--warning-subtle-color);
		}

		.notification-close-button {
			.notification-close-button-icon {
				color: var(--warning-text-color);
			}
		}
	}

	&:is(.notification-info) {
		background-color: var(--info-opacity-color);
		border-left: 5px solid var(--info-base-color);
		color: var(--info-text-color);

		.notification-title {
			color: var(--info-text-color);
		}

		.notification-message {
			color: var(--info-text-color);
		}

		.notification-time {
			background-color: var(--info-subtle-color);
		}

		.notification-close-button {
			.notification-close-button-icon {
				color: var(--info-text-color);
			}
		}
	}
}

/* Posiciones de las notificaciones según placement */

.notification-top-left {
	animation: fadeInTopLeft 0.5s forwards;

	&:not(.notification-active) {
		animation: fadeOutTopLeft 0.5s forwards;
	}
}

.notification-top-center {
	animation: fadeInTopCenter 0.5s forwards;

	&:not(.notification-active) {
		animation: fadeOutTopCenter 0.6s forwards;
	}
}

.notification-top-right {
	animation: fadeInTopRight 0.5s forwards;

	&:not(.notification-active) {
		animation: fadeOutTopRight 0.5s forwards;
	}
}

.notification-bottom-left {
	animation: fadeInBottomLeft 0.5s forwards;

	&:not(.notification-active) {
		animation: fadeOutBottomLeft 0.5s forwards;
	}
}

.notification-bottom-center {
	animation: fadeInBottomCenter 0.5s forwards;

	&:not(.notification-active) {
		animation: fadeOutBottomCenter 0.5s forwards;
	}
}

.notification-bottom-right {
	animation: fadeInBottomRight 0.5s forwards;

	&:not(.notification-active) {
		animation: fadeOutBottomRight 0.5s forwards;
	}
}

.notification-group-top-left {
	flex-direction: column-reverse;
	top: 10px;
	left: 10px;
}

.notification-group-top-center {
	flex-direction: column-reverse;
	top: 10px;
	left: 50%;
	transform: translate(-50%, 0);
}

.notification-group-top-right {
	flex-direction: column-reverse;
	top: 10px;
	right: 10px;
}

.notification-group-bottom-left {
	bottom: 10px;
	left: 10px;
}

.notification-group-bottom-center {
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);
}

.notification-group-bottom-right {
	bottom: 10px;
	right: 10px;
}

@keyframes fadeInTopCenter {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOutTopCenter {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-100%);
	}
}

@keyframes fadeInBottomCenter {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOutBottomCenter {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(100%);
	}
}

@keyframes fadeInTopLeft {
	0% {
		opacity: 0;
		transform: translate(-100%, 0);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes fadeOutTopLeft {
	0% {
		opacity: 1;
		transform: translate(0, 0);
	}

	100% {
		opacity: 0;
		transform: translate(-100%, 0);
	}
}

@keyframes fadeInTopRight {
	0% {
		opacity: 0;
		transform: translate(100%, 0);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes fadeOutTopRight {
	0% {
		opacity: 1;
		transform: translate(0, 0);
	}

	100% {
		opacity: 0;
		transform: translate(100%, 0);
	}
}

@keyframes fadeInBottomLeft {
	0% {
		opacity: 0;
		transform: translate(-100px, 100px);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes fadeOutBottomLeft {
	0% {
		opacity: 1;
		transform: translate(0, 0);
	}

	100% {
		opacity: 0;
		transform: translate(-100px, 100px);
	}
}

@keyframes fadeInBottomRight {
	0% {
		opacity: 0;
		transform: translate(100px, 100px);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes fadeOutBottomRight {
	0% {
		opacity: 1;
		transform: translate(0, 0);
	}

	100% {
		opacity: 0;
		transform: translate(100px, 100px);
	}
}

.notification-close-button {
	background-color: transparent;
	place-self: center right;
	border: none;
	color: var(--foreground-color);
	opacity: 0.5;
}

.notification-close-button-icon {
	width: 1.5em;
	height: 1.5em;
	align-self: end;
}
