.select-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);

    &.select-wrapper-disabled {
        cursor: not-allowed;
    }

}

.select-label {
    display: block;
    font-weight: bold;
    font-family: var(--font-family);
    color: var(--primary-disabled-color);
    font-size: var(--font-size-md);

    &.select-label-radius_none {
        padding: 0 0 0 var(--padding-none);
    }

    &.select-label-radius-small {
        padding: 0 0 0 var(--padding-xs);
    }

    &.select-label-radius-medium {
        padding: 0 0 0 var(--padding-sm);
    }

    &.select-label-radius-large {
        padding: 0 0 0 var(--padding-md);
    }

    &.select-label-radius-pill {
        padding: 0 0 0 var(--padding-lg);
    }
}

.select-placeholder {
    color: var(--surface-e);
    font-style: italic;
}

.select-container {
    position: relative;
    width: 100%;
}

.select-btn {
    display: grid;
    place-items: center start;
    background-color: #f0f0f0;
    font-family: var(--font-family);
    background-color: var(--surface-a);
    color: var(--foreground-color);
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    gap: 1em;

    &.select-btn-outline {
        border: 1px solid var(--surface-d);
    }

    &.select-btn-flat {
        border: 1px solid transparent;
    }

    &.select-btn-underline {
        border: 1px solid transparent;
        border-bottom: 1px solid var(--surface-d);
    }

    &.select-btn-tiny {
        grid-template-columns: 1fr var(--height-input-xs);
        padding: 0 0 0 var(--padding-md);
        height: var(--height-input-xs);
        font-size: var(--font-size-sm);

        .select-icon-svg {
            width: var(--icon-size-sm);
            height: var(--icon-size-sm);
        }
    }

    &.select-btn-small {
        grid-template-columns: 1fr var(--height-input-sm);
        padding: 0 0 0 var(--padding-md);
        height: var(--height-input-sm);
        font-size: var(--font-size-sm);

        .select-icon-svg {
            width: var(--icon-size-sm);
            height: var(--icon-size-sm);
        }
    }

    &.select-btn-medium {
        grid-template-columns: 1fr var(--height-input-md);
        padding: 0 0 0 var(--padding-md);
        height: var(--height-input-md);
        font-size: var(--font-size-md);

        .select-icon-svg {
            width: var(--icon-size-md);
            height: var(--icon-size-md);
        }
    }

    &.select-btn-large {
        grid-template-columns: 1fr var(--height-input-lg);
        padding: 0 0 0 var(--padding-md);
        height: var(--height-input-lg);
        font-size: var(--font-size-lg);

        .select-icon-svg {
            width: var(--icon-size-lg);
            height: var(--icon-size-lg);
        }
    }

    &.select-btn-radius-none {
        border-radius: var(--border-radius-none);
    }

    &.select-btn-radius-small {
        border-radius: var(--border-radius-sm);
    }

    &.select-btn-radius-medium {
        border-radius: var(--border-radius-md);
    }

    &.select-btn-radius-large {
        border-radius: var(--border-radius-lg);
    }

    &.select-btn-radius-pill {
        border-radius: var(--border-radius-pill);
    }

    &:focus:not(.select-btn-disabled) {
        border: 1px solid var(--primary-hover-color);
        box-shadow: 0 0 0px 3px var(--primary-outline-color);
    }

    &:hover:not(.select-btn-disabled) {
        & .select-icon {
            background-color: var(--primary-light-color);
        }
    }

    &.select-btn-disabled {
        cursor: not-allowed;
        color: var(--foregroundDisabled-color);
    }

}

.select-btn:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.select-icon-svg {
    width: var(--height-input-xs);
    height: var(--height-input-xs);
    pointer-events: none;
}

.select-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-left: 1px solid var(--surface-d);
    border-right: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    background-color: var(--surface-c);

}

.select-icon_flat {
    border-left: 1px solid transparent;
}

.select-dropdown {
    position: absolute;
    bottom: auto;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--surface-a);

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: growDown 0.2s ease-in-out forwards;
    transform-origin: top center;
    overflow: hidden;

    &.select-dropdown-tiny {
        top: calc(90% + var(--padding-xs));
        font-size: var(--font-size-sm);

        .select-icon-svg {
            width: var(--icon-size-sm);
            height: var(--icon-size-sm);
        }
    }

    &.select-dropdown-small {
        top: calc(90% + var(--padding-sm));
        font-size: var(--font-size-sm);

        .select-icon-svg {
            width: var(--icon-size-md);
            height: var(--icon-size-md);
        }
    }

    &.select-dropdown-medium {
        top: calc(90% + var(--padding-md));
        font-size: var(--font-size-md);

        .select-icon-svg {
            width: var(--icon-size-lg);
            height: var(--icon-size-lg);
        }
    }

    &.select-dropdown-large {
        top: calc(90% + var(--padding-sm));
        font-size: var(--font-size-lg);

        .select-icon-svg {
            width: var(--icon-size-lg);
            height: var(--icon-size-lg);
        }
    }

    &.select-dropdown-radius-none {
        border-radius: var(--border-radius-none);
    }

    &.select-dropdown-radius-small {
        border-radius: var(--border-radius-sm);
    }

    &.select-dropdown-radius-medium {
        border-radius: var(--border-radius-md);
    }

    &.select-dropdown-radius-large {
        border-radius: var(--border-radius-lg);
    }

    &.select-dropdown-radius-pill {
        border-radius: var(--border-radius-md);
    }

    &.select-dropdown-outline {
        border: 1px solid var(--surface-d);
    }

    &.select-dropdown-flat {
        border: 1px solid transparent;
    }

    &.select-dropdown-underline {
        border: 1px solid transparent;
        border-bottom: 1px solid var(--surface-d);
    }



    &.select-dropdown-up {
        bottom: 105%;
        top: auto;
        transform-origin: bottom center;
    }

}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}

.select-option {
    display: grid;
    grid-template-columns: 1fr 24px;
    place-items: center start;
    gap: 1em;
    padding: var(--padding-none) var(--padding-none) var(--padding-none) var(--padding-md);
    color: var(--foreground-color);
    height: var(--height-input-sm);
    list-style: none;
    cursor: pointer;

    &.select-option-selected {
        background-color: var(--primary-light-color);
        color: var(--primary-text-color);
    }
}

.select-option:hover:not(.select-option-selected) {
    background-color: var(--primary-color);
    color: white;
}

.select-error {
    position: absolute;
    font-size: var(--font-size-md);
    background-color: var(--danger-color);
    color: var(--foreground-color);
    padding: 2px 8px;
    border-radius: var(--border-radius-sm);
    width: max-content;
    max-width: 100%;
    opacity: 0;
    animation: animateError 0.4s ease both;

    &::after {
        position: absolute;
        top: -6px;
        content: '';
        display: block;
        width: 0;
        height: 0;
        margin: 0 auto;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid var(--danger-color);
    }
}

.select-error-tiny {
    top: calc(var(--height-input-sm) + 8px);
}

.select-error-small {
    top: calc(var(--height-input-sm) + 8px);
}

.select-error-medium {
    top: calc(var(--height-input-md) + 8px);
}

.select-error-large {
    top: calc(var(--height-input-lg) + 4px);
}

@keyframes animateError {
    to {
        transform: translateY(24px);
        opacity: 1;
    }
}