.lambda-radio-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	color: var(--foreground-color);
	font-family: var(--font-family);
	box-sizing: border-box;
}

.lambda-radio-wrapper-radio {
	&:hover
		> .lambda-radio-view:not(.lambda-radio-view-checked):is(.lambda-radio-view-primary):not(
			.lambda-radio-view-disabled
		) {
		box-shadow: 0 0 1px 3px var(--primary-outline-color);
	}

	&:hover
		> .lambda-radio-view:not(.lambda-radio-view-checked):is(.lambda-radio-view-secondary):not(
			.lambda-radio-view-disabled
		) {
		box-shadow: 0 0 1px 3px var(--secondary-outline-color);
	}

	&:hover
		> .lambda-radio-view:not(.lambda-radio-view-checked):is(.lambda-radio-view-danger):not(
			.lambda-radio-view-disabled
		) {
		box-shadow: 0 0 1px 3px var(--danger-outline-color);
	}

	&:hover
		> .lambda-radio-view:not(.lambda-radio-view-checked):is(.lambda-radio-view-success):not(
			.lambda-radio-view-disabled
		) {
		box-shadow: 0 0 1px 3px var(--success-outline-color);
	}

	&:hover
		> .lambda-radio-view:not(.lambda-radio-view-checked):is(.lambda-radio-view-warning):not(
			.lambda-radio-view-disabled
		) {
		box-shadow: 0 0 1px 3px var(--warning-outline-color);
	}

	&:hover
		> .lambda-radio-view:not(.lambda-radio-view-checked):is(.lambda-radio-view-info):not(
			.lambda-radio-view-disabled
		) {
		box-shadow: 0 0 1px 3px var(--info-outline-color);
	}
}

.lambda-radio-wrapper-button {
	& > .lambda-radio-view-solid {
		&.lambda-radio-view {
			&:is(.lambda-radio-view-primary) {
				& ~ .lambda-radio-label {
					background-color: var(--surface-a);
					&:is(.lambda-radio-label-horizontal) {
						border-top: 1px solid var(--border-color);
						border-bottom: 1px solid var(--border-color);
						border-right: 1px solid var(--border-color);
					}
					&:is(.lambda-radio-label-vertical) {
						border-left: 1px solid var(--border-color);
						border-right: 1px solid var(--border-color);
						border-bottom: 1px solid var(--border-color);
					}
				}
			}

			&:is(.lambda-radio-view-secondary) {
				& ~ .lambda-radio-label {
					background-color: var(--surface-a);
					&:is(.lambda-radio-label-horizontal) {
						border-top: 1px solid var(--border-color);
						border-bottom: 1px solid var(--border-color);
						border-right: 1px solid var(--border-color);
					}
					&:is(.lambda-radio-label-vertical) {
						border-left: 1px solid var(--border-color);
						border-right: 1px solid var(--border-color);
						border-bottom: 1px solid var(--border-color);
					}
				}
			}

			&:is(.lambda-radio-view-success) {
				& ~ .lambda-radio-label {
					background-color: var(--surface-a);
					&:is(.lambda-radio-label-horizontal) {
						border-top: 1px solid var(--border-color);
						border-bottom: 1px solid var(--border-color);
						border-right: 1px solid var(--border-color);
					}
					&:is(.lambda-radio-label-vertical) {
						border-left: 1px solid var(--border-color);
						border-right: 1px solid var(--border-color);
						border-bottom: 1px solid var(--border-color);
					}
				}
			}

			&:is(.lambda-radio-view-danger) {
				& ~ .lambda-radio-label {
					background-color: var(--surface-a);
					&:is(.lambda-radio-label-horizontal) {
						border-top: 1px solid var(--border-color);
						border-bottom: 1px solid var(--border-color);
						border-right: 1px solid var(--border-color);
					}
					&:is(.lambda-radio-label-vertical) {
						border-left: 1px solid var(--border-color);
						border-right: 1px solid var(--border-color);
						border-bottom: 1px solid var(--border-color);
					}
				}
			}

			&:is(.lambda-radio-view-warning) {
				& ~ .lambda-radio-label {
					background-color: var(--surface-a);
					&:is(.lambda-radio-label-horizontal) {
						border-top: 1px solid var(--border-color);
						border-bottom: 1px solid var(--border-color);
						border-right: 1px solid var(--border-color);
					}
					&:is(.lambda-radio-label-vertical) {
						border-left: 1px solid var(--border-color);
						border-right: 1px solid var(--border-color);
						border-bottom: 1px solid var(--border-color);
					}
				}
			}

			&:is(.lambda-radio-view-info) {
				& ~ .lambda-radio-label {
					background-color: var(--surface-a);
					&:is(.lambda-radio-label-horizontal) {
						border-top: 1px solid var(--border-color);
						border-bottom: 1px solid var(--border-color);
						border-right: 1px solid var(--border-color);
					}
					&:is(.lambda-radio-label-vertical) {
						border-left: 1px solid var(--border-color);
						border-right: 1px solid var(--border-color);
						border-bottom: 1px solid var(--border-color);
					}
				}
			}
		}
	}

	& > .lambda-radio-view-outline {
		&.lambda-radio-view {
			&:is(.lambda-radio-view-primary) {
				& ~ .lambda-radio-label {
					background-color: transparent;
					&:is(.lambda-radio-label-horizontal) {
						border-top: 1px solid var(--primary-disabled-color);
						border-bottom: 1px solid var(--primary-disabled-color);
						border-right: 1px solid var(--primary-disabled-color);
					}
					&:is(.lambda-radio-label-vertical) {
						border-left: 1px solid var(--primary-disabled-color);
						border-right: 1px solid var(--primary-disabled-color);
						border-bottom: 1px solid var(--primary-disabled-color);
					}
				}
			}

			&:is(.lambda-radio-view-secondary) {
				& ~ .lambda-radio-label {
					background-color: transparent;
					&:is(.lambda-radio-label-horizontal) {
						border-top: 1px solid var(--secondary-disabled-color);
						border-bottom: 1px solid var(--secondary-disabled-color);
						border-right: 1px solid var(--secondary-disabled-color);
					}
					&:is(.lambda-radio-label-vertical) {
						border-left: 1px solid var(--secondary-disabled-color);
						border-right: 1px solid var(--secondary-disabled-color);
						border-bottom: 1px solid var(--secondary-disabled-color);
					}
				}
			}

			&:is(.lambda-radio-view-success) {
				& ~ .lambda-radio-label {
					background-color: transparent;
					&:is(.lambda-radio-label-horizontal) {
						border-top: 1px solid var(--success-disabled-color);
						border-bottom: 1px solid var(--success-disabled-color);
						border-right: 1px solid var(--success-disabled-color);
					}
					&:is(.lambda-radio-label-vertical) {
						border-left: 1px solid var(--success-disabled-color);
						border-right: 1px solid var(--success-disabled-color);
						border-bottom: 1px solid var(--success-disabled-color);
					}
				}
			}

			&:is(.lambda-radio-view-danger) {
				& ~ .lambda-radio-label {
					background-color: transparent;
					&:is(.lambda-radio-label-horizontal) {
						border-top: 1px solid var(--danger-disabled-color);
						border-bottom: 1px solid var(--danger-disabled-color);
						border-right: 1px solid var(--danger-disabled-color);
					}
					&:is(.lambda-radio-label-vertical) {
						border-left: 1px solid var(--danger-disabled-color);
						border-right: 1px solid var(--danger-disabled-color);
						border-bottom: 1px solid var(--danger-disabled-color);
					}
				}
			}

			&:is(.lambda-radio-view-warning) {
				& ~ .lambda-radio-label {
					background-color: transparent;
					&:is(.lambda-radio-label-horizontal) {
						border-top: 1px solid var(--warning-disabled-color);
						border-bottom: 1px solid var(--warning-disabled-color);
						border-right: 1px solid var(--warning-disabled-color);
					}
					&:is(.lambda-radio-label-vertical) {
						border-left: 1px solid var(--warning-disabled-color);
						border-right: 1px solid var(--warning-disabled-color);
						border-bottom: 1px solid var(--warning-disabled-color);
					}
				}
			}

			&:is(.lambda-radio-view-info) {
				& ~ .lambda-radio-label {
					background-color: transparent;
					&:is(.lambda-radio-label-horizontal) {
						border-top: 1px solid var(--info-disabled-color);
						border-bottom: 1px solid var(--info-disabled-color);
						border-right: 1px solid var(--info-disabled-color);
					}
					&:is(.lambda-radio-label-vertical) {
						border-left: 1px solid var(--info-disabled-color);
						border-right: 1px solid var(--info-disabled-color);
						border-bottom: 1px solid var(--info-disabled-color);
					}
				}
			}
		}
	}

	& > .lambda-radio-view-flat {
		&.lambda-radio-view {
			&:is(.lambda-radio-view-primary) {
				& ~ .lambda-radio-label {
					background-color: var(--primary-light-color);

					&:is(.lambda-radio-label-horizontal) {
						border-right: 1px solid var(--primary-outline-color);
					}
					&:is(.lambda-radio-label-vertical) {
						border-bottom: 1px solid var(--primary-outline-color);
					}
				}
			}

			&:is(.lambda-radio-view-secondary) {
				& ~ .lambda-radio-label {
					background-color: var(--secondary-light-color);

					&:is(.lambda-radio-label-horizontal) {
						border-right: 1px solid var(--secondary-outline-color);
					}
					&:is(.lambda-radio-label-vertical) {
						border-bottom: 1px solid var(--secondary-outline-color);
					}
				}
			}

			&:is(.lambda-radio-view-success) {
				& ~ .lambda-radio-label {
					background-color: var(--success-light-color);

					&:is(.lambda-radio-label-horizontal) {
						border-right: 1px solid var(--success-outline-color);
					}
					&:is(.lambda-radio-label-vertical) {
						border-bottom: 1px solid var(--success-outline-color);
					}
				}
			}

			&:is(.lambda-radio-view-danger) {
				& ~ .lambda-radio-label {
					background-color: var(--danger-light-color);

					&:is(.lambda-radio-label-horizontal) {
						border-right: 1px solid var(--danger-outline-color);
					}
					&:is(.lambda-radio-label-vertical) {
						border-bottom: 1px solid var(--danger-outline-color);
					}
				}
			}

			&:is(.lambda-radio-view-warning) {
				& ~ .lambda-radio-label {
					background-color: var(--warning-light-color);

					&:is(.lambda-radio-label-horizontal) {
						border-right: 1px solid var(--warning-outline-color);
					}
					&:is(.lambda-radio-label-vertical) {
						border-bottom: 1px solid var(--warning-outline-color);
					}
				}
			}

			&:is(.lambda-radio-view-info) {
				& ~ .lambda-radio-label {
					background-color: var(--info-light-color);

					&:is(.lambda-radio-label-horizontal) {
						border-right: 1px solid var(--info-outline-color);
					}
					&:is(.lambda-radio-label-vertical) {
						border-bottom: 1px solid var(--info-outline-color);
					}
				}
			}
		}
	}

	&:first-child {
		& > .lambda-radio-view {
			&:is(.lambda-radio-view-outline) {
				&:is(.lambda-radio-view-primary) {
					& ~ .lambda-radio-label {
						&:is(.lambda-radio-label-horizontal) {
							border-left: 1px solid var(--primary-disabled-color);
						}
						&:is(.lambda-radio-label-vertical) {
							border-top: 1px solid var(--primary-disabled-color);
						}
					}
				}

				&:is(.lambda-radio-view-secondary) {
					& ~ .lambda-radio-label {
						&:is(.lambda-radio-label-horizontal) {
							border-left: 1px solid var(--secondary-disabled-color);
						}
						&:is(.lambda-radio-label-vertical) {
							border-top: 1px solid var(--secondary-disabled-color);
						}
					}
				}

				&:is(.lambda-radio-view-success) {
					& ~ .lambda-radio-label {
						&:is(.lambda-radio-label-horizontal) {
							border-left: 1px solid var(--success-disabled-color);
						}
						&:is(.lambda-radio-label-vertical) {
							border-top: 1px solid var(--success-disabled-color);
						}
					}
				}

				&:is(.lambda-radio-view-danger) {
					& ~ .lambda-radio-label {
						&:is(.lambda-radio-label-horizontal) {
							border-left: 1px solid var(--danger-disabled-color);
						}
						&:is(.lambda-radio-label-vertical) {
							border-top: 1px solid var(--danger-disabled-color);
						}
					}
				}

				&:is(.lambda-radio-view-warning) {
					& ~ .lambda-radio-label {
						&:is(.lambda-radio-label-horizontal) {
							border-left: 1px solid var(--warning-disabled-color);
						}
						&:is(.lambda-radio-label-vertical) {
							border-top: 1px solid var(--warning-disabled-color);
						}
					}
				}

				&:is(.lambda-radio-view-info) {
					& ~ .lambda-radio-label {
						&:is(.lambda-radio-label-horizontal) {
							border-left: 1px solid var(--info-disabled-color);
						}
						&:is(.lambda-radio-label-vertical) {
							border-top: 1px solid var(--info-disabled-color);
						}
					}
				}
			}
			&:is(.lambda-radio-view-solid) {
				&:is(.lambda-radio-view-primary) {
					& ~ .lambda-radio-label {
						&:is(.lambda-radio-label-horizontal) {
							border-left: 1px solid var(--border-color);
						}
						&:is(.lambda-radio-label-vertical) {
							border-top: 1px solid var(--border-color);
						}
					}
				}

				&:is(.lambda-radio-view-secondary) {
					& ~ .lambda-radio-label {
						&:is(.lambda-radio-label-horizontal) {
							border-left: 1px solid var(--border-color);
						}
						&:is(.lambda-radio-label-vertical) {
							border-top: 1px solid var(--border-color);
						}
					}
				}

				&:is(.lambda-radio-view-success) {
					& ~ .lambda-radio-label {
						&:is(.lambda-radio-label-horizontal) {
							border-left: 1px solid var(--border-color);
						}
						&:is(.lambda-radio-label-vertical) {
							border-top: 1px solid var(--border-color);
						}
					}
				}

				&:is(.lambda-radio-view-danger) {
					& ~ .lambda-radio-label {
						&:is(.lambda-radio-label-horizontal) {
							border-left: 1px solid var(--border-color);
						}
						&:is(.lambda-radio-label-vertical) {
							border-top: 1px solid var(--border-color);
						}
					}
				}

				&:is(.lambda-radio-view-warning) {
					& ~ .lambda-radio-label {
						&:is(.lambda-radio-label-horizontal) {
							border-left: 1px solid var(--border-color);
						}
						&:is(.lambda-radio-label-vertical) {
							border-top: 1px solid var(--border-color);
						}
					}
				}

				&:is(.lambda-radio-view-info) {
					& ~ .lambda-radio-label {
						&:is(.lambda-radio-label-horizontal) {
							border-left: 1px solid var(--border-color);
						}
						&:is(.lambda-radio-label-vertical) {
							border-top: 1px solid var(--border-color);
						}
					}
				}
			}
		}
	}

	&:last-child {
		& > .lambda-radio-view {
			&:is(.lambda-radio-view-solid, .lambda-radio-view-outline) {
				&:is(.lambda-radio-view-primary) {
					& ~ .lambda-radio-label {
						&:is(.lambda-radio-label-horizontal) {
							border-left: none;
						}
						&:is(.lambda-radio-label-vertical) {
							border-top: none;
						}
					}
				}

				&:is(.lambda-radio-view-secondary) {
					& ~ .lambda-radio-label {
						&:is(.lambda-radio-label-horizontal) {
							border-left: none;
						}
						&:is(.lambda-radio-label-vertical) {
							border-top: none;
						}
					}
				}

				&:is(.lambda-radio-view-success) {
					& ~ .lambda-radio-label {
						&:is(.lambda-radio-label-horizontal) {
							border-left: none;
						}
						&:is(.lambda-radio-label-vertical) {
							border-top: none;
						}
					}
				}

				&:is(.lambda-radio-view-danger) {
					& ~ .lambda-radio-label {
						&:is(.lambda-radio-label-horizontal) {
							border-left: none;
						}
						&:is(.lambda-radio-label-vertical) {
							border-top: none;
						}
					}
				}

				&:is(.lambda-radio-view-warning) {
					& ~ .lambda-radio-label {
						&:is(.lambda-radio-label-horizontal) {
							border-left: none;
						}
						&:is(.lambda-radio-label-vertical) {
							border-top: none;
						}
					}
				}

				&:is(.lambda-radio-view-info) {
					& ~ .lambda-radio-label {
						&:is(.lambda-radio-label-horizontal) {
							border-left: none;
						}
						&:is(.lambda-radio-label-vertical) {
							border-top: none;
						}
					}
				}
			}

			&:is(.lambda-radio-view-flat) {
				& ~ .lambda-radio-label {
					&:is(.lambda-radio-label-horizontal) {
						border-right: none;
					}
					&:is(.lambda-radio-label-vertical) {
						border-bottom: none;
					}
				}
			}
		}
	}

	&:hover
		> .lambda-radio-view:not(.lambda-radio-view-checked):is(.lambda-radio-view-primary):not(
			.lambda-radio-view-disabled
		) {
		background-color: var(--primary-outline-color);
	}

	&:hover
		> .lambda-radio-view:not(.lambda-radio-view-checked):is(.lambda-radio-view-secondary):not(
			.lambda-radio-view-disabled
		) {
		background-color: var(--secondary-outline-color);
	}

	&:hover
		> .lambda-radio-view:not(.lambda-radio-view-checked):is(.lambda-radio-view-danger):not(
			.lambda-radio-view-disabled
		) {
		background-color: var(--danger-outline-color);
	}

	&:hover
		> .lambda-radio-view:not(.lambda-radio-view-checked):is(.lambda-radio-view-success):not(
			.lambda-radio-view-disabled
		) {
		background-color: var(--success-outline-color);
	}

	&:hover
		> .lambda-radio-view:not(.lambda-radio-view-checked):is(.lambda-radio-view-warning):not(
			.lambda-radio-view-disabled
		) {
		background-color: var(--warning-outline-color);
	}

	&:hover
		> .lambda-radio-view:not(.lambda-radio-view-checked):is(.lambda-radio-view-info):not(
			.lambda-radio-view-disabled
		) {
		background-color: var(--info-outline-color);
	}

	.lambda-radio-view {
		&.lambda-radio-view-checked {
			& ~ .lambda-radio-label {
				color: var(--white-color);
				text-shadow: 0 0 0px #000000cc;
			}

			&:is(.lambda-radio-view-outline) {
				&:is(.lambda-radio-view-primary) {
					& ~ .lambda-radio-label {
						background-color: var(--primary-color);
					}
				}

				&:is(.lambda-radio-view-secondary) {
					& ~ .lambda-radio-label {
						background-color: var(--secondary-color);
						border-top: 1px solid var(--secondary-color);
						border-bottom: 1px solid var(--secondary-color);
						border-right: 1px solid var(--secondary-color);
						color: var(--foreground-invert-color);
					}
				}

				&:is(.lambda-radio-view-success) {
					& ~ .lambda-radio-label {
						background-color: var(--success-color);
						border-top: 1px solid var(--success-disabled-color);
						border-bottom: 1px solid var(--success-disabled-color);
						border-right: 1px solid var(--success-disabled-color);
					}
				}

				&:is(.lambda-radio-view-danger) {
					& ~ .lambda-radio-label {
						background-color: var(--danger-color);
						border-top: 1px solid var(--danger-disabled-color);
						border-bottom: 1px solid var(--danger-disabled-color);
						border-right: 1px solid var(--danger-disabled-color);
					}
				}

				&:is(.lambda-radio-view-warning) {
					& ~ .lambda-radio-label {
						background-color: var(--warning-color);
						font-weight: var(--font-weight-semibold);
					}
				}

				&:is(.lambda-radio-view-info) {
					& ~ .lambda-radio-label {
						background-color: var(--info-color);
						border-top: 1px solid var(--info-disabled-color);
						border-bottom: 1px solid var(--info-disabled-color);
						border-right: 1px solid var(--info-disabled-color);
						font-weight: var(--font-weight-semibold);
					}
				}
			}

			&:is(.lambda-radio-view-solid) {
				&:is(.lambda-radio-view-primary) {
					& ~ .lambda-radio-label {
						background-color: var(--primary-color);
						border-top: 1px solid var(--primary-color);
						border-bottom: 1px solid var(--primary-color);
						border-right: 1px solid var(--primary-color);
					}
				}

				&:is(.lambda-radio-view-secondary) {
					& ~ .lambda-radio-label {
						background-color: var(--secondary-color);
						border-top: 1px solid var(--secondary-color);
						border-bottom: 1px solid var(--secondary-color);
						border-right: 1px solid var(--secondary-color);
						color: var(--foreground-invert-color);
					}
				}

				&:is(.lambda-radio-view-success) {
					& ~ .lambda-radio-label {
						background-color: var(--success-color);
						border-top: 1px solid var(--success-color);
						border-bottom: 1px solid var(--success-color);
						border-right: 1px solid var(--success-color);
					}
				}

				&:is(.lambda-radio-view-danger) {
					& ~ .lambda-radio-label {
						background-color: var(--danger-color);
						border-top: 1px solid var(--danger-color);
						border-bottom: 1px solid var(--danger-color);
						border-right: 1px solid var(--danger-color);
					}
				}

				&:is(.lambda-radio-view-warning) {
					& ~ .lambda-radio-label {
						background-color: var(--warning-color);
						font-weight: var(--font-weight-semibold);
						border-top: 1px solid var(--warning-color);
						border-bottom: 1px solid var(--warning-color);
						border-right: 1px solid var(--warning-color);
					}
				}

				&:is(.lambda-radio-view-info) {
					& ~ .lambda-radio-label {
						background-color: var(--info-color);
						font-weight: var(--font-weight-semibold);

						border-top: 1px solid var(--info-color);
						border-bottom: 1px solid var(--info-color);
						border-right: 1px solid var(--info-color);
					}
				}
			}

			&:is(.lambda-radio-view-flat) {
				&:is(.lambda-radio-view-primary) {
					& ~ .lambda-radio-label {
						background-color: var(--primary-color);
					}
				}

				&:is(.lambda-radio-view-secondary) {
					& ~ .lambda-radio-label {
						background-color: var(--secondary-color);
						color: var(--foreground-invert-color);
					}
				}

				&:is(.lambda-radio-view-success) {
					& ~ .lambda-radio-label {
						background-color: var(--success-color);
					}
				}

				&:is(.lambda-radio-view-danger) {
					& ~ .lambda-radio-label {
						background-color: var(--danger-color);
					}
				}

				&:is(.lambda-radio-view-warning) {
					& ~ .lambda-radio-label {
						background-color: var(--warning-color);
						font-weight: var(--font-weight-semibold);
					}
				}

				&:is(.lambda-radio-view-info) {
					& ~ .lambda-radio-label {
						background-color: var(--info-color);
						font-weight: var(--font-weight-semibold);
					}
				}
			}
		}

		&:not(.lambda-radio-view-checked) {
			&:is(.lambda-radio-view-primary) {
				& ~ .lambda-radio-label {
					color: var(--primary-text-color);
				}
			}

			&:is(.lambda-radio-view-secondary) {
				& ~ .lambda-radio-label {
					color: var(--secondary-text-color);
				}
			}

			&:is(.lambda-radio-view-success) {
				& ~ .lambda-radio-label {
					color: var(--success-text-color);
				}
			}

			&:is(.lambda-radio-view-danger) {
				& ~ .lambda-radio-label {
					color: var(--danger-text-color);
				}
			}

			&:is(.lambda-radio-view-warning) {
				& ~ .lambda-radio-label {
					color: var(--warning-text-color);
				}
			}

			&:is(.lambda-radio-view-info) {
				& ~ .lambda-radio-label {
					color: var(--info-text-color);
				}
			}
		}
	}
}

.lambda-radio-wrapper:is(.lambda-radio-wrapper-button) {
	text-align: center;
	background-color: transparent;

	&.lambda-radio-wrapper-tiny {
		&.lambda-radio-wrapper-radio {
			width: var(--height-checkbox-xs);
			height: var(--height-checkbox-xs);
		}

		&.lambda-radio-wrapper-button {
			min-width: var(--height-button-xs);
			min-height: var(--height-button-xs);
		}
	}

	&.lambda-radio-wrapper-small {
		&.lambda-radio-wrapper-radio {
			width: var(--height-checkbox-sm);
			height: var(--height-checkbox-sm);
		}

		&.lambda-radio-wrapper-button {
			min-width: var(--height-button-sm);
			min-height: var(--height-button-sm);
		}
	}

	&.lambda-radio-wrapper-medium {
		&.lambda-radio-wrapper-radio {
			width: var(--height-checkbox-md);
			height: var(--height-checkbox-md);
		}

		&.lambda-radio-wrapper-button {
			min-width: var(--height-button-md);
			min-height: var(--height-button-md);
		}
	}

	&.lambda-radio-wrapper-large {
		&.lambda-radio-wrapper-radio {
			width: var(--height-checkbox-lg);
			height: var(--height-checkbox-lg);
		}

		&.lambda-radio-wrapper-button {
			min-width: var(--height-button-lg);
			min-height: var(--height-button-lg);
		}
	}

	&:is(.lambda-radio-wrapper-horizontal) {
		&:first-child {
			.lambda-radio-label-radius-none {
				border-radius: none;
			}
			.lambda-radio-label-radius-small {
				border-radius: var(--border-radius-sm) var(--border-radius-none) var(--border-radius-none)
					var(--border-radius-sm);
			}
			.lambda-radio-label-radius-medium {
				border-radius: var(--border-radius-md) var(--border-radius-none) var(--border-radius-none)
					var(--border-radius-md);
			}

			.lambda-radio-label-radius-pill {
				border-radius: var(--border-radius-pill) var(--border-radius-none) var(--border-radius-none)
					var(--border-radius-pill);
			}
		}

		&:last-child {
			.lambda-radio-label-radius-none {
				border-radius: none;
			}
			.lambda-radio-label-radius-small {
				border-radius: var(--border-radius-none) var(--border-radius-sm) var(--border-radius-sm)
					var(--border-radius-none);
			}

			.lambda-radio-label-radius-medium {
				border-radius: var(--border-radius-none) var(--border-radius-md) var(--border-radius-md)
					var(--border-radius-none);
			}

			.lambda-radio-label-radius-pill {
				border-radius: var(--border-radius-none) var(--border-radius-pill) var(--border-radius-pill)
					var(--border-radius-none);
			}
		}
	}

	&:is(.lambda-radio-wrapper-vertical) {
		&:first-child {
			.lambda-radio-label-radius-none {
				border-radius: none;
			}
			.lambda-radio-label-radius-small {
				border-radius: var(--border-radius-sm) var(--border-radius-sm) var(--border-radius-none)
					var(--border-radius-none);
			}
			.lambda-radio-label-radius-medium {
				border-radius: var(--border-radius-md) var(--border-radius-md) var(--border-radius-none)
					var(--border-radius-none);
			}

			.lambda-radio-label-radius-pill {
				border-radius: var(--border-radius-lg) var(--border-radius-lg) var(--border-radius-none)
					var(--border-radius-none);
			}
		}

		&:last-child {
			.lambda-radio-label-radius-none {
				border-radius: none;
			}
			.lambda-radio-label-radius-small {
				border-radius: var(--border-radius-none) var(--border-radius-none) var(--border-radius-sm)
					var(--border-radius-sm);
			}

			.lambda-radio-label-radius-medium {
				border-radius: var(--border-radius-none) var(--border-radius-none) var(--border-radius-md)
					var(--border-radius-md);
			}

			.lambda-radio-label-radius-pill {
				border-radius: var(--border-radius-none) var(--border-radius-none) var(--border-radius-lg)
					var(--border-radius-lg);
			}
		}
	}
}

.lambda-radio-wrapper-card {
	justify-content: flex-start;
	align-items: flex-start;
	box-shadow: var(--box-shadow);

	.lambda-radio-view {
		position: absolute;
		border: 1px solid var(--surface-d);
		background-color: var(--surface-a);

		&:is(.lambda-radio-view-card) {
			position: relative;
		}
	}

	&:is(.lambda-radio-wrapper-outline) {
		background-color: transparent;
		border: 1px solid var(--surface-d);

		&:is(.lambda-radio-wrapper-primary) {
			&:is(.lambda-radio-wrapper-checked) {
				border-color: var(--primary-hover-color);
				box-shadow: 0 0 0 3px var(--primary-outline-color);
			}

			&:hover:not(.lambda-radio-wrapper-checked) {
				border-color: var(--primary-color);
			}
		}

		&:is(.lambda-radio-wrapper-secondary) {
			&:is(.lambda-radio-wrapper-checked) {
				border-color: var(--secondary-hover-color);
				box-shadow: 0 0 0 3px var(--secondary-outline-color);
			}

			&:hover:not(.lambda-radio-wrapper-checked) {
				border-color: var(--secondary-color);
			}
		}

		&:is(.lambda-radio-wrapper-success) {
			&:is(.lambda-radio-wrapper-checked) {
				border-color: var(--success-hover-color);
				box-shadow: 0 0 0 3px var(--success-outline-color);
			}

			&:hover:not(.lambda-radio-wrapper-checked) {
				border-color: var(--success-color);
			}
		}

		&:is(.lambda-radio-wrapper-danger) {
			&:is(.lambda-radio-wrapper-checked) {
				border-color: var(--danger-hover-color);
				box-shadow: 0 0 0 3px var(--danger-outline-color);
			}

			&:hover:not(.lambda-radio-wrapper-checked) {
				border-color: var(--danger-color);
			}
		}

		&:is(.lambda-radio-wrapper-warning) {
			&:is(.lambda-radio-wrapper-checked) {
				border-color: var(--warning-hover-color);
				box-shadow: 0 0 0 3px var(--warning-outline-color);
			}

			&:hover:not(.lambda-radio-wrapper-checked) {
				border-color: var(--warning-color);
			}
		}

		&:is(.lambda-radio-wrapper-info) {
			&:is(.lambda-radio-wrapper-checked) {
				border-color: var(--info-hover-color);
				box-shadow: 0 0 0 3px var(--info-outline-color);
			}

			&:hover:not(.lambda-radio-wrapper-checked) {
				border-color: var(--info-color);
			}
		}
	}

	&:is(.lambda-radio-wrapper-flat) {
		border: 1px solid transparent;
		background-color: var(--surface-a);

		&:is(.lambda-radio-wrapper-primary) {
			&:is(.lambda-radio-wrapper-checked) {
				background-color: var(--primary-outline-color);
			}

			&:hover:not(.lambda-radio-wrapper-checked) {
				border-color: var(--primary-outline-color);
			}
		}

		&:is(.lambda-radio-wrapper-secondary) {
			&:is(.lambda-radio-wrapper-checked) {
				background-color: var(--secondary-outline-color);
			}

			&:hover:not(.lambda-radio-wrapper-checked) {
				border-color: var(--secondary-outline-color);
			}
		}

		&:is(.lambda-radio-wrapper-success) {
			&:is(.lambda-radio-wrapper-checked) {
				background-color: var(--success-outline-color);
			}

			&:hover:not(.lambda-radio-wrapper-checked) {
				border-color: var(--success-outline-color);
			}
		}

		&:is(.lambda-radio-wrapper-danger) {
			&:is(.lambda-radio-wrapper-checked) {
				background-color: var(--danger-outline-color);
			}

			&:hover:not(.lambda-radio-wrapper-checked) {
				border-color: var(--danger-outline-color);
			}
		}

		&:is(.lambda-radio-wrapper-warning) {
			&:is(.lambda-radio-wrapper-checked) {
				background-color: var(--warning-outline-color);
			}

			&:hover:not(.lambda-radio-wrapper-checked) {
				border-color: var(--warning-outline-color);
			}
		}

		&:is(.lambda-radio-wrapper-info) {
			&:is(.lambda-radio-wrapper-checked) {
				background-color: var(--info-outline-color);
			}

			&:hover:not(.lambda-radio-wrapper-checked) {
				border-color: var(--info-outline-color);
			}
		}
	}

	&:is(.lambda-radio-wrapper-solid) {
		border: 1px solid transparent;
		background-color: var(--surface-a);

		&:is(.lambda-radio-wrapper-primary) {
			&:is(.lambda-radio-wrapper-checked) {
				background-color: var(--primary-color);
			}

			&:hover:not(.lambda-radio-wrapper-checked) {
				border-color: var(--primary-outline-color);
			}
		}

		&:is(.lambda-radio-wrapper-secondary) {
			&:is(.lambda-radio-wrapper-checked) {
				background-color: var(--secondary-color);
			}

			&:hover:not(.lambda-radio-wrapper-checked) {
				border-color: var(--secondary-outline-color);
			}
		}

		&:is(.lambda-radio-wrapper-success) {
			&:is(.lambda-radio-wrapper-checked) {
				background-color: var(--success-color);
			}

			&:hover:not(.lambda-radio-wrapper-checked) {
				border-color: var(--success-outline-color);
			}
		}

		&:is(.lambda-radio-wrapper-danger) {
			&:is(.lambda-radio-wrapper-checked) {
				background-color: var(--danger-color);
			}

			&:hover:not(.lambda-radio-wrapper-checked) {
				border-color: var(--danger-outline-color);
			}
		}

		&:is(.lambda-radio-wrapper-warning) {
			&:is(.lambda-radio-wrapper-checked) {
				background-color: var(--warning-color);
			}

			&:hover:not(.lambda-radio-wrapper-checked) {
				border-color: var(--warning-outline-color);
			}
		}

		&:is(.lambda-radio-wrapper-info) {
			&:is(.lambda-radio-wrapper-checked) {
				background-color: var(--info-color);
			}

			&:hover:not(.lambda-radio-wrapper-checked) {
				border-color: var(--info-outline-color);
			}
		}
	}

	&:is(.lambda-radio-wrapper-tiny) {
		min-width: var(--card-size-xs);
		min-height: var(--card-size-xs);
		padding: var(--padding-sm) var(--padding-md);
	}

	&:is(.lambda-radio-wrapper-small) {
		min-width: var(--card-size-sm);
		min-height: var(--card-size-sm);
		padding: var(--padding-sm) var(--padding-md);
	}

	&:is(.lambda-radio-wrapper-medium) {
		min-width: var(--card-size-md);
		min-height: var(--card-size-md);
		padding: var(--padding-sm) var(--padding-md);
	}

	&:is(.lambda-radio-wrapper-large) {
		min-width: var(--card-size-lg);
		min-height: var(--card-size-md);
		padding: var(--padding-sm) var(--padding-lg);
	}

	&.lambda-radio-wrapper-radius-none {
		border-radius: none;
	}

	&.lambda-radio-wrapper-radius-small {
		border-radius: var(--border-radius-sm);
	}

	&.lambda-radio-wrapper-radius-medium {
		border-radius: var(--border-radius-md);
	}

	&.lambda-radio-wrapper-radius-pill {
		border-radius: var(--border-radius-lg);
	}
}

.lambda-radio-card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.lambda-radio-content-card {
	&.lambda-radio-content-card-tiny {
		padding: var(--padding-xs) var(--padding-sm);

		h1 {
			font-size: var(--font-size-title-xs);
			color: var(--foreground-title-color);
			min-width: var(--card-title-max-width);
		}

		h2 {
			font-size: var(--font-size-xs);
			color: var(--foreground-secondary-color);
		}

		.lambda-radio-card-body {
			margin: var(--padding-lg) var(--padding-none) var(--padding-md) var(--padding-none);
		}
	}

	&.lambda-radio-content-card-small {
		padding: var(--padding-xs) var(--padding-sm);

		h1 {
			font-size: var(--font-size-title-sm);
			min-width: var(--card-title-max-width);
		}

		h2 {
			font-size: var(--font-size-xs);
		}

		.lambda-radio-card-body {
			margin: var(--padding-lg) var(--padding-none) var(--padding-md) var(--padding-none);
		}
	}

	&.lambda-radio-content-card-medium {
		padding: var(--padding-sm) var(--padding-md);

		h1 {
			font-size: var(--font-size-title-lg);
			min-width: var(--card-title-max-width);
		}

		h2 {
			font-size: var(--font-size-sm);
		}

		.lambda-radio-card-body {
			margin: var(--padding-lg) var(--padding-none) var(--padding-md) var(--padding-none);
		}
	}

	&.lambda-radio-content-card-large {
		padding: var(--padding-xs) var(--padding-sm);

		h1 {
			font-size: var(--font-size-title-xl);
			min-width: var(--card-title-max-width);
		}

		h2 {
			font-size: var(--font-size-md);
		}

		.lambda-radio-card-body {
			margin: var(--padding-xl) var(--padding-none) var(--padding-lg) var(--padding-none);
		}
	}

	&.lambda-radio-content-card-solid {
		&.lambda-radio-content-card-secondary {
			h1 {
				color: var(--foreground-title-color);
			}
			h2 {
				color: var(--foreground-secondary-color);
			}
			* {
				color: var(--foreground-secondary-color);
			}
			&.lambda-radio-content-card-checked {
				h1 {
					color: var(--foreground-invert-color);
				}
				h2 {
					color: var(--foreground-invert-color);
				}
				* {
					color: var(--foreground-invert-color);
				}
			}
		}

		&.lambda-radio-content-card-primary,
		&.lambda-radio-content-card-danger,
		&.lambda-radio-content-card-success,
		&.lambda-radio-content-card-warning,
		&.lambda-radio-content-card-info {
			h1 {
				color: var(--foreground-title-color);
			}
			h2 {
				color: var(--foreground-secondary-color);
			}

			* {
				color: var(--foreground-secondary-color);
			}
			&.lambda-radio-content-card-checked {
				h1 {
					color: var(--white-color);
				}
				h2 {
					color: var(--white-color);
				}
				* {
					color: var(--white-color);
				}
			}
		}
	}

	&.lambda-radio-content-card-outline {
		&.lambda-radio-content-card-primary {
			h1 {
				color: var(--foreground-secondary-color);
			}
			h2 {
				color: var(--foreground-secondary-color);
			}
			* {
				color: var(--foreground-secondary-color);
			}
			&.lambda-radio-content-card-checked {
				h1 {
					color: var(--primary-text-color);
				}
				h2 {
					color: var(--secondary-text-color);
				}
				* {
					color: var(--foreground-title-color);
				}
			}
		}

		&.lambda-radio-content-card-secondary {
			h1 {
				color: var(--foreground-secondary-color);
			}
			h2 {
				color: var(--foreground-secondary-color);
			}
			* {
				color: var(--foreground-secondary-color);
			}
			&.lambda-radio-content-card-checked {
				h1 {
					color: var(--secondary-text-color);
				}
				h2 {
					color: var(--secondary-text-color);
				}
				* {
					color: var(--foreground-title-color);
				}
			}
		}

		&.lambda-radio-content-card-success {
			h1 {
				color: var(--foreground-secondary-color);
			}
			h2 {
				color: var(--foreground-secondary-color);
			}
			* {
				color: var(--foreground-secondary-color);
			}
			&.lambda-radio-content-card-checked {
				h1 {
					color: var(--success-text-color);
				}
				h2 {
					color: var(--secondary-text-color);
				}
				* {
					color: var(--foreground-title-color);
				}
			}
		}

		&.lambda-radio-content-card-danger {
			h1 {
				color: var(--foreground-secondary-color);
			}
			h2 {
				color: var(--foreground-secondary-color);
			}
			* {
				color: var(--foreground-secondary-color);
			}
			&.lambda-radio-content-card-checked {
				h1 {
					color: var(--danger-text-color);
				}
				h2 {
					color: var(--secondary-text-color);
				}
				* {
					color: var(--foreground-title-color);
				}
			}
		}

		&.lambda-radio-content-card-warning {
			h1 {
				color: var(--foreground-secondary-color);
			}
			h2 {
				color: var(--foreground-secondary-color);
			}
			* {
				color: var(--foreground-secondary-color);
			}
			&.lambda-radio-content-card-checked {
				h1 {
					color: var(--warning-text-color);
				}
				h2 {
					color: var(--secondary-text-color);
				}
				* {
					color: var(--foreground-title-color);
				}
			}
		}

		&.lambda-radio-content-card-info {
			h1 {
				color: var(--foreground-secondary-color);
			}
			h2 {
				color: var(--foreground-secondary-color);
			}
			* {
				color: var(--foreground-secondary-color);
			}
			&.lambda-radio-content-card-checked {
				h1 {
					color: var(--info-text-color);
				}
				h2 {
					color: var(--secondary-text-color);
				}
				* {
					color: var(--foreground-title-color);
				}
			}
		}
	}

	&.lambda-radio-content-card-flat {
		&.lambda-radio-content-card-primary {
			h1 {
				color: var(--foreground-secondary-color);
			}
			h2 {
				color: var(--foreground-secondary-color);
			}
			* {
				color: var(--foreground-secondary-color);
			}
			&.lambda-radio-content-card-checked {
				h1 {
					color: var(--primary-text-color);
				}
				h2 {
					color: var(--foreground-title-color);
				}
				* {
					color: var(--foreground-title-color);
				}
			}
		}

		&.lambda-radio-content-card-secondary {
			h1 {
				color: var(--foreground-secondary-color);
			}
			h2 {
				color: var(--foreground-secondary-color);
			}
			* {
				color: var(--foreground-secondary-color);
			}
			&.lambda-radio-content-card-checked {
				h1 {
					color: var(--secondary-text-color);
				}
				h2 {
					color: var(--foreground-title-color);
				}
				* {
					color: var(--foreground-color);
				}
			}
		}

		&.lambda-radio-content-card-success {
			h1 {
				color: var(--foreground-secondary-color);
			}
			h2 {
				color: var(--foreground-secondary-color);
			}
			* {
				color: var(--foreground-secondary-color);
			}
			&.lambda-radio-content-card-checked {
				h1 {
					color: var(--success-text-color);
				}
				h2 {
					color: var(--foreground-title-color);
				}
				* {
					color: var(--foreground-color);
				}
			}
		}

		&.lambda-radio-content-card-danger {
			h1 {
				color: var(--foreground-secondary-color);
			}
			h2 {
				color: var(--foreground-secondary-color);
			}
			* {
				color: var(--foreground-secondary-color);
			}
			&.lambda-radio-content-card-checked {
				h1 {
					color: var(--danger-text-color);
				}
				h2 {
					color: var(--foreground-title-color);
				}
				* {
					color: var(--foreground-title-color);
				}
			}
		}

		&.lambda-radio-content-card-warning {
			h1 {
				color: var(--foreground-secondary-color);
			}
			h2 {
				color: var(--foreground-secondary-color);
			}
			* {
				color: var(--foreground-secondary-color);
			}
			&.lambda-radio-content-card-checked {
				h1 {
					color: var(--warning-text-color);
				}
				h2 {
					color: var(--foreground-title-color);
				}
				* {
					color: var(--foreground-title-color);
				}
			}
		}

		&.lambda-radio-content-card-info {
			h1 {
				color: var(--foreground-secondary-color);
			}
			h2 {
				color: var(--foreground-secondary-color);
			}
			* {
				color: var(--foreground-secondary-color);
			}
			&.lambda-radio-content-card-checked {
				h1 {
					color: var(--info-text-color);
				}
				h2 {
					color: var(--foreground-title-color);
				}
				* {
					color: var(--foreground-color);
				}
			}
		}
	}
}

.lambda-radio-wrapper-disabled {
	color: var(--surface-f);
	cursor: not-allowed;
	filter: brightness(115%) contrast(60%);
}

.lambda-radio-wrapper-left {
	flex-direction: row-reverse;
}

.lambda-radio-wrapper-top {
	flex-direction: column-reverse;
}

.lambda-radio-wrapper-bottom {
	flex-direction: column;
}

.lambda-radio {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	opacity: 0;
}

.lambda-radio-disabled {
	cursor: not-allowed;
}

.lambda-radio-view {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	transition: all 0.3s ease-out;
	border-radius: var(--border-radius-pill);

	&.lambda-radio-view-tiny {
		&.lambda-radio-view-radio,
		&.lambda-radio-view-card {
			width: var(--height-checkbox-xs);
			height: var(--height-checkbox-xs);
		}

		&.lambda-radio-view-button {
			min-width: var(--height-button-xs);
			min-height: var(--height-button-xs);
		}
	}

	&.lambda-radio-view-small {
		&.lambda-radio-view-radio,
		&.lambda-radio-view-card {
			width: var(--height-checkbox-sm);
			height: var(--height-checkbox-sm);
		}

		&.lambda-radio-view-button {
			min-width: var(--height-button-sm);
			min-height: var(--height-button-sm);
		}
	}

	&.lambda-radio-view-medium {
		&.lambda-radio-view-radio,
		&.lambda-radio-view-card {
			width: var(--height-checkbox-md);
			height: var(--height-checkbox-md);
		}

		&.lambda-radio-view-button {
			min-width: var(--height-button-md);
			min-height: var(--height-button-md);
		}
	}

	&.lambda-radio-view-large {
		&.lambda-radio-view-radio,
		&.lambda-radio-view-card {
			width: var(--height-checkbox-lg);
			height: var(--height-checkbox-lg);
		}

		&.lambda-radio-view-button {
			min-width: var(--height-button-lg);
			min-height: var(--height-button-lg);
		}
	}
}

.lambda-radio-view-radio {
	border: 1px solid var(--surface-d);

	&.lambda-radio-view-solid {
		background-color: var(--surface-a);
		border-color: var(--surface-f);
	}

	&.lambda-radio-view-outline {
		background-color: transparent;
		&:is(.lambda-radio-view-primary) {
			border-color: var(--primary-color);
		}

		&:is(.lambda-radio-view-secondary) {
			border-color: var(--secondary-color);
		}

		&:is(.lambda-radio-view-success) {
			border-color: var(--success-color);
		}

		&:is(.lambda-radio-view-danger) {
			border-color: var(--danger-color);
		}

		&:is(.lambda-radio-view-warning) {
			border-color: var(--warning-color);
		}

		&:is(.lambda-radio-view-info) {
			border-color: var(--info-color);
		}
	}

	&.lambda-radio-view-flat {
		border-color: transparent;
		&:is(.lambda-radio-view-primary) {
			background-color: var(--primary-outline-color);
		}

		&:is(.lambda-radio-view-secondary) {
			background-color: var(--secondary-outline-color);
		}

		&:is(.lambda-radio-view-success) {
			background-color: var(--success-outline-color);
		}

		&:is(.lambda-radio-view-danger) {
			background-color: var(--danger-outline-color);
		}

		&:is(.lambda-radio-view-warning) {
			background-color: var(--warning-outline-color);
		}

		&:is(.lambda-radio-view-info) {
			background-color: var(--info-outline-color);
		}
	}
}

.lambda-radio-view-card {
	border: 1px solid var(--surface-d);

	&.lambda-radio-view-solid {
		background-color: var(--surface-a);
		border-color: var(--surface-c);

		&:is(.lambda-radio-view-checked) {
			background-color: var(--surface-a);
			border-color: var(--surface-f);
		}
	}

	&.lambda-radio-view-outline {
		background-color: transparent;
		&:is(.lambda-radio-view-primary) {
			border-color: var(--primary-light-color);
			&:is(.lambda-radio-view-checked) {
				border-color: var(--primary-color);
			}
		}

		&:is(.lambda-radio-view-secondary) {
			border-color: var(--secondary-light-color);
			&:is(.lambda-radio-view-checked) {
				border-color: var(--secondary-color);
			}
		}

		&:is(.lambda-radio-view-success) {
			border-color: var(--success-light-color);
			&:is(.lambda-radio-view-checked) {
				border-color: var(--success-color);
			}
		}

		&:is(.lambda-radio-view-danger) {
			border-color: var(--danger-light-color);
			&:is(.lambda-radio-view-checked) {
				border-color: var(--danger-color);
			}
		}

		&:is(.lambda-radio-view-warning) {
			border-color: var(--warning-light-color);
			&:is(.lambda-radio-view-checked) {
				border-color: var(--warning-color);
			}
		}

		&:is(.lambda-radio-view-info) {
			border-color: var(--info-light-color);
			&:is(.lambda-radio-view-checked) {
				border-color: var(--info-color);
			}
		}
	}

	&.lambda-radio-view-flat {
		border-color: transparent;
		&:is(.lambda-radio-view-primary) {
			background-color: var(--primary-outline-color);
		}

		&:is(.lambda-radio-view-secondary) {
			background-color: var(--secondary-outline-color);
		}

		&:is(.lambda-radio-view-success) {
			background-color: var(--success-outline-color);
		}

		&:is(.lambda-radio-view-danger) {
			background-color: var(--danger-light-color);

			&:is(.lambda-radio-view-checked) {
				background-color: var(--danger-outline-color);
			}
		}

		&:is(.lambda-radio-view-warning) {
			background-color: var(--warning-light-color);
		}

		&:is(.lambda-radio-view-info) {
			background-color: var(--info-outline-color);
		}
	}
}

.lambda-radio-label {
	font-weight: var(--font-weight-md);
	width: max-content;

	&.lambda-radio-label-disabled {
		color: var(--surface-e);
	}

	&.lambda-radio-label-tiny {
		font-size: var(--font-size-sm);

		&.lambda-radio-label-button {
			padding: 0 var(--padding-md);
		}
	}

	&.lambda-radio-label-small {
		font-size: var(--font-size-sm);

		&.lambda-radio-label-button {
			padding: 0 var(--padding-lg);
		}
	}

	&.lambda-radio-label-medium {
		font-size: var(--font-size-md);

		&.lambda-radio-label-button {
			padding: 0 var(--padding-lg);
		}
	}

	&.lambda-radio-label-large {
		font-size: var(--font-size-lg);

		&.lambda-radio-label-button {
			padding: 0 var(--padding-lg);
		}
	}
}

.lambda-radio-label-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: transparent;
	z-index: 1;
}

.lambda-radio-view-button {
	border-color: transparent;
	border-radius: 0;
	position: absolute;
	min-width: calc(var(--height-checkbox-md) * 3);
}

.lambda-radio-icon {
	display: none;
	stroke-width: 3px;
	pointer-events: none;
	border-radius: var(--border-radius-pill);
	animation: animateIcon 0.3s ease-out both;

	&.lambda-radio-icon-checked.lambda-radio-icon-radio,
	&.lambda-radio-icon-checked.lambda-radio-icon-card {
		display: block;

		&.lambda-radio-icon-primary {
			background-color: var(--primary-color);
		}

		&.lambda-radio-icon-secondary {
			background-color: var(--secondary-color);
		}

		&.lambda-radio-icon-success {
			background-color: var(--success-color);
		}

		&.lambda-radio-icon-danger {
			background-color: var(--danger-color);
		}

		&.lambda-radio-icon-warning {
			background-color: var(--warning-color);
		}

		&.lambda-radio-icon-info {
			background-color: var(--info-color);
		}
	}

	&.lambda-radio-icon-tiny {
		width: calc(var(--height-checkbox-xs) - 10px);
		height: calc(var(--height-checkbox-xs) - 10px);
	}

	&.lambda-radio-icon-small {
		width: calc(var(--height-checkbox-sm) - 12px);
		height: calc(var(--height-checkbox-sm) - 12px);
	}

	&.lambda-radio-icon-medium {
		width: calc(var(--height-checkbox-md) - 14px);
		height: calc(var(--height-checkbox-md) - 14px);
	}

	&.lambda-radio-icon-large {
		width: calc(var(--height-checkbox-lg) - 16px);
		height: calc(var(--height-checkbox-lg) - 16px);
	}
}

.lambda-radio-icon-disabled {
	color: var(--surface-f);
}

@keyframes animateIcon {
	0% {
		transform: scale(0);
	}

	50% {
		transform: scale(1.3);
	}

	0% {
		transform: scale(0.5);
	}
}

/* RadioGroup */
.lambda-radio-group {
	&.lambda-radio-group-radio {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&.lambda-radio-group-vertical {
			flex-direction: column;
			gap: var(--gap-md);
		}

		&.lambda-radio-group-horizontal {
			flex-direction: row;
			gap: var(--gap-md);
		}
	}

	&.lambda-radio-group-button {
		box-shadow: var(--box-shadow);
		display: flex;

		&.lambda-radio-group-vertical {
			flex-direction: column;
		}

		&.lambda-radio-group-horizontal {
			flex-direction: row;
			align-items: stretch;
			flex-wrap: wrap;
		}
	}

	&.lambda-radio-group-card {
		display: flex;
		gap: var(--gap-md);

		&.lambda-radio-group-vertical {
			flex-direction: column;
		}

		&.lambda-radio-group-horizontal {
			flex-direction: row;
			align-items: stretch;
			flex-wrap: wrap;
		}
	}
}

.lambda-radio-group-radius-none {
	border-radius: none;
}

.lambda-radio-group-radius-small {
	border-radius: var(--border-radius-sm);
}

.lambda-radio-group-radius-medium {
	border-radius: var(--border-radius-md);
}

.lambda-radio-group-radius-pill {
	&:is(.lambda-radio-group-horizontal) {
		border-radius: var(--border-radius-pill);
	}
	&:is(.lambda-radio-group-vertical) {
		border-radius: var(--border-radius-lg);
	}
}

.lambda-radio-group-large {
	gap: 1em;
}

.lambda-radio-group-button {
	gap: 0;
}
