 .lambda-input-group--variant-outline,
 .lambda-input-group--variant-flat,
 .lambda-input-group--variant-underline {
     background-color: var(--surface-a);
     border: 1px solid var(--surface-d);

     &:hover:not(.lambda-input-group--error-true) {
         outline: 3px solid var(--primary-outline-color);
     }

     &:focus-within:not(.lambda-input-group--error-true) {
         outline: 3px solid var(--primary-outline-color);
     }
 }



 .lambda-input-group--size-small {
     padding: var(--padding-none) var(--padding-none);
     font-size: var(--font-size-xs);
     height: var(--height-input-sm);
 }

 .lambda-input-group--size-medium {
     padding: var(--padding-xs) var(--padding-none);
     font-size: var(--font-size-sm);
     height: var(--height-input-md);
 }

 .lambda-input-group--size-large {
     padding: var(--padding-sm) var(--padding-none);
     font-size: var(--font-size-md);
     height: var(--height-input-lg);
 }

 .lambda-input-group--radius-none {
     border-radius: var(--border-radius-none);
 }

 .lambda-input-group--radius-small {
     border-radius: var(--border-radius-sm);
 }

 .lambda-input-group--radius-medium {
     border-radius: var(--border-radius-md);

     &.lambda-input-group--variant-underline {
         border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
     }
 }

 .lambda-input-group--radius-large {
     border-radius: var(--border-radius-lg);

     &.lambda-input-group--variant-underline {
         border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
     }
 }

 .lambda-input-group--radius-pill {
     border-radius: var(--border-radius-pill);

     &.lambda-input-group--size-small {
         padding: var(--padding-xs) var(--padding-md);

         &.lambda-input-group--elements-first {
             padding: var(--padding-xs) var(--padding-none);
         }
     }

     &.lambda-input-group--size-medium {
         padding: var(--padding-xs) var(--padding-lg);

         &.lambda-input-group--elements-first,
         &.lambda-input-group--elements-last {
             padding: var(--padding-xs) var(--padding-none);
         }
     }


     &.lambda-input-group--variant-underline {
         border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
     }
 }

 .lambda-input-group--error-true {
     border-color: var(--danger-color);
     border-style: dashed;
     background-color: var(--danger-light-color);


 }

 .lambda-input-group {
     display: inline-flex;
     align-items: center;
     position: relative;
     outline: none;
     font-family: var(--font-family);
     margin: var(--padding-lg) 0;
     background-color: var(--surface-b);


     .lambda-input-group__start,
     .lambda-input-group__end {
         display: flex;
         align-items: center;
         color: var(--surface-e);
     }

     .lambda-input-group__start {
         /*padding: 0 var(--padding-lg) 0 var(--padding-lg);*/
     }

     .lambda-input-group__end {
         /*padding: 0 var(--padding-lg) 0 var(--padding-lg);*/
     }

     &.lambda-input-group--size-small {

         .lambda-input-group__start,
         .lambda-input-group__end {

             &>svg {
                 width: var(--icon-size-sm);
                 height: var(--icon-size-sm);
                 margin: 0 var(--padding-lg);
             }

             &>span {
                 font-size: var(--font-size-xs);
                 font-family: inherit;
                 margin: 0 var(--padding-lg);
             }
         }
     }

     &.lambda-input-group--size-medium {

         .lambda-input-group__start,
         .lambda-input-group__end {

             &>svg {
                 width: var(--icon-size-sm);
                 height: var(--icon-size-sm);
                 margin: 0 var(--padding-lg);
             }

             &>span {
                 font-size: var(--font-size-sm);
                 font-family: inherit;
                 margin: 0 var(--padding-lg);
             }
         }
     }

     &.lambda-input-group--size-large {

         .lambda-input-group__start,
         .lambda-input-group__end {

             &>svg {
                 width: var(--icon-size-lg);
                 height: var(--icon-size-lg);
                 margin: 0 var(--padding-lg);
             }

             &>span {
                 font-size: var(--font-size-lg);
                 font-family: inherit;
                 margin: 0 var(--padding-lg);
             }
         }
     }



     .lambda-input-group__input {
         flex-grow: 1;
         /* Permite que el input se expanda */
     }
 }