input::-ms-reveal,
input::-ms-clear {
	display: none;
}

input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

.lambda-input-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-weight: var(--font-weight-medium);
	transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
	pointer-events: all;
	overflow: hidden;
	z-index: 0;
	min-width: max-content;
	box-sizing: border-box;
	outline: none;
	outline-offset: 2px;
	font-family: var(--font-family);

	&.lambda-input-wrapper-password {
		padding-right: 0;
	}
}

.lambda-input-suffix,
.lambda-input-prefix {
	display: flex;
	color: var(--surface-h);
}

.lambda-input {
	position: relative;
	display: flex;
	flex-direction: column;
	font-family: var(--font-family);
	width: 100%;

	&.lambda-input-radius-none {
		border-radius: var(--border-radius-none);
	}

	&.lambda-input-radius-tiny {
		border-radius: var(--border-radius-xs);
	}

	&.lambda-input-radius-small {
		border-radius: var(--border-radius-sm);
	}

	&.lambda-input-radius-medium {
		border-radius: var(--border-radius-md);
	}

	&.lambda-input-radius-large {
		border-radius: var(--border-radius-lg);
	}

	&.lambda-input-radius-full {
		border-radius: var(--border-radius-full);
	}

	&.lambda-input-invalid {
		margin: 0 0 0.25em 0;
	}

	&:is(.lambda-input-has-label):not(.lambda-input-has-helper):not(.lambda-input-join) {
		margin: var(--padding-lg) 0 0 0;
	}

	&:is(.lambda-input-has-helper):not(.lambda-input-has-label):not(.lambda-input-join) {
		margin: 0 0 var(--padding-lg) 0;
	}

	&:is(.lambda-input-has-label):is(.lambda-input-has-helper):not(.lambda-input-join) {
		margin: var(--padding-lg) 0 var(--padding-lg) 0;
	}
}

.lambda-input-field {
	background-color: transparent;
	color: var(--foreground-color);
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	padding: 0;
	font-family: var(--font-family);

	&::placeholder {
		color: var(--placeholder-color);
		font-family: var(--font-family);
		font-weight: var(--font-weight-regular);
	}

	&.lambda-input-field-tiny {
		font-size: var(--font-size-sm);

		&::placeholder {
			font-size: var(--font-size-xs);
		}
	}

	&.lambda-input-field-small {
		font-size: var(--font-size-sm);

		&::placeholder {
			font-size: var(--font-size-sm);
		}
	}

	&.lambda-input-field-medium {
		font-size: var(--font-size-md);

		&::placeholder {
			font-size: var(--font-size-sm);
		}
	}

	&.lambda-input-field-large {
		font-size: var(--font-size-lg);

		&::placeholder {
			font-size: var(--font-size-lg);
		}
	}

	&.lambda-input-field-showPassword {
		font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif, Geneva, Tahoma,
			sans-serif, Haettenschweiler, "Arial Narrow Bold", sans-serif, Tahoma, Geneva, Verdana,
			sans-serif, Courier, monospace;
		font-weight: 800;
		color: var(--primary-base-color);
	}

	&:is(.lambda-input-field-showPassword) {
		letter-spacing: 3px;
	}
}

.lambda-input-input-wrapper {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;

	&.lambda-input-input-wrapper-password {
		flex-direction: row;
		padding-right: 0;
	}

	.lambda-input-icon {
		pointer-events: none;
	}
}

.lambda-input-invalid-icon {
	position: absolute;
	right: 0.5em;
	color: var(--danger-base-color);
	width: 1.25em;
	height: 1.25em;

	&.lambda-input-invalid-icon-password {
		right: 2em;
	}
}

.lambda-input-toggle-password {
	grid-column: 2 / 3;
	border: none;
	padding: 0;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	color: var(--primary-subtle-color);
	background-color: transparent;
	justify-self: center;
	align-self: center;

	&:hover {
		color: var(--primary-base-color);
	}

	&.lambda-input-toggle-password-outline {
		background-color: transparent;
	}

	&.lambda-input-toggle-password-underline {
		background-color: transparent;
	}

	&.lambda-input-toggle-password-soft {
		background-color: transparent;
	}

	&.lambda-input-toggle-password-tiny {
		width: var(--height-input-sm);
		height: var(--icon-size-sm);

		.lambda-input-icon {
			width: var(--icon-size-sm);
			height: var(--icon-size-sm);
		}
	}

	&.lambda-input-toggle-password-small {
		width: var(--height-input-sm);
		height: var(--icon-size-sm);

		.lambda-input-icon {
			width: var(--icon-size-sm);
			height: var(--icon-size-sm);
		}
	}

	&.lambda-input-toggle-password-medium {
		width: var(--height-input-md);
		height: var(--icon-size-md);

		.lambda-input-icon {
			width: var(--icon-size-md);
			height: var(--icon-size-md);
		}
	}

	&.lambda-input-toggle-password-large {
		width: var(--height-input-lg);
		height: var(--icon-size-lg);

		.lambda-input-icon {
			width: var(--icon-size-lg);
			height: var(--icon-size-lg);
		}
	}
}

.lambda-input-clear-search {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: end;
	height: 24px;
	width: 40px;
	background-color: transparent;
	border: none;
	color: var(--danger-base-color);
}

.lambda-input-clear-search-icon {
	width: 16px;
	height: 16px;
}

.lambda-input-wrapper-outline {
	background-color: var(--background-color);
	border: var(--border-width-xs) solid var(--border-color);

	&:focus-within:not(.lambda-input-wrapper-invalid):not(.lambda-input-wrapper-read-only) {
		outline: 3px solid var(--primary-shadow-color);
		border-color: var(--primary-base-color);
		z-index: 1;
	}

	&.lambda-input-wrapper-invalid {
		outline: 3px solid var(--danger-shadow-color);
		border-color: var(--danger-base-color);
		border-style: dashed;
	}
}

.lambda-input-wrapper-soft {
	background-color: var(--surface-a);

	&:focus-within:not(.lambda-input-wrapper-invalid):not(.lambda-input-wrapper-read-only) {
		outline: 3px solid var(--primary-shadow-color);
	}

	&.lambda-input-wrapper-invalid {
		background-color: var(--danger-opacity-color);
		outline: 3px solid var(--danger-shadow-color);
	}
}

.lambda-input-wrapper-underline {
	background-color: var(--surface-a);
	border: var(--border-width-xs) solid transparent;
	border-bottom: var(--border-width-sm) solid var(--border-color);

	&:focus-within:not(.lambda-input-wrapper-invalid):not(.lambda-input-wrapper-read-only) {
		border-bottom: var(--border-width-sm) solid var(--primary-base-color);
	}

	&.lambda-input-wrapper-invalid {
		border-bottom: var(--border-width-sm) var(--danger-base-color);
		border-style: dashed;
		background-color: var(--danger-opacity-color);
	}
}

.lambda-input-wrapper-tiny {
	padding: var(--padding-none) var(--padding-sm);
	height: var(--height-input-xs);
	gap: var(--gap-sm);

	.lambda-input-suffix,
	.lambda-input-prefix {
		font-size: var(--font-size-xs);
		& > svg {
			width: var(--icon-size-sm);
			height: var(--icon-size-sm);
		}
	}
}

.lambda-input-wrapper-small {
	padding: var(--padding-none) var(--padding-sm);
	height: var(--height-input-sm);
	gap: var(--gap-sm);

	.lambda-input-suffix,
	.lambda-input-prefix {
		font-size: var(--font-size-xs);
		& > svg {
			width: var(--icon-size-sm);
			height: var(--icon-size-sm);
		}
	}
}

.lambda-input-wrapper-medium {
	padding: var(--padding-none) var(--padding-md);
	height: var(--height-input-md);
	gap: var(--gap-md);

	.lambda-input-suffix,
	.lambda-input-prefix {
		font-size: var(--font-size-sm);
		& > svg {
			width: var(--icon-size-md);
			height: var(--icon-size-md);
		}
	}
}

.lambda-input-wrapper-large {
	padding: var(--padding-none) var(--padding-lg);
	height: var(--height-input-lg);
	gap: var(--gap-lg);

	.lambda-input-suffix,
	.lambda-input-prefix {
		font-size: var(--font-size-md);
		& > svg {
			width: var(--icon-size-lg);
			height: var(--icon-size-lg);
		}
	}
}

.lambda-input-wrapper-radius-none {
	border-radius: var(--border-radius-none);
}

.lambda-input-wrapper-radius-tiny {
	border-radius: var(--border-radius-xs);
}

.lambda-input-wrapper-radius-small {
	border-radius: var(--border-radius-sm);
}

.lambda-input-wrapper-radius-medium {
	border-radius: var(--border-radius-md);

	&.lambda-input-wrapper-underline {
		border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
	}
}

.lambda-input-wrapper-radius-large {
	border-radius: var(--border-radius-lg);

	&.lambda-input-wrapper-underline {
		border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
	}
}

.lambda-input-wrapper-radius-full {
	border-radius: var(--border-radius-full);

	&.lambda-input-wrapper-small {
		padding: var(--padding-none) var(--padding-md);
	}

	&.lambda-input-wrapper-medium {
		padding: var(--padding-none) var(--padding-lg);
	}

	&.lambda-input-wrapper-underline {
		border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
	}
}

.lambda-input-wrapper-first {
	border-top-right-radius: var(--border-radius-none);
	border-bottom-right-radius: var(--border-radius-none);
}

.lambda-input-wrapper-middle {
	border-radius: var(--border-radius-none);
}

.lambda-input-wrapper-last {
	border-top-left-radius: var(--border-radius-none);
	border-bottom-left-radius: var(--border-radius-none);
}

.lambda-input-label {
	position: absolute;
	top: -1.4em;
	font-family: var(--font-family);
	color: var(--foreground-label-color);
	padding: 0 0 0 4px;
	font-weight: var(--font-weight-semibold);
	transition: transform 0.2s ease-in-out, font-size 0.2s ease-in-out;
	z-index: 2;

	&.lambda-input-label-tiny {
		font-size: var(--font-size-sm);
	}

	&.lambda-input-label-radius-tiny {
		padding: 0 0 0 var(--padding-sm);
	}

	&.lambda-input-label-small {
		font-size: var(--font-size-sm);
	}

	&.lambda-input-label-medium {
		font-size: var(--font-size-sm);
	}

	&.lambda-input-label-large {
		font-size: var(--font-size-md);
	}

	&.lambda-input-label-radius-full {
		padding: 0 0 0 var(--padding-lg);
	}

	&.lambda-input-label-required {
		&::after {
			content: " *";
			color: var(--danger-base-color);
		}
	}
}

.lambda-input-label-floating {
	transform: translateY(-3%) translateX(-0%) scale(1);
	pointer-events: none;
}

.lambda-input-label-default {
	font-weight: var(--font-weight-regular);
	color: var(--placeholder-color);
	pointer-events: none;

	&:is(.lambda-input-label-tiny) {
		font-size: var(--font-size-xs);
		transform: translateY(20px) translateX(5px) scale(1);

		&:is(.lambda-input-label-elements-first) {
			transform: translateY(20px) translateX(5px) scale(1);
		}
	}

	&:is(.lambda-input-label-small) {
		font-size: var(--font-size-sm);
		transform: translateY(24px) translateX(5px) scale(1);
	}

	&:is(.lambda-input-label-medium) {
		font-size: var(--font-size-sm);
		transform: translateY(27px) translateX(6px) scale(1);

		&:is(.lambda-input-label-elements-first) {
			transform: translateY(27px) translateX(30px) scale(1);

			&.lambda-input-label-radius-pill {
				transform: translateY(30px) translateX(0px) scale(1);
			}
		}
	}

	&.lambda-input-label-large {
		font-size: var(--font-size-md);
		transform: translateY(32px) translateX(10px) scale(1);
	}
}

.lambda-input-wrapper-group {
	background-color: var(--surface-a);
	border: none;
	border: var(--border-width-xs) solid var(--border-color);
	outline: none;

	&.lambda-input-wrapper-outline,
	&.lambda-input-wrapper-underline {
		border-radius: var(--border-radius-none);
		&:focus-within:not(.lambda-input-wrapper-invalid):not(:read-only) {
			border-color: var(--primary-hover-color);
		}
	}
	&.lambda-input-wrapper-soft {
		border: none;
		border-bottom: var(--border-width-xs) solid var(--surface-b);
		border-top: var(--border-width-xs) solid var(--surface-b);
	}
}

.lambda-input-disabled {
	opacity: 0.5;
	* {
		cursor: not-allowed;
	}
}
