.lambda-rating {
	position: relative;
}

.lambda-rating-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.lambda-rating-text {
	padding: 0 0 0 var(--spacing-xs);
}

.lambda-rating-text-right {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-xs);
}

.lambda-rating-text-top {
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: center;
}

.lambda-rating-text-bottom {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.lambda-rating-small {
	.lambda-rating-text {
		display: flex;
		align-items: center;
		background-color: transparent;
		color: var(--foreground-secondary-color);
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-semibold);
	}
}

.lambda-rating-medium {
	.lambda-rating-text {
		display: flex;
		align-items: center;
		background-color: transparent;
		color: var(--foreground-secondary-color);
		font-size: var(--font-size-md);
		font-weight: var(--font-weight-semibold);
	}
}

.lambda-rating-large {
	.lambda-rating-text {
		display: flex;
		align-items: center;
		background-color: transparent;
		color: var(--foreground-secondary-color);
		font-size: var(--font-size-lg);
		font-weight: var(--font-weight-semibold);
	}
}

.lambda-rating-item {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	display: flex;
	align-items: center;
	padding: var(--spacing-none);
	justify-content: center;
	color: var(--surface-e);

	&:focus-within {
		outline: none;
	}

	&:is(.lambda-rating-item-small) {
		width: var(--icon-size-md);
		height: var(--icon-size-md);
		font-size: var(--font-size-sm);
		line-height: var(--font-size-sm);
		font-weight: var(--font-weight-extrabold);
	}

	&:is(.lambda-rating-item-medium) {
		height: var(--icon-size-3xl);
		font-size: var(--font-size-xl);
		line-height: var(--font-size-xl);
		font-weight: var(--font-weight-extrabold);
	}

	&:is(.lambda-rating-item-large) {
		height: var(--height-button-lg);
		font-size: var(--font-size-4xl);
		line-height: var(--font-size-4xl);
		font-weight: var(--font-weight-extrabold);

		&>svg {
			width: var(--icon-size-4xl);
			height: var(--icon-size-4xl);
		}
	}

	&:hover {
		cursor: pointer;
	}
}

.lambda-rating-item-custom {
	&>img {
		opacity: 0.2;
		background-color: var(--surface-c);
	}

	&:is(.lambda-rating-item-active) {
		&>img {
			opacity: 1;
		}

		&:is(.lambda-rating-item-default) {
			&>svg {
				fill: var(--rating-fill-color);
				stroke: var(--rating-stroke-color);
			}
		}

		&:is(.lambda-rating-item-primary) {
			&>svg {
				fill: var(--primary-subtle-color);
				stroke: var(--primary-text-color);
			}
		}

		&:is(.lambda-rating-item-secondary) {
			&>svg {
				fill: var(--secondary-subtle-color);
				stroke: var(--secondary-text-color);
			}
		}

		&:is(.lambda-rating-item-danger) {
			&>svg {
				fill: var(--danger-subtle-color);
				stroke: var(--danger-text-color);
			}
		}

		&:is(.lambda-rating-item-success) {
			&>svg {
				fill: var(--success-subtle-color);
				stroke: var(--success-text-color);
			}
		}

		&:is(.lambda-rating-item-warning) {
			&>svg {
				fill: var(--warning-subtle-color);
				stroke: var(--warning-text-color);
			}
		}

		&:is(.lambda-rating-item-info) {
			&>svg {
				fill: var(--info-subtle-color);
				stroke: var(--info-text-color);
			}
		}
	}

	&:is(.lambda-rating-item-small) {
		&>img {
			width: var(--icon-size-md);
			height: var(--icon-size-md);
		}
	}

	&:is(.lambda-rating-item-medium) {
		&>img {
			width: var(--icon-size-xl);
			height: var(--icon-size-xl);
		}
	}

	&:is(.lambda-rating-item-large) {
		&>img {
			width: var(--icon-size-3xl);
			height: var(--icon-size-3xl);
		}
	}

	&:hover {
		opacity: 1;
		transform: scale(1.1);
	}
}

.lambda-rating-item-outline {
	&>svg {
		stroke: var(--surface-e);
		fill: transparent;
		stroke-width: 1.5;
	}

	&:is(.lambda-rating-item-active) {
		&:is(.lambda-rating-item-default) {
			&>svg {
				stroke: var(--rating-solid-color);
				fill: transparent;
			}
		}

		&:is(.lambda-rating-item-primary) {
			&>svg {
				stroke: var(--primary-base-color);
				fill: transparent;
			}
		}

		&:is(.lambda-rating-item-secondary) {
			&>svg {
				stroke: var(--secondary-base-color);
				fill: transparent;
			}
		}

		&:is(.lambda-rating-item-danger) {
			&>svg {
				stroke: var(--danger-base-color);
				fill: transparent;
			}
		}

		&:is(.lambda-rating-item-success) {
			&>svg {
				stroke: var(--success-base-color);
				fill: transparent;
			}
		}

		&:is(.lambda-rating-item-warning) {
			&>svg {
				stroke: var(--warning-base-color);
				fill: transparent;
			}
		}

		&:is(.lambda-rating-item-info) {
			&>svg {
				stroke: var(--info-base-color);
				fill: transparent;
			}
		}
	}
}

.lambda-rating-item-solid {
	&>svg {
		stroke: var(--surface-c);
		fill: var(--surface-c);
		stroke-width: 1.5;
	}

	&:is(.lambda-rating-item-active) {
		&:is(.lambda-rating-item-default) {
			&>svg {
				stroke: var(--rating-solid-color);
				fill: var(--rating-solid-color);
			}
		}

		&:is(.lambda-rating-item-primary) {
			&>svg {
				stroke: var(--primary-base-color);
				fill: var(--primary-base-color);
			}
		}

		&:is(.lambda-rating-item-secondary) {
			&>svg {
				stroke: var(--secondary-base-color);
				fill: var(--secondary-base-color);
			}
		}

		&:is(.lambda-rating-item-danger) {
			&>svg {
				stroke: var(--danger-base-color);
				fill: var(--danger-base-color);
			}
		}

		&:is(.lambda-rating-item-success) {
			&>svg {
				stroke: var(--success-base-color);
				fill: var(--success-base-color);
			}
		}

		&:is(.lambda-rating-item-warning) {
			&>svg {
				stroke: var(--warning-base-color);
				fill: var(--warning-base-color);
			}
		}

		&:is(.lambda-rating-item-info) {
			&>svg {
				stroke: var(--info-base-color);
				fill: var(--info-base-color);
			}
		}
	}
}

.lambda-rating-item-bordered {
	&>svg {
		stroke: var(--surface-e);
		fill: var(--surface-c);
		stroke-width: 1.5;
	}

	&:is(.lambda-rating-item-active) {
		&:is(.lambda-rating-item-default) {
			&>svg {
				stroke: var(--rating-stroke-color);
				fill: var(--rating-fill-color);
			}
		}

		&:is(.lambda-rating-item-primary) {
			&>svg {
				stroke: var(--primary-base-color);
				fill: var(--primary-opacity-color);
			}
		}

		&:is(.lambda-rating-item-secondary) {
			&>svg {
				stroke: var(--secondary-base-color);
				fill: var(--secondary-opacity-color);
			}
		}

		&:is(.lambda-rating-item-danger) {
			&>svg {
				stroke: var(--danger-hover-color);
				fill: var(--danger-opacity-color);
			}
		}

		&:is(.lambda-rating-item-success) {
			&>svg {
				stroke: var(--success-hover-color);
				fill: var(--success-opacity-color);
			}
		}

		&:is(.lambda-rating-item-warning) {
			&>svg {
				stroke: var(--warning-hover-color);
				fill: var(--warning-opacity-color);
			}
		}

		&:is(.lambda-rating-item-info) {
			&>svg {
				stroke: var(--info-hover-color);
				fill: var(--info-opacity-color);
			}
		}
	}
}

.lambda-rating-item-string {
	/*background-color: var(--surface-c);*/
	filter: grayscale(1);

	&:is(.lambda-rating-item-active) {
		filter: grayscale(0);

		&:is(.lambda-rating-item-default) {
			color: var(--rating-solid-color);
		}

		&:is(.lambda-rating-item-primary) {
			color: var(--primary-base-color);
		}

		&:is(.lambda-rating-item-secondary) {
			color: var(--secondary-base-color);
		}

		&:is(.lambda-rating-item-danger) {
			color: var(--danger-base-color);
		}

		&:is(.lambda-rating-item-success) {
			color: var(--success-base-color);
		}

		&:is(.lambda-rating-item-warning) {
			color: var(--warning-base-color);
		}

		&:is(.lambda-rating-item-info) {
			color: var(--info-base-color);
		}
	}
}