.lambda-badge {
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(55%) translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--badge-background-color);
	color: var(--badge-text-color);
	font-family: var(--font-family);
	padding: var(--padding-3xs) var(--padding-sm);
	outline: 1px solid var(--foreground-invert-color);

	&.lambda-badge-tiny {
		padding: var(--padding-2xs) var(--padding-xs);
		min-width: var(--badge-size-xl);
		min-height: var(--badge-size-xs);
		font-size: var(--font-size-xs);
		font-weight: var(--font-weight-reg);

		&:not(.lambda-badge-has-text):not(.lambda-badge-has-count) {
			min-width: var(--badge-size-3xs);
			min-height: var(--badge-size-3xs);
			padding: var(--padding-none);
			transform: translateX(-15%) translateY(15%);
		}

		& > span {
			line-height: var(--font-size-xs);

			& > span > svg {
				width: var(--icon-size-4xs);
				height: var(--icon-size-4xs);
				stroke-width: var(--border-width-md);
			}
		}
	}

	&.lambda-badge-small {
		padding: var(--padding-3xs) calc(var(--padding-sm) + var(--padding-2xs));
		min-height: var(--badge-size-md);
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-md);

		&:not(.lambda-badge-has-text):not(.lambda-badge-has-count) {
			min-width: var(--badge-size-2xs);
			min-height: var(--badge-size-2xs);
			padding: var(--padding-none);
			transform: translateX(-20%) translateY(20%);
		}

		& > span {
			& > span > svg {
				width: var(--icon-size-4xs);
				height: var(--icon-size-4xs);
				stroke-width: var(--border-width-md);
			}
		}
	}

	&.lambda-badge-medium {
		padding: var(--padding-2xs) var(--padding-md);
		font-weight: var(--font-weight-md);
		font-size: var(--font-size-md);

		&:not(.lambda-badge-has-text):not(.lambda-badge-has-count) {
			min-width: var(--badge-size-2xs);
			min-height: var(--badge-size-2xs);
			padding: var(--padding-none);
			transform: translateX(-45%) translateY(70%);
		}

		& > span {
			line-height: var(--font-size-lg);

			& > span > svg {
				width: var(--icon-size-3xs);
				height: var(--icon-size-3xs);
				stroke-width: var(--border-width-md);
			}
		}
	}

	&.lambda-badge-large {
		padding: var(--padding-xs) var(--padding-md);
		font-size: var(--font-size-lg);
		font-weight: var(--font-weight-md);

		&:not(.lambda-badge-has-text):not(.lambda-badge-has-count) {
			min-width: var(--badge-size-xs);
			min-height: var(--badge-size-xs);
			padding: var(--padding-none);
			transform: translateX(-110%) translateY(60%);
		}

		& > span {
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: var(--font-size-lg);

			& > span > svg {
				width: var(--icon-size-2xs);
				height: var(--icon-size-2xs);
				stroke-width: var(--border-width-md);
			}
		}
	}

	& > span > span {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: var(--padding-4xs);
	}
}

.lambda-badge-radius-none {
	border-radius: var(--border-radius-none);
}

.lambda-badge-radius-tiny {
	border-radius: var(--border-radius-xs);
}

.lambda-badge-radius-small {
	border-radius: var(--border-radius-sm);
}

.lambda-badge-radius-medium {
	border-radius: var(--border-radius-md);
}

.lambda-badge-radius-large {
	border-radius: var(--border-radius-lg);
}

.lambda-badge-radius-full {
	border-radius: var(--border-radius-full);
}

.lambda-badge-color-default {
	background-color: var(--badge-background-color);
}

.lambda-badge-color-primary {
	background-color: var(--primary-color);
}

.lambda-badge-color-secondary {
	background-color: var(--secondary-color);
	color: var(--foreground-invert-color);
}

.lambda-badge-color-success {
	background-color: var(--success-color);
}

.lambda-badge-color-danger {
	background-color: var(--danger-color);
}

.lambda-badge-color-warning {
	background-color: var(--warning-color);
}

.lambda-badge-color-info {
	background-color: var(--info-color);
}
