.lambda-badge {
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(55%) translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--badge-background-color);
	color: var(--badge-text-color);
	font-family: var(--font-family);
	padding: var(--spacing-3xs) var(--spacing-sm);
	outline: 1px solid var(--foreground-invert-color);

	&.lambda-badge-tiny {
		padding: var(--spacing-2xs) var(--spacing-xs);
		min-width: var(--size-xl);
		min-height: var(--size-xs);
		font-size: var(--font-size-xs);
		font-weight: var(--font-weight-medium);

		&:not(.lambda-badge-has-text):not(.lambda-badge-has-count) {
			min-width: var(--size-3xs);
			min-height: var(--size-3xs);
			padding: var(--spacing-none);
		}

		&>span {
			line-height: var(--font-size-xs);

			&>span>svg {
				width: var(--size-3xs);
				height: var(--size-3xs);
				stroke-width: var(--border-width-md);
			}
		}
	}

	&.lambda-badge-small {
		padding: var(--spacing-3xs) calc(var(--spacing-sm) + var(--spacing-2xs));
		min-height: var(--size-md);
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-semibold);

		&:not(.lambda-badge-has-text):not(.lambda-badge-has-count) {
			min-width: var(--size-2xs);
			min-height: var(--size-2xs);
			padding: var(--spacing-none);
		}

		&>span {
			&>span>svg {
				width: var(--size-3xs);
				height: var(--size-3xs);
				stroke-width: var(--border-width-md);
			}
		}
	}

	&.lambda-badge-medium {
		padding: var(--spacing-2xs) var(--spacing-md);
		font-weight: var(--font-weight-semibold);
		font-size: var(--font-size-md);

		&:not(.lambda-badge-has-text):not(.lambda-badge-has-count) {
			min-width: var(--size-xs);
			min-height: var(--size-xs);
			padding: var(--spacing-none);
		}

		&>span {
			line-height: var(--font-size-lg);

			&>span>svg {
				width: var(--size-3xs);
				height: var(--size-3xs);
				stroke-width: var(--border-width-md);
			}
		}
	}

	&.lambda-badge-large {
		padding: var(--spacing-xs) var(--spacing-md);
		font-size: var(--font-size-lg);
		font-weight: var(--font-weight-semibold);

		&:not(.lambda-badge-has-text):not(.lambda-badge-has-count) {
			min-width: var(--size-sm);
			min-height: var(--size-sm);
			padding: var(--spacing-none);
		}

		&>span {
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: var(--font-size-lg);

			&>span>svg {
				width: var(--size-2xs);
				height: var(--size-2xs);
				stroke-width: var(--border-width-md);
			}
		}
	}

	&>span>span {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: var(--spacing-4xs);
	}
}

.lambda-badge-radius-none {
	border-radius: var(--radius-none);
}

.lambda-badge-radius-tiny {
	border-radius: var(--radius-xs);
}

.lambda-badge-radius-small {
	border-radius: var(--radius-sm);
}

.lambda-badge-radius-medium {
	border-radius: var(--radius-md);
}

.lambda-badge-radius-large {
	border-radius: var(--radius-lg);
}

.lambda-badge-radius-full {
	border-radius: var(--radius-full);
}

.lambda-badge-color-default {
	background-color: var(--badge-background-color);
}

.lambda-badge-color-primary {
	background-color: var(--primary-base-color);
}

.lambda-badge-color-secondary {
	background-color: var(--secondary-base-color);
	color: var(--foreground-invert-color);
}

.lambda-badge-color-success {
	background-color: var(--success-base-color);
}

.lambda-badge-color-danger {
	background-color: var(--danger-base-color);
}

.lambda-badge-color-warning {
	background-color: var(--warning-base-color);
}

.lambda-badge-color-info {
	background-color: var(--info-base-color);
}

.lambda-badge:not(.lambda-badge-has-text):not(.lambda-badge-has-count) {
	border-radius: var(--radius-full);
	top: 30%;
	right: 30%;
}