.lambda-btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-md);
	font-family: var(--font-family);
	font-weight: var(--font-weight-medium);
	letter-spacing: 0.01px;
	text-decoration: none;
	cursor: pointer;
	pointer-events: all;
	box-sizing: border-box;
	z-index: 0;
	min-height: 24px;
	min-width: max-content;
	text-shadow: 0 0 1px #00000045;
	transition: background-color 0.15s ease-in-out, color 0.3s ease-in-out, outline 0.3s ease-in-out;

	&.lambda-btn-icon-left {
		flex-direction: row;
	}

	&.lambda-btn-icon-right {
		flex-direction: row-reverse;
	}

	&>.lambda-btn-icon {
		&.lambda-btn-icon-only {
			justify-content: center;
			width: 100%;
		}
	}

	&.lambda-btn-width-block {
		width: 100%;
	}

	&.lambda-btn-width-normal {
		width: max-content;
	}

	&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
		transform: scale(0.985);
	}
}

.lambda-btn-label {
	display: block;
	font-family: inherit;
	text-align: start;
}

.lambda-btn-classic {
	color: var(--white-color);
	outline: 2px solid transparent;
	outline-offset: 2px;
	border-style: solid;
	border-width: var(--border-width);

	&.lambda-btn-neutral {
		color: var(--foreground-invert-color);
		background-color: var(--neutral-base-color);
		border-color: var(--border-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--neutral-hover-color);
		}
	}

	&.lambda-btn-primary {
		background-color: var(--primary-hover-color);
		border: var(--border-width) solid var(--primary-hover-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--primary-base-color);
		}
	}

	&.lambda-btn-secondary {
		background-color: var(--secondary-hover-color);
		border: var(--border-width) solid var(--secondary-hover-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--secondary-base-color);
		}
	}

	&.lambda-btn-success {
		background-color: var(--success-hover-color);
		border: var(--border-width) solid var(--success-hover-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--success-base-color);
		}
	}

	&.lambda-btn-danger {
		background-color: var(--danger-hover-color);
		border: var(--border-width) solid var(--danger-hover-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--danger-base-color);
		}
	}

	&.lambda-btn-warning {
		background-color: var(--warning-hover-color);
		border: var(--border-width) solid var(--warning-hover-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--warning-base-color);
		}
	}

	&.lambda-btn-info {
		background-color: var(--info-hover-color);
		border: var(--border-width) solid var(--info-hover-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--info-base-color);
		}
	}
}


.lambda-btn-themed {
	outline: 2px solid transparent;
	outline-offset: 2px;
	border-style: solid;
	border-width: var(--border-width);
	background-color: var(--surface-a);
	border-color: var(--border-color);

	&.lambda-btn-neutral {
		color: var(--foreground-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--surface-b);
		}
	}

	&.lambda-btn-primary {
		color: var(--primary-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--primary-background-color);
		}
	}

	&.lambda-btn-secondary {
		color: var(--secondary-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--secondary-background-color);
		}
	}

	&.lambda-btn-success {
		color: var(--success-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--success-background-color);
		}
	}

	&.lambda-btn-danger {
		color: var(--danger-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--danger-background-color);
		}
	}

	&.lambda-btn-warning {
		color: var(--warning-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--warning-background-color);
		}
	}

	&.lambda-btn-info {
		color: var(--info-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--info-background-color);
		}
	}


}

.lambda-btn-solid {
	position: relative;
	border: none;
	outline: var(--outline-width) solid transparent;
	outline-offset: 3px;

	&.lambda-btn-neutral {
		background-color: var(--neutral-base-color);
		border-color: var(--neutral-base-color);
		color: var(--foreground-invert-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--neutral-hover-color);
			outline-color: var(--neutral-shadow-color);
			border-color: var(--neutral-hover-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--neutral-shadow-color);
		}
	}

	&.lambda-btn-primary {
		background-color: var(--primary-hover-color);
		border-color: var(--primary-hover-color);
		color: var(--white-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--primary-base-color);
			outline-color: var(--primary-shadow-color);
			border-color: var(--primary-base-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--primary-shadow-color);
		}
	}

	&.lambda-btn-secondary {
		background-color: var(--secondary-hover-color);
		border-color: var(--secondary-hover-color);
		color: var(--white-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--secondary-base-color);
			outline-color: var(--secondary-shadow-color);
			border-color: var(--secondary-base-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--secondary-shadow-color);
		}
	}

	&.lambda-btn-success {
		background-color: var(--success-hover-color);
		border-color: var(--success-hover-color);
		color: var(--white-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--success-base-color);
			outline-color: var(--success-shadow-color);
			border-color: var(--success-base-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--success-shadow-color);
		}
	}

	&.lambda-btn-danger {
		background-color: var(--danger-hover-color);
		border-color: var(--danger-hover-color);
		color: var(--white-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--danger-base-color);
			outline-color: var(--danger-shadow-color);
			border-color: var(--danger-base-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--danger-shadow-color);
		}
	}

	&.lambda-btn-warning {
		background-color: var(--warning-hover-color);
		border-color: var(--warning-hover-color);
		color: var(--white-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--warning-base-color);
			outline-color: var(--warning-shadow-color);
			border-color: var(--warning-base-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--warning-shadow-color);
		}
	}

	&.lambda-btn-info {
		background-color: var(--info-hover-color);
		border-color: var(--info-hover-color);
		color: var(--white-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--info-base-color);
			outline-color: var(--info-shadow-color);
			border-color: var(--info-base-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--info-shadow-color);
		}
	}
}

.lambda-btn-outline {
	border: var(--border-width) solid;
	background-color: transparent;
	outline: var(--outline-width) solid transparent;
	outline-offset: 3px;

	&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled),
	&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
		outline: var(--outline-width) solid transparent;
		outline-offset: 3px;
	}

	&.lambda-btn-neutral {
		border-color: var(--neutral-base-color);
		color: var(--neutral-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--neutral-shadow-color);
			background-color: var(--neutral-base-color);
			color: var(--foreground-invert-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--neutral-shadow-color);
		}
	}

	&.lambda-btn-primary {
		border-color: var(--primary-base-color);
		color: var(--primary-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--primary-shadow-color);
			background-color: var(--primary-base-color);
			color: var(--white-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--primary-shadow-color);
		}
	}

	&.lambda-btn-secondary {
		border-color: var(--secondary-base-color);
		color: var(--secondary-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--secondary-shadow-color);
			background-color: var(--secondary-base-color);
			color: var(--white-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--secondary-shadow-color);
		}
	}

	&.lambda-btn-success {
		border-color: var(--success-base-color);
		color: var(--success-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--success-shadow-color);
			background-color: var(--success-base-color);
			color: var(--white-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--success-shadow-color);
		}
	}

	&.lambda-btn-danger {
		border-color: var(--danger-base-color);
		color: var(--danger-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--danger-shadow-color);
			background-color: var(--danger-base-color);
			color: var(--white-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--danger-shadow-color);
		}
	}

	&.lambda-btn-warning {
		border-color: var(--warning-base-color);
		color: var(--warning-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--warning-shadow-color);
			background-color: var(--warning-base-color);
			color: var(--white-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--warning-shadow-color);
		}
	}

	&.lambda-btn-info {
		border-color: var(--info-base-color);
		color: var(--info-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--info-shadow-color);
			background-color: var(--info-base-color);
			color: var(--white-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--info-shadow-color);
		}
	}
}

.lambda-btn-dashed {
	background-color: transparent;
	border: var(--border-width) dashed;
	outline: var(--outline-width) solid transparent;
	outline-offset: 3px;

	&.lambda-btn-neutral {
		border-color: var(--neutral-base-color);
		color: var(--neutral-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--neutral-shadow-color);
			background-color: var(--neutral-base-color);
			color: var(--foreground-invert-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--neutral-shadow-color);
		}
	}

	&.lambda-btn-primary {
		border-color: var(--primary-base-color);
		color: var(--primary-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--primary-shadow-color);
			background-color: var(--primary-base-color);
			color: var(--white-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--primary-shadow-color);
		}
	}

	&.lambda-btn-secondary {
		border-color: var(--secondary-base-color);
		color: var(--secondary-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--secondary-shadow-color);
			background-color: var(--secondary-base-color);
			color: var(--white-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--secondary-shadow-color);
		}
	}

	&.lambda-btn-success {
		border-color: var(--success-base-color);
		color: var(--success-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--success-shadow-color);
			background-color: var(--success-base-color);
			color: var(--white-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--success-shadow-color);
		}
	}

	&.lambda-btn-danger {
		border-color: var(--danger-base-color);
		color: var(--danger-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--danger-shadow-color);
			background-color: var(--danger-base-color);
			color: var(--white-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--danger-shadow-color);
		}
	}

	&.lambda-btn-warning {
		border-color: var(--warning-base-color);
		color: var(--warning-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--warning-shadow-color);
			background-color: var(--warning-base-color);
			color: var(--white-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--warning-shadow-color);
		}
	}

	&.lambda-btn-info {
		border-color: var(--info-base-color);
		color: var(--info-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--info-shadow-color);
			background-color: var(--info-base-color);
			color: var(--white-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--info-shadow-color);
		}
	}
}

.lambda-btn-soft {
	background-color: transparent;
	border: none;
	outline: var(--outline-width) solid transparent;
	outline-offset: 3px;

	&.lambda-btn-neutral {
		background-color: var(--neutral-opacity-color);
		color: var(--neutral-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--neutral-shadow-color);
			background-color: var(--neutral-shadow-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--neutral-shadow-color);
		}
	}

	&.lambda-btn-primary {
		background-color: var(--primary-opacity-color);
		color: var(--primary-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--primary-shadow-color);
			background-color: var(--primary-shadow-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--primary-shadow-color);
		}
	}

	&.lambda-btn-secondary {
		background-color: var(--secondary-opacity-color);
		color: var(--secondary-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--secondary-shadow-color);
			background-color: var(--secondary-shadow-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--secondary-shadow-color);
		}
	}

	&.lambda-btn-success {
		background-color: var(--success-opacity-color);
		color: var(--success-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--success-shadow-color);
			background-color: var(--success-shadow-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--success-shadow-color);
		}
	}

	&.lambda-btn-danger {
		background-color: var(--danger-opacity-color);
		color: var(--danger-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--danger-shadow-color);
			background-color: var(--danger-shadow-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--danger-shadow-color);
		}
	}

	&.lambda-btn-warning {
		background-color: var(--warning-opacity-color);
		color: var(--warning-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--warning-shadow-color);
			background-color: var(--warning-shadow-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--warning-shadow-color);
		}
	}

	&.lambda-btn-info {
		background-color: var(--info-opacity-color);
		color: var(--info-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--info-shadow-color);
			background-color: var(--info-shadow-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled):not(:hover) {
			outline-color: var(--info-shadow-color);
		}
	}
}

.lambda-btn-subtle {
	background-color: transparent;
	border: var(--border-width) solid transparent;
	outline: var(--outline-width) solid transparent;
	outline-offset: 3px;

	&.lambda-btn-neutral {
		background-color: var(--neutral-opacity-color);
		border-color: var(--neutral-subtle-color);
		color: var(--neutral-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--neutral-shadow-color);
			background-color: var(--neutral-shadow-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--neutral-shadow-color);
		}
	}

	&.lambda-btn-primary {
		background-color: var(--primary-opacity-color);
		border-color: var(--primary-subtle-color);
		color: var(--primary-border-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--primary-shadow-color);
			background-color: var(--primary-shadow-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--primary-shadow-color);
		}
	}

	&.lambda-btn-secondary {
		background-color: var(--secondary-opacity-color);
		border-color: var(--secondary-subtle-color);
		color: var(--secondary-border-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--secondary-shadow-color);
			background-color: var(--secondary-shadow-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--secondary-shadow-color);
		}
	}

	&.lambda-btn-success {
		background-color: var(--success-opacity-color);
		border-color: var(--success-subtle-color);
		color: var(--success-border-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--success-shadow-color);
			background-color: var(--success-shadow-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--success-shadow-color);
		}
	}

	&.lambda-btn-danger {
		background-color: var(--danger-opacity-color);
		border-color: var(--danger-subtle-color);
		color: var(--danger-border-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--danger-shadow-color);
			background-color: var(--danger-shadow-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--danger-shadow-color);
		}
	}

	&.lambda-btn-warning {
		background-color: var(--warning-opacity-color);
		border-color: var(--warning-subtle-color);
		color: var(--warning-border-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--warning-shadow-color);
			background-color: var(--warning-shadow-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--warning-shadow-color);
		}
	}

	&.lambda-btn-info {
		background-color: var(--info-opacity-color);
		border-color: var(--info-subtle-color);
		color: var(--info-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--info-shadow-color);
			background-color: var(--info-shadow-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--info-shadow-color);
		}
	}
}

.lambda-btn-text {
	background-color: transparent;
	border: var(--border-width-xs) solid transparent;
	outline: var(--outline-width) solid transparent;
	outline-offset: 3px;

	&.lambda-btn-neutral {
		color: var(--neutral-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--neutral-shadow-color);
			background-color: var(--neutral-opacity-color);
			color: var(--neutral-text-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--neutral-shadow-color);
		}
	}

	&.lambda-btn-primary {
		color: var(--primary-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--primary-shadow-color);
			background-color: var(--primary-opacity-color);
			color: var(--primary-text-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--primary-shadow-color);
		}
	}

	&.lambda-btn-secondary {
		color: var(--secondary-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--secondary-shadow-color);
			background-color: var(--secondary-opacity-color);
			color: var(--secondary-text-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--secondary-shadow-color);
		}
	}

	&.lambda-btn-success {
		color: var(--success-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--success-shadow-color);
			background-color: var(--success-opacity-color);
			color: var(--success-text-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--success-shadow-color);
		}
	}

	&.lambda-btn-danger {
		color: var(--danger-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--danger-shadow-color);
			background-color: var(--danger-opacity-color);
			color: var(--danger-text-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--danger-shadow-color);
		}
	}

	&.lambda-btn-warning {
		color: var(--warning-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--warning-shadow-color);
			background-color: var(--warning-opacity-color);
			color: var(--warning-text-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--warning-shadow-color);
		}
	}

	&.lambda-btn-info {
		color: var(--info-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--info-shadow-color);
			background-color: var(--info-opacity-color);
			color: var(--info-text-color);
		}

		&:focus:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			outline-color: var(--info-shadow-color);
		}
	}
}

.lambda-btn-tiny {
	font-size: var(--font-size-xs);
	padding: var(--spacing-none) var(--spacing-sm);
	height: var(--size-lg);
	line-height: var(--size-lg);

	.lambda-btn-icon {
		display: flex;
		height: 16px;
		line-height: 16px;

		&:not(.lambda-btn-icon-only) {
			align-items: center;
			width: 16px;
		}

		&>svg {
			width: 16px;
			height: 16px;
			line-height: 16px;
			filter: none;
		}
	}

	&:is(.lambda-btn-only-icon) {
		padding: var(--spacing-none);
		width: var(--size-lg);
		height: var(--size-lg);
	}

	.lambda-btn-label {
		font-weight: var(--font-weight-medium);
		line-height: var(--font-size-xs);
	}
}

.lambda-btn-small {
	font-size: var(--font-size-sm);
	padding: var(--spacing-none) var(--spacing-md);
	height: var(--size-2xl);

	.lambda-btn-icon {
		display: flex;
		height: 18px;
		line-height: 18px;
		padding: var(--spacing-none);

		&:not(.lambda-btn-icon-only) {
			align-items: center;
			width: 18px;
		}

		&>svg {
			width: 18px;
			height: 18px;
			filter: none;
		}
	}

	&:is(.lambda-btn-only-icon) {
		padding: var(--spacing-none);
		width: var(--size-2xl);
		height: var(--size-2xl);
	}

	.lambda-btn-label {
		font-weight: var(--font-weight-medium);
	}
}

.lambda-btn-medium {
	font-size: var(--font-size-sm);
	padding: var(--spacing-none) var(--spacing-lg);
	height: var(--size-4xl);

	.lambda-btn-icon {
		display: flex;
		height: 18px;
		line-height: 18px;

		&:not(.lambda-btn-icon-only) {
			align-items: center;
			width: 18px;
		}

		&>svg {
			width: 18px;
			height: 18px;
			line-height: 18px;
			filter: none;
		}
	}

	&:is(.lambda-btn-only-icon) {
		padding: var(--spacing-none);
		width: var(--size-4xl);
		height: var(--size-4xl);
	}

	.lambda-btn-label {
		font-weight: var(--font-weight-medium);
	}
}

.lambda-btn-large {
	font-size: var(--font-size-md);
	padding: var(--spacing-none) calc(var(--spacing-lg) + var(--spacing-xs));
	height: var(--size-6xl);

	.lambda-btn-icon {
		display: flex;
		height: 20px;
		line-height: 20px;

		&:not(.lambda-btn-icon-only) {
			align-items: center;
			width: 20px;
		}

		&>svg {
			width: 20px;
			height: 20px;
			line-height: 20px;
			filter: none;
		}
	}

	&:is(.lambda-btn-only-icon) {
		padding: var(--spacing-none);
		width: var(--size-6xl);
		height: var(--size-6xl);
	}

	.lambda-btn-label {
		font-weight: var(--font-weight-medium);
	}
}

.lambda-btn-radius-default {
	border-radius: var(--radius-field);
}

.lambda-btn-radius-none {
	border-radius: var(--radius-none);
}

.lambda-btn-radius-tiny {
	border-radius: var(--radius-xs);
}

.lambda-btn-radius-small {
	border-radius: var(--radius-sm);
}

.lambda-btn-radius-medium {
	border-radius: var(--radius-md);
}

.lambda-btn-radius-large {
	border-radius: var(--radius-lg);
}

.lambda-btn-radius-full {
	border-radius: var(--radius-full);
}

.lambda-btn-circle {
	padding: var(--spacing-none);
	border-radius: var(--radius-full);
	aspect-ratio: 1 / 1;
}

.lambda-btn-first {
	border-top-right-radius: var(--radius-none);
	border-bottom-right-radius: var(--radius-none);
}

.lambda-btn-middle {
	border-radius: var(--radius-none);
}

.lambda-btn-last {
	border-top-left-radius: var(--radius-none);
	border-bottom-left-radius: var(--radius-none);

	&:is(.lambda-btn-only-icon) {
		width: calc(var(--size-4xl) + var(--spacing-md));

	}
}

.lambda-btn-icon .lambda-btn-icon-loading {
	animation: spin 1.7s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.lambda-btn-loading,
.lambda-btn-disabled {
	user-select: none;
	cursor: not-allowed;
	opacity: 0.5;
}