.lambda-btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: var(--gap-md);
	color: var(--foreground-color);
	font-family: var(--font-family);
	font-weight: var(--font-weight-reg);
	letter-spacing: 0.75px;
	text-decoration: none;
	cursor: pointer;
	pointer-events: all;
	box-sizing: border-box;
	z-index: 0;
	min-height: 24px;
	min-width: 24px;
	color: var(--white-color);
	text-shadow: 0 0 1px #00000045;
	transition: background-color 0.15s ease-in-out, color 0.3s ease-in-out, shadow 0.3s ease-in-out;

	&.lambda-btn-icon-left {
		flex-direction: row;
	}

	&.lambda-btn-icon-right {
		flex-direction: row-reverse;
	}

	& > .lambda-btn-icon {
		&.lambda-btn-icon-only {
			justify-content: center;
			width: 100%;
		}
	}
}

.lambda-btn-label {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: inherit;
	text-align: start;
	width: 100%;
}

.lambda-btn-classic {
	transition: background 0.2s ease-in-out;
	color: var(--white-color);
	box-shadow: var(--box-shadow);

	&.lambda-btn-neutral {
		background: linear-gradient(
			180deg,
			var(--neutral-hover-color) 0%,
			var(--neutral-base-color) 10%,
			var(--neutral-base-color) 90%,
			var(--neutral-hover-color) 100%
		);
		border: var(--border-width-xs) solid var(--neutral-border-color);
		color: var(--foreground-invert-color);

		&:hover:not(:active):not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			filter: brightness(1.1);
		}
	}

	&.lambda-btn-primary {
		background: linear-gradient(
			180deg,
			var(--primary-content-color) 0%,
			var(--primary-base-color) 10%,
			var(--primary-base-color) 90%,
			var(--primary-content-color) 100%
		);
		border: var(--border-width-xs) solid var(--primary-hover-color);

		&:hover:not(:active):not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			filter: brightness(1.1);
		}
	}

	&.lambda-btn-secondary {
		background: linear-gradient(
			180deg,
			var(--secondary-content-color) 0%,
			var(--secondary-base-color) 10%,
			var(--secondary-base-color) 90%,
			var(--secondary-content-color) 100%
		);
		border: var(--border-width-xs) solid var(--secondary-base-color);

		&:hover:not(:active):not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			filter: brightness(1.2) contrast(0.8);
		}
	}

	&.lambda-btn-success {
		background: linear-gradient(
			180deg,
			var(--success-content-color) 1%,
			var(--success-base-color) 10%,
			var(--success-base-color) 90%,
			var(--success-content-color) 100%
		);
		border: var(--border-width-xs) solid var(--success-hover-color);

		&:hover:not(:active):not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			filter: brightness(1.1);
		}
	}

	&.lambda-btn-danger {
		background: linear-gradient(
			180deg,
			var(--danger-content-color) 1%,
			var(--danger-base-color) 10%,
			var(--danger-base-color) 90%,
			var(--danger-content-color) 100%
		);
		border: var(--border-width-xs) solid var(--danger-hover-color);

		&:hover:not(:active):not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			filter: brightness(1.1);
		}
	}

	&.lambda-btn-warning {
		background: linear-gradient(
			180deg,
			var(--warning-content-color) 1%,
			var(--warning-base-color) 10%,
			var(--warning-base-color) 90%,
			var(--warning-content-color) 100%
		);
		border: var(--border-width-xs) solid var(--warning-hover-color);
		color: var(--black-color);

		&:hover:not(:active):not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			filter: brightness(1.1);
		}
	}

	&.lambda-btn-info {
		background: linear-gradient(
			180deg,
			var(--info-content-color) 1%,
			var(--info-base-color) 10%,
			var(--info-base-color) 90%,
			var(--info-content-color) 100%
		);
		border: var(--border-width-xs) solid var(--info-hover-color);

		&:hover:not(:active):not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			filter: brightness(1.1);
		}
	}

	&.lambda-btn-loading,
	&.lambda-btn-disabled {
		&:not(.lambda-btn-warning):not(.lambda-btn-secondary) .lambda-btn-label {
			color: linear-gradient(
				180deg,
				var(--foreground-disabled-color) 1%,
				var(--foreground-invert-color),
				var(--foreground-disabled-color) 100%
			);
		}

		&:not(.lambda-btn-warning):not(.lambda-btn-secondary) .lambda-btn-icon {
			color: linear-gradient(
				180deg,
				var(--foreground-disabled-color) 1%,
				var(--foreground-invert-color),
				var(--foreground-disabled-color) 100%
			);
		}
	}
}

.lambda-btn-solid {
	border: var(--border-width-xs) solid transparent;
	transition: filter 0.1s ease-in-out;
	box-shadow: var(--box-shadow);

	&.lambda-btn-neutral {
		background: var(--neutral-base-color);
		color: var(--foreground-invert-color);
	}

	&.lambda-btn-primary {
		background: var(--primary-base-color);
	}

	&.lambda-btn-secondary {
		background: var(--secondary-base-color);
	}

	&.lambda-btn-success {
		background: var(--success-base-color);
	}

	&.lambda-btn-danger {
		background: var(--danger-base-color);
	}

	&.lambda-btn-warning {
		background: var(--warning-base-color);
		color: var(--warning-dark-color);
	}

	&.lambda-btn-info {
		background: var(--info-base-color);
	}

	&:hover:not(:active):not(.lambda-btn-loading):not(.lambda-btn-disabled) {
		filter: brightness(120%);
	}

	&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
		filter: brightness(90%);
	}
}

.lambda-btn-outline {
	border: var(--border-width-xs) solid;
	background-color: transparent;
	box-shadow: var(--box-shadow);

	&.lambda-btn-neutral {
		border-color: var(--neutral-base-color);
		color: var(--neutral-text-color);

		&:hover:not(:active):not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--neutral-soft-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--neutral-subtle-color);
		}
	}

	&.lambda-btn-primary {
		border-color: var(--primary-base-color);
		color: var(--primary-text-color);

		&:hover:not(:active):not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--primary-soft-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--primary-subtle-color);
		}
	}

	&.lambda-btn-secondary {
		border-color: var(--secondary-hover-color);
		color: var(--secondary-text-color);

		&:hover:not(:active):not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--secondary-soft-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--secondary-subtle-color);
		}
	}

	&.lambda-btn-success {
		border-color: var(--success-hover-color);
		color: var(--success-text-color);

		&:hover:not(:active):not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--success-soft-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--success-subtle-color);
		}
	}

	&.lambda-btn-danger {
		border-color: var(--danger-hover-color);
		color: var(--danger-text-color);

		&:hover:not(:active):not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--danger-soft-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--danger-subtle-color);
		}
	}

	&.lambda-btn-warning {
		border-color: var(--warning-hover-color);
		color: var(--warning-text-color);

		&:hover:not(:active):not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--warning-soft-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--warning-subtle-color);
		}
	}

	&.lambda-btn-info {
		border-color: var(--info-hover-color);
		color: var(--info-text-color);

		&:hover:not(:active):not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--info-soft-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--info-subtle-color);
		}
	}
}

.lambda-btn-dashed {
	background-color: transparent;
	border: var(--border-width-xs) dashed;
	box-shadow: var(--box-shadow);

	&.lambda-btn-neutral {
		border-color: var(--neutral-base-color);
		color: var(--neutral-text-color);

		&:hover:not(:active):not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--neutral-soft-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--neutral-subtle-color);
		}
	}

	&.lambda-btn-primary {
		color: var(--primary-text-color);
		border-color: var(--primary-base-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--primary-soft-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--primary-subtle-color);
		}
	}

	&.lambda-btn-secondary {
		color: var(--secondary-text-color);
		border-color: var(--secondary-hover-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--secondary-soft-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--secondary-subtle-color);
		}
	}

	&.lambda-btn-success {
		color: var(--success-text-color);
		border-color: var(--success-hover-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--success-soft-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--success-subtle-color);
		}
	}

	&.lambda-btn-danger {
		color: var(--danger-text-color);
		border-color: var(--danger-hover-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--danger-soft-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--danger-subtle-color);
		}
	}

	&.lambda-btn-warning {
		color: var(--warning-text-color);
		border-color: var(--warning-hover-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--warning-soft-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--warning-subtle-color);
		}
	}

	&.lambda-btn-info {
		color: var(--info-text-color);
		border-color: var(--info-hover-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--info-soft-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--info-subtle-color);
		}
	}
}

.lambda-btn-soft {
	background-color: transparent;
	border: none;

	&.lambda-btn-neutral {
		background-color: var(--neutral-opacity-color);
		color: var(--neutral-text-color);

		&:hover:not(:active):not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--neutral-subtle-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--neutral-opacity-color);
		}
	}

	&.lambda-btn-primary {
		background-color: var(--primary-opacity-color);
		color: var(--primary-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--primary-subtle-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--primary-opacity-color);
		}
	}

	&.lambda-btn-secondary {
		color: var(--secondary-text-color);
		background-color: var(--secondary-opacity-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--secondary-subtle-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--secondary-opacity-color);
		}
	}

	&.lambda-btn-success {
		color: var(--success-text-color);
		background-color: var(--success-opacity-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--success-subtle-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--success-opacity-color);
		}
	}

	&.lambda-btn-danger {
		color: var(--danger-text-color);
		background-color: var(--danger-opacity-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--danger-subtle-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--danger-opacity-color);
		}
	}

	&.lambda-btn-warning {
		color: var(--warning-text-color);
		background-color: var(--warning-opacity-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--warning-subtle-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--warning-opacity-color);
		}
	}

	&.lambda-btn-info {
		color: var(--info-text-color);
		background-color: var(--info-opacity-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--info-subtle-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--info-opacity-color);
		}
	}
}

.lambda-btn-subtle {
	background-color: transparent;
	border: var(--border-width-xs) solid transparent;
	box-shadow: var(--box-shadow);

	&.lambda-btn-neutral {
		background-color: var(--neutral-opacity-color);
		border-color: var(--neutral-subtle-color);
		color: var(--neutral-text-color);

		&:hover:not(:active):not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--neutral-subtle-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--neutral-opacity-color);
		}
	}

	&.lambda-btn-primary {
		background-color: var(--primary-opacity-color);
		border-color: var(--primary-subtle-color);
		color: var(--primary-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--primary-subtle-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--primary-opacity-color);
		}
	}

	&.lambda-btn-secondary {
		color: var(--secondary-text-color);
		background-color: var(--secondary-opacity-color);
		border-color: var(--secondary-subtle-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--secondary-subtle-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--secondary-opacity-color);
		}
	}

	&.lambda-btn-success {
		color: var(--success-text-color);
		background-color: var(--success-opacity-color);
		border-color: var(--success-subtle-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--success-subtle-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--success-opacity-color);
		}
	}

	&.lambda-btn-danger {
		color: var(--danger-text-color);
		background-color: var(--danger-opacity-color);
		border-color: var(--danger-subtle-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--danger-subtle-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--danger-opacity-color);
		}
	}

	&.lambda-btn-warning {
		color: var(--warning-text-color);
		background-color: var(--warning-opacity-color);
		border-color: var(--warning-subtle-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--warning-subtle-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--warning-opacity-color);
		}
	}

	&.lambda-btn-info {
		color: var(--info-text-color);
		background-color: var(--info-opacity-color);
		border-color: var(--info-subtle-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--info-subtle-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--info-opacity-color);
		}
	}
}

.lambda-btn-text {
	background-color: transparent;
	border: var(--border-width-xs) solid transparent;

	&.lambda-btn-neutral {
		color: var(--neutral-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--neutral-opacity-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--neutral-subtle-color);
		}
	}

	&.lambda-btn-primary {
		color: var(--primary-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--primary-opacity-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--primary-subtle-color);
		}
	}

	&.lambda-btn-secondary {
		color: var(--secondary-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--secondary-opacity-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--secondary-subtle-color);
		}
	}

	&.lambda-btn-success {
		color: var(--success-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--success-opacity-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--success-subtle-color);
		}
	}

	&.lambda-btn-danger {
		color: var(--danger-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--danger-opacity-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--danger-subtle-color);
		}
	}

	&.lambda-btn-warning {
		color: var(--warning-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--warning-opacity-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--warning-subtle-color);
		}
	}

	&.lambda-btn-info {
		color: var(--info-text-color);

		&:hover:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--info-opacity-color);
		}

		&:active:not(.lambda-btn-loading):not(.lambda-btn-disabled) {
			background-color: var(--info-subtle-color);
		}
	}
}

.lambda-btn-tiny {
	font-size: var(--font-size-xs);
	padding: var(--padding-none) var(--padding-xs);
	height: var(--height-button-xs);

	.lambda-btn-icon {
		display: flex;
		height: 16px;
		line-height: 16px;

		&:not(.lambda-btn-icon-only) {
			align-items: center;
			width: 16px;
		}

		& > svg {
			width: 16px;
			height: 16px;
			line-height: 16px;
			filter: none;
		}
	}

	.lambda-btn-label {
		font-weight: var(--font-weight-md);
	}
}

.lambda-btn-small {
	font-size: var(--font-size-sm);
	padding: var(--padding-none) var(--padding-sm);
	height: var(--height-button-sm);

	.lambda-btn-icon {
		display: flex;
		height: 18px;
		line-height: 18px;
		padding: var(--padding-none);

		&:not(.lambda-btn-icon-only) {
			align-items: center;
			width: 18px;
		}

		& > svg {
			width: 18px;
			height: 18px;
			filter: none;
		}
	}

	.lambda-btn-label {
		font-weight: var(--font-weight-md);
	}
}

.lambda-btn-medium {
	font-size: var(--font-size-md);
	padding: var(--padding-none) var(--padding-md);
	height: var(--height-button-md);

	.lambda-btn-icon {
		display: flex;
		height: 18px;
		line-height: 18px;

		&:not(.lambda-btn-icon-only) {
			align-items: center;
			width: 18px;
		}

		& > svg {
			width: 18px;
			height: 18px;
			line-height: 18px;
			filter: none;
		}
	}

	.lambda-btn-label {
		font-weight: var(--font-weight-reg);
	}
}

.lambda-btn-large {
	font-size: var(--font-size-lg);
	padding: var(--padding-none) var(--padding-lg);
	height: var(--height-button-lg);

	.lambda-btn-icon {
		display: flex;
		height: 20px;
		line-height: 20px;

		&:not(.lambda-btn-icon-only) {
			align-items: center;
			width: 20px;
		}

		& > svg {
			width: 20px;
			height: 20px;
			line-height: 20px;
			filter: none;
		}
	}

	.lambda-btn-label {
		font-weight: var(--font-weight-md);
	}
}

.lambda-btn-radius-none {
	border-radius: var(--border-radius-none);
}

.lambda-btn-radius-tiny {
	border-radius: var(--border-radius-xs);
}

.lambda-btn-radius-small {
	border-radius: var(--border-radius-sm);
}

.lambda-btn-radius-medium {
	border-radius: var(--border-radius-md);
}

.lambda-btn-radius-large {
	border-radius: var(--border-radius-lg);
}

.lambda-btn-radius-full {
	border-radius: var(--border-radius-pill);
}

.lambda-btn-circle {
	padding: var(--padding-none);
	border-radius: var(--border-radius-full);
	aspect-ratio: 1 / 1;
}

.lambda-btn-icon .lambda-btn-icon-loading {
	animation: spin 1.7s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.lambda-btn-loading,
.lambda-btn-disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
