.lambda-checkbox-label-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-family: var(--font-family);
    box-sizing: border-box;
    width: max-content;

    &:hover>.lambda-checkbox-bg:not(.lambda-checkbox-bg--checked-true):is(.lambda-checkbox-bg--color-primary) {
        &:is(.lambda-checkbox-bg--variant-bordered) {
            background-color: var(--primary-light-color);
        }

        &:is(.lambda-checkbox-bg--variant-flat) {
            background-color: var(--primary-light-color);
        }
    }

    &:hover>.lambda-checkbox-bg:not(.lambda-checkbox-bg--checked-true):is(.lambda-checkbox-bg--color-secondary) {
        &:is(.lambda-checkbox-bg--variant-bordered) {
            background-color: var(--secondary-light-color);
        }

        &:is(.lambda-checkbox-bg--variant-flat) {
            background-color: var(--secondary-light-color);
        }
    }

    &:hover>.lambda-checkbox-bg:not(.lambda-checkbox-bg--checked-true):is(.lambda-checkbox-bg--color-danger) {
        &:is(.lambda-checkbox-bg--variant-bordered) {
            background-color: var(--danger-light-color);
        }

        &:is(.lambda-checkbox-bg--variant-flat) {
            background-color: var(--danger-light-color);
        }
    }

    &:hover>.lambda-checkbox-bg:not(.lambda-checkbox-bg--checked-true):is(.lambda-checkbox-bg--color-success) {
        &:is(.lambda-checkbox-bg--variant-bordered) {
            background-color: var(--success-light-color);
        }

        &:is(.lambda-checkbox-bg--variant-flat) {
            background-color: var(--success-light-color);
        }
    }

    &:hover>.lambda-checkbox-bg:not(.lambda-checkbox-bg--checked-true):is(.lambda-checkbox-bg--color-warning) {
        &:is(.lambda-checkbox-bg--variant-bordered) {
            background-color: var(--warning-light-color);
        }

        &:is(.lambda-checkbox-bg--variant-flat) {
            background-color: var(--warning-light-color);
        }
    }

    &:hover>.lambda-checkbox-bg:not(.lambda-checkbox-bg--checked-true):is(.lambda-checkbox-bg--color-info) {
        &:is(.lambda-checkbox-bg--variant-bordered) {
            background-color: var(--info-light-color);
        }

        &:is(.lambda-checkbox-bg--variant-flat) {
            background-color: var(--info-light-color);
        }
    }
}

.lambda-checkbox-label-wrapper--disabled-true {
    color: var(--foreground-disabled-color);
    cursor: not-allowed;
}

.lambda-checkbox-label-wrapper--position-left {
    flex-direction: row-reverse;
}

.lambda-checkbox-label-wrapper--position-top {
    flex-direction: column-reverse;
}

.lambda-checkbox-label-wrapper--position-bottom {
    flex-direction: column;
}

.lambda-checkbox {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
}

.lambda-checkbox-bg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.lambda-checkbox-bg--variant-bordered {
    background-color: var(--background-color);

    &.lambda-checkbox-bg--color-primary {
        border-color: var(--primary-disabled-color);
    }

    &.lambda-checkbox-bg--color-secondary {
        border-color: var(--secondary-disabled-color);
    }

    &.lambda-checkbox-bg--color-success {
        border-color: var(--success-disabled-color);
    }

    &.lambda-checkbox-bg--color-danger {
        border-color: var(--danger-disabled-color);
    }

    &.lambda-checkbox-bg--color-warning {
        border-color: var(--warning-disabled-color);
    }

    &.lambda-checkbox-bg--color-info {
        border-color: var(--info-disabled-color);
    }
}

.lambda-checkbox-bg--variant-flat {
    background-color: var(--background-color);
    border-color: var(--secondary-light-color);
}

.lambda-checkbox-bg--checked-true {
    box-sizing: border-box;
    box-shadow: 1px 1px 0px 0px var(--shadow-inset-color) inset, 0 0 1px 1px var(--shadow-color), -1px 0px 0px 0px var(--shadow-inset-color) inset;

    &.lambda-checkbox-bg--color-primary {
        background-color: var(--primary-color);
        border-color: var(--primary-light-color);

        &:hover {
            background-color: var(--primary-hover-color);
        }
    }

    &.lambda-checkbox-bg--color-secondary {
        background-color: var(--secondary-color);

        &:hover {
            background-color: var(--secondary-hover-color);
        }
    }

    &.lambda-checkbox-bg--color-danger {
        background-color: var(--danger-color);

        &:hover {
            background-color: var(--danger-hover-color);
        }
    }

    &.lambda-checkbox-bg--color-success {
        background-color: var(--success-color);

        &:hover {
            background-color: var(--success-hover-color);
        }
    }

    &.lambda-checkbox-bg--color-warning {
        background-color: var(--warning-color);

        &:hover {
            background-color: var(--warning-hover-color);
        }
    }

    &.lambda-checkbox-bg--color-info {
        background-color: var(--info-color);

        &:hover {
            background-color: var(--info-hover-color);
        }
    }
}

.lambda-checkbox-bg--size-small {
    padding: calc(var(--padding-xs) / 2);
}

.lambda-checkbox-bg--size-medium {
    padding: calc(var(--padding-sm) / 2);
}

.lambda-checkbox-bg--size-large {
    padding: calc(var(--padding-md) / 2);
}

.lambda-checkbox-icon {
    width: var(--height-sm);
    height: var(--height-sm);
    stroke-width: 3px;
    pointer-events: none;
    box-sizing: border-box;
    color: var(--foreground-color);
}

.lambda-checkbox-icon--active {
    opacity: 1;
    animation: animateIcon 0.3s ease both;
}

.lambda-checkbox-icon--inactive {
    opacity: 0;
}

.lambda-checkbox-icon--disabled-true {
    color: var(--foreground-disabled-color);
}

.lambda-checkbox-icon--size-small {
    width: 16px;
    height: 16px;
}

.lambda-checkbox-icon--size-medium {
    width: 19px;
    height: 19px;
    line-height: 19px;
}

.lambda-checkbox-icon--size-large {
    width: 21px;
    height: 21px;
}

@keyframes animateIcon {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1.1);
    }
}

.lambda-checkbox-bg--radius-none {
    border-radius: var(--border-radius-none);
}

.lambda-checkbox-bg--radius-small {
    border-radius: var(--border-radius-sm);
}

.lambda-checkbox-bg--radius-medium {
    border-radius: var(--border-radius-md);
}

.lambda-checkbox-bg--radius-pill {
    border-radius: var(--border-radius-pill);
}

.lambda-checkbox-label {
    color: var(--foreground-invert-color);
}

.lambda-checkbox-label--size-small {
    font-size: var(--font-size-sm);
}

.lambda-checkbox-label--size-medium {
    font-size: var(--font-size-md);
}

.lambda-checkbox-label--size-large {
    font-size: var(--font-size-lg);
}

.lambda-checkbox-label--disabled-true {
    color: var(--foreground-disabled-color);
}