.lambda-checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-family: var(--font-family);
    box-sizing: border-box;
    width: max-content;

    &:hover:not(.lambda-checkbox-container-disabled)>.lambda-checkbox-wrapper:not(.lambda-checkbox-wrapper-checked):is(.lambda-checkbox-wrapper-primary) {
        &:is(.lambda-checkbox-wrapper-bordered) {
            background-color: var(--primary-outline-color);
            border-color: var(--primary-hover-color);
        }

        &:is(.lambda-checkbox-wrapper-flat) {
            background-color: var(--primary-outline-color);
            border-color: var(--primary-hover-color);
        }

        &:is(.lambda-checkbox-wrapper-outline) {
            border-color: var(--primary-hover-color);
        }
    }

    &:hover:not(.lambda-checkbox-container-disabled)>.lambda-checkbox-wrapper:not(.lambda-checkbox-wrapper-checked):is(.lambda-checkbox-wrapper-secondary) {
        &:is(.lambda-checkbox-wrapper-bordered) {
            background-color: var(--secondary-outline-color);
            border-color: var(--secondary-hover-color);
        }

        &:is(.lambda-checkbox-wrapper-flat) {
            background-color: var(--secondary-outline-color);
            border-color: var(--secondary-hover-color);
        }

        &:is(.lambda-checkbox-wrapper-outline) {
            border-color: var(--secondary-hover-color);
        }
    }

    &:hover:not(.lambda-checkbox-container-disabled)>.lambda-checkbox-wrapper:not(.lambda-checkbox-wrapper-checked):is(.lambda-checkbox-wrapper-danger) {
        &:is(.lambda-checkbox-wrapper-bordered) {
            background-color: var(--danger-outline-color);
            border-color: var(--danger-hover-color);
        }

        &:is(.lambda-checkbox-wrapper-flat) {
            background-color: var(--danger-outline-color);
            border-color: var(--danger-hover-color);
        }

        &:is(.lambda-checkbox-wrapper-outline) {
            border-color: var(--danger-hover-color);
        }
    }

    &:hover:not(.lambda-checkbox-container-disabled)>.lambda-checkbox-wrapper:not(.lambda-checkbox-wrapper-checked):is(.lambda-checkbox-wrapper-success) {
        &:is(.lambda-checkbox-wrapper-bordered) {
            background-color: var(--success-outline-color);
            border-color: var(--success-hover-color);
        }

        &:is(.lambda-checkbox-wrapper-flat) {
            background-color: var(--success-outline-color);
            border-color: var(--success-hover-color);
        }

        &:is(.lambda-checkbox-wrapper-outline) {
            border-color: var(--success-hover-color);
        }
    }

    &:hover:not(.lambda-checkbox-container-disabled)>.lambda-checkbox-wrapper:not(.lambda-checkbox-wrapper-checked):is(.lambda-checkbox-wrapper-warning) {
        &:is(.lambda-checkbox-wrapper-bordered) {
            background-color: var(--warning-outline-color);
            border-color: var(--warning-hover-color);
        }

        &:is(.lambda-checkbox-wrapper-flat) {
            background-color: var(--warning-outline-color);
            border-color: var(--warning-hover-color);
        }

        &:is(.lambda-checkbox-wrapper-outline) {
            border-color: var(--warning-hover-color);
        }
    }

    &:hover:not(.lambda-checkbox-container-disabled)>.lambda-checkbox-wrapper:not(.lambda-checkbox-wrapper-checked):is(.lambda-checkbox-wrapper-info) {
        &:is(.lambda-checkbox-wrapper-bordered) {
            background-color: var(--info-outline-color);
            border-color: var(--info-hover-color);
        }

        &:is(.lambda-checkbox-wrapper-flat) {
            background-color: var(--info-outline-color);
            border-color: var(--info-hover-color);
        }

        &:is(.lambda-checkbox-wrapper-outline) {
            border-color: var(--info-hover-color);
        }
    }
}

.lambda-checkbox-container-disabled {
    filter: contrast(70%) brightness(70%);
    cursor: not-allowed;

    .lambda-checkbox-wrapper {
        background-color: var(--secondary-light-color);
    }
}

.lambda-checkbox-container-left {
    flex-direction: row-reverse;
}

.lambda-checkbox-container-top {
    flex-direction: column-reverse;
}

.lambda-checkbox-container-bottom {
    flex-direction: column;
}

.lambda-checkbox {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
}

.lambda-checkbox-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.lambda-checkbox-wrapper-bordered {
    background-color: var(--surface-a);
    border-color: var(--surface-d);
}

.lambda-checkbox-wrapper-flat {
    &.lambda-checkbox-wrapper-primary {
        background-color: var(--primary-light-color);
        border-color: var(--primary-light-color);
    }

    &.lambda-checkbox-wrapper-secondary {
        background-color: var(--secondary-light-color);
        border-color: var(--secondary-light-color);
    }

    &.lambda-checkbox-wrapper-success {
        background-color: var(--success-light-color);
        border-color: var(--success-light-color);
    }

    &.lambda-checkbox-wrapper-danger {
        background-color: var(--danger-light-color);
        border-color: var(--danger-light-color);
    }

    &.lambda-checkbox-wrapper-warning {
        background-color: var(--warning-light-color);
        border-color: var(--warning-light-color);
    }

    &.lambda-checkbox-wrapper-info {
        background-color: var(--info-light-color);
        border-color: var(--info-light-color);
    }
}

.lambda-checkbox-wrapper-outline {
    background-color: transparent;
    border-color: var(--surface-d);


}


.lambda-checkbox-wrapper-checked:not(.lambda-checkbox-wrapper-outline) {
    box-sizing: border-box;

    &.lambda-checkbox-wrapper-bordered {
        box-shadow: 1px 1px 0px 0px var(--shadow-inset-color) inset, 0 0 1px 1px var(--shadow-color), -1px 0px 0px 0px var(--shadow-inset-color) inset;
    }

    &.lambda-checkbox-wrapper-flat {
        box-shadow: 1px 1px 0px 0px var(--shadow-inset-color) inset, -1px 0px 0px 0px var(--shadow-inset-color) inset;
    }

    &.lambda-checkbox-wrapper-primary {
        background-color: var(--primary-color);
        border-color: var(--primary-light-color);

        &:hover {
            background-color: var(--primary-hover-color);
        }
    }

    &.lambda-checkbox-wrapper-secondary {
        background-color: var(--secondary-color);
        border-color: var(--secondary-light-color);

        &>svg {
            color: var(--foreground-invert-color);
        }

        &:hover {
            background-color: var(--secondary-hover-color);
        }
    }

    &.lambda-checkbox-wrapper-danger {
        background-color: var(--danger-color);
        border-color: var(--danger-light-color);

        &:hover {
            background-color: var(--danger-hover-color);
        }
    }

    &.lambda-checkbox-wrapper-success {
        background-color: var(--success-color);
        border-color: var(--success-light-color);

        &:hover {
            background-color: var(--success-hover-color);
        }
    }

    &.lambda-checkbox-wrapper-warning {
        background-color: var(--warning-color);
        border-color: var(--warning-light-color);

        &>svg {
            color: var(--black);
        }

        &:hover {
            background-color: var(--warning-hover-color);
        }
    }

    &.lambda-checkbox-wrapper-info {
        background-color: var(--info-color);
        border-color: var(--info-light-color);

        &:hover {
            background-color: var(--info-hover-color);
        }
    }
}

.lambda-checkbox-wrapper-checked:is(.lambda-checkbox-wrapper-outline) {
    box-sizing: border-box;

    &.lambda-checkbox-wrapper-primary {
        border-color: var(--primary-color);

        .lambda-checkbox-icon {
            color: var(--primary-color);
        }
    }

    &.lambda-checkbox-wrapper-secondary {
        border-color: var(--secondary-color);

        .lambda-checkbox-icon {
            color: var(--secondary-text-color);
        }
    }

    &.lambda-checkbox-wrapper-danger {
        border-color: var(--danger-color);

        .lambda-checkbox-icon {
            color: var(--danger-color);
        }

    }

    &.lambda-checkbox-wrapper-success {
        border-color: var(--success-color);

        .lambda-checkbox-icon {
            color: var(--success-color);
        }
    }

    &.lambda-checkbox-wrapper-warning {
        border-color: var(--warning-color);

        .lambda-checkbox-icon {
            color: var(--warning-color);
        }
    }

    &.lambda-checkbox-wrapper-info {
        border-color: var(--info-color);

        .lambda-checkbox-icon {
            color: var(--info-color);
        }
    }
}

.lambda-checkbox-wrapper-tiny {
    height: var(--height-checkbox-xs);
    width: var(--height-checkbox-xs);
    min-height: var(--height-checkbox-xs);
    min-width: var(--height-checkbox-xs);
}

.lambda-checkbox-wrapper-small {
    height: var(--height-checkbox-sm);
    width: var(--height-checkbox-sm);
    min-height: var(--height-checkbox-sm);
    min-width: var(--height-checkbox-sm);
}

.lambda-checkbox-wrapper-medium {
    height: var(--height-checkbox-md);
    width: var(--height-checkbox-md);
    min-height: var(--height-checkbox-md);
    min-width: var(--height-checkbox-md);
}

.lambda-checkbox-wrapper-large {
    height: var(--height-checkbox-lg);
    width: var(--height-checkbox-lg);
    min-height: var(--height-checkbox-lg);
    min-width: var(--height-checkbox-lg);
}

.lambda-checkbox-icon {
    stroke-width: 4px;
    pointer-events: none;
    box-sizing: border-box;
    color: var(--white-color);
}

.lambda-checkbox-icon-checked {
    opacity: 1;
    animation: animateIcon 0.3s ease both;
}

.lambda-checkbox-icon-unchecked {
    opacity: 0;
}


.lambda-checkbox-icon-tiny {
    width: var(--font-size-xs);
    height: var(--font-size-xs);
}

.lambda-checkbox-icon-small {
    width: var(--font-size-sm);
    height: var(--font-size-sm);
}

.lambda-checkbox-icon-medium {
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);
}

.lambda-checkbox-icon-large {
    width: var(--icon-size-md);
    height: var(--icon-size-md);
}

@keyframes animateIcon {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}



.lambda-checkbox-wrapper-radius-none {
    border-radius: var(--border-radius-none);
}

.lambda-checkbox-wrapper-radius-small {
    border-radius: var(--border-radius-sm);
}

.lambda-checkbox-wrapper-radius-medium {
    border-radius: var(--border-radius-md);
}

.lambda-checkbox-wrapper-radius-circle {
    border-radius: var(--border-radius-full);
}

.lambda-checkbox-label {
    color: var(--foreground-color);
    font-family: inherit;
    width: max-content;
}

.lambda-checkbox-label-tiny {
    font-size: var(--font-size-xs);
}

.lambda-checkbox-label-small {
    font-size: var(--font-size-sm);
}

.lambda-checkbox-label-medium {
    font-size: var(--font-size-md);
}

.lambda-checkbox-label-large {
    font-size: var(--font-size-lg);
}

.lambda-checkbox-label-disabled {
    color: var(--foreground-disabled-color);
}