 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }


 input[type=number] {
     appearance: textfield;
 }

 .lambda-number {
     position: relative;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     border: 1px solid transparent;
     color: var(--foreground-color);
     font-weight: 500;
     pointer-events: all;
     z-index: 0;
     overflow: hidden;
     box-sizing: border-box;
     outline: none;
     width: 100%;
     font-family: var(--font-family);
     transition: border 0.2s ease-in-out, color 0.3s ease-in-out;


     &.lambda-number-default,
     &.lambda-number-decimal {
         padding: 0 0 0 var(--padding-lg);

         .lambda-number-currency {
             display: none;
         }

     }

     &:not(.lambda-number-default):not(.lambda-number-decimal) {
         padding: 0;
     }




     .lambda-number-helper {
         position: absolute;
         bottom: -1.5em;
         left: 0;
         font-size: var(--font-size-xs);
         font-weight: 500;
         font-style: italic;
         opacity: 0;
         transform: translateY(-1em);
         transition: all 0.3s ease-in-out;
         z-index: -10;
         color: var(--surface-f);

         &.lambda-number-helper-disabled {
             color: var(--surface-c);
         }
     }

     &:focus-within {
         .lambda-number-helper {
             opacity: 1;
             transform: translateY(0);
         }
     }


 }

 .lambda-number-wrapper {
     position: relative;
     display: flex;
     flex-direction: column;
     gap: 5px;
     font-family: var(--font-family);
     width: max-content;
     box-sizing: border-box;
 }



 .lambda-number-label {
     font-family: var(--font-family);
     color: var(--primary-text-color);
     padding: 0 0 0 4px;
     font-weight: 500;
 }

 .lambda-number-label-tiny {
     font-size: var(--font-size-sm);
 }

 .lambda-number-label-small {
     font-size: var(--font-size-sm);
 }

 .lambda-number-label-medium {
     font-size: var(--font-size-sm);
 }

 .lambda-number-label-large {
     font-size: var(--font-size-lg);
 }

 .lambda-number-label-pill {
     padding: 0 0 0 16px;
 }

 .lambda-number-error {
     position: absolute;
     width: max-content;
     max-width: 100%;
     opacity: 0;
     padding: 2px 8px;
     font-size: var(--font-size-md);
     border-radius: var(--border-radius-sm);
     color: var(--foreground-color);
     background-color: var(--danger-color);
     animation: animateError 0.4s ease both;

     &::after {
         position: absolute;
         top: -6px;
         content: '';
         display: block;
         width: 0;
         height: 0;
         margin: 0 auto;
         border-left: 6px solid transparent;
         border-right: 6px solid transparent;
         border-bottom: 6px solid var(--danger-color);
     }
 }

 .lambda-number-error-tiny {
     top: calc(var(--height-input-sm) - 26px);
     font-size: var(--font-size-xs);
     letter-spacing: 0.5px;
 }

 .lambda-number-error-small {
     top: calc(var(--height-input-sm) - 20px);
     font-size: var(--font-size-xs);
     letter-spacing: 0.7px;
 }

 .lambda-number-error-medium {
     top: calc(var(--height-input-md) - 20px);
     font-size: var(--font-size-sm);
     letter-spacing: 0.5px;
 }

 .lambda-number-error-large {
     top: calc(var(--height-input-lg) - 20px);
     font-size: var(--font-size-sm);
     letter-spacing: 0.5px;
 }

 @keyframes animateError {
     to {
         transform: translateY(24px);
         opacity: 1;
     }
 }

 .lambda-number-field {
     background-color: transparent;
     color: var(--foreground-color);
     border: none;
     outline: none;
     width: 100%;
     font-family: var(--font-family);

     &:disabled {
         color: var(--surface-d);
         cursor: not-allowed;
     }

     &.lambda-number-field-tiny {
         font-size: var(--font-size-sm);
     }

     &.lambda-number-field-small {
         font-size: var(--font-size-sm);
     }

     &.lambda-number-field-medium {
         font-size: var(--font-size-md);
     }

     &.lambda-number-field-large {
         font-size: var(--font-size-lg);
     }

     &.lambda-number-field-default {
         padding: 0;
     }

     &:not(.lambda-number-field-default) {
         padding: 0 0 0 var(--padding-md);
     }
 }


 .lambda-number-container {
     position: relative;
     display: flex;
     flex-direction: row;
     box-sizing: border-box;
     height: 100%;
 }

 .lambda-number-handler {
     display: flex;
     flex-direction: column;
     box-sizing: border-box;
     height: 100%;

     &.lambda-number-handler-flat {
         border-left: 1px solid transparent;
     }

     &.lambda-number-handler-outline {
         border-left: 1px solid var(--surface-d);
     }

     &.lambda-number-handler-tiny {
         width: var(--height-input-xs);
     }

     &.lambda-number-handler-small {
         width: var(--height-input-sm);
     }

     &.lambda-number-handler-medium {
         width: var(--height-input-md);
     }

     &.lambda-number-handler-large {
         width: var(--height-input-md);
     }
 }

 .lambda-number-outline {
     background-color: var(--surface-a);
     border: 1px solid var(--surface-d);

     &:hover:not(.lambda-number-invalid):not(.lambda-number-disabled) {
         border-color: var(--primary-hover-color);
     }

     &:focus-within:not(.lambda-number-invalid):not(.lambda-number-disabled) {
         border: 1px solid var(--primary-hover-color);
         outline: 3px solid var(--primary-outline-color);
         background-color: var(--primary-light-color);
     }

     &.lambda-number-invalid {
         border-color: var(--danger-color);
         border-style: dashed;
         background-color: var(--danger-light-color);
     }


 }

 .lambda-number-flat {
     background-color: var(--surface-a);
     border: none;

     &:hover:not(.lambda-number-invalid):not(.lambda-number-disabled) {
         background-color: var(--primary-light-color);
     }

     &:focus-within:not(.lambda-number-invalid):not(.lambda-number-disabled) {
         outline: 3px solid var(--primary-outline-color);
         background-color: var(--primary-light-color);
     }

     &.lambda-number-invalid {
         background-color: var(--danger-light-color);
     }

 }

 .lambda-number-tiny {
     min-height: var(--height-input-xs);
     height: var(--height-input-xs);
 }

 .lambda-number-small {
     min-height: var(--height-input-sm);
     height: var(--height-input-sm);
 }

 .lambda-number-medium {
     min-height: var(--height-input-md);
     height: var(--height-input-md)
 }

 .lambda-number-large {
     min-height: var(--height-input-lg);
     height: var(--height-input-lg);
 }

 .lambda-number-radius-none {
     border-radius: var(--border-radius-none);
 }

 .lambda-number-radius-small {
     border-radius: var(--border-radius-sm);
 }

 .lambda-number-radius-medium {
     border-radius: var(--border-radius-md);
 }

 .lambda-number-radius-large {
     border-radius: var(--border-radius-lg);
 }

 .lambda-number-radius-pill {
     border-radius: var(--border-radius-pill);
 }



 /*--------BUTTONS-------------*/

 .lambda-number-btn {
     display: flex;
     align-items: center;
     justify-content: center;
     border: none;
     border-left: 1px solid;
     padding: 0;
     border: none;
     height: 100%;
     width: 100%;
     box-sizing: border-box;
     transition: all 0.15s ease-in-out;
     color: var(--surface-f);
     background-color: var(--surface-c);
     transition: background-color 0.15s ease-in-out;
     box-shadow: 0 0 1px 1px #00000010 inset;


     &:hover:not(:disabled) {
         background-color: var(--primary-hover-color);
         color: var(--white-color);
     }

     &:active:not(:disabled) {
         background-color: var(--primary-color);
     }

     &:disabled {
         cursor: not-allowed;
     }

     .lambda-number-icon {
         pointer-events: none;

     }

     &.lambda-number-btn-tiny {
         .lambda-number-icon {

             width: var(--icon-size-3xs);
             height: var(--icon-size-3xs);
         }
     }

     &.lambda-number-btn-small {
         .lambda-number-icon {

             width: var(--icon-size-2xs);
             height: var(--icon-size-2xs);
         }
     }

     &.lambda-number-btn-medium {
         .lambda-number-icon {

             width: var(--icon-size-sm);
             height: var(--icon-size-sm);
         }
     }

     &.lambda-number-btn-large {
         .lambda-number-icon {

             width: var(--icon-size-md);
             height: var(--icon-size-md);
         }
     }


 }

 .lambda-number-btn-increment {
     border-bottom: none;
 }

 .lambda-number-btn-decrement {
     border-top: none;
 }

 .lambda-number-currency {
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: var(--surface-c);
     border: none;
     color: var(--surface-f);

     &:not(.lambda-number-currency-default) {
         border-right: 1px solid var(--surface-d);
         width: var(--height-md);

         &:is(.lambda-number-currency-flat) {
             border: none;
         }
     }

     &:is(.lambda-number-currency--dec) {
         border: none;
         width: 0;
     }

     &:is(.lambda-number-currency-tiny) {
         padding: 0 var(--padding-xs);

         & .lambda-number-currency-icon {
             height: var(--icon-size-2xs);
             width: var(--icon-size-2xs);
         }
     }

     &:is(.lambda-number-currency-small) {
         padding: 0 var(--padding-sm);

         & .lambda-number-currency-icon {
             height: var(--icon-size-xs);
             width: var(--icon-size-xs);
         }
     }

     &:is(.lambda-number-currency-medium) {
         padding: 0 var(--padding-md);

         & .lambda-number-currency-icon {
             height: var(--icon-size-sm);
             width: var(--icon-size-sm);
         }
     }

     &:is(.lambda-number-currency-large) {
         padding: 0 var(--padding-lg);

         & .lambda-number-currency-icon {
             height: var(--icon-size-md);
             width: var(--icon-size-md);
         }
     }
 }



 .lambda-number-separator {
     height: 1px;
     width: 100%;
     padding: 0;
     margin: 0;
     border: none;
     background-color: var(--surface-d);
     z-index: 2;
 }

 .lambda-number-wrapper-disabled {
     cursor: not-allowed;

     .lambda-number {
         background-color: var(--surface-c);
     }
 }