 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

 /* Firefox */
 input[type=number] {
     -moz-appearance: textfield;
     appearance: textfield;
 }

 .lambda_number {
     position: relative;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     border: 1px solid transparent;
     color: var(--foreground-color);
     font-weight: 500;
     pointer-events: all;
     overflow: hidden;
     z-index: 0;
     box-sizing: border-box;
     outline: none;
     width: 100%;
     font-family: var(--font-family);
     transition: border 0.2s ease-in-out, color 0.3s ease-in-out;


     &.lambda_number--type-default,
     &.lambda_number--type-decimal {
         padding: 0 0 0 var(--padding-lg);

         .lambda_number--currency {
             display: none;
         }

     }

     &:not(.lambda_number--type-default):not(.lambda_number--type-decimal) {
         padding: 0;
     }


     &:hover:is(.lambda_number--disabled) {
         outline: 3px solid var(--secondary-outline-color);
     }


 }

 .lambda_number--wrapper {
     position: relative;
     display: flex;
     flex-direction: column;
     gap: 4px;
     font-family: var(--font-family);
     width: max-content;
     margin: 0 0 24px 0;
     box-sizing: border-box;
 }


 .lambda_number--label {
     font-family: var(--font-family);
     color: var(--primary-text-color);
     padding: 0 0 0 4px;
     font-weight: 600;
 }

 .lambda_number--label-tiny {
     font-size: var(--font-size-sm);
 }

 .lambda_number--label-small {
     font-size: var(--font-size-sm);
 }

 .lambda_number--label-medium {
     font-size: var(--font-size-md);
 }

 .lambda_number--label-large {
     font-size: var(--font-size-lg);
 }

 .lambda_number--label-pill {
     padding: 0 0 0 16px;
 }

 .lambda_number--error {
     position: absolute;
     width: max-content;
     max-width: 100%;
     opacity: 0;
     padding: 2px 8px;
     font-size: var(--font-size-md);
     border-radius: var(--border-radius-sm);
     color: var(--foreground-color);
     background-color: var(--danger-color);
     animation: animateError 0.4s ease both;

     &::after {
         position: absolute;
         top: -6px;
         content: '';
         display: block;
         width: 0;
         height: 0;
         margin: 0 auto;
         border-left: 6px solid transparent;
         border-right: 6px solid transparent;
         border-bottom: 6px solid var(--danger-color);
     }
 }

 .lambda_number--error-tiny {
     top: calc(var(--height-input-sm) - 26px);
     font-size: var(--font-size-xs);
     letter-spacing: 0.5px;
 }

 .lambda_number--error-small {
     top: calc(var(--height-input-sm) - 20px);
     font-size: var(--font-size-xs);
     letter-spacing: 0.7px;
 }

 .lambda_number--error-medium {
     top: calc(var(--height-input-md) - 20px);
     font-size: var(--font-size-sm);
     letter-spacing: 0.5px;
 }

 .lambda_number--error-large {
     top: calc(var(--height-input-lg) - 20px);
     font-size: var(--font-size-sm);
     letter-spacing: 0.5px;
 }

 @keyframes animateError {
     to {
         transform: translateY(24px);
         opacity: 1;
     }
 }

 .lambda_number--field {
     background-color: transparent;
     color: var(--foreground-color);
     border: none;
     outline: none;
     width: 100%;
     font-family: var(--font-family);

     &:disabled {
         color: var(--foreground-color);
         cursor: not-allowed;
     }

     &.lambda_number--field-tiny {
         font-size: var(--font-size-sm);
     }

     &.lambda_number--field-small {
         font-size: var(--font-size-sm);
     }

     &.lambda_number--field-medium {
         font-size: var(--font-size-md);
     }

     &.lambda_number--field-large {
         font-size: var(--font-size-lg);
     }

     &.lambda_number--field-default {
         padding: 0;
     }

     &:not(.lambda_number--field-default) {
         padding: 0 0 0 var(--padding-md);
     }
 }


 .lambda_number--container {
     position: relative;
     display: flex;
     flex-direction: row;
     box-sizing: border-box;
     height: 100%;
 }

 .lambda_number--handler {
     display: flex;
     flex-direction: column;
     box-sizing: border-box;
     height: 100%;

     &.lambda_number--handler-flat {
         border-left: 1px solid transparent;
     }

     &.lambda_number--handler-outline {
         border-left: 1px solid var(--surface-d);
     }

     &.lambda_number--handler-tiny {
         width: var(--height-input-xs);
     }

     &.lambda_number--handler-small {
         width: var(--height-input-sm);
     }

     &.lambda_number--handler-medium {
         width: var(--height-input-md);
     }

     &.lambda_number--handler-large {
         width: var(--height-input-md);
     }
 }

 .lambda_number--variant-outline {
     background-color: var(--surface-a);
     border: 1px solid var(--surface-d);

     &:hover:not(.lambda_number--invalid):not(.lambda_number--disabled) {
         border-color: var(--primary-hover-color);
     }

     &:focus-within:not(.lambda_number--invalid):not(.lambda_number--disabled) {
         border: 1px solid var(--primary-hover-color);
         outline: 3px solid var(--primary-outline-color);
         background-color: var(--primary-light-color);
     }

     &.lambda_number--invalid {
         border-color: var(--danger-color);
         border-style: dashed;
         /*background-color: var(--dangerLight-color);*/
     }


 }

 .lambda_number--variant-flat {
     background-color: var(--surface-a);
     border: none;

     &:hover:not(.lambda_number--invalid):not(.lambda_number--disabled) {
         background-color: var(--primary-light-color);
     }

     &:focus-within:not(.lambda_number--invalid):not(.lambda_number--disabled) {
         outline: 3px solid var(--primary-outline-color);
         background-color: var(--primary-light-color);
     }

     &.lambda_number--invalid {
         background-color: var(--danger-light-color);
         /*background-color: var(--dangerLight-color);*/
     }

 }

 .lambda_number--size-tiny {
     min-height: var(--height-input-xs);
     height: var(--height-input-xs);
 }

 .lambda_number--size-small {
     min-height: var(--height-input-sm);
     height: var(--height-input-sm);
 }

 .lambda_number--size-medium {
     min-height: var(--height-input-md);
     height: var(--height-input-md)
 }

 .lambda_number--size-large {
     min-height: var(--height-input-lg);
     height: var(--height-input-lg);
 }

 .lambda_number--radius-none {
     border-radius: var(--border-radius-none);
 }

 .lambda_number--radius-small {
     border-radius: var(--border-radius-sm);
 }

 .lambda_number--radius-medium {
     border-radius: var(--border-radius-md);
 }

 .lambda_number--radius-large {
     border-radius: var(--border-radius-lg);
 }

 .lambda_number--radius-pill {
     border-radius: var(--border-radius-pill);
 }



 /*--------BUTTONS-------------*/

 .lambda_number--btn {
     display: flex;
     align-items: center;
     justify-content: center;
     border: none;
     border-left: 1px solid;
     padding: 0;
     border: none;
     height: 100%;
     width: 100%;
     box-sizing: border-box;
     transition: all 0.15s ease-in-out;
     color: var(--surface-f);
     background-color: var(--surface-c);
     transition: background-color 0.15s ease-in-out;
     box-shadow: 0 0 1px 1px #00000010 inset;


     &:hover:not(:disabled) {
         background-color: var(--primary-hover-color);
         color: var(--white-color);
     }

     &:active:not(:disabled) {
         background-color: var(--primary-color);
     }

     &:disabled {
         cursor: not-allowed;
     }

     .lambda_number--icon {
         pointer-events: none;

     }

     &.lambda_number--btn-tiny {
         .lambda_number--icon {

             width: var(--icon-size-3xs);
             height: var(--icon-size-3xs);
         }
     }

     &.lambda_number--btn-small {
         .lambda_number--icon {

             width: var(--icon-size-2xs);
             height: var(--icon-size-2xs);
         }
     }

     &.lambda_number--btn-medium {
         .lambda_number--icon {

             width: var(--icon-size-sm);
             height: var(--icon-size-sm);
         }
     }

     &.lambda_number--btn-large {
         .lambda_number--icon {

             width: var(--icon-size-md);
             height: var(--icon-size-md);
         }
     }


 }

 .lambda_number--btn-increment {
     border-bottom: none;
 }

 .lambda_number--btn-decrement {
     border-top: none;
 }

 .lambda_number--currency {
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: var(--surface-c);
     border: none;
     color: var(--surface-f);

     &:not(.lambda_number--currency-default) {
         border-right: 1px solid var(--surface-d);
         width: var(--height-md);

         &:is(.lambda_number--currency-flat) {
             border: none;
         }
     }

     &:is(.lambda_number--currency--dec) {
         border: none;
         width: 0;
     }

     &:is(.lambda_number--currency-tiny) {
         padding: 0 var(--padding-xs);

         & .lambda_number--currency-icon {
             height: var(--icon-size-2xs);
             width: var(--icon-size-2xs);
         }
     }

     &:is(.lambda_number--currency-small) {
         padding: 0 var(--padding-sm);

         & .lambda_number--currency-icon {
             height: var(--icon-size-xs);
             width: var(--icon-size-xs);
         }
     }

     &:is(.lambda_number--currency-medium) {
         padding: 0 var(--padding-md);

         & .lambda_number--currency-icon {
             height: var(--icon-size-sm);
             width: var(--icon-size-sm);
         }
     }

     &:is(.lambda_number--currency-large) {
         padding: 0 var(--padding-lg);

         & .lambda_number--currency-icon {
             height: var(--icon-size-md);
             width: var(--icon-size-md);
         }
     }
 }



 .lambda_number--separator {
     height: 1px;
     width: 100%;
     padding: 0;
     margin: 0;
     border: none;
     background-color: var(--surface-d);
     z-index: 2;
 }

 .lambda_number--wrapper-disabled {
     cursor: not-allowed;
     filter: contrast(90%) brightness(80%);
 }