.lambda-textarea-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.lambda-textarea-label {
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-semibold);
	color: var(--foreground-label-color);
	margin: 0 0 var(--spacing-xs) 0;

	&.lambda-textarea-label-required {
		&::after {
			content: " *";
			color: var(--danger-base-color);
		}
	}

	&.lambda-textarea-label-tiny {
		font-size: var(--font-size-xs);
	}

	&.lambda-textarea-label-small {
		font-size: var(--font-size-xs);
	}

	&.lambda-textarea-label-medium {
		font-size: var(--font-size-sm);
	}

	&.lambda-textarea-label-large {
		font-size: var(--font-size-md);
	}

	&.lambda-textarea-label-radius-none,
	&.lambda-textarea-label-radius-tiny {
		padding: var(--spacing-none) var(--spacing-none) var(--spacing-none) var(--spacing-xs);
	}

	&.lambda-textarea-label-radius-small {
		padding: var(--spacing-none) var(--spacing-none) var(--spacing-none) var(--spacing-xs);
	}

	&.lambda-textarea-label-radius-medium {
		padding: var(--spacing-none) var(--spacing-none) var(--spacing-none) var(--spacing-sm);
	}

	&.lambda-textarea-label-radius-large,
	&.lambda-textarea-label-radius-full {
		padding: var(--spacing-none) var(--spacing-none) var(--spacing-none) var(--spacing-md);
	}
}

.lambda-textarea {
	background-color: var(--surface-a);
	color: var(--foreground-color);

	&::placeholder {
		color: var(--placeholder-color);
	}

	&.lambda-textarea-tiny {
		font-size: var(--font-size-xs);
		padding: var(--spacing-xs);
	}

	&.lambda-textarea-small {
		font-size: var(--font-size-sm);
		padding: var(--spacing-sm);
	}

	&.lambda-textarea-medium {
		font-size: var(--font-size-md);
		padding: var(--spacing-sm);
	}

	&.lambda-textarea-large {
		font-size: var(--font-size-lg);
		padding: var(--spacing-md);
	}

	&.lambda-textarea-radius-none {
		border-radius: var(--border-radius-none);
	}

	&.lambda-textarea-radius-tiny {
		border-radius: var(--border-radius-xs);
	}

	&:is(.lambda-textarea-radius-small) {
		border-radius: var(--border-radius-sm);
	}

	&.lambda-textarea-radius-medium {
		border-radius: var(--border-radius-md);
	}

	&.lambda-textarea-radius-large,
	&.lambda-textarea-radius-full {
		border-radius: var(--border-radius-lg);
	}

	&.lambda-textarea-outline {
		border: var(--border-width-xs) solid var(--border-color);
		outline: 2px solid transparent;
		outline-offset: 2px;

		&:focus-within {
			outline: 3px solid var(--primary-opacity-color);
			outline-offset: 2px;
			border-color: var(--primary-base-color);
		}

		&.lambda-textarea-invalid {
			border: var(--border-width-xs) dashed var(--danger-base-color);
			outline-color: var(--danger-shadow-color);

			&:focus-within {
				outline: 3px solid var(--danger-outline-color);
				border-color: var(--danger-base-color);
			}
		}
	}

	&.lambda-textarea-soft {
		border: none;
		outline: 2px solid transparent;
		outline-offset: 2px;

		&:focus-within {
			outline: 3px solid var(--primary-opacity-color);
		}

		&.lambda-textarea-invalid {
			outline-color: var(--danger-shadow-color);

			&:focus-within {
				outline: 3px solid var(--danger-outline-color);
			}
		}
	}
}

.lambda-textarea-invalid-icon {
	position: absolute;
	color: var(--danger-base-color);
	width: var(--icon-size-sm);
	height: var(--icon-size-sm);
	right: var(--spacing-xs);
	top: var(--spacing-xs);

	&.lambda-textarea-invalid-icon-whitlabel {
		top: calc(var(--spacing-xs) + var(--icon-size-lg));
	}
}

.lambda-textarea-wrapper-disabled {
	opacity: 0.5;
	cursor: not-allowed;

	.lambda-textarea {
		cursor: not-allowed;
	}
}