.tab-wrapper {
	display: flex;
	flex-direction: column;
	font-family: var(--font-family);
	color: var(--foreground-color);

	&:is(.tab-wrapper-underline) {
		gap: var(--padding-md);
	}

	&:is(.tab-wrapper-soft) {
		gap: var(--padding-md);
	}

	&:is(.tab-wrapper-box) {
		gap: var(--padding-xs);
	}

	&:is(.tab-wrapper-border) {
		gap: var(--padding-none);
	}
}
.tab-tabs-container {
	position: relative;
	display: flex;
	flex-direction: row;
	box-shadow: inset 0 -1px 0 0 var(--border-color);
	width: 100%;
}

.tab-container {
	position: relative;
	display: flex;
	flex-direction: row;

	&:is(.tab-container-underline) {
		background-color: transparent;
		gap: var(--gap-md);
		border-bottom: 1px solid var(--border-color);
		border-bottom-left-radius: var(--border-radius-none) !important;
		border-bottom-right-radius: var(--border-radius-none) !important;
	}

	&:is(.tab-container-soft) {
		background-color: transparent;
		gap: var(--gap-md);
	}

	&:is(.tab-container-box) {
		padding: var(--padding-xs);
		gap: var(--gap-md);
		border: var(--border-width-xs) solid var(--border-color);
		width: max-content;
		background-color: var(--surface-a);
	}

	&:is(.tab-container-border) {
		padding: var(--padding-none) var(--padding-md);
		background-color: transparent;
		border: var(--border-width-xs) solid transparent;
		gap: var(--gap-xs);
		border-bottom: 1px solid var(--border-color);
		border-bottom-left-radius: var(--border-radius-none) !important;
		border-bottom-right-radius: var(--border-radius-none) !important;
	}
}

.tab-container-radius-none {
	border-radius: 0;
}

.tab-container-radius-tiny {
	border-radius: var(--border-radius-xs);
}

.tab-container-radius-small {
	border-radius: var(--border-radius-sm);
}

.tab-container-radius-medium {
	border-radius: var(--border-radius-md);
}

.tab-container-radius-large {
	border-radius: var(--border-radius-lg);
}

.tab-container-radius-full {
	border-radius: var(--border-radius-full);
}

.tab-input {
	display: none;
}

.tab-label {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 0;
	font-weight: 600;
	min-width: max-content;
	max-width: max-content;
	cursor: pointer;
	transition: background-color, opacity 0.5s ease;
	z-index: 2;

	&:is(.tab-label-underline) {
		background-color: transparent;

		&:not(.tab-label-selected) {
			background-color: transparent;
			color: var(--surface-d);

			&:hover {
				color: var(--surface-h);
			}
		}
	}

	&:is(.tab-label-soft) {
		background-color: transparent;

		&:not(.tab-label-selected) {
			background-color: transparent;
			color: var(--surface-d);

			&:hover {
				background-color: var(--surface-b);
				color: var(--surface-f);
			}
		}
	}

	&:is(.tab-label-box) {
		&:not(.tab-label-selected) {
			background-color: transparent;
			color: var(--foreground-secondary-color);

			&:hover {
				background-color: var(--surface-b);
			}
		}
	}

	&:is(.tab-label-border) {
		background-color: transparent;
		border: var(--border-width-xs) solid transparent;
		border-bottom: none;

		&:not(.tab-label-selected) {
			background-color: var(--surface-a);
			color: var(--foreground-secondary-color);
			border: var(--border-width-xs) solid var(--surface-d);
			border-bottom: none;
			border-bottom-left-radius: var(--border-radius-none) !important;
			border-bottom-right-radius: var(--border-radius-none) !important;
			z-index: 1;
			opacity: 0.45;

			&:hover {
				opacity: 0.9;
			}
		}
	}

	&.tab-label-selected {
		&.tab-label-neutral {
			color: var(--neutral-base-color);
		}
		&.tab-label-primary {
			color: var(--primary-base-color);
			&:is(.tab-label-soft) {
				color: var(--primary-text-color);
			}
		}
		&.tab-label-secondary {
			color: var(--secondary-base-color);
			&:is(.tab-label-soft) {
				color: var(--secondary-text-color);
			}
		}
		&.tab-label-success {
			color: var(--success-base-color);
			&:is(.tab-label-soft) {
				color: var(--success-text-color);
			}
		}
		&.tab-label-danger {
			color: var(--danger-base-color);
			&:is(.tab-label-soft) {
				color: var(--danger-text-color);
			}
		}
		&.tab-label-warning {
			color: var(--warning-base-color);
			&:is(.tab-label-soft) {
				color: var(--warning-text-color);
			}
		}
		&.tab-label-info {
			color: var(--info-base-color);
			&:is(.tab-label-soft) {
				color: var(--info-text-color);
			}
		}

		&:is(.tab-label-box) {
			color: var(--white-color);

			&:is(.tab-label-neutral) {
				color: var(--foreground-invert-color);
			}
		}
	}

	&:is(.tab-label-disabled) {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

.tab-label-tiny {
	font-size: var(--font-size-xs);
	padding: var(--padding-none) var(--padding-xl);
	height: var(--height-button-xs);
}

.tab-label-small {
	font-size: var(--font-size-sm);
	padding: var(--padding-none) var(--padding-xl);
	height: var(--height-button-sm);
}

.tab-label-medium {
	font-size: var(--font-size-md);
	padding: var(--padding-none) var(--padding-xl);
	height: var(--height-button-md);
}

.tab-label-large {
	font-size: var(--font-size-lg);
	padding: var(--padding-none) var(--padding-xl);
	height: var(--height-button-lg);
}

.tab-label-radius-none {
	border-radius: 0;
}

.tab-label-radius-tiny {
	border-radius: var(--border-radius-xs);
}

.tab-label-radius-small {
	border-radius: var(--border-radius-sm);
}

.tab-label-radius-medium {
	border-radius: var(--border-radius-md);
}

.tab-label-radius-large {
	border-radius: var(--border-radius-lg);
}

.tab-label-radius-full {
	border-radius: var(--border-radius-full);

	&:is(.tab-label-border) {
		border-radius: var(--border-radius-lg);
	}
}

.tab-current {
	position: absolute;
	transition: left 0.5s ease;
	z-index: 2;

	&:is(.tab-current-underline) {
		background-color: transparent;
		border-bottom: 2px solid;
		height: calc(100%);
		border-bottom-left-radius: var(--border-radius-none) !important;
		border-bottom-right-radius: var(--border-radius-none) !important;

		&:is(.tab-current-neutral) {
			border-bottom-color: var(--neutral-base-color);
		}

		&:is(.tab-current-primary) {
			border-bottom-color: var(--primary-base-color);
		}
		&:is(.tab-current-secondary) {
			border-bottom-color: var(--secondary-base-color);
		}
		&:is(.tab-current-success) {
			border-bottom-color: var(--success-base-color);
		}
		&:is(.tab-current-danger) {
			border-bottom-color: var(--danger-base-color);
		}
		&:is(.tab-current-warning) {
			border-bottom-color: var(--warning-base-color);
		}
		&:is(.tab-current-info) {
			border-bottom-color: var(--info-base-color);
		}
	}

	&:is(.tab-current-soft) {
		height: calc(100%);

		&:is(.tab-current-neutral) {
			background-color: var(--neutral-soft-color);
		}

		&:is(.tab-current-primary) {
			background-color: var(--primary-soft-color);
		}
		&:is(.tab-current-secondary) {
			background-color: var(--secondary-soft-color);
		}
		&:is(.tab-current-success) {
			background-color: var(--success-soft-color);
		}
		&:is(.tab-current-danger) {
			background-color: var(--danger-soft-color);
		}
		&:is(.tab-current-warning) {
			background-color: var(--warning-soft-color);
		}
		&:is(.tab-current-info) {
			background-color: var(--info-soft-color);
		}
	}

	&:is(.tab-current-box) {
		height: calc(100% - var(--padding-md));

		&:is(.tab-current-neutral) {
			background-color: var(--neutral-base-color);
		}

		&:is(.tab-current-primary) {
			background-color: var(--primary-base-color);
		}
		&:is(.tab-current-secondary) {
			background-color: var(--secondary-base-color);
		}
		&:is(.tab-current-success) {
			background-color: var(--success-base-color);
		}
		&:is(.tab-current-danger) {
			background-color: var(--danger-base-color);
		}
		&:is(.tab-current-warning) {
			background-color: var(--warning-base-color);
		}
		&:is(.tab-current-info) {
			background-color: var(--info-base-color);
		}
	}

	&:is(.tab-current-border) {
		background-color: var(--surface-a);
		border: var(--border-width-xs) solid var(--border-color);
		border-bottom: 0;
		border-bottom-left-radius: var(--border-radius-none) !important;
		border-bottom-right-radius: var(--border-radius-none) !important;
		height: calc(100%);

		&:after {
			position: absolute;
			content: "";
			border-bottom: 1px solid var(--surface-a);
			height: 100%;
			width: 100%;
			left: 0;
			bottom: -1px;
		}
	}

	&:is(.tab-current-radius-none) {
		border-radius: 0;
	}

	&:is(.tab-current-radius-tiny) {
		border-radius: var(--border-radius-xs);
	}

	&:is(.tab-current-radius-small) {
		border-radius: var(--border-radius-sm);
	}

	&:is(.tab-current-radius-medium) {
		border-radius: var(--border-radius-md);
	}

	&:is(.tab-current-radius-large) {
		border-radius: var(--border-radius-lg);
	}

	&:is(.tab-current-radius-full) {
		border-radius: var(--border-radius-full);

		&:is(.tab-current-border) {
			border-radius: var(--border-radius-lg);
		}
	}
}

.tab-content {
	&:is(.tab-content-underline) {
		padding: var(--padding-md);
	}

	&:is(.tab-content-soft) {
		padding: var(--padding-md);
	}

	&:is(.tab-content-box) {
		padding: var(--padding-md);
	}

	&:is(.tab-content-border) {
		padding: var(--padding-lg);
		background-color: var(--surface-a);
		border: var(--border-width-xs) solid var(--border-color);
		border-top: 1px solid transparent;
		border-top-left-radius: var(--border-radius-none) !important;
		border-top-right-radius: var(--border-radius-none) !important;
	}
}
