.lambda-splitter {
	display: grid;
	width: 100%;
	height: 100%;
	background: var(--background-color);
	overflow: hidden;
	color: var(--foreground-color);
}

.lambda-splitter-horizontal {
	grid-template-columns: 200px 2px 1fr;
	grid-template-rows: 1fr;
}

.lambda-splitter-vertical {
	grid-template-rows: 200px 2px 1fr;
	grid-template-columns: 1fr;
}

.lambda-splitter-pane {
	overflow: auto;
}

.lambda-splitter-bar {
	background: var(--surface-e);
	cursor: col-resize;
	transition: background 0.2s;
}

.lambda-splitter-horizontal .lambda-splitter-bar {
	width: 2px;
	height: 100%;
	cursor: col-resize;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -1px;
		width: 4px;
		height: 20px;
		background: var(--surface-h);
		border-radius: var(--radius-sm);
		z-index: 10;
	}
}

.lambda-splitter-vertical .lambda-splitter-bar {
	position: relative;
	height: 2px;
	width: 100%;
	cursor: row-resize;

	&:before {
		content: "";
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: -1px;
		width: 20px;
		height: 4px;
		background: var(--surface-h);
		border-radius: var(--radius-sm);
		z-index: 10;
	}
}

.lambda-splitter-bar:hover,
.lambda-splitter-bar:focus {
	background: var(--primary-hover-color);

	&:before {
		background: var(--primary-hover-color);
	}

	&:after {
		background: var(--primary-hover-color);
	}
}