.lambda-switch-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 0;
	border-radius: var(--border-radius-pill);
	color: var(--foreground-color);
	font-family: var(--font-family);

	&:hover:not(.lambda-switch-wrapper-disabled) {
		.lambda-switch-background-solid,
		.lambda-switch-background-outline,
		.lambda-switch-background-soft {
			&:is(.lambda-switch-background-neutral) {
				box-shadow: 0 0 1px 3px var(--neutral-shadow-color);
			}

			&:is(.lambda-switch-background-primary) {
				box-shadow: 0 0 1px 3px var(--primary-shadow-color);
			}

			&:is(.lambda-switch-background-secondary) {
				box-shadow: 0 0 1px 3px var(--secondary-shadow-color);
			}

			&:is(.lambda-switch-background-success) {
				box-shadow: 0 0 1px 3px var(--success-shadow-color);
			}

			&:is(.lambda-switch-background-danger) {
				box-shadow: 0 0 1px 3px var(--danger-shadow-color);
			}

			&:is(.lambda-switch-background-warning) {
				box-shadow: 0 0 1px 3px var(--warning-shadow-color);
			}

			&:is(.lambda-switch-background-info) {
				box-shadow: 0 0 1px 3px var(--info-shadow-color);
			}
		}
	}
}

.lambda-switch-wrapper-disabled {
	opacity: 0.5;
	* {
		cursor: not-allowed;
	}
}

.lambda-switch-wrapper:active
	.lambda-switch-handle:not(.lambda-switch-handle-checked):not(.lambda-switch-handle-disabled) {
	width: 50%;
}

.lambda-switch-wrapper:active
	.lambda-switch-handle.lambda-switch-handle-checked:not(.lambda-switch-handle-disabled) {
	width: 50%;
	transform: translateX(-7px);
}

.lambda-switch-wrapper:active
	.lambda-switch-handle.lambda-switch-handle-checked.lambda-switch-handle-large:not(
		.lambda-switch-handle-disabled
	) {
	width: 50%;
	transform: translateX(-9px);
}

.lambda-switch-text {
	color: var(--foreground-label-color);
	font-weight: var(--font-weight-md);

	&.lambda-switch-text-tiny {
		font-size: var(--font-size-sm);
	}

	&.lambda-switch-text-small {
		font-size: var(--font-size-sm);
	}

	&.lambda-switch-text-medium {
		font-size: var(--font-size-md);
	}

	&.lambda-switch-text-large {
		font-size: var(--font-size-lg);
	}
}

.lambda-switch-wrapper-position-left {
	flex-direction: row-reverse;
}

.lambda-switch-wrapper-position-top {
	flex-direction: column-reverse;
	gap: var(--gap-xs);
}

.lambda-switch-wrapper-position-bottom {
	gap: var(--gap-xs);
	flex-direction: column;
}

.lambda-switch {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	opacity: 0;
}

.lambda-switch-disabled {
	cursor: not-allowed;
}

.lambda-switch-background {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	background-color: var(--surface-b);
	transition: all 0.2s ease-out;
}

.lambda-switch-background-square {
	border-radius: var(--border-radius-none);
}

.lambda-switch-background-subtle {
	border-radius: var(--border-radius-sm);
}

.lambda-switch-background-rounded {
	border-radius: var(--border-radius-pill);
}

.lambda-switch-background-solid {
	border: var(--border-width-xs) solid var(--border-color);
	background-color: var(--surface-a);

	.lambda-switch-handle {
		background-color: var(--lambda-color-neutral-200);
		box-shadow: none;
	}

	&.lambda-switch-background-neutral {
		&.lambda-switch-background-checked {
			border-color: var(--neutral-base-color);
			background-color: var(--neutral-hover-color);

			.lambda-switch-handle {
				background-color: var(--white-color);
			}
		}
	}

	&.lambda-switch-background-primary {
		&.lambda-switch-background-checked {
			border-color: var(--primary-base-color);
			background-color: var(--primary-hover-color);

			.lambda-switch-handle {
				background-color: var(--white-color);
			}
		}
	}

	&.lambda-switch-background-secondary {
		&.lambda-switch-background-checked {
			border-color: var(--secondary-hover-color);
			background-color: var(--secondary-base-color);

			.lambda-switch-handle {
				background-color: var(--white-color);
			}
		}
	}

	&.lambda-switch-background-success {
		&.lambda-switch-background-checked {
			border-color: var(--success-hover-color);
			background-color: var(--success-base-color);

			.lambda-switch-handle {
				background-color: var(--white-color);
			}
		}
	}

	&.lambda-switch-background-danger {
		&.lambda-switch-background-checked {
			border-color: var(--danger-hover-color);
			background-color: var(--danger-base-color);

			.lambda-switch-handle {
				background-color: var(--white-color);
			}
		}
	}

	&.lambda-switch-background-warning {
		&.lambda-switch-background-checked {
			border-color: var(--warning-hover-color);
			background-color: var(--warning-base-color);

			.lambda-switch-handle {
				background-color: var(--white-color);
			}
		}
	}

	&.lambda-switch-background-info {
		&.lambda-switch-background-checked {
			border-color: var(--info-hover-color);
			background-color: var(--info-base-color);

			.lambda-switch-handle {
				background-color: var(--white-color);
			}
		}
	}

	&.lambda-switch-background-disabled:not(.lambda-switch-background-checked) {
		background-color: var(--surface-d);
		border-color: var(--surface-d);

		.lambda-switch-handle {
			background-color: var(--surface-e);
		}
	}
}

.lambda-switch-background-soft {
	border: var(--border-width-xs) solid transparent;
	background-color: var(--surface-b);

	.lambda-switch-handle {
		background-color: var(--lambda-color-neutral-200);
		box-shadow: none;
	}

	&.lambda-switch-background-neutral {
		&.lambda-switch-background-checked {
			background-color: var(--neutral-subtle-color);

			.lambda-switch-handle {
				background-color: var(--white-color);
			}
		}
	}

	&.lambda-switch-background-primary {
		&.lambda-switch-background-checked {
			background-color: var(--primary-subtle-color);

			.lambda-switch-handle {
				background-color: var(--white-color);
			}
		}
	}

	&.lambda-switch-background-secondary {
		&.lambda-switch-background-checked {
			background-color: var(--secondary-subtle-color);

			.lambda-switch-handle {
				background-color: var(--white-color);
			}
		}
	}

	&.lambda-switch-background-success {
		&.lambda-switch-background-checked {
			background-color: var(--success-subtle-color);

			.lambda-switch-handle {
				background-color: var(--white-color);
			}
		}
	}

	&.lambda-switch-background-danger {
		&.lambda-switch-background-checked {
			background-color: var(--danger-subtle-color);

			.lambda-switch-handle {
				background-color: var(--white-color);
			}
		}
	}

	&.lambda-switch-background-warning {
		&.lambda-switch-background-checked {
			background-color: var(--warning-subtle-color);

			.lambda-switch-handle {
				background-color: var(--white-color);
			}
		}
	}

	&.lambda-switch-background-info {
		&.lambda-switch-background-checked {
			background-color: var(--info-subtle-color);

			.lambda-switch-handle {
				background-color: var(--white-color);
			}
		}
	}

	&.lambda-switch-background-checked {
		.lambda-switch-handle {
			background-color: var(--white-color);
		}
	}

	&.lambda-switch-background-disabled:not(.lambda-switch-background-checked) {
		background-color: var(--surface-c);

		.lambda-switch-handle {
			background-color: var(--surface-e);
		}
	}
}

.lambda-switch-background-outline {
	border: var(--border-width-xs) solid var(--border-color);
	background-color: transparent;

	.lambda-switch-handle {
		background-color: var(--lambda-color-neutral-200);
		box-shadow: none;
	}

	&.lambda-switch-background-neutral {
		&.lambda-switch-background-checked {
			border-color: var(--neutral-base-color);

			.lambda-switch-handle {
				background-color: var(--neutral-base-color);
				box-shadow: none;
			}
		}
	}

	&.lambda-switch-background-primary {
		&.lambda-switch-background-checked {
			border-color: var(--primary-base-color);

			.lambda-switch-handle {
				background-color: var(--primary-base-color);
				box-shadow: none;
			}
		}
	}

	&.lambda-switch-background-secondary {
		&.lambda-switch-background-checked {
			border-color: var(--secondary-base-color);

			.lambda-switch-handle {
				background-color: var(--secondary-base-color);
				box-shadow: none;
			}
		}
	}

	&.lambda-switch-background-success {
		&.lambda-switch-background-checked {
			border-color: var(--success-base-color);

			.lambda-switch-handle {
				background-color: var(--success-base-color);
				box-shadow: none;
			}
		}
	}

	&.lambda-switch-background-danger {
		&.lambda-switch-background-checked {
			border-color: var(--danger-base-color);

			.lambda-switch-handle {
				background-color: var(--danger-base-color);
				box-shadow: none;
			}
		}
	}

	&.lambda-switch-background-warning {
		&.lambda-switch-background-checked {
			border-color: var(--warning-base-color);

			.lambda-switch-handle {
				background-color: var(--warning-base-color);
				box-shadow: none;
			}
		}
	}

	&.lambda-switch-background-info {
		&.lambda-switch-background-checked {
			border-color: var(--info-base-color);

			.lambda-switch-handle {
				background-color: var(--info-base-color);
				box-shadow: none;
			}
		}
	}

	&.lambda-switch-background-disabled:not(.lambda-switch-background-checked) {
		border-color: var(--surface-d);

		.lambda-switch-handle {
			background-color: var(--surface-e);
		}
	}
}

.lambda-switch-background-disabled-true {
	cursor: not-allowed;
}

.lambda-switch-background-tiny {
	width: calc(var(--height-checkbox-xs) * 2);
	height: var(--height-checkbox-xs);
}

.lambda-switch-background-small {
	width: calc(var(--height-checkbox-sm) * 2);
	height: var(--height-checkbox-sm);
}

.lambda-switch-background-medium {
	width: calc(var(--height-checkbox-md) * 2);
	height: var(--height-checkbox-md);
}

.lambda-switch-background-large {
	width: calc(var(--height-checkbox-lg) * 2);
	height: var(--height-checkbox-lg);
}

.lambda-switch-handle {
	position: absolute;
	pointer-events: none;
	box-sizing: border-box;
	transition: all 0.25s ease-in-out;
	width: var(--height-checkbox-sm);
	height: var(--height-checkbox-sm);
	box-shadow: 0 0 1px 2px #00000020;
}

.lambda-switch-handle-square {
	border-radius: var(--border-radius-none);
}

.lambda-switch-handle-subtle {
	border-radius: calc(var(--border-radius-xs) + 1px);
}

.lambda-switch-handle-rounded {
	border-radius: var(--border-radius-pill);
}

.lambda-switch-handle-tiny {
	left: 4px;
	width: calc(var(--height-checkbox-xs) - 6px);
	height: calc(var(--height-checkbox-xs) - 6px);
}

.lambda-switch-handle-small {
	left: 4px;
	width: calc(var(--height-checkbox-sm) - 8px);
	height: calc(var(--height-checkbox-sm) - 8px);
}

.lambda-switch-handle-medium {
	left: 4px;
	width: calc(var(--height-checkbox-md) - 8px);
	height: calc(var(--height-checkbox-md) - 8px);
}

.lambda-switch-handle-large {
	left: 5px;
	width: calc(var(--height-checkbox-lg) - 10px);
	height: calc(var(--height-checkbox-lg) - 10px);
}

.lambda-switch-handle-checked.lambda-switch-handle-tiny {
	left: calc(100% - var(--height-checkbox-xs) + 4px);
}

.lambda-switch-handle-checked.lambda-switch-handle-small {
	left: calc(100% - var(--height-checkbox-sm) + 4px);
}

.lambda-switch-handle-checked.lambda-switch-handle-medium {
	left: calc(100% - var(--height-checkbox-md) + 4px);
}

.lambda-switch-handle-checked.lambda-switch-handle-large {
	left: calc(100% - var(--height-checkbox-lg) + 5px);
}

@keyframes animateIcon {
	0% {
		transform: scale(0.1);
	}

	50% {
		transform: scale(1.2);
	}

	0% {
		transform: scale(0.7);
	}
}
