.lambda-helper {
	position: absolute;
	left: var(--spacing-sm);
	bottom: -4px;
	opacity: 1;
	font-family: var(--font-family);
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-xs);
	color: var(--foreground-helper-color);
	transform: translateY(15px);
	transition: all 0.3s ease-in-out;
}

.lambda-helper-disabled {
	opacity: 0.5;
}

&.lambda-helper-tiny {
	top: calc(var(--height-input-xs) + 2px);
}

&.lambda-helper-small {
	top: calc(var(--height-input-sm) + 2px);
}

&.lambda-helper-medium {
	top: calc(var(--height-input-md) +50px);
}

&.lambda-helper-large {
	top: calc(var(--height-input-lg) + 2px);
}