.lambda-input-group-outline,
.lambda-input-group-underline {
	background-color: var(--surface-a);
	border: var(--border-width-xs) solid var(--surface-d);
}
.lambda-input-group-soft,
.lambda-input-group-underline {
	background-color: var(--surface-a);
}

.lambda-input-group-tiny {
	font-size: var(--font-size-xs);
	height: var(--height-input-xs);
}

.lambda-input-group-small {
	font-size: var(--font-size-xs);
	height: var(--height-input-sm);
}

.lambda-input-group-medium {
	font-size: var(--font-size-sm);
	height: var(--height-input-md);
}

.lambda-input-group-large {
	font-size: var(--font-size-md);
	height: var(--height-input-lg);
}

.lambda-input-group-radius-none {
	border-radius: var(--border-radius-none);

	&.lambda-input-group-elements-last {
		.lambda-input-group-end > button {
			border-radius: var(--border-radius-none);
		}
	}

	&.lambda-input-group-elements-first {
		.lambda-input-group-start > button {
			border-radius: var(--border-radius-none);
		}
	}

	&.lambda-input-group-elements-both {
		.lambda-input-group-start > button {
			border-radius: var(--border-radius-none);
		}

		.lambda-input-group-end > button {
			border-radius: var(--border-radius-none);
		}
	}
}

.lambda-input-group-radius-small {
	border-radius: var(--border-radius-sm);

	&.lambda-input-group-elements-last {
		.lambda-input-group-wrapper {
			border-radius: var(--border-radius-sm) var(--border-radius-none) var(--border-radius-none)
				var(--border-radius-sm);
		}

		.lambda-input-group-end > button {
			border-radius: var(--border-radius-none) var(--border-radius-sm) var(--border-radius-sm)
				var(--border-radius-none);
		}
	}

	&.lambda-input-group-elements-first {
		.lambda-input-group-wrapper {
			border-radius: var(--border-radius-none) var(--border-radius-sm) var(--border-radius-sm)
				var(--border-radius-none);
		}

		.lambda-input-group-start > button {
			border-radius: var(--border-radius-sm) var(--border-radius-none) var(--border-radius-none)
				var(--border-radius-sm);
		}
	}

	&.lambda-input-group-elements-both {
		.lambda-input-group-start > button {
			border-radius: var(--border-radius-sm) var(--border-radius-none) var(--border-radius-none)
				var(--border-radius-sm);
		}

		.lambda-input-group-end > button {
			border-radius: var(--border-radius-none) var(--border-radius-sm) var(--border-radius-sm)
				var(--border-radius-none);
		}
	}
}

.lambda-input-group-radius-medium {
	border-radius: var(--border-radius-md);

	&.lambda-input-group-underline {
		border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
	}

	&.lambda-input-group-elements-last {
		.lambda-input-group-wrapper {
			border-radius: var(--border-radius-md) var(--border-radius-none) var(--border-radius-none)
				var(--border-radius-md);
		}

		.lambda-input-group-end > button {
			border-radius: var(--border-radius-none) var(--border-radius-md) var(--border-radius-md)
				var(--border-radius-none);
		}
	}

	&.lambda-input-group-elements-first {
		.lambda-input-group-wrapper {
			border-radius: var(--border-radius-none) var(--border-radius-md) var(--border-radius-md)
				var(--border-radius-none);
		}

		.lambda-input-group-start > button {
			border-radius: var(--border-radius-md) var(--border-radius-none) var(--border-radius-none)
				var(--border-radius-md);
		}
	}

	&.lambda-input-group-elements-both {
		.lambda-input-group-start > button {
			border-radius: var(--border-radius-md) var(--border-radius-none) var(--border-radius-none)
				var(--border-radius-md);
		}

		.lambda-input-group-end > button {
			border-radius: var(--border-radius-none) var(--border-radius-md) var(--border-radius-md)
				var(--border-radius-none);
		}
	}
}

.lambda-input-group-radius-large {
	border-radius: var(--border-radius-lg);

	&.lambda-input-group-underline {
		border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
	}

	&.lambda-input-group-elements-last {
		.lambda-input-group-wrapper {
			border-radius: var(--border-radius-lg) var(--border-radius-none) var(--border-radius-none)
				var(--border-radius-lg);
		}

		.lambda-input-group-end > button {
			border-radius: var(--border-radius-none) var(--border-radius-lg) var(--border-radius-lg)
				var(--border-radius-none);
		}
	}

	&.lambda-input-group-elements-first {
		.lambda-input-group-wrapper {
			border-radius: var(--border-radius-none) var(--border-radius-lg) var(--border-radius-lg)
				var(--border-radius-none);
		}

		.lambda-input-group-start > button {
			border-radius: var(--border-radius-lg) var(--border-radius-none) var(--border-radius-none)
				var(--border-radius-lg);
		}
	}

	&.lambda-input-group-elements-both {
		.lambda-input-group-start > button {
			border-radius: var(--border-radius-lg) var(--border-radius-none) var(--border-radius-none)
				var(--border-radius-lg);
		}

		.lambda-input-group-end > button {
			border-radius: var(--border-radius-none) var(--border-radius-lg) var(--border-radius-lg)
				var(--border-radius-none);
		}
	}
}

.lambda-input-group-radius-pill {
	border-radius: var(--border-radius-pill);

	&.lambda-input-group-underline {
		border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
	}

	&.lambda-input-group-elements-last {
		.lambda-input-group-wrapper {
			border-radius: var(--border-radius-pill) var(--border-radius-none) var(--border-radius-none)
				var(--border-radius-pill);
		}

		.lambda-input-group-end > button {
			border-radius: var(--border-radius-none) var(--border-radius-pill) var(--border-radius-pill)
				var(--border-radius-none);
		}
	}

	.lambda-input-group-start > button {
		border-radius: var(--border-radius-pill) var(--border-radius-none) var(--border-radius-none)
			var(--border-radius-pill);
	}
}

&.lambda-input-group-elements-both {
	.lambda-input-group-start > button {
		border-radius: var(--border-radius-pill) var(--border-radius-none) var(--border-radius-none)
			var(--border-radius-pill);
	}

	.lambda-input-group-end > button {
		border-radius: var(--border-radius-none) var(--border-radius-pill) var(--border-radius-pill)
			var(--border-radius-none);
	}
}

.lambda-input-group-invalid {
	background-color: var(--danger-soft-color);
}

.lambda-input-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	outline: none;
	font-family: var(--font-family);
	background: var(--surface-c);

	.lambda-input-group-start,
	.lambda-input-group-end {
		display: flex;
		align-items: center;
		height: 100%;
		color: var(--surface-g);
		font-weight: var(--font-weight-semibold);

		& > button {
			height: 100%;
			border: var(--border-width-xs) solid transparent;
		}
	}

	&.lambda-input-group-tiny {
		.lambda-input-group-start,
		.lambda-input-group-end {
			& > svg {
				width: var(--icon-size-xs);
				height: var(--icon-size-xs);
				margin: 0 var(--padding-lg);
			}

			& > span {
				font-size: var(--font-size-xs);
				font-family: inherit;
				margin: 0 var(--padding-lg);
			}
		}
	}

	&.lambda-input-group-small {
		.lambda-input-group-start,
		.lambda-input-group-end {
			& > svg {
				width: var(--icon-size-sm);
				height: var(--icon-size-sm);
				margin: 0 var(--padding-lg);
			}

			& > span {
				font-size: var(--font-size-xs);
				font-family: inherit;
				margin: 0 var(--padding-lg);
			}
		}
	}

	&.lambda-input-group-medium {
		.lambda-input-group-start,
		.lambda-input-group-end {
			display: flex;
			align-items: center;
			justify-content: center;

			& > svg {
				width: var(--icon-size-md);
				height: var(--icon-size-md);
				margin: 0 var(--padding-lg);
			}

			& > *:not(button) {
				font-size: var(--font-size-md);
				font-family: inherit;
				margin: 0 var(--padding-lg);
			}
		}
	}

	&.lambda-input-group-large {
		.lambda-input-group-start,
		.lambda-input-group-end {
			& > svg {
				width: var(--icon-size-lg);
				height: var(--icon-size-lg);
				margin: 0 var(--padding-lg);
			}

			& > span {
				font-size: var(--font-size-lg);
				font-family: inherit;
				margin: 0 var(--padding-lg);
			}
		}
	}

	.lambda-input-group-input {
		flex-grow: 1;
	}
}

.lambda-input-group-wrapper {
	width: 100%;
	height: 100%;
	border: none;
	box-sizing: border-box;
	margin: -2px 0 0 0;
	background-color: var(--surface-a);

	&.lambda-input-group-outline,
	&.lambda-input-group-underline {
		border: var(--border-width-xs) solid var(--surface-d);
	}
	&:is(.lambda-input-group-wrapper-soft) {
		margin: -0px 0 0 0;
	}
}

.lambda-input-group-disabled {
	cursor: not-allowed;

	.lambda-input-group-start,
	.lambda-input-group-end {
		color: var(--surface-d);
	}
}

.lambda-input-group-container {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
}
