.breadcrumb {
	display: flex;
	gap: 8px;
	font-family: var(--font-family);
}

.breadcrumb-item {
	display: flex;
	align-items: center;
	gap: 4px;
	text-decoration: none;
	color: var(--foreground-secondary-color);
	opacity: 0.9;
	transition: color 0.2s ease-in-out;

	&.breadcrumb-item-tiny {
		font-size: var(--font-size-xs);

		svg {
			width: var(--size-xs);
			height: var(--size-xs);
		}
	}

	&.breadcrumb-item-small {
		font-size: var(--font-size-sm);

		svg {
			width: var(--size-sm);
			height: var(--size-sm);
		}
	}

	&.breadcrumb-item-medium {
		font-size: var(--font-size-md);

		svg {
			width: var(--size-md);
			height: var(--size-md);
		}
	}

	&.breadcrumb-item-large {
		font-size: var(--font-size-lg);

		svg {
			width: var(--size-lg);
			height: var(--size-lg);
		}
	}
}

.breadcrumb-item:hover {
	opacity: 1;

	&:is(.breadcrumb-item-neutral) {
		color: var(--neutral-base-color);
	}

	&:is(.breadcrumb-item-primary) {
		color: var(--primary-base-color);
	}

	&:is(.breadcrumb-item-secondary) {
		color: var(--secondary-base-color);
	}

	&:is(.breadcrumb-item-success) {
		color: var(--success-hover-color);
	}

	&:is(.breadcrumb-item-danger) {
		color: var(--danger-hover-color);
	}

	&:is(.breadcrumb-item-warning) {
		color: var(--warning-base-color);
	}

	&:is(.breadcrumb-item-info) {
		color: var(--info-hover-color);
	}
}

.breadcrumb-separator {
	display: flex;
	align-items: center;
	color: var(--surface-d);

	&:has(svg) {
		svg {
			margin-left: var(--spacing-xs);
			margin-right: var(--spacing-xs);
		}
	}

	&:not(:has(svg)) {
		margin-left: var(--spacing-sm);
		margin-right: var(--spacing-sm);
	}

	&.breadcrumb-separator-tiny {
		font-size: var(--font-size-sm);

		svg {
			width: var(--font-size-md);
			height: var(--font-size-md);
		}
	}

	&.breadcrumb-separator-small {
		font-size: var(--font-size-sm);

		svg {
			width: var(--font-size-md);
			height: var(--font-size-md);
		}
	}

	&.breadcrumb-separator-medium {
		font-size: var(--font-size-md);

		svg {
			width: var(--font-size-lg);
			height: var(--font-size-lg);
		}
	}

	&.breadcrumb-separator-large {
		font-size: var(--font-size-lg);

		svg {
			width: var(--font-size-xl);
			height: var(--font-size-xl);
		}
	}
}

.breadcrumb-container {
	display: flex;
	flex-flow: row wrap;
	width: fit-content;
	align-items: center;
	justify-content: flex-start;
	margin: var(--spacing-none);
	padding: var(--spacing-none);

	&>ul {
		margin: var(--spacing-none);
		padding: var(--spacing-none);
	}

	:not(:nth-last-child(1)) {
		& .breadcrumb-item {
			font-weight: var(--font-weight-normal);
		}
	}

	:nth-last-child(1) {
		& .breadcrumb-item {
			font-weight: var(--font-weight-bold);
		}
	}

	&:not(.breadcrumb-container-stepped) {
		:nth-last-child(1) {
			& .breadcrumb-item {
				opacity: 1;
				padding: var(--spacing-xs) var(--spacing-sm);
				border-radius: var(--radius-sm);
			}

			& .breadcrumb-item.breadcrumb-item-neutral {
				color: var(--neutral-base-color);
				/*background-color: var(--neutral-opacity-color);*/
			}

			& .breadcrumb-item.breadcrumb-item-primary {
				color: var(--primary-base-color);
				/*background-color: var(--primary-opacity-color);*/
			}

			& .breadcrumb-item.breadcrumb-item-secondary {
				color: var(--secondary-base-color);
				/*background-color: var(--secondary-opacity-color);*/
			}

			& .breadcrumb-item.breadcrumb-item-success {
				color: var(--success-base-color);
				/*background-color: var(--success-opacity-color);*/
			}

			& .breadcrumb-item.breadcrumb-item-danger {
				color: var(--danger-base-color);
				/*background-color: var(--danger-opacity-color);*/
			}

			& .breadcrumb-item.breadcrumb-item-warning {
				color: var(--warning-base-color);
				/*background-color: var(--warning-opacity-color);*/
			}

			& .breadcrumb-item.breadcrumb-item-info {
				color: var(--info-base-color);
				/*background-color: var(--info-opacity-color);*/
			}
		}
	}
}

.breadcrumb-ellipsis {
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--size-xs);
	height: var(--size-xs);
	border-radius: var(--radius-sm);
	font-weight: var(--font-weight-semibold);
	background-color: var(--surface-b);
	color: var(--surface-f);
	border: none;
	transition: all 0.2s ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: var(--surface-c);
		color: var(--neutral-text-color);
	}

	&.breadcrumb-ellipsis-radius-none {
		border-radius: var(--radius-none);
	}

	&.breadcrumb-ellipsis-radius-tiny {
		border-radius: var(--radius-xs);
	}

	&.breadcrumb-ellipsis-radius-small {
		border-radius: var(--radius-sm);
	}

	&.breadcrumb-ellipsis-radius-medium {
		border-radius: var(--radius-md);
	}

	&.breadcrumb-ellipsis-radius-large {
		border-radius: var(--radius-lg);
	}

	&.breadcrumb-ellipsis-radius-full {
		border-radius: var(--radius-full);
	}
}

.breadcrumb-stepped {
	& .breadcrumb-item {

		&.breadcrumb-item-tiny,
		&.breadcrumb-item-small,
		&.breadcrumb-item-medium,
		&.breadcrumb-item-large {
			padding: var(--spacing-xs) var(--spacing-sm);
		}
	}
}

.breadcrumb-container-stepped {
	& .breadcrumb-item {
		position: relative;
		background-color: var(--surface-b);

		&::after,
		&::before {
			position: absolute;
			content: "";
			width: 0;
			height: 0;
			bottom: 0;
		}
	}

	:first-child {
		& .breadcrumb-item {
			font-weight: var(--font-weight-medium);
			padding: var(--spacing-none) var(--spacing-md) var(--spacing-none) var(--spacing-lg);

			&.breadcrumb-item-radius-none {
				border-radius: var(--radius-none);
			}

			&.breadcrumb-item-radius-tiny {
				border-radius: var(--radius-tiny) var(--radius-none) var(--radius-none) var(--radius-tiny);
			}

			&.breadcrumb-item-radius-small {
				border-radius: var(--radius-sm) var(--radius-none) var(--radius-none) var(--radius-sm);
			}

			&.breadcrumb-item-radius-medium {
				border-radius: var(--radius-md) var(--radius-none) var(--radius-none) var(--radius-md);
			}

			&.breadcrumb-item-radius-large {
				border-radius: var(--radius-lg) var(--radius-none) var(--radius-none) var(--radius-lg);
			}

			&.breadcrumb-item-radius-full {
				border-radius: var(--radius-full) var(--radius-none) var(--radius-none) var(--radius-full);
			}

			&:after {
				right: -10px;
				border-bottom: 12px solid transparent;
				border-top: 12px solid transparent;
				border-left: 10px solid var(--surface-b);
			}

			&.breadcrumb-item-small {
				&::after {
					right: -11px;
					border-bottom: calc(var(--size-xl) / 2) solid transparent;
					border-top: calc(var(--size-xl) / 2) solid transparent;
					border-left: 11px solid var(--surface-b);
				}
			}

			&.breadcrumb-item-medium {
				&::after {
					right: -11px;
					border-bottom: calc(var(--size-2xl) / 2) solid transparent;
					border-top: calc(var(--size-2xl) / 2) solid transparent;
					border-left: 11px solid var(--surface-b);
				}
			}

			&.breadcrumb-item-large {
				&::after {
					right: -12px;
					border-bottom: calc(var(--size-3xl) / 2) solid transparent;
					border-top: calc(var(--size-3xl) / 2) solid transparent;
					border-left: 12px solid var(--surface-b);
				}
			}
		}
	}

	:not(:first-child):not(:last-child) {
		& .breadcrumb-item {
			font-weight: var(--font-weight-medium);

			&::before {
				left: -10px;
				border-bottom: 12px solid var(--surface-b);
				border-top: 12px solid var(--surface-b);
				border-left: 10px solid transparent;
			}

			&:after {
				right: -10px;
				border-bottom: 12px solid transparent;
				border-top: 12px solid transparent;
				border-left: 10px solid var(--surface-b);
			}

			&.breadcrumb-item-small {
				&::before {
					left: -11px;
					border-bottom: calc(var(--size-xl) / 2) solid var(--surface-b);
					border-top: calc(var(--size-xl) / 2) solid var(--surface-b);
					border-left: 11px solid transparent;
				}

				&::after {
					right: -11px;
					border-bottom: calc(var(--size-xl) / 2) solid transparent;
					border-top: calc(var(--size-xl) / 2) solid transparent;
					border-left: 11px solid var(--surface-b);
				}
			}

			&.breadcrumb-item-medium {
				&::before {
					left: -11px;
					border-bottom: calc(var(--size-2xl) / 2) solid var(--surface-b);
					border-top: calc(var(--size-2xl) / 2) solid var(--surface-b);
					border-left: 11px solid transparent;
				}

				&::after {
					right: -11px;
					border-bottom: calc(var(--size-2xl) / 2) solid transparent;
					border-top: calc(var(--size-2xl) / 2) solid transparent;
					border-left: 11px solid var(--surface-b);
				}
			}

			&.breadcrumb-item-large {
				&::before {
					left: -12px;
					border-bottom: calc(var(--size-3xl) / 2) solid var(--surface-b);
					border-top: calc(var(--size-3xl) / 2) solid var(--surface-b);
					border-left: 12px solid transparent;
				}

				&::after {
					right: -12px;
					border-bottom: calc(var(--size-3xl) / 2) solid transparent;
					border-top: calc(var(--size-3xl) / 2) solid transparent;
					border-left: 12px solid var(--surface-b);
				}
			}
		}
	}

	& :nth-last-child(1) {
		& .breadcrumb-item {
			cursor: auto;
			padding: var(--spacing-xs) var(--spacing-lg) var(--spacing-xs) var(--spacing-md);
			font-weight: var(--font-weight-semibold);

			&.breadcrumb-item-radius-none {
				border-radius: var(--radius-none);
			}

			&.breadcrumb-item-radius-tiny {
				border-radius: var(--radius-none) var(--radius-tiny) var(--radius-tiny) var(--radius-none);
			}

			&.breadcrumb-item-radius-small {
				border-radius: var(--radius-none) var(--radius-sm) var(--radius-sm) var(--radius-none);
			}

			&.breadcrumb-item-radius-medium {
				border-radius: var(--radius-none) var(--radius-md) var(--radius-md) var(--radius-none);
			}

			&.breadcrumb-item-radius-large {
				border-radius: var(--radius-none) var(--radius-lg) var(--radius-lg) var(--radius-none);
			}

			&.breadcrumb-item-radius-full {
				border-radius: var(--radius-none) var(--radius-full) var(--radius-full) var(--radius-none);
			}

			&::before {
				left: -10px;
				border-bottom: 12px solid var(--surface-b);
				border-top: 12px solid var(--surface-b);
				border-left: 10px solid transparent;
			}

			&.breadcrumb-item-small {
				&::before {
					left: -11px;
					border-bottom: calc(var(--size-xl) / 2) solid var(--surface-c);
					border-top: calc(var(--size-xl) / 2) solid var(--surface-c);
					border-left: 11px solid transparent;
				}
			}

			&.breadcrumb-item-medium {
				&::before {
					left: -11px;
					border-bottom: calc(var(--size-2xl) / 2) solid var(--surface-c);
					border-top: calc(var(--size-2xl) / 2) solid var(--surface-c);
					border-left: 11px solid transparent;
				}
			}

			&.breadcrumb-item-large {
				&::before {
					left: -12px;
					border-bottom: calc(var(--size-3xl) / 2) solid var(--surface-c);
					border-top: calc(var(--size-3xl) / 2) solid var(--surface-c);
					border-left: 12px solid transparent;
				}
			}

			&.breadcrumb-item-neutral {
				background-color: var(--neutral-soft-color);
				color: var(--neutral-text-color);

				&::before {
					border-bottom-color: var(--neutral-soft-color);
					border-top-color: var(--neutral-soft-color);
				}
			}

			&.breadcrumb-item-primary {
				background-color: var(--primary-soft-color);
				color: var(--primary-text-color);

				&::before {
					border-bottom-color: var(--primary-soft-color);
					border-top-color: var(--primary-soft-color);
				}
			}

			&.breadcrumb-item-secondary {
				background-color: var(--secondary-opacity-color);
				color: var(--secondary-text-color);

				&::before {
					border-bottom-color: var(--secondary-opacity-color);
					border-top-color: var(--secondary-opacity-color);
				}
			}

			&.breadcrumb-item-success {
				background-color: var(--success-soft-color);
				color: var(--success-text-color);

				&::before {
					border-bottom-color: var(--success-soft-color);
					border-top-color: var(--success-soft-color);
				}
			}

			&.breadcrumb-item-danger {
				background-color: var(--danger-soft-color);
				color: var(--danger-text-color);

				&::before {
					border-bottom-color: var(--danger-soft-color);
					border-top-color: var(--danger-soft-color);
				}
			}

			&.breadcrumb-item-warning {
				background-color: var(--warning-soft-color);
				color: var(--warning-text-color);

				&::before {
					border-bottom-color: var(--warning-soft-color);
					border-top-color: var(--warning-soft-color);
				}
			}

			&.breadcrumb-item-info {
				background-color: var(--info-soft-color);
				color: var(--info-text-color);

				&::before {
					border-bottom-color: var(--info-soft-color);
					border-top-color: var(--info-soft-color);
				}
			}
		}
	}
}



.breadcrumb-item-tiny {
	padding: var(--spacing-none) var(--spacing-md);
	height: var(--size-lg);
	margin: -2px;
}

.breadcrumb-item-small {
	padding: var(--spacing-none) var(--spacing-md);
	height: var(--size-xl);
	margin: -1px;
}

.breadcrumb-item-medium {
	padding: var(--spacing-none) var(--spacing-md);
	height: var(--size-2xl);
	margin: -1px;
}

.breadcrumb-item-large {
	padding: var(--spacing-none) var(--spacing-lg);
	height: var(--size-3xl);
}