.select-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	font-family: var(--font-family);
	width: 100%;
}

.select-option-active {
	background-color: var(--primary-subtle-color);
	color: var(--primary-base-color);
}

.select-icon-svg {
	transition: transform 0.2s ease;
	color: var(--surface-g);
}

.select-icon-svg.rotated {
	transform: rotate(180deg);
}

.select-label {
	position: absolute;
	top: -1.4em;
	display: block;
	font-weight: var(--font-weight-semibold);
	font-family: var(--font-family);
	color: var(--foreground-label-color);

	&.select-label-required {
		&::after {
			content: " *";
			color: var(--danger-base-color);
		}
	}

	&.select-label-tiny {
		font-size: var(--font-size-sm);
	}

	&.select-label-small {
		font-size: var(--font-size-sm);
	}

	&.select-label-medium {
		font-size: var(--font-size-sm);
	}

	&.select-label-large {
		font-size: var(--font-size-md);
	}

	&.select-label-radius-none {
		padding: 0 0 0 var(--padding-none);
	}

	&.select-label-radius-small {
		padding: 0 0 0 var(--padding-xs);
	}

	&.select-label-radius-medium {
		padding: 0 0 0 var(--padding-sm);
	}

	&.select-label-radius-large {
		padding: 0 0 0 var(--padding-md);
	}

	&.select-label-radius-pill {
		padding: 0 0 0 var(--padding-lg);
	}
}

.select-placeholder {
	color: var(--surface-e);
	font-style: italic;
}

.select-container {
	width: 100%;
}

.select-btn {
	display: grid;
	place-items: center start;
	box-sizing: border-box;
	overflow: hidden;
	/*cursor: pointer;*/
	gap: 1em;
	font-family: var(--font-family);
	width: 100%;
	color: var(--foreground-color);
	background-color: var(--surface-a);
	outline: none;
	box-shadow: var(--box-shadow);

	&.select-btn-outline {
		border: var(--border-width-xs) solid var(--border-color);
		background-color: var(--surface-a);

		&:is(.select-btn-invalid) {
			border: var(--border-width-xs) dashed var(--danger-base-color);
			background-color: var(--danger-soft-color);
		}
	}

	&.select-btn-soft {
		border: none;
		background-color: var(--surface-a);

		.select-placeholder {
			color: var(--surface-g);
		}

		&:is(.select-btn-invalid) {
			background-color: var(--danger-soft-color);
		}
	}

	&.select-btn-underline {
		border: none;
		border-bottom: 2px solid var(--border-color);
		background-color: var(--surface-a);

		&:is(.select-btn-invalid) {
			border-bottom: 2px dashed var(--danger-base-color);
			background-color: var(--danger-soft-color);
		}
	}

	&.select-btn-tiny {
		grid-template-columns: 1fr var(--height-input-xs);
		padding: 0 0 0 var(--padding-md);
		height: var(--height-input-xs);
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-md);

		.select-icon-svg {
			width: var(--icon-size-sm);
			height: var(--icon-size-sm);
		}
	}

	&.select-btn-small {
		grid-template-columns: 1fr var(--height-input-sm);
		padding: 0 0 0 var(--padding-md);
		height: var(--height-input-sm);
		font-size: var(--font-size-sm);

		.select-icon-svg {
			width: var(--icon-size-sm);
			height: var(--icon-size-sm);
		}
	}

	&.select-btn-medium {
		grid-template-columns: 1fr var(--height-input-md);
		padding: 0 0 0 var(--padding-md);
		height: var(--height-input-md);
		font-size: var(--font-size-md);

		.select-icon-svg {
			width: var(--icon-size-md);
			height: var(--icon-size-md);
		}
	}

	&.select-btn-large {
		grid-template-columns: 1fr var(--height-input-lg);
		padding: 0 0 0 var(--padding-md);
		height: var(--height-input-lg);
		font-size: var(--font-size-lg);

		.select-icon-svg {
			width: var(--icon-size-lg);
			height: var(--icon-size-lg);
		}
	}

	&.select-btn-radius-none {
		border-radius: var(--border-radius-none);
	}

	&.select-btn-radius-small {
		border-radius: var(--border-radius-sm);
	}

	&.select-btn-radius-medium {
		border-radius: var(--border-radius-md);
	}

	&.select-btn-radius-large {
		border-radius: var(--border-radius-lg);
	}

	&.select-btn-radius-pill {
		border-radius: var(--border-radius-pill);
	}

	&:focus:not(.select-btn-disabled) {
		&.select-btn-outline {
			border: var(--border-width-xs) solid var(--primary-hover-color);
		}

		&.select-btn-underline {
			border-bottom-color: var(--primary-base-color);
		}
	}

	&:hover:not(.select-btn-disabled):not(.select-btn-invalid) {
		& .select-icon {
			.select-icon-svg {
				color: var(--primary-text-color);
			}
		}
	}
}

.select-icon-svg {
	width: var(--height-input-xs);
	height: var(--height-input-xs);
	pointer-events: none;
}

.select-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/*border-left: 1px solid var(--surface-d);*/
	border-right: 1px solid transparent;
	transition: all 0.3s ease-in-out;
	/*background-color: var(--surface-c);*/
}

.select-icon_flat {
	border-left: 1px solid transparent;
}

.select-dropdown {
	display: none;
	position: fixed;
	bottom: auto;
	left: 0;
	width: 100%;
	max-height: 19em;
	padding: 0;
	margin: 0;
	pointer-events: none;
	opacity: 0;
	overflow: hidden;
	overflow-y: auto;
	font-family: var(--font-family);
	background-color: var(--surface-a);
	box-shadow: var(--box-shadow);
	z-index: 99;

	&.select-dropdown-tiny {
		top: calc(90% + var(--padding-xs));
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-md);

		.select-icon-svg {
			width: var(--icon-size-sm);
			height: var(--icon-size-sm);
		}
	}

	&.select-dropdown-small {
		top: calc(90% + var(--padding-sm));
		font-size: var(--font-size-sm);

		.select-icon-svg {
			width: var(--icon-size-md);
			height: var(--icon-size-md);
		}
	}

	&.select-dropdown-medium {
		top: calc(90% + var(--padding-md));
		font-size: var(--font-size-md);

		.select-icon-svg {
			width: var(--icon-size-lg);
			height: var(--icon-size-lg);
		}
	}

	&.select-dropdown-large {
		top: calc(90% + var(--padding-sm));
		font-size: var(--font-size-lg);

		.select-icon-svg {
			width: var(--icon-size-lg);
			height: var(--icon-size-lg);
		}
	}

	&.select-dropdown-radius-none {
		border-radius: var(--border-radius-none);
	}

	&.select-dropdown-radius-small {
		border-radius: var(--border-radius-sm);
	}

	&.select-dropdown-radius-medium {
		border-radius: var(--border-radius-md);
	}

	&.select-dropdown-radius-large {
		border-radius: var(--border-radius-lg);
	}

	&.select-dropdown-radius-pill {
		border-radius: var(--border-radius-md);
	}

	&.select-dropdown-outline {
		border: var(--border-width-xs) solid var(--border-color);
	}

	&.select-dropdown-soft {
		border: var(--border-width-xs) solid transparent;
	}

	&.select-dropdown-underline {
		border: var(--border-width-xs) solid var(--border-color);
	}
}

.select-dropdown-open {
	pointer-events: auto;
	display: block;

	&:is(.select-dropdown-down) {
		animation: growDown 0.2s cubic-bezier(0.66, 0.38, 0.42, 1.21) forwards;
	}

	&:is(.select-dropdown-up) {
		animation: growUp 0.2s cubic-bezier(0.66, 0.38, 0.42, 1.21) forwards;
	}
}

@keyframes growDown {
	0% {
		opacity: 0.1;
		transform: translateY(-20px);
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
		transform: translateY(5px);
	}
}

@keyframes growUp {
	0% {
		opacity: 0.7;
		transform: translateY(20px);
	}

	80% {
		opacity: 0.8;
	}

	100% {
		opacity: 1;
		transform: translateY(-5px);
	}
}

.select-dropdown-up {
	transform-origin: bottom center;
}

.select-dropdown-down {
	transform-origin: top center;
}

.select-option {
	display: grid;
	grid-template-columns: 1fr 24px;
	place-items: center start;
	gap: 0.5em;
	padding: var(--padding-none) var(--padding-md);
	color: var(--foreground-color);
	list-style: none;
	/*cursor: pointer;*/

	&.select-option-selected {
		background-color: var(--primary-soft-color);
		color: var(--primary-text-color);
		font-weight: var(--font-weight-md);
		cursor: default;
	}
}

.select-option:hover:not(.select-option-selected) {
	background-color: var(--primary-subtle-color);
	color: var(--foreground-color);
}

.select-view {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--gap-md);
	height: 100%;

	&.select-view-tiny {
		font-size: var(--font-size-xs);
		padding: var(--padding-none) var(--padding-none);
		min-height: var(--height-input-xs);

		&.select-view-outline {
			.select-selected {
				display: flex;
				align-items: center;
				padding: 0 0 3px 0;
			}
		}

		& > .select-view-avatar {
			width: var(--icon-size-xs);
			height: var(--icon-size-xs);
		}
	}

	&.select-view-small {
		font-size: var(--font-size-sm);
		padding: var(--padding-none) var(--padding-xs);
		min-height: var(--height-input-sm);

		&.select-view-outline {
			.select-selected {
				display: flex;
				align-items: center;
				padding: 0 0 4px 0;
			}
		}

		&.select-view-underline {
			.select-selected {
				display: flex;
				align-items: center;
				padding: 0 0 3px 0;
			}
		}

		& > .select-view-avatar {
			width: var(--icon-size-md);
			height: var(--icon-size-md);
		}
	}

	&.select-view-medium {
		font-size: var(--font-size-md);
		padding: var(--padding-none) var(--padding-sm);
		min-height: var(--height-input-md);

		&.select-view-outline {
			.select-selected {
				display: flex;
				align-items: center;
				padding: 0 0 4px 0;
			}
		}

		& > .select-view-avatar {
			width: var(--icon-size-xl);
			height: var(--icon-size-xl);
		}
	}

	&.select-view-large {
		font-size: var(--font-size-lg);
		padding: var(--padding-none) var(--padding-sm);
		min-height: var(--height-input-lg);

		&.select-view-outline {
			.select-selected {
				display: flex;
				align-items: center;
				padding: 0 0 5px 0;
			}
		}

		&.select-view-underline {
			.select-selected {
				display: flex;
				align-items: center;
				padding: 0 0 4px 0;
			}
		}

		& > .select-view-avatar {
			width: var(--icon-size-2xl);
			height: var(--icon-size-2xl);
		}
	}
}

.select-view-avatar {
	border-radius: var(--border-radius-xs);
}

.select-view-description {
	font-size: var(--font-size-sm);
	color: var(--foreground-title-color);
}

.select-option-text-content {
	display: flex;
	flex-direction: column;
	padding: var(--border-radius-xs) var(--padding-none);
	pointer-events: none;

	.select-view-description {
		padding: var(--padding-xs) var(--padding-xs);
	}
}

.select-wrapper-disabled {
	opacity: 0.5;
	* {
		cursor: not-allowed;
		color: var(--foreground-title-color);
	}
}
