.select-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	font-family: var(--font-family);
	width: 100%;
	height: max-content;

	&:focus-within {
		z-index: 1;
	}

	&:is(:first-child) {
		margin-inline-end: -1px;
	}
}

.select-icon-svg {
	width: var(--height-input-xs);
	height: var(--height-input-xs);
	pointer-events: none;
	transition: transform 0.2s ease;
	color: var(--surface-g);
}

.select-icon-svg.rotated {
	transform: rotate(180deg);
}

.select-label {
	display: block;
	font-weight: var(--font-weight-semibold);
	font-family: var(--font-family);
	color: var(--foreground-label-color);
	min-width: max-content;
	width: max-content;

	&.select-label-required {
		&::after {
			content: " *";
			color: var(--danger-base-color);
		}
	}

	&.select-label-tiny {
		font-size: var(--font-size-xs);
	}

	&.select-label-small {
		font-size: var(--font-size-xs);
	}

	&.select-label-medium {
		font-size: var(--font-size-sm);
	}

	&.select-label-large {
		font-size: var(--font-size-md);
	}

	&.select-label-radius-none {
		padding: 0 0 0 var(--padding-none);
	}

	&.select-label-radius-tiny {
		padding: 0 0 0 var(--padding-xs);
	}

	&.select-label-radius-small {
		padding: 0 0 0 var(--padding-sm);
	}

	&.select-label-radius-medium {
		padding: 0 0 0 var(--padding-md);
	}

	&.select-label-radius-large {
		padding: 0 0 0 var(--padding-lg);
	}

	&.select-label-radius-full {
		padding: 0 0 0 var(--padding-lg);
	}
}

.select-placeholder {
	color: var(--surface-e);
	font-style: italic;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.select-container {
	width: 100%;
}

.select-btn {
	display: grid;
	place-items: center start;
	box-sizing: border-box;
	overflow: hidden;
	/*cursor: pointer;*/
	gap: 1em;
	font-family: var(--font-family);
	width: 100%;
	color: var(--foreground-color);
	background-color: var(--surface-a);
	outline: none;

	&.select-btn-outline {
		border: var(--border-width-xs) solid var(--border-color);
		background-color: var(--background-color);

		&:is(.select-btn-invalid) {
			border: var(--border-width-xs) dashed var(--danger-base-color);
			background-color: var(--danger-soft-color);
		}
	}

	&.select-btn-soft {
		border: none;
		background-color: var(--surface-a);

		&:is(.select-btn-invalid) {
			background-color: var(--danger-soft-color);
		}
	}

	&.select-btn-underline {
		border: none;
		border-bottom: 2px solid var(--border-color);
		background-color: var(--surface-a);

		&:is(.select-btn-invalid) {
			border-bottom: 2px dashed var(--danger-base-color);
			background-color: var(--danger-soft-color);
		}
	}

	&.select-btn-tiny {
		grid-template-columns: 1fr var(--height-input-xs);
		padding: 0 0 0 var(--padding-md);
		height: var(--height-input-xs);
		font-size: var(--font-size-sm);

		.select-icon-svg {
			width: var(--icon-size-sm);
			height: var(--icon-size-sm);
		}
	}

	&.select-btn-small {
		grid-template-columns: 1fr var(--height-input-sm);
		padding: 0 0 0 var(--padding-md);
		height: var(--height-input-sm);
		font-size: var(--font-size-sm);

		.select-icon-svg {
			width: var(--icon-size-sm);
			height: var(--icon-size-sm);
		}
	}

	&.select-btn-medium {
		grid-template-columns: 1fr var(--height-input-md);
		padding: 0 0 0 var(--padding-md);
		height: var(--height-input-md);
		font-size: var(--font-size-md);

		.select-icon-svg {
			width: var(--icon-size-md);
			height: var(--icon-size-md);
		}
	}

	&.select-btn-large {
		grid-template-columns: 1fr var(--height-input-lg);
		padding: 0 0 0 var(--padding-md);
		height: var(--height-input-lg);
		font-size: var(--font-size-lg);

		.select-icon-svg {
			width: var(--icon-size-lg);
			height: var(--icon-size-lg);
		}
	}

	&.select-btn-radius-none {
		border-radius: var(--border-radius-none);
	}

	&.select-btn-radius-tiny {
		border-radius: var(--border-radius-xs);
	}

	&.select-btn-radius-small {
		border-radius: var(--border-radius-sm);
	}

	&.select-btn-radius-medium {
		border-radius: var(--border-radius-md);
	}

	&.select-btn-radius-large {
		border-radius: var(--border-radius-lg);
	}

	&.select-btn-radius-full {
		border-radius: var(--border-radius-pill);
	}

	&.select-btn-first {
		border-top-right-radius: var(--border-radius-none);
		border-bottom-right-radius: var(--border-radius-none);
	}

	&.select-btn-middle {
		border-radius: var(--border-radius-none);
	}

	&.select-btn-last {
		border-top-left-radius: var(--border-radius-none);
		border-bottom-left-radius: var(--border-radius-none);
	}

	&:focus:not(.select-btn-disabled) {
		&.select-btn-outline {
			border: var(--border-width-xs) solid var(--primary-hover-color);
			outline: 2px solid var(--primary-shadow-color);
			outline-offset: 2px;
			color: var(--primary-text-color);
		}

		&.select-btn-underline {
			border-bottom-color: var(--primary-base-color);
		}

		&.select-btn-soft {
			outline: 2px solid var(--primary-shadow-color);
			outline-offset: 2px;
		}
	}

	&:hover:not(.select-btn-disabled):not(.select-btn-invalid) {
		& .select-icon {
			.select-icon-check {
				color: var(--primary-text-color);
			}
		}
	}
}

.select-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/*border-left: 1px solid var(--surface-d);*/
	border-right: 1px solid transparent;
	transition: all 0.3s ease-in-out;
	/*background-color: var(--surface-c);*/
}

.select-icon_flat {
	border-left: 1px solid transparent;
}

.select-dropdown {
	display: none;
	position: fixed;
	bottom: auto;
	left: 0;
	width: max-content;
	max-height: 19em;
	padding: var(--padding-xs);
	margin: 0;
	pointer-events: none;
	opacity: 0;
	overflow: hidden;
	overflow-y: auto;
	font-family: var(--font-family);
	border-radius: var(--border-radius-sm);
	background-color: var(--background-color);
	border: var(--border-width-xs) solid var(--border-color);
	z-index: 9999;

	&:focus-within {
		outline: var(--border-width-sm) solid var(--neutral-opacity-color);
		outline-offset: var(--border-width-sm);
	}
}

.select-dropdown-open {
	pointer-events: auto;
	display: block;

	&:is(.select-dropdown-below) {
		animation: growDown 0.35s cubic-bezier(0.55, 0.57, 0.05, 1.46) forwards;
	}

	&:is(.select-dropdown-above) {
		animation: growUp 0.35s cubic-bezier(0.55, 0.57, 0.05, 1.46) forwards;
	}
}

@keyframes growDown {
	0% {
		opacity: 0.1;
		transform: translateY(-20px);
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
		transform: translateY(5px);
	}
}

@keyframes growUp {
	0% {
		opacity: 0.7;
		transform: translateY(20px);
	}

	80% {
		opacity: 0.8;
	}

	100% {
		opacity: 1;
		transform: translateY(-5px);
	}
}

.select-dropdown-above {
	transform-origin: bottom center;
}

.select-dropdown-below {
	transform-origin: top center;
}

.select-option {
	display: grid;
	grid-template-columns: 1fr 24px;
	place-items: center center;
	gap: 0.5em;
	color: var(--foreground-secondary-color);
	border-radius: var(--border-radius-sm);
	list-style: none;
	cursor: pointer;

	.select-view-description {
		color: var(--foreground-secondary-color);
	}

	&:focus {
		outline: none;
		background-color: var(--surface-b);
		color: var(--foreground-color);
	}

	&:is(.select-option-tiny) {
		padding: var(--padding-none) var(--padding-none) var(--padding-none) var(--padding-md);
		font-size: var(--font-size-sm);

		.select-icon-check {
			width: var(--icon-size-sm);
			height: var(--icon-size-sm);
		}
	}

	&:is(.select-option-small) {
		padding: var(--padding-none) var(--padding-xs) var(--padding-none) var(--padding-md);
		font-size: var(--font-size-sm);

		.select-icon-check {
			width: var(--icon-size-md);
			height: var(--icon-size-md);
		}
	}

	&:is(.select-option-medium) {
		padding: var(--padding-none) var(--padding-sm) var(--padding-none) var(--padding-md);
		font-size: var(--font-size-md);

		.select-icon-check {
			width: var(--icon-size-lg);
			height: var(--icon-size-lg);
		}
	}

	&:is(.select-option-large) {
		padding: var(--padding-none) var(--padding-md) var(--padding-none) var(--padding-md);
		font-size: var(--font-size-lg);

		.select-icon-check {
			width: var(--icon-size-lg);
			height: var(--icon-size-lg);
		}
	}
}

.select-option-selected {
	font-weight: var(--font-weight-extrabold);
	color: var(--primary-base-color);

	.select-view-description {
		color: var(--foreground-secondary-color);
	}
}

.select-option:hover {
	background-color: var(--surface-b);

	&:not(.select-option-selected) {
		color: var(--foreground-color);
	}

	.select-view-description {
		color: var(--foreground-color);
	}
}

.select-selected {
	display: flex;
	align-items: center;
	width: max-content;
	font-weight: var(--font-weight-medium);
}

.select-view {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--gap-md);
	height: 100%;
	width: 100%;

	&.select-view-tiny {
		font-size: var(--font-size-xs);
		padding: var(--padding-none) var(--padding-none);
		min-height: var(--height-input-xs);

		&.select-view-outline {
			.select-selected {
				display: flex;
				align-items: center;
				padding: 0 0 3px 0;
			}
		}

		& > .select-view-avatar {
			width: var(--icon-size-xs);
			height: var(--icon-size-xs);
		}

		.select-view-description {
			font-size: var(--font-size-xs);
		}
	}

	&.select-view-small {
		font-size: var(--font-size-sm);
		padding: var(--padding-none) var(--padding-xs);
		min-height: var(--height-input-sm);

		&.select-view-outline {
			.select-selected {
				display: flex;
				align-items: center;
				padding: 0 0 4px 0;
			}
		}

		&.select-view-underline {
			.select-selected {
				display: flex;
				align-items: center;
				padding: 0 0 3px 0;
			}
		}

		& > .select-view-avatar {
			width: var(--icon-size-md);
			height: var(--icon-size-md);
		}

		.select-view-description {
			font-size: var(--font-size-xs);
		}
	}

	&.select-view-medium {
		font-size: var(--font-size-md);
		padding: var(--padding-none) var(--padding-sm);
		min-height: var(--height-input-md);

		&.select-view-outline {
			.select-selected {
				display: flex;
				align-items: center;
				padding: 0 0 4px 0;
			}
		}

		& > .select-view-avatar {
			width: var(--icon-size-xl);
			height: var(--icon-size-xl);
		}

		.select-view-description {
			font-size: var(--font-size-xs);
		}
	}

	&.select-view-large {
		font-size: var(--font-size-lg);
		padding: var(--padding-none) var(--padding-sm);
		min-height: var(--height-input-lg);

		&.select-view-outline {
			.select-selected {
				display: flex;
				align-items: center;
				padding: 0 0 5px 0;
			}
		}

		&.select-view-underline {
			.select-selected {
				display: flex;
				align-items: center;
				padding: 0 0 4px 0;
			}
		}

		& > .select-view-avatar {
			width: var(--icon-size-2xl);
			height: var(--icon-size-2xl);
		}

		.select-view-description {
			font-size: var(--font-size-xs);
		}
	}

	&:not(.select-view-selected):not(:hover) {
		.select-view-label {
			color: var(--foreground-title-color);
		}

		.select-view-description {
			color: var(--foreground-secondary-color);
		}
	}

	&:is(.select-view-selected, :hover) {
		.select-view-description {
			color: var(--foreground-color);
		}
	}
}

.select-view-label {
	font-weight: var(--font-weight-medium);
}
.select-view-avatar {
	border-radius: var(--border-radius-xs);
}

.select-view-description {
	display: flex;
	flex-direction: row;
	font-weight: var(--font-weight-medium);
	text-overflow: ellipsis;
	white-space: wrap;
	width: 100%;
}

.select-option-text-content {
	display: flex;
	flex-direction: column;
	padding: var(--border-radius-xs) var(--padding-none);
	pointer-events: none;

	& > div {
		width: max-content;
	}

	.select-view-description {
		padding: var(--padding-xs) var(--padding-xs);
	}
}

.select-wrapper-disabled {
	opacity: 0.5;
	* {
		cursor: not-allowed;
		color: var(--foreground-title-color);
	}
}
