:root {
	--border-style: 1px solid var(--border-color);
	--margin-left: calc(var(--spacing-md) + var(--spacing-xs));
}

.lambda-treeview {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: var(--font-family);
	color: var(--foreground-color);
	width: max-content;
	padding: 0.5em;
	border-radius: var(--radius-sm);

	&:is(.lambda-treeview-show-lines) {
		--margin-left: calc(var(--spacing-lg) + var(--spacing-xs));
	}

	&:is(.lambda-treeview-line-solid) {
		--border-style: 1px solid var(--border-color);
	}

	&:is(.lambda-treeview-line-dashed) {
		--border-style: 1px dashed var(--border-color);
	}

	&:is(.lambda-treeview-line-dotted) {
		--border-style: 1px dotted var(--border-color);
	}

	&:is(.lambda-treeview-hide-lines) {
		--margin-left: calc(var(--spacing-none));
		--border-style: none;
	}
}

.lambda-treeview-item {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-left: 1em;
	cursor: pointer;
	user-select: none;
	display: flex;
	align-items: flex-start;

	&:not(.lambda-treeview-item-last) {
		&>.lambda-treeview-group {
			border-left: var(--border-style);
		}
	}
}

.lambda-treeview-item-disabled {
	cursor: not-allowed;

	.lambda-treeview-item-content {
		opacity: 0.5;
		pointer-events: none;
	}
}

.lambda-treeview-group {
	margin-top: var(--spacing-xs);
	margin-left: calc(var(--spacing-md) + var(--spacing-xs));

	&>.lambda-treeview-item {
		.lambda-treeview-item-branch {
			&:not(.lambda-treeview-item-branch-has-children) {
				position: absolute;
				left: 28px;
				top: 50%;
				width: 0.5em;
				height: 1px;
				border-bottom: var(--border-style);

				&:before {
					position: absolute;
					left: 0;
					bottom: 50%;
					content: "";
					height: 0.76em;
					width: 1px;
					border-left: var(--border-style);
					margin-right: var(--spacing-xs);
				}
			}
		}
	}

	&>.lambda-treeview-item {
		.lambda-treeview-item-branch:not(.lambda-treeview-item-branch-last) {
			&:not(.lambda-treeview-item-branch-has-children) {
				&:after {
					position: absolute;
					left: 0;
					top: 1px;
					content: "";
					height: 0.75em;
					width: 1px;
					border-left: var(--border-style);
					margin-right: var(--spacing-xs);
				}
			}
		}
	}
}

.lambda-treeview-item-content {
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: var(--spacing-none) var(--spacing-xs);
	width: 100%;
	border-radius: var(--radius-sm);

	&:not(.lambda-treeview-item-content-has-children) {
		margin-left: var(--margin-left);
	}

	&:hover {
		background-color: var(--surface-b);
	}

	&.lambda-treeview-item-content-selected {
		background-color: var(--primary-opacity-color);
	}
}

.lambda-treeview-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background: none;
	height: var(--height-button-2xs);
	width: var(--height-button-2xs);
	border-radius: var(--radius-xs);
	padding: var(--spacing-none);
	color: var(--foreground-secondary-color);
	cursor: pointer;

	&:hover {
		background-color: var(--surface-d);
	}
}

.lambda-treeview-expanded-icon {
	transition: transform 0.2s ease-in-out;
	width: var(--icon-size-xs);
	height: var(--icon-size-xs);

	&:is(.lambda-treeview-expanded-icon-expanded) {
		transform: rotate(90deg);
	}
}

.lambda-treeview-label {
	position: relative;
	flex: 1;
	display: flex;
	align-items: center;
	gap: var(--spacing-sm);
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-medium);
	padding: var(--spacing-xs) var(--spacing-sm);
}

.lambda-treeview-label-tiny {
	font-size: var(--font-size-xs);
}

.lambda-treeview-label-small {
	font-size: var(--font-size-sm);
}

.lambda-treeview-label-medium {
	font-size: var(--font-size-md);
}

.lambda-treeview-label-large {
	font-size: var(--font-size-lg);
}

.lambda-treeview-label-selected {
	font-weight: var(--font-weight-semibold);
	color: var(--primary-text-color);
}

.lambda-treeview-label-icon {
	width: var(--icon-size-xs);
	height: var(--icon-size-xs);
}

.lambda-treeview-label-icon-tiny {
	width: var(--icon-size-xs);
	height: var(--icon-size-xs);
}

.lambda-treeview-label-icon-small {
	width: var(--icon-size-sm);
	height: var(--icon-size-sm);
}

.lambda-treeview-label-icon-medium {
	width: var(--icon-size-md);
	height: var(--icon-size-md);
}

.lambda-treeview-label-icon-large {
	width: var(--icon-size-lg);
	height: var(--icon-size-lg);
}