[data-theme="dark"] {
	--skeleton-color-start: var(--surface-c);
	--skeleton-color-end: var(--surface-b);
}

[data-theme="light"] {
	--skeleton-color-start: var(--surface-d);
	--skeleton-color-end: var(--surface-e);
}

[data-theme="retro"] {
	--skeleton-color-start: var(--surface-b);
	--skeleton-color-end: var(--surface-d);
}

[data-theme="slate"] {
	--skeleton-color-start: var(--surface-c);
	--skeleton-color-end: var(--surface-b);
}

[data-theme="lavender"] {
	--skeleton-color-start: var(--surface-c);
	--skeleton-color-end: var(--surface-b);
}

[data-theme="mint"] {
	--skeleton-color-start: var(--surface-c);
	--skeleton-color-end: var(--surface-b);
}

[data-theme="sunset"] {
	--skeleton-color-start: var(--surface-c);
	--skeleton-color-end: var(--surface-b);
}

[data-theme="ocean"] {
	--skeleton-color-start: var(--surface-c);
	--skeleton-color-end: var(--surface-b);
}

[data-theme="sandstone"] {
	--skeleton-color-start: var(--surface-c);
	--skeleton-color-end: var(--surface-b);
}

[data-theme="pop-art"] {
	--skeleton-color-start: var(--surface-c);
	--skeleton-color-end: var(--surface-b);
}

[data-theme="deep-cosmic-night"] {
	--skeleton-color-start: var(--surface-c);
	--skeleton-color-end: var(--surface-b);
}

[data-theme="soft-obsidian"] {
	--skeleton-color-start: var(--surface-c);
	--skeleton-color-end: var(--surface-b);
}

[data-theme="graphite"] {
	--skeleton-color-start: var(--surface-c);
	--skeleton-color-end: var(--surface-b);
}

[data-theme="midnight"] {
	--skeleton-color-start: var(--surface-d);
	--skeleton-color-end: var(--surface-c);
}

[data-theme="aurora-night"] {
	--skeleton-color-start: var(--surface-d);
	--skeleton-color-end: var(--surface-c);
}

[data-theme="electro-violet"] {
	--skeleton-color-start: var(--surface-d);
	--skeleton-color-end: var(--surface-c);
}

.lambda-skeleton {
	display: inline-block;
	position: relative;
	overflow: hidden;
	min-width: 4px;
	min-height: 4px;

	&:is(.lambda-skeleton-wave) {
		background: linear-gradient(90deg,
				var(--skeleton-color-start) 0%,
				var(--skeleton-color-end) 20%,
				var(--skeleton-color-end) 80%,
				var(--skeleton-color-start) 100%);
		background-size: 400% 200%;
	}

	&:is(.lambda-skeleton-fade) {
		background-color: var(--skeleton-color-end);
	}
}

.lambda-skeleton-circle {
	border-radius: 50%;
}

.lambda-skeleton-rect {
	border-radius: 0;
}

.lambda-skeleton-rounded {
	border-radius: 8px;
}