.notification-group {
    position: fixed;
    max-width: 450px;
    display: flex;
    flex-flow: column;
    gap: 5px;
    padding: var(--padding-md) 0 0 0;
    height: auto;
    z-index: 1000;
}


.notification {
    position: relative;
    display: grid;
    grid-template-columns: 2.5em 1fr 2.5em;
    place-items: center left;
    opacity: 0;
    transform: translateY(0);
    overflow: hidden;
    width: 100%;
    min-height: 3em;
    min-width: max-content;
    padding: var(--padding-sm) var(--padding-sm);
    border-radius: var(--border-radius-md);
    font-family: var(--font-family);
    color: var(--foreground-color);
    transition: all 0.3s ease-in-out;

}

.notification-icon {
    svg {
        width: 1.5em;
        height: 1.5em;
    }
}

.notification-time {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    transition: width 1s linear;
}

.notification-content {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding: var(--padding-xs) 0 var(--padding-md) 0;
}

.notification-title {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    text-transform: capitalize;
}

.notification-message {
    padding: 0;
    text-align: left;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-reg);
    width: 240px;
}


.notification-themed {
    background-color: var(--surface-b);
    border-top: 1px solid var(--surface-d);
    border-right: 1px solid var(--surface-d);
    border-bottom: 1px solid var(--surface-d);
    box-shadow: var(--box-shadow);

    .notification-message {
        color: var(--surface-f);
    }

    .notification-close-button {
        .notification-close-button-icon {
            color: var(--surface-f);
        }
    }

    .notification-time {
        background-color: var(--surface-d);
        filter: brightness(115%);
    }

    &:is(.notification-default) {
        border-left: 4px solid var(--secondary-color);
        color: var(--secondary-hover-color);
    }

    &:is(.notification-success) {
        border-left: 4px solid var(--success-color);
        color: var(--success-hover-color);
    }

    &:is(.notification-danger) {
        border-left: 4px solid var(--danger-color);
        color: var(--danger-hover-color);
    }

    &:is(.notification-warning) {
        border-left: 4px solid var(--warning-color);
        color: var(--warning-hover-color);
    }

    &:is(.notification-info) {
        border-left: 4px solid var(--info-color);
        color: var(--info-hover-color);
    }
}

.notification-solid {
    color: var(--white-color);
    box-shadow: var(--box-shadow);

    .notification-message {
        color: var(--white-color);
        text-shadow: var(--box-shadow);
    }

    .notification-close-button {
        .notification-close-button-icon {
            color: var(--surface-c);
        }
    }

    &:is(.notification-default) {
        background-color: var(--secondary-color);
        color: var(--foreground-invert-color);

        .notification-message {
            color: var(--foreground-invert-color);
        }

        .notification-time {
            background-color: var(--secondary-disabled-color);
            filter: brightness(135%);
        }
    }

    &:is(.notification-success) {
        background-color: var(--success-color);

        .notification-time {
            background-color: var(--success-outline-color);
            filter: brightness(450%);
        }
    }

    &:is(.notification-danger) {
        background-color: var(--danger-color);

        .notification-time {
            background-color: var(--danger-outline-color);
            filter: brightness(450%);
        }
    }

    &:is(.notification-warning) {
        background-color: var(--warning-color);

        .notification-time {
            background-color: var(--warning-outline-color);
            filter: brightness(500%);
        }
    }

    &:is(.notification-info) {
        background-color: var(--info-color);

        .notification-time {
            background-color: var(--info-outline-color);
            filter: brightness(450%);
        }
    }
}

.notification-darkened {
    color: var(--white-color);
    box-shadow: var(--box-shadow);


    .notification-close-button {
        .notification-close-button-icon {
            color: var(--white-color);
        }
    }


    &:is(.notification-default) {
        background-color: var(--secondary-darkened-color);

        .notification-message {
            color: var(--surface-g);
            font-weight: var(--font-weight-reg);
        }


        .notification-time {
            background-color: var(--secondary-disabled-color);
            filter: brightness(135%);
        }
    }

    &:is(.notification-success) {
        background-color: var(--success-darkened-color);

        .notification-title {
            color: var(--success-color);
        }

        .notification-message {
            color: var(--success-color);
        }

        .notification-icon {
            color: var(--success-color);
        }

        .notification-time {
            background-color: var(--success-outline-color);
            filter: brightness(450%);
        }
    }

    &:is(.notification-danger) {
        background-color: var(--danger-darkened-color);

        .notification-title {
            color: var(--danger-color);
        }


        .notification-message {
            color: var(--danger-color);
        }

        .notification-icon {
            color: var(--danger-color);
        }

        .notification-time {
            background-color: var(--danger-outline-color);
            filter: brightness(450%);
        }
    }

    &:is(.notification-warning) {
        background-color: var(--warning-darkened-color);

        .notification-title {
            color: var(--warning-color);
        }

        .notification-message {
            color: var(--warning-color);
        }

        .notification-icon {
            color: var(--warning-color);
        }

        .notification-time {
            background-color: var(--warning-outline-color);
            filter: brightness(500%);
        }
    }

    &:is(.notification-info) {
        background-color: var(--info-darkened-color);

        .notification-title {
            color: var(--info-color);
        }

        .notification-message {
            color: var(--info-color);
        }

        .notification-icon {
            color: var(--info-color);
        }

        .notification-time {
            background-color: var(--info-outline-color);
            filter: brightness(450%);
        }
    }
}

.notification-lightened {
    color: var(--white-color);
    box-shadow: var(--box-shadow);

    .notification-message {
        color: var(--black-color);
        text-shadow: var(--box-shadow);
    }

    .notification-close-button {
        .notification-close-button-icon {
            color: var(--black-color);
        }
    }


    &:is(.notification-default) {
        background-color: var(--secondary-lightened-color);

        .notification-title {
            color: var(--secondary-darkened-color);
        }

        .notification-icon {
            color: var(--black-color);
        }

        .notification-time {
            background-color: var(--secondary-disabled-color);
            filter: brightness(135%);
        }
    }

    &:is(.notification-success) {
        background-color: var(--success-lightened-color);

        .notification-title {
            color: var(--success-darkened-color);
        }

        .notification-message {
            color: var(--success-disabled-color);
        }


        .notification-icon {
            color: var(--success-color);
        }

        .notification-time {
            background-color: var(--success-outline-color);
            filter: brightness(45%);
        }
    }

    &:is(.notification-danger) {
        background-color: var(--danger-lightened-color);

        .notification-title {
            color: var(--danger-darkened-color);
        }

        .notification-message {
            color: var(--danger-disabled-color);
        }

        .notification-icon {
            color: var(--danger-hover-color);
        }

        .notification-time {
            background-color: var(--danger-outline-color);
            filter: brightness(45%);
        }
    }

    &:is(.notification-warning) {
        background-color: var(--warning-lightened-color);

        .notification-title {
            color: var(--warning-darkened-color);
        }

        .notification-message {
            color: var(--warning-disabled-color);
        }

        .notification-icon {
            color: var(--warning-hover-color);
        }

        .notification-time {
            background-color: var(--warning-outline-color);
            filter: brightness(45%);
        }
    }

    &:is(.notification-info) {
        background-color: var(--info-lightened-color);

        .notification-title {
            color: var(--info-darkened-color);
        }

        .notification-message {
            color: var(--info-disabled-color);
        }

        .notification-icon {
            color: var(--info-color);
        }

        .notification-time {
            background-color: var(--info-outline-color);
            filter: brightness(45%);
        }
    }
}

body[data-theme="dark"] {

    .notification-flat {
        .notification-message {
            text-shadow: 0 0px 1px #00000070;
            filter: brightness(200%);
        }
    }
}

body[data-theme="light"] {

    .notification-flat {
        .notification-message {
            text-shadow: 0 0px 1px #00000070;
            filter: brightness(80%) contrast(150%);
        }
    }
}

.notification-flat {
    backdrop-filter: blur(12px);
    box-shadow: var(--box-shadow);

    &:is(.notification-default) {
        background-color: var(--secondary-light-color);
        border-left: 5px solid var(--secondary-color);
        color: var(--secondary-text-color);

        .notification-title {
            color: var(--secondary-text-color);
        }

        .notification-message {
            color: var(--secondary-text-color);
        }

        .notification-time {
            background-color: var(--secondary-outline-color);
        }

        .notification-close-button {
            .notification-close-button-icon {
                color: var(--secondary-text-color);
            }
        }
    }

    &:is(.notification-success) {
        background-color: var(--success-light-color);
        border-left: 5px solid var(--success-color);
        color: var(--success-text-color);

        .notification-title {
            color: var(--success-text-color);
        }

        .notification-message {
            color: var(--success-text-color);
        }

        .notification-time {
            background-color: var(--success-outline-color);
        }

        .notification-close-button {
            .notification-close-button-icon {
                color: var(--success-text-color);
            }
        }
    }

    &:is(.notification-danger) {
        background-color: var(--danger-light-color);
        border-left: 5px solid var(--danger-color);
        color: var(--danger-text-color);

        .notification-title {
            color: var(--danger-text-color);
        }

        .notification-message {
            color: var(--danger-text-color);
        }

        .notification-time {
            background-color: var(--danger-outline-color);
        }

        .notification-close-button {
            .notification-close-button-icon {
                color: var(--danger-text-color);
            }
        }
    }

    &:is(.notification-warning) {
        background-color: var(--warning-light-color);
        border-left: 5px solid var(--warning-color);
        color: var(--warning-text-color);

        .notification-title {
            color: var(--warning-text-color);
        }

        .notification-message {
            color: var(--warning-text-color);
        }

        .notification-time {
            background-color: var(--warning-outline-color);
        }

        .notification-close-button {
            .notification-close-button-icon {
                color: var(--warning-text-color);
            }
        }
    }

    &:is(.notification-info) {
        background-color: var(--info-light-color);
        border-left: 5px solid var(--info-color);
        color: var(--info-text-color);

        .notification-title {
            color: var(--info-text-color);
        }

        .notification-message {
            color: var(--info-text-color);
        }

        .notification-time {
            background-color: var(--info-outline-color);
        }

        .notification-close-button {
            .notification-close-button-icon {
                color: var(--info-text-color);
            }
        }
    }
}


/* Posiciones de las notificaciones según placement */

.notification-top-left {
    animation: fadeInTopLeft 0.5s forwards;

    &:not(.notification-active) {
        animation: fadeOutTopLeft 0.5s forwards;
    }
}




.notification-top-center {
    animation: fadeInTopCenter 0.5s forwards;

    &:not(.notification-active) {
        animation: fadeOutTopCenter 0.6s forwards;
    }
}




.notification-top-right {
    animation: fadeInTopRight 0.5s forwards;

    &:not(.notification-active) {
        animation: fadeOutTopRight 0.5s forwards;
    }
}



.notification-bottom-left {
    animation: fadeInBottomLeft 0.5s forwards;

    &:not(.notification-active) {
        animation: fadeOutBottomLeft 0.5s forwards;
    }
}

.notification-bottom-center {
    animation: fadeInBottomCenter 0.5s forwards;

    &:not(.notification-active) {
        animation: fadeOutBottomCenter 0.5s forwards;
    }
}

.notification-bottom-right {
    animation: fadeInBottomRight 0.5s forwards;

    &:not(.notification-active) {
        animation: fadeOutBottomRight 0.5s forwards;
    }
}




.notification-group-top-left {
    flex-direction: column-reverse;
    top: 10px;
    left: 10px;
}

.notification-group-top-center {
    flex-direction: column-reverse;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0)
}

.notification-group-top-right {
    flex-direction: column-reverse;
    top: 10px;
    right: 10px;
}



.notification-group-bottom-left {
    bottom: 10px;
    left: 10px;
}

.notification-group-bottom-center {
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.notification-group-bottom-right {
    bottom: 10px;
    right: 10px;
}


@keyframes fadeInTopCenter {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeOutTopCenter {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes fadeInBottomCenter {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutBottomCenter {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes fadeInTopLeft {
    0% {
        opacity: 0;
        transform: translate(-100%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOutTopLeft {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-100%, 0);
    }
}

@keyframes fadeInTopRight {
    0% {
        opacity: 0;
        transform: translate(100%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOutTopRight {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(100%, 0);
    }
}

@keyframes fadeInBottomLeft {
    0% {
        opacity: 0;
        transform: translate(-100px, 100px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOutBottomLeft {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-100px, 100px);
    }
}

@keyframes fadeInBottomRight {
    0% {
        opacity: 0;
        transform: translate(100px, 100px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOutBottomRight {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(100px, 100px);
    }
}


.notification-close-button {
    background-color: transparent;
    place-self: center right;
    border: none;
    color: var(--foreground-color);
    opacity: 0.5;
}

.notification-close-button-icon {
    width: 1.5em;
    height: 1.5em;
    align-self: end;
}