.notifgroup {
    position: fixed;
    max-width: 450px;
    display: flex;
    flex-flow: column;
    gap: 5px;
    padding: 16px 0 0 0;
    transition: all 0.2s ease-in-out;
    z-index: 1000;
}

.notif {
    position: relative;
    display: grid;
    grid-template-columns: 2.5em 1fr 2.5em;
    place-items: center left;
    padding: var(--padding-xs) var(--padding-sm);
    border-radius: var(--border-radius-sm);
    font-family: var(--font-family);
    color: var(--foreground-color);
    opacity: 0;
    transform: translateY(-100px);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    width: max-content;

}

.mess {
    padding: 0;
    margin: var(--padding-md) 0;
    text-align: left;
    font-size: var(--font-size-md);
    color: var(--foreground-color);
}

.notif_def {
    background-color: var(--secondary-color);

    &.notif_bordered {
        background-color: var(--secondary-disabled-color);
        border: 2px solid var(--secondary-color);
        color: var(--secondary-color);



    }
}

.notif_suc {
    background-color: var(--success-color);

    &.notif_bordered {
        background-color: var(--success-disabled-color);
        border-left: 5px solid var(--success-color);
        color: var(--success-light-color);
        backdrop-filter: blur(3px);

        .mess {
            color: var(--success-light-color);
        }

        .closeButton {
            .closeButton_icon {
                color: var(--success-color);
            }
        }
    }

}

.notif_err {
    background-color: var(--danger-color);

    &.notif_bordered {
        background-color: var(--danger-disabled-color);
        border: 2px solid var(--danger-color);
        color: var(--danger-color);
    }

}

.notif_inf {
    background-color: var(--info-color);

    &.notif_bordered {
        background-color: var(--info-disabled-color);
        border: 2px solid var(--info-color);
        color: var(--info-color);
    }

}

.notif_war {
    background-color: var(--warning-color);

    &.notif_bordered {
        background-color: var(--warning-disabled-color);
        border: 2px solid var(--warning-color);
        color: var(--warning-color);
    }

}

.notif_war {
    background-color: var(--warning-color);
}

.notif_inf {
    background-color: var(--info-color);
}

.notif_err {
    background-color: var(--danger-hover-color);
}

/* Posiciones de las notificaciones según placement */

.notif_top_left {
    animation: fadeInTopLeft 0.5s forwards;

    &:not(.active) {
        animation: fadeOutTopLeft 0.5s forwards;
    }
}

.notif_top_center {
    animation: fadeInTopCenter 0.5s forwards;

    &:not(.active) {
        animation: fadeOutTopCenter 0.5s forwards;
    }
}

.notif_top_right {
    animation: fadeInTopRight 0.5s forwards;

    &:not(.active) {
        animation: fadeOutTopRight 0.5s forwards;
    }
}



.notif_bottom_left {
    animation: fadeInBottomLeft 0.5s forwards;

    &:not(.active) {
        animation: fadeOutBottomLeft 0.5s forwards;
    }
}

.notif_bottom_center {
    animation: fadeInBottomCenter 0.5s forwards;

    &:not(.active) {
        animation: fadeOutBottomCenter 0.5s forwards;
    }
}

.notif_bottom_right {
    animation: fadeInBottomRight 0.5s forwards;

    &:not(.active) {
        animation: fadeOutBottomRight 0.5s forwards;
    }
}




.notifgroup_top_left {
    top: 10px;
    left: 10px;
}

.notifgroup_top_center {
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0)
}

.notifgroup_top_right {
    top: 10px;
    right: 10px;
}



.notifgroup_bottom_left {
    bottom: 10px;
    left: 10px;
}

.notifgroup_bottom_center {
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.notifgroup_bottom_right {
    bottom: 10px;
    right: 10px;
}



@keyframes fadeInTopCenter {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeOutTopCenter {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes fadeInBottomCenter {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutBottomCenter {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes fadeInTopLeft {
    0% {
        opacity: 0;
        transform: translate(-100%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOutTopLeft {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-100%, 0);
    }
}

@keyframes fadeInTopRight {
    0% {
        opacity: 0;
        transform: translate(100%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOutTopRight {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(100%, 0);
    }
}

@keyframes fadeInBottomLeft {
    0% {
        opacity: 0;
        transform: translate(-100px, 100px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOutBottomLeft {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-100px, 100px);
    }
}

@keyframes fadeInBottomRight {
    0% {
        opacity: 0;
        transform: translate(100px, 100px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOutBottomRight {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(100px, 100px);
    }
}


.closeButton {
    background-color: transparent;
    place-self: center right;
    border: none;
    color: var(--foreground-color);
    opacity: 0.5;
}

.closeButton_icon {
    width: 1.5em;
    height: 1.5em;
    align-self: end;
}

.bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    transition: width 1s linear;

    &.bar_def {
        background-color: #FFFFFF60;

        &:is(.bar_bordered) {
            background-color: var(--secondary-color);
        }
    }

    &.bar_suc {
        background-color: #FFFFFF60;

        &:is(.bar_bordered) {
            background-color: var(--success-disabled-color);
        }
    }

    &.bar_err {
        background-color: #FFFFFF60;

        &:is(.bar_bordered) {
            background-color: var(--danger-color);
        }
    }

    &.bar_war {
        background-color: #FFFFFF60;

        &:is(.bar_bordered) {
            background-color: var(--warning-color);
        }
    }

    &.bar_inf {
        background-color: #FFFFFF60;

        &:is(.bar_bordered) {
            background-color: var(--info-color);
        }
    }
}