.radio-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    color: var(--foreground-color);
    font-family: var(--font-family);
}

.radio-wrapper:hover>.radio-view:not(.radio-view-checked):is(.radio-view-primary) {
    &.radio-view-bordered {
        border-color: var(--primary-color);
    }

    &.radio-view-flat {
        border-color: var(--primary-color);
    }
}

.radio-wrapper:hover>.radio-view:not(.radio-view-checked):is(.radio-view-secondary) {
    &.radio-view-bordered {
        border-color: var(--secondary-color);
    }

    &.radio-view-flat {
        border-color: var(--secondary-color);
    }
}

.radio-wrapper:hover>.radio-view:not(.radio-view-checked):is(.radio-view-danger) {
    &.radio-view-bordered {
        border-color: var(--danger-color);
    }

    &.radio-view-flat {
        border-color: var(--danger-color);
    }
}

.radio-wrapper:hover>.radio-view:not(.radio-view-checked):is(.radio-view-success) {
    &.radio-view-bordered {
        border-color: var(--success-color);
    }

    &.radio-view-flat {
        border-color: var(--success-color);
    }
}

.radio-wrapper:hover>.radio-view:not(.radio-view-checked):is(.radio-view-warning) {
    &.radio-view-bordered {
        border-color: var(--warning-color);
    }

    &.radio-view-flat {
        border-color: var(--warning-color);
    }
}

.radio-wrapper:is(.radio-wrapper-button) {
    text-align: center;
    background-color: var(--surface-a);

    &.radio-wrapper-bordered {
        border: 1px solid var(--border-color);
    }

    &.radio-wrapper-flat {
        border: 1px solid transparent;
    }

    &.radio-wrapper-primary {
        background-color: var(--primary-color);

        &:hover {
            border: 1px solid var(--primary-hover-color);
        }
    }

    &.radio-wrapper-small {
        min-width: calc(var(--height-checkbox-sm) * 3);
        height: var(--height-checkbox-sm);
        padding: var(--padding-sm);
    }

    &.radio-wrapper-medium {
        min-width: calc(var(--height-checkbox-md) * 3);
        height: var(--height-checkbox-md);
        padding: var(--padding-md);
    }

    &.radio-wrapper-large {
        min-width: calc(var(--height-checkbox-lg) * 3);
        height: var(--height-checkbox-lg);
        padding: var(--padding-lg);
    }
}

.radio-wrapper:hover:is(.radio-wrapper-button) {
    .radio-view {
        &.radio-view-primary {
            background-color: var(--primary-light-color);
        }

        &.radio-view-secondary {
            background-color: var(--secondary-light-color);
        }

        &.radio-view-danger {
            background-color: var(--danger-light-color);
        }

        &.radio-view-success {
            background-color: var(--success-light-color);
        }

        &.radio-view-warning {
            background-color: var(--warning-light-color);
        }
    }
}

.radio-wrapper-disabled {
    color: var(--surface-f);
    cursor: not-allowed;
}

.radio-wrapper-left {
    flex-direction: row-reverse;
}

.radio-wrapper-top {
    gap: 2px;
    flex-direction: column-reverse;
}

.radio-wrapper-bottom {
    gap: 2px;
    flex-direction: column;
}

.radio {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--height-checkbox-md);
    height: var(--height-checkbox-md);
    margin: 0;
    opacity: 0;

}

.radio-disabled {
    cursor: not-allowed;
}


.disabled-disabled {
    cursor: not-allowed;
}

.radio-view-small {
    width: var(--height-checkbox-sm);
    height: var(--height-checkbox-sm);
}

.radio-view-medium {
    width: var(--height-checkbox-md);
    height: var(--height-checkbox-md);
}

.radio-view-large {
    width: var(--height-checkbox-lg);
    height: var(--height-checkbox-lg);
}

.radio-view {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
    border-radius: var(--border-radius-pill);

    &.radio-view-bordered {
        background-color: var(--surface-a);
        border: 1px solid var(--surface-d);

        &.radio-view-primary {
            background-color: var(--primary-light-color);
            border-color: var(--primary-outline-color);
        }

        &.radio-view-secondary {
            background-color: var(--secondary-light-color);
            border-color: var(--secondary-outline-color);
        }

        &.radio-view-danger {
            background-color: var(--danger-light-color);
            border-color: var(--danger-outline-color);
        }

        &.radio-view-success {
            background-color: var(--success-light-color);
            border-color: var(--success-outline-color);
        }

        &.radio-view-warning {
            background-color: var(--warning-light-color);
            border-color: var(--warning-outline-color);
        }

        &.radio-view-info {
            background-color: var(--info-light-color);
            border-color: var(--info-outline-color);
        }
    }

    .radio-view-flat {
        border: 1px solid transparent;
        background-color: var(--surface-a);
    }



}

.radio-view:is(.radio-view-button) {
    background-color: transparent;
}

.radio-label {
    font-weight: 500;
}

.radio-label-button {
    background-color: transparent;
    z-index: 1;
}

.radio-view-button {
    border-color: transparent;
    border-radius: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    min-width: calc(var(--height-checkbox-md) * 3);
}

.radio-view-button:hover {
    border-color: transparent;
}

.radio-icon {
    display: none;
    background-color: var(--primary-hover-color);
    stroke-width: 3px;
    pointer-events: none;
    border-radius: var(--border-radius-pill);
    animation: animateIcon 0.4s ease-out both;
}

.radio-icon-disabled {
    color: var(--surface-f);
}

.radio-icon-small {
    width: calc(var(--height-checkbox-sm) - 10px);
    height: calc(var(--height-checkbox-sm) - 10px);
}

.radio-icon-medium {
    width: calc(var(--height-checkbox-md) - 12px);
    height: calc(var(--height-checkbox-md) - 12px);
}

.radio-icon-large {
    width: calc(var(--height-checkbox-lg) - 8px);
    height: calc(var(--height-checkbox-lg) - 8px);
}

@keyframes animateIcon {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    0% {
        transform: scale(0.6);
    }
}

.radio-primary {
    color: var(--primary-color);
}

.radio-secondary {
    color: var(--secondary-color);
}

.radio-danger {
    color: var(--danger-color);
}

.radio-success {
    color: var(--success-color);
}

.radio-warning {
    color: var(--warning-color);
}

.radio-small {
    width: var(--height-checkbox-sm);
    height: var(--height-checkbox-sm);
}

.radio-medium {
    width: var(--height-checkbox-md);
    height: var(--height-checkbox-md);
}

.radio-large {
    width: var(--height-checkbox-lg);
    height: var(--height-checkbox-lg);
}

.radio-bordered {
    border: 1px solid var(--surface-d);
}

.radio-flat {
    border: 1px solid transparent;
}


.radio-button {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
}

.radio-view-primary {
    background-color: var(--primary-color);
}

.radio-view-secondary {
    background-color: var(--secondary-color);
}

.radio-view-danger {
    background-color: var(--danger-color);
}

.radio-view-success {
    background-color: var(--success-color);
}

.radio-view-warning {
    background-color: var(--warning-color);
}

.radio-icon-primary {
    background-color: var(--primary-color);
}

.radio-icon-secondary {
    background-color: var(--secondary-color);
}

.radio-icon-danger {
    background-color: var(--danger-color);
}

.radio-icon-success {
    background-color: var(--success-color);
}

.radio-icon-warning {
    background-color: var(--warning-color);
}

.radio-label-primary {
    color: var(--primary-color);
}

.radio-label-secondary {
    color: var(--secondary-color);
}

.radio-label-danger {
    color: var(--danger-color);
}

.radio-label-success {
    color: var(--success-color);
}

.radio-label-warning {
    color: var(--warning-color);
}