.radio-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    color: var(--foreground-color);
    font-family: var(--font-family);
}

.radio-wrapper:hover>.bg-view:not(.bg-view-checked):is(.bg-view-primary) {
    &.bg-view-brd {
        border-color: var(--primaryHover-color);
    }

    &.bg-view-flat {
        border-color: var(--primaryHover-color);
    }
}

.radio-wrapper:hover>.bg-view:not(.bg-view-checked):is(.bg-view-secondary) {
    &.bg-view-brd {
        border-color: var(--secondaryHover-color);
    }

    &.bg-view-flat {
        border-color: var(--secondaryHover-color);
    }
}

.radio-wrapper:hover>.bg-view:not(.bg-view-checked):is(.bg-view-danger) {
    &.bg-view-brd {
        border-color: var(--dangerHover-color);
    }

    &.bg-view-flat {
        border-color: var(--dangerHover-color);
    }
}

.radio-wrapper:hover>.bg-view:not(.bg-view-checked):is(.bg-view-success) {
    &.bg-view-brd {
        border-color: var(--successHover-color);
    }

    &.bg-view-flat {
        border-color: var(--successHover-color);
    }
}

.radio-wrapper:hover>.bg-view:not(.bg-view-checked):is(.bg-view-warning) {
    &.bg-view-brd {
        border-color: var(--warningHover-color);
    }

    &.bg-view-flat {
        border-color: var(--warningHover-color);
    }
}

.radio-wrapper:is(.radio-wrapper-button) {
    text-align: center;
    background-color: var(--backgroundDark-color);

    &.radio-wrapper-brd {
        border: 1px solid var(--border-color);
    }

    &.radio-wrapper-flat {
        border: 1px solid transparent;
    }

    &.radio-wrapper-primary {
        background-color: var(--backgroundDark-color);

        &:hover {
            border: 1px solid var(--primaryHover-color);
        }
    }

    &.radio-wrapper-small {
        min-width: calc(var(--height-sm) * 3);
        height: var(--height-sm);
        padding: var(--padding-sm);
    }

    &.radio-wrapper-medium {
        min-width: calc(var(--height-md) * 3);
        height: var(--height-md);
        padding: var(--padding-md);
    }

    &.radio-wrapper-large {
        min-width: calc(var(--height-lg) * 3);
        height: var(--height-lg);
        padding: var(--padding-lg);
    }
}

.radio-wrapper:hover:is(.radio-wrapper-button) {
    .bg-view {
        &.bg-view-primary {
            background-color: var(--primaryLight-color);
        }

        &.bg-view-secondary {
            background-color: var(--secondaryLight-color);
        }

        &.bg-view-danger {
            background-color: var(--dangerLight-color);
        }

        &.bg-view-success {
            background-color: var(--successLight-color);
        }

        &.bg-view-warning {
            background-color: var(--warningLight-color);
        }
    }
}

.radio-wrapper-disabled {
    color: var(--foregroundDisabled-color);
    cursor: not-allowed;
}

.radio-wrapper-left {
    flex-direction: row-reverse;
}

.radio-wrapper-top {
    gap: 2px;
    flex-direction: column-reverse;
}

.radio-wrapper-bottom {
    gap: 2px;
    flex-direction: column;
}

.radio {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--height-md);
    height: var(--height-md);
    margin: 0;
    opacity: 0;
}

.radio:checked~.bg-view>.icon:not(.icon-button) {
    display: flex;

    &.icon-primary {
        background-color: var(--primaryHover-color);
    }

    &.icon-secondary {
        background-color: var(--secondaryHover-color);
    }

    &.icon-danger {
        background-color: var(--dangerHover-color);
    }

    &.icon-success {
        background-color: var(--successHover-color);
    }

    &.icon-warning {
        background-color: var(--warningHover-color);
    }
}

.radio:checked~.bg-view {
    display: flex;

    &.bg-view-primary {
        border-color: var(--primaryHover-color);
    }

    &.bg-view-secondary {
        border-color: var(--secondaryHover-color);
    }

    &.bg-view-danger {
        border-color: var(--dangerHover-color);
    }

    &.bg-view-success {
        border-color: var(--successHover-color);
    }

    &.bg-view-warning {
        border-color: var(--warningHover-color);
    }
}

.radio:checked~.bg-view:is(.bg-view-button) {
    &.bg-view-primary {
        background-color: var(--primaryHover-color);
    }

    &.bg-view-secondary {
        background-color: var(--secondaryHover-color);
    }

    &.bg-view-danger {
        background-color: var(--dangerHover-color);
    }

    &.bg-view-success {
        background-color: var(--successHover-color);
    }

    &.bg-view-warning {
        background-color: var(--warningHover-color);
    }
}

.radio-disabled {
    cursor: not-allowed;
}

.bg-view-brd {
    background-color: var(--backgroundDark-color);
    border: 1px solid var(--border-color);
}

.bg-view-flat {
    border: 1px solid transparent;
    background-color: var(--backgroundDark-color);
}

.disabled-disabled {
    cursor: not-allowed;
}

.bg-view-small {
    width: var(--height-nm);
    height: var(--height-nm);
}

.bg-view-medium {
    width: var(--height-sm);
    height: var(--height-sm);
}

.bg-view-large {
    width: var(--height-md);
    height: var(--height-md);
}

.bg-view {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
    border-radius: var(--border-radius-pill);
}

.bg-view:is(.bg-view-button) {
    background-color: transparent;
}

.label {
    font-weight: 500;
}

.label-button {
    background-color: transparent;
    z-index: 1;
}

.bg-view-button {
    border-color: transparent;
    border-radius: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    min-width: calc(var(--height-md) * 3);
}

.bg-view-button:hover {
    border-color: transparent;
}

.icon {
    display: none;
    background-color: var(--primaryHover-color);
    stroke-width: 3px;
    pointer-events: none;
    border-radius: var(--border-radius-pill);
    animation: animateIcon 0.4s ease-out both;
}

.icon-disabled {
    color: var(--foregroundDisabled-color);
}

.icon-small {
    width: calc(var(--height-nm) - 10px);
    height: calc(var(--height-nm) - 10px);
}

.icon-medium {
    width: calc(var(--height-sm) - 12px);
    height: calc(var(--height-sm) - 12px);
}

.icon-large {
    width: calc(var(--height-sm) - 8px);
    height: calc(var(--height-sm) - 8px);
}

@keyframes animateIcon {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    0% {
        transform: scale(0.6);
    }
}

.radio-primary {
    color: var(--primary-color);
}

.radio-secondary {
    color: var(--secondary-color);
}

.radio-danger {
    color: var(--danger-color);
}

.radio-success {
    color: var(--success-color);
}

.radio-warning {
    color: var(--warning-color);
}

.radio-small {
    width: var(--height-nm);
    height: var(--height-nm);
}

.radio-medium {
    width: var(--height-sm);
    height: var(--height-sm);
}

.radio-large {
    width: var(--height-md);
    height: var(--height-md);
}

.radio-brd {
    border: 1px solid var(--border-color);
}

.radio-flat {
    border: 1px solid transparent;
}

.radio-default {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--height-md);
    height: var(--height-md);
    margin: 0;
    opacity: 0;
}

.radio-button {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--height-md);
    height: var(--height-md);
    margin: 0;
    opacity: 0;
}

.bg-view-primary {
    background-color: var(--primary-color);
}

.bg-view-secondary {
    background-color: var(--secondary-color);
}

.bg-view-danger {
    background-color: var(--danger-color);
}

.bg-view-success {
    background-color: var(--success-color);
}

.bg-view-warning {
    background-color: var(--warning-color);
}

.icon-primary {
    background-color: var(--primary-color);
}

.icon-secondary {
    background-color: var(--secondary-color);
}

.icon-danger {
    background-color: var(--danger-color);
}

.icon-success {
    background-color: var(--success-color);
}

.icon-warning {
    background-color: var(--warning-color);
}

.label-primary {
    color: var(--primary-color);
}

.label-secondary {
    color: var(--secondary-color);
}

.label-danger {
    color: var(--danger-color);
}

.label-success {
    color: var(--success-color);
}

.label-warning {
    color: var(--warning-color);
}