.lambda-range-container {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: var(--padding-lg) var(--padding-none);
	box-sizing: border-box;
	font-family: var(--font-family);
	user-select: none;
	-webkit-user-select: none;
	touch-action: none;
}

.lambda-range-label {
	display: block;
	margin-bottom: var(--spacing-1, 4px);
	color: var(--foreground-label-color);
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-md);
}

.lambda-range-label-small {
	font-size: var(--font-size-xs);
}

.lambda-range-label-medium {
	font-size: var(--font-size-sm);
}

.lambda-range-label-large {
	font-size: var(--font-size-md);
}

.lambda-range-track {
	position: absolute;
	bottom: 50%;
	transform: translateY(50%);
	left: 0;
	right: 0;
	border-radius: var(--border-radius-sm);
	border: none;
	background-color: transparent;
	box-sizing: border-box;
	z-index: 1;

	&.lambda-range-track-view-bar {
		background-color: var(--surface-b);
		border: var(--border-width-xs) solid var(--border-color);
	}
}

.lambda-range-track-small {
	height: var(--track-size-sm, 4px);
}

.lambda-range-track-medium {
	height: var(--track-size-md, 6px);
}

.lambda-range-track-large {
	height: var(--track-size-lg, 8px);
}

.lambda-range-fill {
	position: absolute;
	bottom: 50%;
	transform: translateY(50%);
	height: var(--size-track-md, 6px);
	background-color: var(--primary-hover-color);
	border: var(--border-width-xs) solid var(--primary-base-color);
	border-radius: var(--radius-pill, 9999px);
	z-index: 2;
}

.lambda-range-fill-small {
	height: var(--track-size-sm, 4px);
}

.lambda-range-fill-medium {
	height: var(--track-size-md, 6px);
}

.lambda-range-fill-large {
	height: var(--track-size-lg, 8px);
}

.lambda-range-handle {
	position: absolute;
	bottom: 50%;
	transform: translate(-50%, 50%);
	width: var(--size-handle-md, 20px);
	height: var(--size-handle-md, 20px);
	border-radius: var(--radius-pill, 9999px);
	border: var(--border-width-xs) solid var(--primary-base-color);
	background: var(--foreground-invert-color);
	/*box-shadow: 0 0 4px 2px #0000001a inset;*/
	transition: transform 0.1s ease, box-shadow 0.2s ease;
	outline: none;
	z-index: 3;
	cursor: pointer;

	&:hover:not(.lambda-range-handle-disabled) {
		.lambda-range-handle-value {
			display: block;
		}
	}
}

/* Variantes de Tamaño del Handle */
.lambda-range-handle-small {
	width: var(--handle-xs);
	height: var(--handle-xs);
	border-width: var(--border-width-sm);
}

.lambda-range-handle-medium {
	width: var(--handle-sm);
	height: var(--handle-sm);
	border-width: var(--border-width-sm);
}

.lambda-range-handle-large {
	width: var(--handle-md);
	height: var(--handle-md);
	border-width: var(--border-width-md);
}

/* Estado Hover del Handle */
.lambda-range-handle:hover:not(.lambda-range-handle-disabled) {
	box-shadow: 0 0 0 4px var(--primary-shadow-color);
}

/* Estado Focus-Visible del Handle */
.lambda-range-handle:focus-visible:not(.lambda-range-handle-disabled):not(:hover) {
	box-shadow: 0 0 0 4px var(--primary-shadow-color);
}

/* Estado Arrastrando del Handle */
.lambda-range-handle-dragging {
	cursor: grabbing;
	transform: translate(-50%, 50%) scale(1.1);
	box-shadow: 0 0 0 4px var(--primary-shadow-color);
}

/* Estado Deshabilitado del Handle */
.lambda-range-handle-disabled {
	cursor: not-allowed;
	border-color: var(--primary-disabled-color);
	background-color: var(--surface-c);

	/* Anular estilos de hover/focus/dragging */
	&:hover,
	&:focus-visible,
	&.lambda-range-handle-dragging {
		box-shadow: none;
		transform: translate(-50%, 50%);
		border-color: var(--primary-disabled-color);
		background-color: var(--surface-c);
	}
}

.lambda-range-handle-value {
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(-130%);
	transform-origin: bottom center;
	text-align: center;
	font-weight: var(--font-weight-md);
	color: var(--foreground-invert-color);
	background-color: var(--neutral-base-color);
	padding: var(--padding-xs) var(--padding-sm);
	border-radius: var(--border-radius-sm);
	white-space: nowrap;
	min-width: 2em;
	z-index: 4;

	&.lambda-range-handle-value-small {
		font-size: var(--font-size-xs);
	}

	&.lambda-range-handle-value-medium {
		font-size: var(--font-size-sm);
	}

	&.lambda-range-handle-value-large {
		font-size: var(--font-size-md);
	}

	&::after {
		content: "";
		position: absolute;
		top: 95%;
		left: 50%;
		transform: translateX(-50%);
		border-width: 5px;
		border-style: solid;
		border-color: var(--neutral-base-color) transparent transparent transparent;
	}
}

.lambda-range-mark-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.lambda-range-mark {
	position: absolute;
	width: var(--border-width-xs);
	box-sizing: border-box;

	&:is(.lambda-range-mark-small) {
		height: calc(var(--track-size-sm) * 3);
		&:not(.lambda-range-mark-has-label) {
			height: calc(var(--track-size-sm) * 0.85);
		}
	}
	&:is(.lambda-range-mark-medium) {
		height: calc(var(--track-size-md) * 2.75);
		&:not(.lambda-range-mark-has-label) {
			height: calc(var(--track-size-md) * 0.9);
		}
	}
	&:is(.lambda-range-mark-large) {
		height: calc(var(--track-size-lg) * 2.5);
		&:not(.lambda-range-mark-has-label) {
			height: calc(var(--track-size-lg) * 0.9);
		}
	}

	&:is(:last-child, :first-child) {
		background-color: transparent;
	}

	&:after {
		content: attr(data-value);
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: max-content;
		font-size: var(--font-size-sm);
		text-align: center;
		color: var(--foreground-color);
	}
	&.lambda-range-mark-inrange:not(:first-child) {
		background-color: var(--surface-d);
	}
}

.lambda-range-container-disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
