.lambda-textarea-wrapper {
    display: flex;
    flex-direction: column;


}

.lambda-textarea-label {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-reg);
    color: var(--primary-color);
    margin: 0 0 var(--gap-xs) 0;

    &.lambda-textarea-label-required {
        &::after {
            content: ' *';
            color: var(--danger-color);
        }
    }

    &.lambda-textarea-label-tiny {
        font-size: var(--font-size-xs);
    }

    &.lambda-textarea-label-small {
        font-size: var(--font-size-sm);
    }

    &.lambda-textarea-label-medium {
        font-size: var(--font-size-sm);
    }

    &.lambda-textarea-label-large {
        font-size: var(--font-size-md);
    }

    &.lambda-textarea-label-radius-none {
        padding: var(--padding-none) var(--padding-none) var(--padding-none) var(--padding-xs);
    }

    &.lambda-textarea-label-radius-small {
        padding: var(--padding-none) var(--padding-none) var(--padding-none) var(--padding-xs);
    }

    &.lambda-textarea-label-radius-medium {
        padding: var(--padding-none) var(--padding-none) var(--padding-none) var(--padding-sm);
    }

    &.lambda-textarea-label-radius-large {
        padding: var(--padding-none) var(--padding-none) var(--padding-none) var(--padding-md);
    }
}

.lambda-textarea {
    background-color: var(--surface-a);
    box-shadow: var(--box-shadow);
    color: var(--foreground-color);


    &.lambda-textarea-tiny {
        font-size: var(--font-size-xs);
        padding: var(--padding-xs);
    }

    &.lambda-textarea-small {
        font-size: var(--font-size-sm);
        padding: var(--padding-sm);
    }

    &.lambda-textarea-medium {
        font-size: var(--font-size-md);
        padding: var(--padding-sm);
    }

    &.lambda-textarea-large {
        font-size: var(--font-size-lg);
        padding: var(--padding-md);
    }

    &.lambda-textarea-radius-none {
        border-radius: var(--border-radius-none);
    }

    &:is(.lambda-textarea-radius-small) {
        border-radius: var(--border-radius-sm);
    }

    &.lambda-textarea-radius-medium {
        border-radius: var(--border-radius-md);
    }

    &.lambda-textarea-radius-large {
        border-radius: var(--border-radius-lg);
    }

    &.lambda-textarea-outline {
        border: 1px solid var(--surface-d);

        &:focus-within {
            outline: 3px solid var(--primary-outline-color);
            border-color: var(--primary-color);
        }

        &.lambda-textarea-invalid {
            border: 1px dashed var(--danger-color);
            background-color: var(--danger-light-color);

            &:focus-within {
                outline: 3px solid var(--danger-outline-color);
                border-color: var(--danger-color);
            }
        }
    }

    &.lambda-textarea-borderless {
        border: none;

        &:focus-within {
            outline: 3px solid var(--primary-outline-color);
        }

        &.lambda-textarea-invalid {
            background-color: var(--danger-light-color);

            &:focus-within {
                outline: 3px solid var(--danger-outline-color);
            }
        }
    }
}