.lambda-datepicker-wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--gap-md);
}

.lambda-datepicker {
	position: relative;
	display: flex;
	flex-direction: column;
	background: var(--surface-a);
	font-family: var(--font-family);
	padding: var(--padding-md);
	width: 285px;
	min-height: 250px;
	overflow: hidden;

	&:is(.lambda-datepicker-modal) {
		border: none;
	}
}

.lambda-datepicker-calendar {
	position: fixed;
	&:is(.lambda-datepicker-calendar-down) {
		animation: animation-dropdown-down 0.2s ease-in-out;
	}
	&:is(.lambda-datepicker-calendar-up) {
		animation: animation-dropdown-up 0.2s ease-in-out;
	}
}

@keyframes animation-dropdown-down {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes animation-dropdown-up {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.lambda-datepicker-header {
	display: grid;
	grid-template-columns: repeat(2, 2em) auto repeat(2, 2em);
	place-items: center center;
}

.lambda-datepicker-title {
	font-weight: var(--font-weight-semibold);
	font-size: var(--font-size-sm);
	text-transform: capitalize;
	text-align: center;
	color: var(--foreground-title-color);
}

.lambda-datepicker-nav {
	display: flex;
	gap: var(--gap-xs);
}

.lambda-datepicker-nav-button:not(:hover) {
	opacity: 0.4;
}

.lambda-datepicker-days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: var(--gap-xs);
	padding: var(--padding-none) var(--padding-none) var(--padding-sm) var(--padding-none);
}

.lambda-datepicker-day-label {
	text-align: center;
	font-weight: var(--font-weight-md);
	color: var(--foreground-title-color);
	font-size: var(--font-size-xs);

	&:is(.lambda-datepicker-day-label-full) {
		font-size: calc(var(--font-size-sm) + 0.8svw);
	}
}

.lambda-datepicker-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	place-items: center center;
	gap: var(--gap-xs);
}

.lambda-datepicker-cell {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: var(--padding-xs);
	border-radius: var(--border-radius-xs);
	font-size: var(--font-size-sm);
	background: transparent;
	transition: background 0.2s, color 0.2s;
	color: var(--foreground-color);
	min-width: 28px;
	border: none;

	&:not(.lambda-datepicker-cell-selected):not(.lambda-datepicker-cell-disabled) {
		cursor: pointer;
	}

	&:hover:not(.lambda-datepicker-cell-selected):not(.lambda-datepicker-cell-disabled) {
		background: var(--neutral-opacity-color);
		color: var(--primary-base-color);
	}

	&:is(.lambda-datepicker-cell-not-month) {
		color: var(--foreground-secondary-color);
		opacity: 0.5;
		cursor: default;
		pointer-events: none;
	}
}

.lambda-datepicker-cell-selected {
	background: var(--primary-hover-color);
	color: var(--white-color);
	text-shadow: 0 0 1px var(--black-color);
	animation: datepicker-selected 0.2s ease-in-out;
}

@keyframes datepicker-selected {
	0% {
		box-shadow: none;
	}
	50% {
		box-shadow: 0 0 0 4px var(--primary-shadow-color);
	}
	100% {
		box-shadow: none;
	}
}

.lambda-datepicker-cell-today {
	color: var(--primary-text-color);
	font-weight: var(--font-weight-semibold);
	border: var(--border-width-xs) solid var(--primary-base-color);
}

.lambda-datepicker-cell-disabled {
	opacity: 0.3;
	background: var(--surface-c);
	cursor: not-allowed;
}

.lambda-datepicker-radius-none {
	border-radius: var(--border-radius-none);
}
.lambda-datepicker-radius-tiny {
	border-radius: var(--border-radius-xs);

	&:is(.lambda-datepicker-inline) {
		border-top-left-radius: var(--border-radius-none);
		border-top-right-radius: var(--border-radius-none);
	}
}
.lambda-datepicker-radius-small {
	border-radius: var(--border-radius-sm);

	&:is(.lambda-datepicker-inline) {
		border-top-left-radius: var(--border-radius-none);
		border-top-right-radius: var(--border-radius-none);
	}
}
.lambda-datepicker-radius-medium {
	border-radius: var(--border-radius-md);

	&:is(.lambda-datepicker-inline) {
		border-top-left-radius: var(--border-radius-none);
		border-top-right-radius: var(--border-radius-none);
	}
}
.lambda-datepicker-radius-large {
	border-radius: var(--border-radius-lg);

	&:is(.lambda-datepicker-inline) {
		border-top-left-radius: var(--border-radius-none);
		border-top-right-radius: var(--border-radius-none);
	}
}
.lambda-datepicker-radius-full {
	border-radius: var(--border-radius-lg);

	&:is(.lambda-datepicker-inline) {
		border-top-left-radius: var(--border-radius-none);
		border-top-right-radius: var(--border-radius-none);
	}
}

/* Colores y variantes pueden extenderse según tus tokens */
.lambda-datepicker-color-primary {
	border-color: var(--primary-base-color);
}
.lambda-datepicker-color-secondary {
	border-color: var(--secondary-base-color);
}
.lambda-datepicker-color-success {
	border-color: var(--success-base-color);
}
.lambda-datepicker-color-danger {
	border-color: var(--danger-base-color);
}
.lambda-datepicker-color-warning {
	border-color: var(--warning-base-color);
}
.lambda-datepicker-color-info {
	border-color: var(--info-base-color);
}

.lambda-datepicker-variant-solid {
	background: var(--surface-a);
	border: var(--border-width-xs) solid var(--border-color);

	&:is(.lambda-datepicker-invalid) {
		border: var(--border-width-xs) dashed var(--danger-base-color);
		border-top: var(--border-width-xs) solid var(--border-color);
	}
}
.lambda-datepicker-variant-soft {
	background: var(--surface-a);
	border: var(--border-width-xs) solid transparent;

	&:is(.lambda-datepicker-invalid) {
		border: var(--border-width-xs) dashed var(--danger-base-color);
		border-top: var(--border-width-xs) solid var(--border-color);
	}
}

.lambda-datepicker-footer {
	display: flex;
	justify-content: flex-end;
}

.lambda-datepicker-inline-section {
	display: flex;
	flex-direction: column;
	gap: var(--gap-none);
	width: 285px;

	&:is(.lambda-datepicker-inline-section-radius-none) {
		& > header {
			border-top-left-radius: var(--border-radius-none);
			border-top-right-radius: var(--border-radius-none);
		}
	}
	&:is(.lambda-datepicker-inline-section-radius-tiny) {
		& > header {
			border-top-left-radius: var(--border-radius-xs);
			border-top-right-radius: var(--border-radius-xs);
		}
	}
	&:is(.lambda-datepicker-inline-section-radius-small) {
		& > header {
			border-top-left-radius: var(--border-radius-sm);
			border-top-right-radius: var(--border-radius-sm);
		}
	}
	&:is(.lambda-datepicker-inline-section-radius-medium) {
		& > header {
			border-top-left-radius: var(--border-radius-md);
			border-top-right-radius: var(--border-radius-md);
		}
	}
	&:is(.lambda-datepicker-inline-section-radius-large) {
		& > header {
			border-top-left-radius: var(--border-radius-lg);
			border-top-right-radius: var(--border-radius-lg);
		}
	}
	&:is(.lambda-datepicker-inline-section-radius-full) {
		& > header {
			border-top-left-radius: var(--border-radius-lg);
			border-top-right-radius: var(--border-radius-lg);
		}
	}

	&:is(.lambda-datepicker-inline-section-solid) {
		& > header {
			border: var(--border-width-xs) solid var(--border-color);
			border-bottom: none;
		}
	}
	&:is(.lambda-datepicker-inline-section-soft) {
		& > header {
			border: var(--border-width-xs) solid transparent;
			border-bottom: none;
		}
	}

	& > header {
		display: grid;
		grid-template-columns: 2.1em 1em auto 2em;
		place-items: center center;
		padding: var(--padding-xs) var(--padding-sm);
		min-height: 45px;
		width: 100%;
		background-color: var(--surface-b);

		& > svg {
			width: 1em;
			height: 1em;
			color: var(--neutral-text-color);
		}

		& > div {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			justify-content: flex-start;
			width: 100%;
			font-weight: var(--font-weight-reg);

			& > span:is(:first-child) {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				font-size: var(--font-size-sm);
				font-weight: var(--font-weight-reg);
				color: var(--foreground-title-color);
				text-transform: capitalize;
			}
			& > span:is(:last-child) {
				font-size: var(--font-size-md);
				font-weight: var(--font-weight-reg);
				color: var(--primary-text-color);
			}
		}
	}

	&:is(.lambda-datepicker-inline-section-invalid) {
		& > header {
			border: var(--border-width-xs) dashed var(--danger-base-color);
			border-bottom: none;
		}
	}
}

.lambda-datepicker-picker-section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--surface-a);
}

.lambda-datepicker-picker-section-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--padding-none) var(--padding-md);
	width: 100%;
	height: 45px;
	background-color: var(--surface-b);
	border-bottom: var(--border-width-xs) solid var(--border-color);

	& > span {
		color: var(--neutral-text-color);
	}
}

.lambda-datepicker-picker-section-months {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: var(--padding-xs);
	gap: var(--gap-sm);
	place-items: center center;
	height: calc(100% - 45px);
}

.lambda-datepicker-picker-section-header-year {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: var(--padding-xs) var(--padding-sm);
	font-weight: var(--font-weight-semibold);
	font-size: var(--font-size-lg);
	color: var(--foreground-title-color);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	border-radius: var(--border-radius-sm);
	background-color: transparent;
	border: none;

	&:hover {
		background-color: var(--neutral-opacity-color);
	}
}

.lambda-datepicker-picker-section-month {
	width: 100%;
	height: 100%;
	font-weight: var(--font-weight-reg);
	font-size: var(--font-size-md);
	border-radius: var(--border-radius-sm);
	background-color: transparent;
	color: var(--foreground-secondary-color);
	border: var(--border-width-xs) solid var(--border-color);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	background-color: var(--background-color);

	&:is(.lambda-datepicker-picker-section-month-soft) {
		background-color: var(--surface-b);
		border: var(--border-width-xs) solid transparent;
	}

	&:is(.lambda-datepicker-picker-section-month-selected) {
		background-color: var(--primary-opacity-color);
		color: var(--primary-text-color);
		border-color: var(--primary-shadow-color);
	}

	&:hover:not(.lambda-datepicker-picker-section-month-selected) {
		background-color: var(--primary-opacity-color);
		color: var(--primary-text-color);
		border-color: var(--primary-shadow-color);
	}
}

.lambda-datepicker-picker-section-years {
	position: absolute;
	top: 45px;
	left: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: var(--padding-xs);
	gap: var(--gap-sm);
	place-items: center center;
	width: 100%;
	height: calc(100% - 45px);
	background-color: var(--surface-a);
}

.lambda-datepicker-picker-section-year {
	width: 100%;
	height: 100%;
	font-weight: var(--font-weight-reg);
	font-size: var(--font-size-md);
	border-radius: var(--border-radius-sm);
	background-color: var(--background-color);
	color: var(--foreground-secondary-color);
	border: var(--border-width-xs) solid var(--border-color);
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	&:is(.lambda-datepicker-picker-section-year-soft) {
		background-color: var(--surface-b);
		border: var(--border-width-xs) solid transparent;
	}

	&:is(.lambda-datepicker-picker-section-year-selected) {
		background-color: var(--primary-opacity-color);
		color: var(--primary-text-color);
		border-color: var(--primary-shadow-color);
	}

	&:hover:not(.lambda-datepicker-picker-section-year-selected) {
		background-color: var(--primary-opacity-color);
		color: var(--primary-text-color);
		border-color: var(--primary-shadow-color);
	}
}
