.lambda-btn-theme-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	&:is(.lambda-btn-theme-icon-tiny) {
		& svg {
			width: var(--size-sm);
			height: var(--size-sm);
		}
	}

	&:is(.lambda-btn-theme-icon-small) {
		& svg {
			width: var(--size-md);
			height: var(--size-md);
		}
	}

	&:is(.lambda-btn-theme-icon-medium) {
		& svg {
			width: var(--size-md);
			height: var(--size-md);
		}
	}

	&:is(.lambda-btn-theme-icon-large) {
		& svg {
			width: var(--size-lg);
			height: var(--size-lg);
		}
	}
}