.lambda-carousel {
	display: flex;
	position: relative;
	overflow: hidden;
	border: var(--border-width-xs) solid var(--border-color);
	border-radius: var(--radius-sm);
	font-family: var(--font-family);
	height: 100%;
	width: 100%;
	background-color: var(--surface-a);

	&:focus-within {
		outline: 2px solid var(--primary-opacity-color);
	}

	&.lambda-carousel-horizontal {
		flex-direction: column;
		max-height: 400px;

		&.lambda-carousel-thumbnail {
			padding: var(--spacing-md) var(--spacing-xl) var(--spacing-2xl) var(--spacing-xl);

			&.lambda-carousel-navigation-false {
				padding: var(--spacing-md) var(--spacing-xs) var(--spacing-2xl) var(--spacing-xs);
			}

			&.lambda-carousel-pagination-false {
				padding: var(--spacing-xs) var(--spacing-xl) var(--spacing-xs) var(--spacing-xl);
			}
		}

		&.lambda-carousel-dots {
			padding: var(--spacing-md) var(--spacing-xl) var(--spacing-none) var(--spacing-xl);

			&.lambda-carousel-navigation-false {
				padding: var(--spacing-md) var(--spacing-xs) var(--spacing-xl) var(--spacing-xs);
			}

			&.lambda-carousel-pagination-false {
				padding: var(--spacing-xs) var(--spacing-xl) var(--spacing-xs) var(--spacing-xl);
			}
		}

		&.lambda-carousel-navigation-false.lambda-carousel-pagination-false {
			padding: var(--spacing-xs);
		}
	}

	&.lambda-carousel-vertical {
		flex-direction: row;

		&.lambda-carousel-thumbnail {
			padding: var(--spacing-xl) var(--spacing-2xl) var(--spacing-xl) var(--spacing-md);

			&.lambda-carousel-navigation-false {
				padding: var(--spacing-xs) var(--spacing-2xl) var(--spacing-xs) var(--spacing-md);
			}

			&.lambda-carousel-pagination-false {
				padding: var(--spacing-xl) var(--spacing-xs) var(--spacing-xl) var(--spacing-xs);
			}
		}

		&.lambda-carousel-dots {
			padding: var(--spacing-xl) calc(var(--spacing-none) + var(--spacing-xs)) var(--spacing-xl) var(--spacing-xs);

			&.lambda-carousel-navigation-false {
				padding: var(--spacing-xs) calc(var(--spacing-xl) + var(--spacing-xs)) var(--spacing-xs) var(--spacing-xs);
			}

			&.lambda-carousel-pagination-false {
				padding: var(--spacing-xl) var(--spacing-xs);
			}
		}

		&.lambda-carousel-navigation-false.lambda-carousel-pagination-false {
			padding: var(--spacing-xs) var(--spacing-xs);
		}
	}
}

.lambda-carousel-drawer {
	display: flex;
	overflow: hidden;

	&.lambda-carousel-drawer-vertical {
		height: 100%;
		max-height: 350px;

		@media (width < 600px) {
			max-height: 280px;
		}

		@media (width <=500px) {
			max-height: 240px;
		}

		@media (width <=400px) {
			max-height: 150px;
		}
	}
}

.lambda-carousel-container {
	display: flex;
	width: 100%;
	will-change: transform;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

.lambda-carousel-container-dragging {
	transition: none;
	cursor: grabbing;
}

.lambda-carousel-container-returning {
	transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lambda-carousel-container-transitioning {
	transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lambda-carousel-container-skipTransition {
	transition: none !important;
}

.lambda-carousel-container-stable {
	transition: transform 0ms;
}

.lambda-carousel-container-vertical {
	flex-direction: column;
}

.lambda-carousel-item {
	flex-shrink: 0;
	touch-action: pan-y;
	will-change: transform;
}

.lambda-carousel-item-inner {
	pointer-events: none;
	user-select: none;
	height: 100%;

	&>img {
		pointer-events: none;
		width: 100%;
		aspect-ratio: 16/8;
	}
}

.lambda-carousel-button {
	position: absolute;
	height: 3.5em !important;
	width: 1.5em !important;
	padding: var(--spacing-xs) var(--spacing-xs);
	z-index: 10;
}

.lambda-carousel-button-prev {
	&.lambda-carousel-button-horizontal {
		left: calc(var(--spacing-md) - var(--spacing-2xs));

		&:is(.lambda-carousel-button-dots) {
			top: calc(50% - 1.75em);
		}

		&:is(.lambda-carousel-button-thumbnail) {
			top: calc(50% - 1.75em);
		}
	}

	&.lambda-carousel-button-vertical {
		width: 3.5em !important;
		min-height: 1.75em !important;
		height: 1.75em !important;
		left: calc((50% - 20px) - 1.75em);
		top: calc(var(--spacing-sm) + 1px);

		& svg {
			transform: rotate(90deg);
		}
	}
}

.lambda-carousel-button-next {
	right: calc(var(--spacing-md) - var(--spacing-2xs));

	&.lambda-carousel-button-horizontal {
		&:is(.lambda-carousel-button-dots) {
			top: calc(50% - 1.75em);
		}

		&:is(.lambda-carousel-button-thumbnail) {
			top: calc(50% - 1.75em);
		}
	}

	&.lambda-carousel-button-vertical {
		bottom: calc(var(--spacing-sm) + 1px);
		left: calc((50% - 20px) - 1.75em);
		width: 3.5em !important;
		height: 1.75em !important;
		min-height: 1.75em !important;

		& svg {
			transform: rotate(90deg);
		}
	}
}

.lambda-carousel-button-disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.lambda-carousel-pagination {
	display: flex;
	gap: 8px;
}

.lambda-carousel-pagination-horizontal {
	/*bottom: var(--spacing-md);
    transform: translateX(-50%);*/
	justify-content: center;
	padding: var(--spacing-lg);
	flex-flow: row wrap;
}

.lambda-carousel-pagination-vertical {
	/*bottom: auto;
    left: auto;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);*/
	flex-flow: column wrap;
	justify-content: center;
	padding: var(--spacing-xs) var(--spacing-lg);
	max-height: 350px;
	min-width: max-content;

	@media (width < 600px) {
		max-height: 280px;
	}

	@media (width <=500px) {
		max-height: 240px;
	}

	@media (width <=400px) {
		max-height: 150px;
	}
}

.lambda-carousel-dot {
	border: none;
	padding: 0;
	background-color: var(--surface-d);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	box-shadow: var(--box-shadow);
}

.lambda-carousel-dot:hover:not(:disabled):not(.lambda-carousel-dot-active),
.lambda-carousel-dot:focus-visible:not(:disabled):not(.lambda-carousel-dot-active) {
	background-color: var(--primary-hover-color);
	outline: none;
}

.lambda-carousel-dot-circle {
	width: var(--size-3xs);
	height: var(--size-3xs);
	border-radius: var(--radius-full);
}

.lambda-carousel-dot-line {
	border-radius: var(--radius-xs);
	width: var(--size-xs);
	height: 4px;

	&.lambda-carousel-dot-vertical {
		width: 4px;
		height: var(--size-xs);
		margin-right: 4px;
	}
}

.lambda-carousel-dot-square {
	width: var(--size-3xs);
	height: var(--size-3xs);
	border-radius: var(--radius-xs);
}

.lambda-carousel-dot-number {
	position: relative;
	width: var(--size-lg);
	height: var(--size-lg);
	font-size: var(--font-size-xs);
	border: var(--border-width-xs) solid var(--border-color);
	background-color: var(--surface-c);
	border-radius: var(--radius-xs);
	box-sizing: border-box;

	&::after {
		position: absolute;
		left: -1px;
		top: -1px;
		width: var(--size-lg);
		height: var(--size-lg);
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		content: attr(attr-index);
		color: var(--foreground-color);
		box-sizing: border-box;
	}

	&.lambda-carousel-dot-active {
		background-color: var(--primary-base-color);
		border-color: var(--primary-hover-color);

		&::after {
			color: var(--white-color);
		}
	}

	&.lambda-carousel-dot:hover:not(.lambda-carousel-dot-active):not(:disabled) {
		background-color: var(--primary-base-color);
		border-color: var(--primary-hover-color);

		&::after {
			color: var(--white-color);
		}
	}
}

.lambda-carousel-dot-active {
	background-color: var(--primary-hover-color);
	border-color: var(--primary-base-color);
	outline: 3px solid var(--primary-shadow-color);
	cursor: default;
}

.lambda-carousel-button svg {
	width: var(--carousel-button-icon-size);
	height: var(--carousel-button-icon-size);
	display: block;
}

.lambda-carousel-thumbnails {
	position: absolute;
	bottom: var(--spacing-md);
	display: flex;
	gap: var(--spacing-md);
	scrollbar-width: none;
	border-radius: var(--radius-xs);
	-ms-overflow-style: none;

	&.lambda-carousel-thumbnails-horizontal {
		left: 0;
		right: 0;
		margin: 0 auto;
		overflow-x: auto;
		padding: var(--spacing-xs) var(--spacing-md);

		&.lambda-carousel-thumbnails-navigation-true {
			width: calc(100% - 80px);
		}

		&.lambda-carousel-thumbnails-navigation-false {
			width: calc(100% - 16px);
		}
	}

	&.lambda-carousel-thumbnails-vertical {
		top: 0;
		right: var(--spacing-none);
		flex-direction: column;
		align-items: center;
		width: 70px;
		overflow-y: auto;
		overflow-x: hidden;
		padding: var(--spacing-md) var(--spacing-none);

		&.lambda-carousel-thumbnails-navigation-true {
			margin-top: var(--spacing-xl);
			height: calc(100% - 64px);
		}

		&.lambda-carousel-thumbnails-navigation-false {
			margin-top: var(--spacing-xs);
			height: calc(100% - 8px);
		}
	}

	&.lambda-carousel-thumbnails-start {
		justify-content: flex-start;
	}

	&.lambda-carousel-thumbnails-center {
		justify-content: center;
	}
}

.lambda-carousel-thumbnails-item {
	width: 60px;
	height: 40px;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid transparent;
	transition: all 0.3s ease-in-out;
	opacity: 0.35;
	flex-shrink: 0;

	&:hover {
		opacity: 0.9;
	}

	&.lambda-carousel-thumbnails-item-active {
		border-color: var(--primary-base-color);
		opacity: 1;
	}
}

.lambda-carousel-thumbnails-vertical {
	.lambda-carousel-thumbnails-item {
		width: 50px;
		height: 35px;
	}
}

.lambda-carousel-content {
	transform: scale(0.2);
	transform-origin: top left;
	width: 500%;
	height: 500%;

	& * {
		height: 100%;
	}
}