#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--surface-b);
}

.container_buttons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 0.5em;
  padding: 1em;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 0.25em;
}

.button {
  width: 100%;
}

.control_buttons {
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding: 0.25em 1em;
}