#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--surface-b);
  font-family: var(--font-family);
}

.section {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--surface-b);
  border-bottom: 1px solid var(--surface-d);
  z-index: 55;
}

.title {
  padding: 0.5em 1em;
  color: var(--info-color);
}

.subsection {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--surface-d);
  width: 100%;
}

.section_container {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  width: 100%;
}

.subtitle {
  padding: 0.5em 1em;
  color: var(--foreground-color);
}

.control_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  gap: 2em;
  padding: 0.5em 1em;
  width: 100%;
  background-color: var(--surface-c);
  border-radius: var(--border-radius-sm);
}

.container_buttons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 0.5em;
  padding: 1em;
  border-radius: var(--border-radius-sm);
  border: 1px dashed var(--surface-d);
}

.control_size {
  background-color: var(--surface-a);
  font-family: var(--font-family);
  color: var(--foreground-color);
  padding: var(--padding-md) var(--padding-md);
  border-radius: var(--border-radius-sm);
  min-width: 8em;
  max-height: 32px;
  border: 1px solid var(--surface-d);
  accent-color: red;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 1.75em;
  padding: 1em 0.5em;
}

.button {
  width: 100%;
}