.lambda-checkbox-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	font-family: var(--font-family);
	box-sizing: border-box;
	width: max-content;
	transition: all 0.2s ease-out;
	outline: none;

	&:hover:not(.lambda-checkbox-container-disabled),
	&:focus:not(.lambda-checkbox-container-disabled) {
		>.lambda-checkbox-wrapper:is(.lambda-checkbox-wrapper-neutral) {
			z-index: 1;
			outline: 2px solid var(--neutral-shadow-color);

			&:not(.lambda-checkbox-wrapper-soft) {
				border-color: var(--neutral-base-color);
			}
		}

		>.lambda-checkbox-wrapper:is(.lambda-checkbox-wrapper-primary) {
			z-index: 1;
			outline: 2px solid var(--primary-shadow-color);

			&:not(.lambda-checkbox-wrapper-soft) {
				border-color: var(--primary-base-color);
			}
		}

		>.lambda-checkbox-wrapper:is(.lambda-checkbox-wrapper-secondary) {
			z-index: 1;
			outline: 2px solid var(--secondary-shadow-color);

			&:not(.lambda-checkbox-wrapper-soft) {
				border-color: var(--secondary-base-color);
			}
		}

		>.lambda-checkbox-wrapper:is(.lambda-checkbox-wrapper-success) {
			z-index: 1;
			outline: 2px solid var(--success-shadow-color);

			&:not(.lambda-checkbox-wrapper-soft) {
				border-color: var(--success-base-color);
			}
		}

		>.lambda-checkbox-wrapper:is(.lambda-checkbox-wrapper-danger) {
			z-index: 1;
			outline: 2px solid var(--danger-shadow-color);

			&:not(.lambda-checkbox-wrapper-soft) {
				border-color: var(--danger-base-color);
			}
		}

		>.lambda-checkbox-wrapper:is(.lambda-checkbox-wrapper-warning) {
			z-index: 1;
			outline: 2px solid var(--warning-shadow-color);

			&:not(.lambda-checkbox-wrapper-soft) {
				border-color: var(--warning-base-color);
			}
		}

		>.lambda-checkbox-wrapper:is(.lambda-checkbox-wrapper-info) {
			z-index: 1;
			outline: 2px solid var(--info-shadow-color);

			&:not(.lambda-checkbox-wrapper-soft) {
				border-color: var(--info-base-color);
			}
		}
	}
}

.lambda-checkbox-container-disabled {
	opacity: 0.5;
	cursor: not-allowed;

	.lambda-checkbox-wrapper {
		cursor: not-allowed;
	}
}

.lambda-checkbox-container-left {
	flex-direction: row-reverse;
}

.lambda-checkbox-container-top {
	flex-direction: column-reverse;
}

.lambda-checkbox-container-bottom {
	flex-direction: column;
}

.lambda-checkbox {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	opacity: 0;
}

.lambda-checkbox-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease-out;
	box-sizing: border-box;
	border: var(--border-width-xs) solid transparent;
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.lambda-checkbox-wrapper-solid {
	background-color: var(--surface-a);
	border-color: var(--border-color);

	&>.lambda-checkbox-icon {
		color: var(--foreground-color);
	}
}

.lambda-checkbox-wrapper-soft {
	gap: 0.5em;

	&.lambda-checkbox-wrapper-neutral {
		background-color: var(--neutral-soft-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--neutral-soft-color);

			&:not(.lambda-checkbox-wrapper-first) {
				border-left-color: var(--neutral-subtle-color);
			}

			&>.lambda-checkbox-label {
				color: var(--neutral-text-color);
			}
		}
	}

	&.lambda-checkbox-wrapper-primary {
		background-color: var(--primary-soft-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--primary-soft-color);

			&:not(.lambda-checkbox-wrapper-first) {
				border-left-color: var(--primary-subtle-color);
			}

			&>.lambda-checkbox-label {
				color: var(--primary-text-color);
			}
		}
	}

	&.lambda-checkbox-wrapper-secondary {
		background-color: var(--secondary-soft-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--secondary-soft-color);

			&:not(.lambda-checkbox-wrapper-first) {
				border-left-color: var(--secondary-subtle-color);
			}

			&>.lambda-checkbox-label {
				color: var(--secondary-text-color);
			}
		}
	}

	&.lambda-checkbox-wrapper-success {
		background-color: var(--success-soft-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--success-soft-color);

			&:not(.lambda-checkbox-wrapper-first) {
				border-left-color: var(--success-subtle-color);
			}

			&>.lambda-checkbox-label {
				color: var(--success-text-color);
			}
		}
	}

	&.lambda-checkbox-wrapper-danger {
		background-color: var(--danger-soft-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--danger-soft-color);

			&:not(.lambda-checkbox-wrapper-first) {
				border-left-color: var(--danger-subtle-color);
			}

			&>.lambda-checkbox-label {
				color: var(--danger-text-color);
			}
		}
	}

	&.lambda-checkbox-wrapper-warning {
		background-color: var(--warning-soft-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--warning-soft-color);

			&:not(.lambda-checkbox-wrapper-first) {
				border-left-color: var(--warning-subtle-color);
			}

			&>.lambda-checkbox-label {
				color: var(--warning-text-color);
			}
		}
	}

	&.lambda-checkbox-wrapper-info {
		background-color: var(--info-soft-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--info-soft-color);

			&:not(.lambda-checkbox-wrapper-first) {
				border-left-color: var(--info-subtle-color);
			}

			&>.lambda-checkbox-label {
				color: var(--info-text-color);
			}
		}
	}
}

.lambda-checkbox-wrapper-outline {
	background-color: transparent;

	&:is(.lambda-checkbox-wrapper-neutral) {
		border-color: var(--neutral-base-color);
	}

	&:is(.lambda-checkbox-wrapper-primary) {
		border-color: var(--primary-base-color);
	}

	&:is(.lambda-checkbox-wrapper-secondary) {
		border-color: var(--secondary-base-color);
	}

	&:is(.lambda-checkbox-wrapper-success) {
		border-color: var(--success-base-color);
	}

	&:is(.lambda-checkbox-wrapper-danger) {
		border-color: var(--danger-base-color);
	}

	&:is(.lambda-checkbox-wrapper-warning) {
		border-color: var(--warning-base-color);
	}

	&:is(.lambda-checkbox-wrapper-info) {
		border-color: var(--info-base-color);
	}

	&:is(.lambda-checkbox-wrapper-join) {
		border-color: var(--border-color);
	}

	&>.lambda-checkbox-icon {
		color: var(--foreground-secondary-color);
	}
}

.lambda-checkbox-wrapper-checked:is(.lambda-checkbox-wrapper-solid) {
	box-sizing: border-box;

	&.lambda-checkbox-wrapper-neutral {
		background-color: var(--neutral-base-color);

		&:not(.lambda-checkbox-wrapper-join) {
			border-color: var(--neutral-base-color);
		}

		&>.lambda-checkbox-icon {
			color: var(--foreground-invert-color);
		}
	}

	&.lambda-checkbox-wrapper-primary {
		background-color: var(--primary-base-color);

		&:not(.lambda-checkbox-wrapper-join) {
			border-color: var(--primary-base-color);
		}
	}

	&.lambda-checkbox-wrapper-secondary {
		background-color: var(--secondary-base-color);

		&:not(.lambda-checkbox-wrapper-join) {
			border-color: var(--secondary-base-color);
		}

		&>.lambda-checkbox-icon {
			color: var(--white-color);
		}
	}

	&.lambda-checkbox-wrapper-danger {
		background-color: var(--danger-base-color);

		&:not(.lambda-checkbox-wrapper-join) {
			border-color: var(--danger-base-color);
		}

		&>.lambda-checkbox-icon {
			color: var(--white-color);
		}
	}

	&.lambda-checkbox-wrapper-success {
		background-color: var(--success-base-color);

		&:not(.lambda-checkbox-wrapper-join) {
			border-color: var(--success-base-color);
		}

		&>.lambda-checkbox-icon {
			color: var(--white-color);
		}
	}

	&.lambda-checkbox-wrapper-warning {
		background-color: var(--warning-base-color);

		&:not(.lambda-checkbox-wrapper-join) {
			border-color: var(--warning-base-color);
		}
	}

	&.lambda-checkbox-wrapper-info {
		background-color: var(--info-base-color);

		&:not(.lambda-checkbox-wrapper-join) {
			border-color: var(--info-base-color);
		}

		&>.lambda-checkbox-icon {
			color: var(--white-color);
		}
	}
}

.lambda-checkbox-wrapper-checked:is(.lambda-checkbox-wrapper-soft) {
	box-sizing: border-box;
	z-index: 1;

	&.lambda-checkbox-wrapper-neutral {
		background-color: var(--neutral-subtle-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--neutral-base-color);
			border-color: var(--neutral-subtle-color);

			&>.lambda-checkbox-label {
				color: var(--foreground-invert-color);
			}
		}

		&>svg {
			color: var(--neutral-text-color);
		}
	}

	&.lambda-checkbox-wrapper-primary {
		background-color: var(--primary-outline-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--primary-base-color);
			border-color: var(--primary-subtle-color);

			&>.lambda-checkbox-label {
				color: var(--white-color);
			}
		}

		&>svg {
			color: var(--primary-text-color);
		}
	}

	&.lambda-checkbox-wrapper-secondary {
		background-color: var(--secondary-subtle-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--secondary-base-color);
			border-color: var(--secondary-subtle-color);

			&>.lambda-checkbox-label {
				color: var(--white-color);
			}
		}

		&>svg {
			color: var(--secondary-text-color);
		}
	}

	&.lambda-checkbox-wrapper-success {
		background-color: var(--success-subtle-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--success-base-color);
			border-color: var(--success-subtle-color);

			&>.lambda-checkbox-label {
				color: var(--white-color);
			}
		}

		&>svg {
			color: var(--success-text-color);
		}
	}

	&.lambda-checkbox-wrapper-danger {
		background-color: var(--danger-subtle-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--danger-base-color);
			border-color: var(--danger-subtle-color);

			&>.lambda-checkbox-label {
				color: var(--white-color);
			}
		}

		&>svg {
			color: var(--danger-text-color);
		}
	}

	&.lambda-checkbox-wrapper-warning {
		background-color: var(--warning-subtle-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--warning-base-color);
			border-color: var(--warning-subtle-color);

			&>.lambda-checkbox-label {
				color: var(--white-color);
			}
		}

		&>svg {
			color: var(--warning-text-color);
		}
	}

	&.lambda-checkbox-wrapper-info {
		background-color: var(--info-subtle-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--info-hover-color);
			border-color: var(--info-base-color);

			&>.lambda-checkbox-label {
				color: var(--white-color);
			}
		}

		&>svg {
			color: var(--info-text-color);
		}
	}
}

.lambda-checkbox-wrapper-checked:is(.lambda-checkbox-wrapper-outline) {
	box-sizing: border-box;
	z-index: 1;

	&:is(.lambda-checkbox-wrapper-neutral) {
		border-color: var(--neutral-base-color);

		.lambda-checkbox-icon {
			color: var(--neutral-base-color);
		}

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--neutral-soft-color);

			&>.lambda-checkbox-label {
				color: var(--neutral-text-color);
			}
		}
	}

	&:is(.lambda-checkbox-wrapper-primary) {
		border-color: var(--primary-base-color);

		.lambda-checkbox-icon {
			color: var(--primary-base-color);
		}

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--primary-soft-color);

			&>.lambda-checkbox-label {
				color: var(--primary-border-color);
			}

			&>.lambda-checkbox-icon {
				color: var(--primary-text-color);
			}
		}
	}

	&:is(.lambda-checkbox-wrapper-secondary) {
		border-color: var(--secondary-base-color);

		.lambda-checkbox-icon {
			color: var(--secondary-text-color);
		}

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--secondary-soft-color);

			&>.lambda-checkbox-label {
				color: var(--secondary-border-color);
			}

			&>.lambda-checkbox-icon {
				color: var(--secondary-text-color);
			}
		}
	}

	&:is(.lambda-checkbox-wrapper-success) {
		border-color: var(--success-base-color);

		.lambda-checkbox-icon {
			color: var(--success-base-color);
		}

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--success-soft-color);

			&>.lambda-checkbox-label {
				color: var(--success-border-color);
			}

			&>.lambda-checkbox-icon {
				color: var(--success-text-color);
			}
		}
	}

	&:is(.lambda-checkbox-wrapper-danger) {
		border-color: var(--danger-base-color);

		.lambda-checkbox-icon {
			color: var(--danger-base-color);
		}

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--danger-soft-color);

			&>.lambda-checkbox-label {
				color: var(--danger-border-color);
			}

			&>.lambda-checkbox-icon {
				color: var(--danger-text-color);
			}
		}
	}

	&:is(.lambda-checkbox-wrapper-warning) {
		border-color: var(--warning-base-color);

		.lambda-checkbox-icon {
			color: var(--warning-base-color);
		}

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--warning-soft-color);

			&>.lambda-checkbox-label {
				color: var(--warning-border-color);
			}

			&>.lambda-checkbox-icon {
				color: var(--warning-text-color);
			}
		}
	}

	&:is(.lambda-checkbox-wrapper-info) {
		border-color: var(--info-base-color);

		.lambda-checkbox-icon {
			color: var(--info-base-color);
		}

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--info-soft-color);

			&>.lambda-checkbox-label {
				color: var(--info-border-color);
			}

			&>.lambda-checkbox-icon {
				color: var(--info-text-color);
			}
		}
	}
}

.lambda-checkbox-wrapper-tiny {
	height: var(--size-sm);
	width: var(--size-sm);
	min-height: var(--size-sm);
	min-width: var(--size-sm);

	&:is(.lambda-checkbox-wrapper-join) {
		min-width: var(--size-sm);
		min-height: var(--size-sm);
		gap: var(--spacing-sm);
		width: min-content;
		padding: var(--spacing-none) var(--spacing-sm);

		& svg {
			width: var(--size-xs);
			height: var(--size-xs);
		}
	}
}

.lambda-checkbox-wrapper-small {
	height: var(--size-md);
	width: var(--size-md);
	min-height: var(--size-md);
	min-width: var(--size-md);

	&:is(.lambda-checkbox-wrapper-join) {
		min-width: var(--size-md);
		min-height: var(--size-md);
		gap: var(--spacing-md);
		width: min-content;
		padding: var(--spacing-none) var(--spacing-md);

		&>svg {
			width: var(--size-md);
			height: var(--size-md);
		}
	}
}

.lambda-checkbox-wrapper-medium {
	height: var(--size-lg);
	width: var(--size-lg);
	min-height: var(--size-lg);
	min-width: var(--size-lg);

	&:is(.lambda-checkbox-wrapper-join) {
		min-width: var(--size-lg);
		min-height: var(--size-lg);
		gap: var(--spacing-lg);
		width: min-content;
		padding: var(--spacing-none) var(--spacing-lg);

		&>svg {
			width: var(--size-lg);
			height: var(--size-lg);
		}
	}
}

.lambda-checkbox-wrapper-large {
	height: var(--size-xl);
	width: var(--size-xl);
	min-height: var(--size-xl);
	min-width: var(--size-xl);

	&:is(.lambda-checkbox-wrapper-join) {
		min-width: var(--size-xl);
		min-height: var(--size-xl);
		gap: var(--spacing-xl);
		width: min-content;
		padding: var(--spacing-none) var(--spacing-xl);

		& svg {
			width: var(--size-xl);
			height: var(--size-xl);
		}
	}
}

.lambda-checkbox-wrapper-invalid:not(.lambda-checkbox-wrapper-checked) {
	border-color: var(--danger-base-color);
	border-style: dashed;
	outline-color: var(--danger-shadow-color);
}

.lambda-checkbox-wrapper-join {
	flex-direction: row-reverse;

	&>.lambda-checkbox-label {
		color: var(--foreground-color);
	}

	&:is(.lambda-checkbox-wrapper-checked) {
		&>.lambda-checkbox-label {
			color: var(--white-color);
		}

		&:is(.lambda-checkbox-wrapper-neutral) {
			&>.lambda-checkbox-label {
				color: var(--foreground-invert-color);
			}
		}
	}
}

.lambda-checkbox-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	stroke-width: 4px;
	pointer-events: none;
	box-sizing: border-box;

	&>svg {
		color: currentColor;
		fill: currentColor;
	}

	&:not(.lambda-checkbox-icon-join) {
		color: var(--white-color);
		fill: transparent;
		transform: scale(1);
		stroke-dasharray: 250;
		stroke-dashoffset: 250;
	}
}

.lambda-checkbox-icon-checked {
	opacity: 1;
	transform: scale(1);
	animation: animateIcon 2s ease both;
}

.lambda-checkbox-icon-unchecked {
	opacity: 1;
	transform: scale(1);
}

.lambda-checkbox-icon-tiny {
	width: var(--font-size-2xs);
	height: var(--font-size-2xs);
}

.lambda-checkbox-icon-small {
	width: var(--font-size-sm);
	height: var(--font-size-sm);
}

.lambda-checkbox-icon-medium {
	width: var(--font-size-md);
	height: var(--font-size-md);
}

.lambda-checkbox-icon-large {
	width: var(--font-size-lg);
	height: var(--font-size-lg);
}

@keyframes animateIcon {
	from {
		stroke-dashoffset: 250;
		/* Oculta el trazo al inicio */
	}

	to {
		stroke-dashoffset: 0;
		/* Mostrar el trazo completo */
	}
}

.lambda-checkbox-wrapper-radius-none {
	border-radius: var(--radius-none);
}

.lambda-checkbox-wrapper-radius-tiny {
	border-radius: var(--radius-xs);
}

.lambda-checkbox-wrapper-radius-small {
	border-radius: var(--radius-sm);
}

.lambda-checkbox-wrapper-radius-medium {
	border-radius: var(--radius-md);

	&:is(.lambda-checkbox-wrapper-tiny,
		.lambda-checkbox-wrapper-small,
		.lambda-checkbox-wrapper-medium) {
		border-radius: calc(var(--radius-sm) + var(--radius-xs));
	}
}

.lambda-checkbox-wrapper-radius-large {
	border-radius: var(--radius-lg);

	&:is(.lambda-checkbox-wrapper-tiny,
		.lambda-checkbox-wrapper-small,
		.lambda-checkbox-wrapper-medium) {
		border-radius: var(--radius-md);
	}
}

.lambda-checkbox-wrapper-radius-full {
	border-radius: var(--radius-full);
}

.lambda-checkbox-wrapper-first {
	border-top-right-radius: var(--radius-none) !important;
	border-bottom-right-radius: var(--radius-none) !important;
}

.lambda-checkbox-wrapper-middle {
	border-radius: var(--radius-none) !important;
}

.lambda-checkbox-wrapper-last {
	border-top-left-radius: var(--radius-none) !important;
	border-bottom-left-radius: var(--radius-none) !important;
}

.lambda-checkbox-label {
	color: var(--foreground-label-color);
	font-weight: var(--font-weight-semibold);
	font-family: inherit;
	width: max-content;

	&:is(.lambda-checkbox-label-required) {
		&::after {
			content: " *";
			color: var(--danger-base-color);
		}
	}
}

.lambda-checkbox-label-tiny {
	font-size: var(--font-size-xs);
}

.lambda-checkbox-label-small {
	font-size: var(--font-size-sm);
}

.lambda-checkbox-label-medium {
	font-size: var(--font-size-md);
}

.lambda-checkbox-label-large {
	font-size: var(--font-size-lg);
}

.lambda-checkbox-label-disabled {
	color: var(--foreground-disabled-color);
}