.lambda-checkbox-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	font-family: var(--font-family);
	box-sizing: border-box;
	width: max-content;
	transition: all 0.2s ease-out;

	&:hover:not(.lambda-checkbox-container-disabled)
		> .lambda-checkbox-wrapper:is(.lambda-checkbox-wrapper-neutral) {
		z-index: 1;
		border-color: var(--neutral-base-color);
		box-shadow: 0 0 0px 3px var(--neutral-shadow-color);
	}

	&:hover:not(.lambda-checkbox-container-disabled)
		> .lambda-checkbox-wrapper:is(.lambda-checkbox-wrapper-primary) {
		z-index: 1;
		border-color: var(--primary-base-color);
		box-shadow: 0 0 0px 3px var(--primary-shadow-color);
	}

	&:hover:not(.lambda-checkbox-container-disabled)
		> .lambda-checkbox-wrapper:is(.lambda-checkbox-wrapper-secondary) {
		z-index: 1;
		border-color: var(--secondary-base-color);
		box-shadow: 0 0 0px 3px var(--secondary-shadow-color);
	}

	&:hover:not(.lambda-checkbox-container-disabled)
		> .lambda-checkbox-wrapper:is(.lambda-checkbox-wrapper-success) {
		z-index: 1;
		border-color: var(--success-base-color);
		box-shadow: 0 0 0px 3px var(--success-shadow-color);
	}

	&:hover:not(.lambda-checkbox-container-disabled)
		> .lambda-checkbox-wrapper:is(.lambda-checkbox-wrapper-danger) {
		z-index: 1;
		border-color: var(--danger-base-color);
		box-shadow: 0 0 0px 3px var(--danger-shadow-color);
	}

	&:hover:not(.lambda-checkbox-container-disabled)
		> .lambda-checkbox-wrapper:is(.lambda-checkbox-wrapper-warning) {
		z-index: 1;
		border-color: var(--warning-base-color);
		box-shadow: 0 0 0px 3px var(--warning-shadow-color);
	}

	&:hover:not(.lambda-checkbox-container-disabled)
		> .lambda-checkbox-wrapper:is(.lambda-checkbox-wrapper-info) {
		z-index: 1;
		border-color: var(--info-base-color);
		box-shadow: 0 0 0px 3px var(--info-shadow-color);
	}
}

.lambda-checkbox-container-disabled {
	filter: contrast(70%) brightness(70%);
	cursor: not-allowed;

	.lambda-checkbox-wrapper {
		background-color: var(--secondary-soft-color);
	}
}

.lambda-checkbox-container-left {
	flex-direction: row-reverse;
}

.lambda-checkbox-container-top {
	flex-direction: column-reverse;
}

.lambda-checkbox-container-bottom {
	flex-direction: column;
}

.lambda-checkbox {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	opacity: 0;
}

.lambda-checkbox-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease-out;
	box-sizing: border-box;
	border: var(--border-width-xs) solid transparent;
}

.lambda-checkbox-wrapper-solid {
	background-color: var(--surface-a);
	border-color: var(--border-color);

	& > .lambda-checkbox-icon {
		color: var(--foreground-color);
	}
}

.lambda-checkbox-wrapper-soft {
	gap: 0.5em;
	&.lambda-checkbox-wrapper-neutral {
		background-color: var(--neutral-soft-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--neutral-soft-color);
			&:not(.lambda-checkbox-wrapper-first) {
				border-left-color: var(--neutral-subtle-color);
			}
			& > .lambda-checkbox-label {
				color: var(--neutral-text-color);
			}
		}
	}

	&.lambda-checkbox-wrapper-primary {
		background-color: var(--primary-soft-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--primary-soft-color);
			&:not(.lambda-checkbox-wrapper-first) {
				border-left-color: var(--primary-subtle-color);
			}
			& > .lambda-checkbox-label {
				color: var(--primary-text-color);
			}
		}
	}

	&.lambda-checkbox-wrapper-secondary {
		background-color: var(--secondary-soft-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--secondary-soft-color);
			&:not(.lambda-checkbox-wrapper-first) {
				border-left-color: var(--secondary-subtle-color);
			}
			& > .lambda-checkbox-label {
				color: var(--secondary-text-color);
			}
		}
	}

	&.lambda-checkbox-wrapper-success {
		background-color: var(--success-soft-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--success-soft-color);
			&:not(.lambda-checkbox-wrapper-first) {
				border-left-color: var(--success-subtle-color);
			}
			& > .lambda-checkbox-label {
				color: var(--success-text-color);
			}
		}
	}

	&.lambda-checkbox-wrapper-danger {
		background-color: var(--danger-soft-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--danger-soft-color);
			&:not(.lambda-checkbox-wrapper-first) {
				border-left-color: var(--danger-subtle-color);
			}
			& > .lambda-checkbox-label {
				color: var(--danger-text-color);
			}
		}
	}

	&.lambda-checkbox-wrapper-warning {
		background-color: var(--warning-soft-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--warning-soft-color);
			&:not(.lambda-checkbox-wrapper-first) {
				border-left-color: var(--warning-subtle-color);
			}
			& > .lambda-checkbox-label {
				color: var(--warning-text-color);
			}
		}
	}

	&.lambda-checkbox-wrapper-info {
		background-color: var(--info-soft-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--info-soft-color);
			&:not(.lambda-checkbox-wrapper-first) {
				border-left-color: var(--info-subtle-color);
			}
			& > .lambda-checkbox-label {
				color: var(--info-text-color);
			}
		}
	}
}

.lambda-checkbox-wrapper-outline {
	background-color: transparent;

	&:is(.lambda-checkbox-wrapper-neutral) {
		border-color: var(--neutral-base-color);
	}

	&:is(.lambda-checkbox-wrapper-primary) {
		border-color: var(--primary-base-color);
	}

	&:is(.lambda-checkbox-wrapper-secondary) {
		border-color: var(--secondary-base-color);
	}

	&:is(.lambda-checkbox-wrapper-success) {
		border-color: var(--success-base-color);
	}

	&:is(.lambda-checkbox-wrapper-danger) {
		border-color: var(--danger-base-color);
	}

	&:is(.lambda-checkbox-wrapper-warning) {
		border-color: var(--warning-base-color);
	}

	&:is(.lambda-checkbox-wrapper-info) {
		border-color: var(--info-base-color);
	}

	&:is(.lambda-checkbox-wrapper-join) {
		border-color: var(--border-color);
	}

	& > .lambda-checkbox-icon {
		color: var(--foreground-secondary-color);
	}
}

.lambda-checkbox-wrapper-checked:is(.lambda-checkbox-wrapper-solid) {
	box-sizing: border-box;

	&.lambda-checkbox-wrapper-neutral {
		background-color: var(--neutral-base-color);

		&:not(.lambda-checkbox-wrapper-join) {
			border-color: var(--neutral-base-color);
		}

		& > .lambda-checkbox-icon {
			color: var(--foreground-invert-color);
		}
	}

	&.lambda-checkbox-wrapper-primary {
		background-color: var(--primary-base-color);

		&:not(.lambda-checkbox-wrapper-join) {
			border-color: var(--primary-base-color);
		}

		& > .lambda-checkbox-icon {
			color: var(--black-color);
		}
	}

	&.lambda-checkbox-wrapper-secondary {
		background-color: var(--secondary-base-color);

		&:not(.lambda-checkbox-wrapper-join) {
			border-color: var(--secondary-base-color);
		}

		& > .lambda-checkbox-icon {
			color: var(--white-color);
		}
	}

	&.lambda-checkbox-wrapper-danger {
		background-color: var(--danger-base-color);

		&:not(.lambda-checkbox-wrapper-join) {
			border-color: var(--danger-base-color);
		}

		& > .lambda-checkbox-icon {
			color: var(--white-color);
		}
	}

	&.lambda-checkbox-wrapper-success {
		background-color: var(--success-base-color);

		&:not(.lambda-checkbox-wrapper-join) {
			border-color: var(--success-base-color);
		}

		& > .lambda-checkbox-icon {
			color: var(--white-color);
		}
	}

	&.lambda-checkbox-wrapper-warning {
		background-color: var(--warning-base-color);

		&:not(.lambda-checkbox-wrapper-join) {
			border-color: var(--warning-base-color);
		}

		& > .lambda-checkbox-icon {
			color: var(--black-color);
		}
	}

	&.lambda-checkbox-wrapper-info {
		background-color: var(--info-base-color);

		&:not(.lambda-checkbox-wrapper-join) {
			border-color: var(--info-base-color);
		}

		& > .lambda-checkbox-icon {
			color: var(--white-color);
		}
	}
}

.lambda-checkbox-wrapper-checked:is(.lambda-checkbox-wrapper-soft) {
	box-sizing: border-box;
	z-index: 1;

	&.lambda-checkbox-wrapper-neutral {
		background-color: var(--neutral-subtle-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--neutral-base-color);
			border-color: var(--neutral-subtle-color);
			& > .lambda-checkbox-label {
				color: var(--foreground-invert-color);
			}
		}

		& > svg {
			color: var(--neutral-text-color);
		}
	}

	&.lambda-checkbox-wrapper-primary {
		background-color: var(--primary-subtle-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--primary-base-color);
			border-color: var(--primary-subtle-color);
			& > .lambda-checkbox-label {
				color: var(--white-color);
			}
		}

		& > svg {
			color: var(--primary-text-color);
		}
	}

	&.lambda-checkbox-wrapper-secondary {
		background-color: var(--secondary-subtle-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--secondary-base-color);
			border-color: var(--secondary-subtle-color);
			& > .lambda-checkbox-label {
				color: var(--white-color);
			}
		}

		& > svg {
			color: var(--secondary-text-color);
		}
	}

	&.lambda-checkbox-wrapper-success {
		background-color: var(--success-subtle-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--success-base-color);
			border-color: var(--success-subtle-color);
			& > .lambda-checkbox-label {
				color: var(--white-color);
			}
		}

		& > svg {
			color: var(--success-text-color);
		}
	}

	&.lambda-checkbox-wrapper-danger {
		background-color: var(--danger-subtle-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--danger-base-color);
			border-color: var(--danger-subtle-color);
			& > .lambda-checkbox-label {
				color: var(--white-color);
			}
		}

		& > svg {
			color: var(--danger-text-color);
		}
	}

	&.lambda-checkbox-wrapper-warning {
		background-color: var(--warning-subtle-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--warning-base-color);
			border-color: var(--warning-subtle-color);
			& > .lambda-checkbox-label {
				color: var(--white-color);
			}
		}

		& > svg {
			color: var(--warning-text-color);
		}
	}

	&.lambda-checkbox-wrapper-info {
		background-color: var(--info-subtle-color);

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--info-hover-color);
			border-color: var(--info-base-color);
			& > .lambda-checkbox-label {
				color: var(--white-color);
			}
		}

		& > svg {
			color: var(--info-text-color);
		}
	}
}

.lambda-checkbox-wrapper-checked:is(.lambda-checkbox-wrapper-outline) {
	box-sizing: border-box;
	z-index: 1;

	&:is(.lambda-checkbox-wrapper-neutral) {
		border-color: var(--neutral-base-color);

		.lambda-checkbox-icon {
			color: var(--neutral-base-color);
		}

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--neutral-soft-color);
			& > .lambda-checkbox-label {
				color: var(--neutral-text-color);
			}
		}
	}

	&:is(.lambda-checkbox-wrapper-primary) {
		border-color: var(--primary-base-color);

		.lambda-checkbox-icon {
			color: var(--primary-base-color);
		}

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--primary-soft-color);
			& > .lambda-checkbox-label {
				color: var(--primary-border-color);
			}
			& > .lambda-checkbox-icon {
				color: var(--primary-text-color);
			}
		}
	}

	&:is(.lambda-checkbox-wrapper-secondary) {
		border-color: var(--secondary-base-color);

		.lambda-checkbox-icon {
			color: var(--secondary-text-color);
		}

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--secondary-soft-color);
			& > .lambda-checkbox-label {
				color: var(--secondary-border-color);
			}
			& > .lambda-checkbox-icon {
				color: var(--secondary-text-color);
			}
		}
	}

	&:is(.lambda-checkbox-wrapper-success) {
		border-color: var(--success-base-color);

		.lambda-checkbox-icon {
			color: var(--success-base-color);
		}

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--success-soft-color);
			& > .lambda-checkbox-label {
				color: var(--success-border-color);
			}
			& > .lambda-checkbox-icon {
				color: var(--success-text-color);
			}
		}
	}

	&:is(.lambda-checkbox-wrapper-danger) {
		border-color: var(--danger-base-color);

		.lambda-checkbox-icon {
			color: var(--danger-base-color);
		}

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--danger-soft-color);
			& > .lambda-checkbox-label {
				color: var(--danger-border-color);
			}
			& > .lambda-checkbox-icon {
				color: var(--danger-text-color);
			}
		}
	}

	&:is(.lambda-checkbox-wrapper-warning) {
		border-color: var(--warning-base-color);

		.lambda-checkbox-icon {
			color: var(--warning-base-color);
		}

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--warning-soft-color);
			& > .lambda-checkbox-label {
				color: var(--warning-border-color);
			}
			& > .lambda-checkbox-icon {
				color: var(--warning-text-color);
			}
		}
	}

	&:is(.lambda-checkbox-wrapper-info) {
		border-color: var(--info-base-color);

		.lambda-checkbox-icon {
			color: var(--info-base-color);
		}

		&:is(.lambda-checkbox-wrapper-join) {
			background-color: var(--info-soft-color);
			& > .lambda-checkbox-label {
				color: var(--info-border-color);
			}
			& > .lambda-checkbox-icon {
				color: var(--info-text-color);
			}
		}
	}
}

.lambda-checkbox-wrapper-tiny {
	height: var(--height-checkbox-xs);
	width: var(--height-checkbox-xs);
	min-height: var(--height-checkbox-xs);
	min-width: var(--height-checkbox-xs);

	&:is(.lambda-checkbox-wrapper-join) {
		min-width: var(--height-input-xs);
		min-height: var(--height-input-xs);
		gap: var(--gap-sm);
		width: min-content;
		padding: var(--padding-none) var(--padding-sm);
		& svg {
			width: var(--icon-size-xs);
			height: var(--icon-size-xs);
		}
	}
}

.lambda-checkbox-wrapper-small {
	height: var(--height-checkbox-sm);
	width: var(--height-checkbox-sm);
	min-height: var(--height-checkbox-sm);
	min-width: var(--height-checkbox-sm);

	&:is(.lambda-checkbox-wrapper-join) {
		min-width: var(--height-input-sm);
		min-height: var(--height-input-sm);
		gap: var(--gap-md);
		width: min-content;
		padding: var(--padding-none) var(--padding-md);

		& > svg {
			width: var(--icon-size-md);
			height: var(--icon-size-md);
		}
	}
}

.lambda-checkbox-wrapper-medium {
	height: var(--height-checkbox-md);
	width: var(--height-checkbox-md);
	min-height: var(--height-checkbox-md);
	min-width: var(--height-checkbox-md);

	&:is(.lambda-checkbox-wrapper-join) {
		min-width: var(--height-input-md);
		min-height: var(--height-input-md);
		gap: var(--gap-md);
		width: min-content;
		padding: var(--padding-none) var(--padding-md);

		& > svg {
			width: var(--icon-size-lg);
			height: var(--icon-size-lg);
		}
	}
}

.lambda-checkbox-wrapper-large {
	height: var(--height-checkbox-lg);
	width: var(--height-checkbox-lg);
	min-height: var(--height-checkbox-lg);
	min-width: var(--height-checkbox-lg);

	&:is(.lambda-checkbox-wrapper-join) {
		min-width: var(--height-input-lg);
		min-height: var(--height-input-lg);
		gap: var(--gap-lg);
		width: min-content;
		padding: var(--padding-none) var(--padding-lg);

		& > svg {
			width: var(--icon-size-xl);
			height: var(--icon-size-xl);
		}
	}
}

.lambda-checkbox-wrapper-join {
	flex-direction: row-reverse;
	& > .lambda-checkbox-label {
		color: var(--foreground-color);
	}

	&:is(.lambda-checkbox-wrapper-checked) {
		& > .lambda-checkbox-label {
			color: var(--white-color);
		}
		&:is(.lambda-checkbox-wrapper-neutral) {
			& > .lambda-checkbox-label {
				color: var(--foreground-invert-color);
			}
		}
	}
}

.lambda-checkbox-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	stroke-width: 4px;
	pointer-events: none;
	box-sizing: border-box;

	&:not(.lambda-checkbox-icon-join) {
		color: var(--white-color);
		fill: transparent;
		transform: scale(1);
		stroke-dasharray: 250; /* Longitud del trazado */
		stroke-dashoffset: 250; /* Oculta el trazo al inicio */
	}
}

.lambda-checkbox-icon-checked {
	opacity: 1;
	transform: scale(1);
	animation: animateIcon 2s ease both;
}

.lambda-checkbox-icon-unchecked {
	opacity: 1;
	transform: scale(1);
}

.lambda-checkbox-icon-tiny {
	width: var(--font-size-xs);
	height: var(--font-size-xs);
}

.lambda-checkbox-icon-small {
	width: var(--font-size-sm);
	height: var(--font-size-sm);
}

.lambda-checkbox-icon-medium {
	width: var(--icon-size-sm);
	height: var(--icon-size-sm);
}

.lambda-checkbox-icon-large {
	width: var(--icon-size-md);
	height: var(--icon-size-md);
}

@keyframes animateIcon {
	from {
		stroke-dashoffset: 250; /* Oculta el trazo al inicio */
	}
	to {
		stroke-dashoffset: 0; /* Mostrar el trazo completo */
	}
}

.lambda-checkbox-wrapper-radius-none {
	border-radius: var(--border-radius-none);
}

.lambda-checkbox-wrapper-radius-tiny {
	border-radius: var(--border-radius-xs);
}

.lambda-checkbox-wrapper-radius-small {
	border-radius: var(--border-radius-sm);
}

.lambda-checkbox-wrapper-radius-medium {
	border-radius: var(--border-radius-md);

	&:is(
			.lambda-checkbox-wrapper-tiny,
			.lambda-checkbox-wrapper-small,
			.lambda-checkbox-wrapper-medium
		) {
		border-radius: calc(var(--border-radius-sm) + var(--border-radius-xs));
	}
}

.lambda-checkbox-wrapper-radius-large {
	border-radius: var(--border-radius-lg);

	&:is(
			.lambda-checkbox-wrapper-tiny,
			.lambda-checkbox-wrapper-small,
			.lambda-checkbox-wrapper-medium
		) {
		border-radius: var(--border-radius-md);
	}
}

.lambda-checkbox-wrapper-radius-full {
	border-radius: var(--border-radius-full);
}

.lambda-checkbox-wrapper-first {
	border-top-right-radius: var(--border-radius-none) !important;
	border-bottom-right-radius: var(--border-radius-none) !important;
}

.lambda-checkbox-wrapper-middle {
	border-radius: var(--border-radius-none) !important;
}

.lambda-checkbox-wrapper-last {
	border-top-left-radius: var(--border-radius-none) !important;
	border-bottom-left-radius: var(--border-radius-none) !important;
}

.lambda-checkbox-label {
	color: var(--foreground-label-color);
	font-weight: var(--font-weight-md);
	font-family: inherit;
	width: max-content;
}

.lambda-checkbox-label-tiny {
	font-size: var(--font-size-xs);
}

.lambda-checkbox-label-small {
	font-size: var(--font-size-sm);
}

.lambda-checkbox-label-medium {
	font-size: var(--font-size-md);
}

.lambda-checkbox-label-large {
	font-size: var(--font-size-lg);
}

.lambda-checkbox-label-disabled {
	color: var(--foreground-disabled-color);
}
