@import "../index.module.css";

.l-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    border: 1px solid transparent;
    color: var(--foreground-color);
    font-family: var(--font-family);
    font-weight: 400;
    transition: background-color 0.2s ease-in-out, color 0.3s ease-in-out, shadow 0.3s ease-in-out;
    cursor: pointer;
    pointer-events: all;
    z-index: 0;
    width: max-content;
    min-height: 26px;
    min-width: 26px;
    box-shadow: 1px 1px 0px 0px var(--shadow-inset-color) inset, 0 0 1px 1px var(--shadow-color), -1px 0px 0px 0px var(--shadow-inset-color) inset;

    &:hover:not(:disabled):not(.l-btn-loading) {
        box-shadow: 1px 1px 0px 0px var(--shadow-inset-color) inset, 0 0 0px 1px var(--shadow-color), -1px 0px 0px 0px var(--shadow-inset-color) inset;
    }

    &:active:not(:disabled):not(.l-btn-loading) {
        box-shadow: 0px 1px 3px 1px #2b2b2b30 inset, 0 0 0px 1px var(--shadow-color);
    }

    &.l-btn-only-icon {

        &.size_sm {
            padding: var(--padding-xs);
        }

        &.size_md {
            padding: var(--padding-sm);
        }

        &.size_lg {
            padding: var(--padding-md);
        }
    }


    &.icon_left {
        flex-direction: row;
    }

    &.icon_right {
        flex-direction: row-reverse;
    }

    &.l-btn-loading {
        cursor: not-allowed;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &>.l-btn-icon {

        &>svg {
            filter: drop-shadow(0px 0px 1px var(--disabled-color));
        }
    }

}


.l-btn-children {
    display: flex;
    align-items: center;
    justify-items: center;
    text-shadow: 0 1px 1px var(--disabled-color);
}

.color_primary {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-disabled-color);

    &:hover:not(.l-btn-loading) {
        background-color: var(--primary-hover-color);
    }

    &.l-btn-loading,
    &:disabled {
        color: var(--primary-disabled-color);
        border-color: var(--primary-disabled-color);
    }

}

.color_secondary {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-disabled-color);

    &:hover:not(.l-btn-loading) {
        background-color: var(--secondary-hover-color);
    }

    &.l-btn-loading,
    &:disabled {
        color: var(--secondary-disabled-color);
        border-color: var(--secondary-disabled-color);
    }

}

.color_danger {
    background-color: var(--danger-color);
    border: 1px solid var(--danger-disabled-color);

    &:hover:not(.l-btn-loading):not(:disabled) {
        background-color: var(--danger-hover-color);
    }

    &.l-btn-loading,
    &:disabled {
        color: var(--danger-disabled-color);
        border-color: var(--danger-disabled-color);
    }
}


.color_success {
    background-color: var(--success-color);
    border: 1px solid var(--success-disabled-color);

    &:hover:not(.l-btn-loading):not(:disabled) {
        background-color: var(--success-hover-color);
    }

    &.l-btn-loading,
    &:disabled {
        color: var(--success-disabled-color);
        border-color: var(--success-disabled-color);
    }
}

.color_warning {
    background-color: var(--warning-color);
    border: 1px solid var(--warning-disabled-color);

    &:hover:not(.l-btn-loading):not(:disabled) {
        background-color: var(--warning-hover-color);
    }

    &.l-btn-loading,
    &:disabled {
        color: var(--warning-disabled-color);
        border-color: var(--warning-disabled-color);
    }
}

.color_info {
    background-color: var(--info-color);
    border: 1px solid var(--info-disabled-color);

    &:hover:not(.l-btn-loading):not(:disabled) {
        background-color: var(--info-hover-color);
    }

    &.l-btn-loading,
    &:disabled {
        color: var(--info-disabled-color);
        border-color: var(--info-disabled-color);
    }
}

.variant_outline {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid;

    &:hover:not(:disabled) {
        box-shadow: none;
    }

    &:active:not(:disabled) {
        box-shadow: 0px 1px 3px 1px #2b2b2b30 inset;
    }
}

.variant_dashed {
    background-color: transparent;
    box-shadow: none;
    border: 1px dashed;

    &:hover:not(:disabled):not(.l-btn-loading) {
        box-shadow: none;
    }

    &:active:not(:disabled):not(.l-btn-loading) {
        box-shadow: 0px 1px 3px 1px #2b2b2b30 inset;
    }
}



.variant_ghost {
    background-color: transparent;
    box-shadow: none;
    border: none;

    &:hover:not(:disabled) {
        box-shadow: none;
        border: none;
    }
}

.size_sm {
    font-size: var(--font-size-xs);
    padding: var(--padding-xs) var(--padding-md);

    .l-btn-icon {
        display: flex;
        align-items: center;
        width: 16px;
        height: 16px;
        line-height: 16px;

        &>svg {
            width: 16px;
            height: 16px;
            line-height: 16px;
        }
    }

    .l-btn-children {
        line-height: 16px;
    }
}

.size_md {
    font-size: var(--font-size-sm);
    padding: var(--padding-sm) var(--padding-lg);

    .l-btn-icon {
        display: flex;
        align-items: center;
        width: 19px;
        height: 19px;
        line-height: 19px;

        &>svg {
            width: 19px;
            height: 19px;
            line-height: 19px;
        }
    }

    .l-btn-children {
        line-height: 17.195px;
    }
}

.size_lg {
    font-size: var(--font-size-md);
    padding: var(--padding-md) var(--padding-lg);

    .l-btn-icon {
        display: flex;
        width: 21px;
        height: 21px;
        line-height: 21px;

        &>svg {
            width: 21px;
            height: 21px;
            line-height: 21px;
        }
    }


}

.radius_none {
    border-radius: var(--border-radius-none);
}

.radius_small {
    border-radius: var(--border-radius-sm);
}

.radius_medium {
    border-radius: var(--border-radius-md);
}

.radius_large {
    border-radius: var(--border-radius-lg);
}

.radius_pill {
    border-radius: var(--border-radius-pill);
}

.radius_circle {
    border-radius: var(--border-radius-full);
    padding: var(--padding-md);
    aspect-ratio: 1 / 1;
}

.primary_solid {

    &.l-btn-loading,
    &:disabled {
        background-color: var(--primary-disabled-color);
        color: var(--foreground-disabled-color);
    }
}

.primary_outline {
    border-color: var(--primary-hover-color);
    color: var(--primary-hover-color);

    &:hover:not(.l-btn-loading) {
        color: var(--primary-hover-color);
        background-color: var(--primary-light-color);
    }
}

.primary_dashed {
    color: var(--primary-hover-color);
    border-color: var(--primary-hover-color);

    &:hover:not(.l-btn-loading) {
        background-color: var(--primary-light-color);
        color: var(--primary-hover-color);
    }
}

.primary_ghost {
    color: var(--primary-hover-color);

    &:hover:not(.l-btn-loading) {
        background-color: var(--primary-light-color);
        color: var(--primary-hover-color);
    }

    &:active:not(:disabled):not(.l-btn-loading) {
        box-shadow: 0px 1px 3px 1px var(--primary-light-color) inset;
    }
}

.secondary_solid {

    &.l-btn-loading,
    &:disabled {
        background-color: var(--secondary-disabled-color);
        color: var(--foreground-disabled-color);
    }
}

.secondary_outline {
    border-color: var(--secondary-hover-color);
    color: var(--secondary-hover-color);

    &:hover:not(.l-btn-loading):not(:disabled) {
        color: var(--secondary-hover-color);
        background-color: var(--secondary-light-color);
    }
}

.secondary_dashed {
    color: var(--secondary-hover-color);
    border-color: var(--secondary-hover-color);

    &:hover:not(.l-btn-loading):not(:disabled) {
        background-color: var(--secondary-light-color);
        color: var(--secondary-hover-color);
    }
}

.secondary_ghost {
    color: var(--secondary-hover-color);

    &:hover:not(.l-btn-loading) {
        background-color: var(--secondary-light-color);
        color: var(--secondary-hover-color);
    }

    &:active:not(:disabled):not(.l-btn-loading) {
        box-shadow: 0px 1px 3px 1px var(--secondary-light-color) inset;
    }
}

.danger_solid {

    &.l-btn-loading,
    &:disabled {
        background-color: var(--danger-disabled-color);
        color: var(--foreground-disabled-color);
    }
}

.danger_outline {
    border-color: var(--danger-hover-color);
    color: var(--danger-hover-color);

    &:hover:not(.l-btn-loading):not(:disabled) {
        color: var(--danger-hover-color);
        background-color: var(--danger-light-color);
    }
}

.danger_dashed {
    color: var(--danger-hover-color);
    border-color: var(--danger-hover-color);

    &:hover:not(.l-btn-loading):not(:disabled) {
        background-color: var(--danger-light-color);
        color: var(--danger-hover-color);
    }
}

.danger_ghost {
    color: var(--danger-hover-color);

    &:hover:not(.l-btn-loading):not(:disabled) {
        background-color: var(--danger-light-color);
        color: var(--danger-hover-color);
    }

    &:active:not(:disabled):not(.l-btn-loading) {
        box-shadow: 0px 1px 3px 1px var(--danger-light-color) inset;
    }
}


.success_solid {

    &.l-btn-loading,
    &:disabled {
        background-color: var(--success-disabled-color);
        color: var(--foreground-disabled-color);
    }
}


.success_outline {
    border-color: var(--success-hover-color);
    color: var(--success-hover-color);

    &:hover:not(.l-btn-loading):not(:disabled) {
        color: var(--success-hover-color);
        background-color: var(--success-light-color);
    }
}


.success_dashed {
    color: var(--success-hover-color);
    border-color: var(--success-hover-color);

    &:hover:not(.l-btn-loading):not(:disabled) {
        background-color: var(--success-light-color);
        color: var(--success-hover-color);
    }
}


.success_ghost {
    color: var(--success-hover-color);

    &:hover:not(.l-btn-loading):not(:disabled) {
        background-color: var(--success-light-color);
        color: var(--success-hover-color);
    }

    &:active:not(:disabled):not(.l-btn-loading) {
        box-shadow: 0px 1px 3px 1px var(--success-light-color) inset;
    }
}


.warning_solid {

    &.l-btn-loading,
    &:disabled {
        background-color: var(--warning-disabled-color);
        color: var(--foreground-disabled-color);
    }
}



.warning_outline {
    border-color: var(--warning-hover-color);
    color: var(--warning-hover-color);

    &:hover:not(.l-btn-loading):not(:disabled) {
        color: var(--warning-hover-color);
        background-color: var(--warning-light-color);
    }
}

.warning_dashed {
    color: var(--warning-hover-color);
    border-color: var(--warning-hover-color);

    &:hover:not(.l-btn-loading):not(:disabled) {
        background-color: var(--warning-light-color);
        color: var(--warning-hover-color);
    }
}

.warning_ghost {
    color: var(--warning-hover-color);

    &:hover:not(.l-btn-loading):not(:disabled) {
        background-color: var(--warning-light-color);
        color: var(--warning-hover-color);
    }

    &:active:not(:disabled) {
        box-shadow: 0px 1px 3px 1px var(--warning-light-color) inset;
    }
}


.info_solid {

    &.l-btn-loading,
    &:disabled {
        background-color: var(--info-disabled-color);
        color: var(--foreground-disabled-color);
    }
}



.info_outline {
    border-color: var(--info-hover-color);
    color: var(--info-hover-color);

    &:hover:not(.l-btn-loading):not(:disabled) {
        color: var(--info-hover-color);
        background-color: var(--info-light-color);
    }

    &.l-btn-loading {
        color: var(--info-disabled-color);
        border-color: var(--info-disabled-color);
    }
}

.info_dashed {
    color: var(--info-hover-color);
    border-color: var(--info-hover-color);

    &:hover:not(.l-btn-loading):not(:disabled) {
        background-color: var(--info-light-color);
        color: var(--info-hover-color);
    }

    &:active:not(:disabled):not(.l-btn-loading) {
        box-shadow: 0px 1px 3px 1px var(--info-light-color) inset;
    }

    &.l-btn-loading {
        color: var(--info-disabled-color);
        border-color: var(--info-disabled-color);
    }
}

.info_ghost {
    color: var(--info-hover-color);

    &:hover:not(.l-btn-loading):not(:disabled) {
        background-color: var(--info-light-color);
        color: var(--info-hover-color);
    }

    &:active:not(:disabled):not(.l-btn-loading) {
        box-shadow: 0px 1px 3px 1px var(--info-light-color) inset;
    }

    &.l-btn-loading {
        color: var(--info-disabled-color);
    }
}

.l-btn-icon .l-btn-icon-loading {
    animation: spin 1.7s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}