.lambda-colorpicker {
	width: 2em;
	height: 2em;
	background-color: red;
}

.lambda-colorpicker-box {
	width: 18em;
	height: 20.5em;
	background-color: var(--surface-a);
}

.lambda-colorpicker-picker {
	position: relative;
	width: 100%;
	height: 60%;
	background-color: var(--surface-c);
}

.lambda-colorpicker-picker-button {
	position: absolute;
	width: 14px;
	height: 14px;
	border: 2px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
	pointer-events: none; /* el drag lo manejamos en el contenedor */
	transform: translate(-50%, -50%);
}

.lambda-colorpicker-controls {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	padding: var(--padding-sm) var(--padding-sm);
	width: 100%;
	height: 40%;
	border: 1px solid var(--surface-g);
	background-color: var(--surface-d);
}

.lambda-colorpicker-controls-colors {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--padding-md);
	padding: var(--padding-xs) var(--padding-lg);
	width: 100%;

	.lambda-colorpicker-controls-slider {
		position: relative;
		width: 70%;
		height: var(--handle-2xs);
		border-radius: 2em;
		background-image: linear-gradient(to right, red, yellow, lime, cyan, blue, fuchsia, red);
	}

	.lambda-colorpicker-controls-slider-button {
		position: absolute;
		top: calc(50% - var(--handle-sm) / 2);
		left: -10px;
		width: var(--handle-sm);
		height: var(--handle-sm);
		border-radius: 50%;
		background-color: var(--white-color);
		border: none;
	}

	.lambda-colorpicker-controls-view {
		width: 2em;
		height: 2em;
		border-radius: 50%;
		border: 1px solid var(--surface-g);
		background-color: var(--surface-c);
	}
}

.lambda-colorpicker-controls-alpha {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 5.5em;
	place-items: center center;
	gap: var(--padding-md);
	padding: var(--padding-xs) var(--padding-lg);
	width: 100%;

	.lambda-colorpicker-controls-slider-alpha {
		position: relative;
		width: 100%;
		height: var(--handle-2xs);
		border-radius: 2em;
		border: 1px solid var(--surface-g);
	}

	.lambda-colorpicker-controls-slider-pattern {
		position: absolute;
		left: var(--padding-lg);
		width: 146px;
		height: var(--handle-2xs);
		border-radius: 2em;
		background-color: #e5e5f7;
		opacity: 0.1;
		background-image: repeating-linear-gradient(
				45deg,
				#242424 25%,
				transparent 25%,
				transparent 75%,
				#242424 75%,
				#242424
			),
			repeating-linear-gradient(45deg, #242424 25%, #e5e5f7 25%, #e5e5f7 75%, #242424 75%, #242424);
		background-position: 0 0, 5px 5px;
		background-size: 10px 10px;
	}

	.lambda-colorpicker-controls-slider-button-alpha {
		position: absolute;
		top: calc(50% - var(--handle-sm) / 2);
		left: -10px;
		width: var(--handle-sm);
		height: var(--handle-sm);
		border-radius: 50%;
		background-color: var(--white-color);
		border: none;
		z-index: 2;
	}

	.lambda-colorpicker-controls-alpha-input {
		padding: var(--padding-xs) var(--padding-md);
	}
}

.lambda-colorpicker-controls-inputs {
	padding: var(--padding-xs) var(--padding-md);
}

.lambda-colorpicker-input-format {
	min-width: 4em !important;
}

.lambda-colorpicker-input-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--padding-xs) var(--padding-md);
	gap: var(--padding-md);
	width: 100%;
}

.lambda-colorpicker-input-multiple {
	flex: 1;
}
