.lambda-colorpicker {
	position: relative;
	transition: border-color 0.2s ease;
	font-family: var(--font-family);
	width: max-content;
	box-sizing: border-box;
	border-radius: var(--radius-field);

	&:hover {
		border-color: var(--primary-base-color);
	}

	&:is(.lambda-colorpicker-show-text) {
		display: flex;
		flex-direction: row;
		gap: var(--spacing-xs);
	}

	&:is(.lambda-colorpicker-tiny) {
		padding: var(--spacing-3xs);
		min-width: var(--size-sm);
		min-height: var(--size-sm);

		&:is(.lambda-colorpicker-show-text) {
			.lambda-colorpicker-text {
				font-size: var(--font-size-xs);
			}
		}

		.lambda-colorpicker-button {
			left: 2px;
			top: 2px;
			width: calc(var(--size-xs) - 4px);
			height: calc(var(--size-xs) - 4px);
		}

		.lambda-colorpicker-border {
			left: 2px;
			top: 2px;
			width: calc(var(--size-xs) - 4px);
			height: calc(var(--size-xs) - 4px);
		}

		.lambda-colorpicker-pattern {
			left: 2px;
			top: 2px;
			width: calc(var(--size-xs) - 4px);
			height: calc(var(--size-xs) - 4px);
		}
	}

	&:is(.lambda-colorpicker-small) {
		padding: var(--spacing-3xs);
		min-width: var(--size-md);
		min-height: var(--size-md);

		&:is(.lambda-colorpicker-show-text) {
			.lambda-colorpicker-text {
				font-size: var(--font-size-sm);
			}
		}

		.lambda-colorpicker-button {
			left: 2px;
			top: 2px;
			width: calc(var(--size-sm) - 4px);
			height: calc(var(--size-sm) - 4px);
		}

		.lambda-colorpicker-border {
			left: 2px;
			top: 2px;
			height: calc(var(--size-sm) - 4px);
			width: calc(var(--size-sm) - 4px);
		}

		.lambda-colorpicker-pattern {
			left: 2px;
			top: 2px;
			height: calc(var(--size-sm) - 4px);
			width: calc(var(--size-sm) - 4px);
		}
	}

	&:is(.lambda-colorpicker-medium) {
		padding: var(--spacing-2xs);
		min-width: var(--size-lg);
		min-height: var(--size-lg);

		&:is(.lambda-colorpicker-show-text) {
			.lambda-colorpicker-text {
				font-size: var(--font-size-md);
			}
		}

		.lambda-colorpicker-button {
			left: 2px;
			top: 2px;
			width: calc(var(--size-md) - 4px);
			height: calc(var(--size-md) - 4px);
		}

		.lambda-colorpicker-border {
			left: 2px;
			top: 2px;
			height: calc(var(--size-md) - 4px);
			width: calc(var(--size-md) - 4px);
		}

		.lambda-colorpicker-pattern {
			left: 2px;
			top: 2px;
			height: calc(var(--size-md) - 4px);
			width: calc(var(--size-md) - 4px);
		}
	}

	&:is(.lambda-colorpicker-large) {
		padding: var(--spacing-2xs);
		min-width: var(--size-xl);
		min-height: var(--size-xl);

		&:is(.lambda-colorpicker-show-text) {
			.lambda-colorpicker-text {
				font-size: var(--font-size-lg);
			}
		}

		.lambda-colorpicker-button {
			left: 2px;
			top: 2px;
			width: calc(var(--size-lg) - 4px);
			height: calc(var(--size-lg) - 4px);
		}

		.lambda-colorpicker-border {
			left: 2px;
			top: 2px;
			height: calc(var(--size-lg) - 4px);
			width: calc(var(--size-lg) - 4px);
		}

		.lambda-colorpicker-pattern {
			left: 2px;
			top: 2px;
			height: calc(var(--size-lg) - 4px);
			width: calc(var(--size-lg) - 4px);
		}
	}


	&:is(.lambda-colorpicker-disabled) {
		opacity: 0.5;
		cursor: not-allowed;

		.lambda-colorpicker-button {
			pointer-events: none;
		}
	}
}

.lambda-colorpicker-solid {
	border: var(--border-width) solid var(--surface-e);
	background-color: var(--surface-a);
}

.lambda-colorpicker-soft {
	border: var(--border-width) solid transparent;
	background-color: var(--surface-b);
}

.lambda-colorpicker-group {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;

	.lambda-colorpicker-button,
	.lambda-colorpicker-border,
	.lambda-colorpicker-pattern {
		border-radius: calc(var(--radius-field) - var(--border-width-sm));
	}

	&:is(.lambda-colorpicker-group-tiny) {
		min-width: var(--size-xs);
		min-height: var(--size-xs);
	}

	&:is(.lambda-colorpicker-group-small) {
		min-width: var(--size-sm);
		min-height: var(--size-sm);
	}

	&:is(.lambda-colorpicker-group-medium) {
		min-width: var(--size-md);
		min-height: var(--size-md);
	}

	&:is(.lambda-colorpicker-group-large) {
		min-width: var(--size-lg);
		min-height: var(--size-lg);
	}

}

.lambda-colorpicker-pattern {
	position: absolute;
	top: 0;
	left: 0;
	border: var(--border-width) solid transparent;
	background-color: var(--surface-a);
	box-sizing: border-box;
	opacity: 0.1;
	background-image: repeating-linear-gradient(45deg,
			#242424 25%,
			transparent 25%,
			transparent 75%,
			#242424 75%,
			#242424),
		repeating-linear-gradient(45deg, #242424 25%, #e5e5f7 25%, #e5e5f7 75%, #242424 75%, #242424);
	background-position: 0 0, 5px 5px;
	background-size: 10px 10px;
}

.lambda-colorpicker-button {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: calc(var(--radius-field) - var(--border-width-sm));
	border: var(--border-width) solid transparent;
	box-sizing: border-box;
	cursor: pointer;
}

.lambda-colorpicker-border {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: calc(var(--radius-field) - var(--border-width-sm));
	border: var(--border-width) solid transparent;
	z-index: 1;
	box-sizing: border-box;
	pointer-events: none;
}

.lambda-colorpicker-text {
	grid-column: 2;
	z-index: 2;
	color: var(--foreground-color);
	padding: var(--spacing-none) var(--spacing-xs) var(--spacing-none) var(--spacing-none);
	text-transform: uppercase;
	place-content: center center;
}

.lambda-colorpicker-box {
	position: fixed;
	display: flex;
	flex-direction: column;
	height: 21em;
	width: 18em;
	opacity: 1;
	background-color: var(--background-color);
	border: var(--border-width) solid var(--border-color);
	overflow: hidden;
	box-sizing: border-box;
	pointer-events: none;
	z-index: 9999;
	border-radius: var(--radius-box);


	& .lambda-colorpicker-preview-color,
	& .lambda-colorpicker-preview-background {
		border-radius: calc(var(--radius-box) - var(--border-width));
	}
}

.lambda-colorpicker-box-view {
	opacity: 1;
	pointer-events: auto;
}

.lambda-colorpicker-preview {
	display: grid;
	grid-template-columns: 1fr 1.55em;
	position: relative;
	place-content: center start;
	width: 100%;
	height: 10%;
	padding: var(--spacing-xs);
	border-radius: var(--radius-full);

	.lambda-colorpicker-preview-background {
		position: absolute;
		top: var(--spacing-xs);
		left: var(--spacing-xs);
		width: 15.5em;
		height: calc(100% - var(--spacing-sm));
		background-color: #e5e5f7;
		border: var(--border-width) solid transparent;
		opacity: 0.1;
		background-image: repeating-linear-gradient(45deg,
				#242424 25%,
				transparent 25%,
				transparent 75%,
				#242424 75%,
				#242424),
			repeating-linear-gradient(45deg, #242424 25%, #e5e5f7 25%, #e5e5f7 75%, #242424 75%, #242424);
		background-position: 0 0, 5px 5px;
		background-size: 10px 10px;
		z-index: 0;
	}

	.lambda-colorpicker-preview-color {
		position: absolute;
		top: var(--spacing-xs);
		left: var(--spacing-xs);
		width: 15.5em;
		height: calc(100% - var(--spacing-sm));
		border: var(--border-width) solid transparent;
		z-index: 2;
	}

	.lambda-colorpicker-preview-copy {
		grid-column: 2;
	}
}

.lambda-colorpicker-picker {
	position: relative;
	width: calc(100% - var(--spacing-xs) * 2);
	height: 50%;
	margin: var(--spacing-none) var(--spacing-xs) var(--spacing-xs) var(--spacing-xs);
	border: var(--border-width) solid var(--surface-a);
	overflow: hidden;
	cursor: crosshair;

	&:active {
		cursor: none;

		&>.lambda-colorpicker-picker-button {
			background: transparent;
			box-shadow: none;
			border: none;

			&::after {
				position: absolute;
				top: -9px;
				left: -9px;
				content: "";
				background-color: transparent;
				width: 28px;
				height: 28px;
				border-radius: 50%;
				box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
				border: 2px solid #c9c9c9;
			}
		}
	}
}

.lambda-colorpicker-picker-button {
	position: absolute;
	width: 16px;
	height: 16px;
	border: 2px solid #c9c9c9;
	border-radius: 50%;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
	pointer-events: none;
	transform: translate(-50%, -50%);
	background: radial-gradient(circle, transparent 60%, var(--black-color));
}

.lambda-colorpicker-controls {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	gap: var(--spacing-xs);
	padding: var(--spacing-sm) var(--spacing-xs);
	border-top: 1px solid var(--border-color);
	width: 100%;
	height: 40%;
	background-color: var(--background-color);
}

.lambda-colorpicker-controls-colors {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--spacing-lg);
	padding: var(--spacing-none) var(--spacing-md);
	width: 100%;

	.lambda-colorpicker-controls-slider {
		position: absolute;
		left: var(--spacing-xs);
		width: 14.25em;
		height: var(--size-2xs);
		border-radius: 2em;
		border: var(--border-width) solid var(--surface-d);
		background-image: linear-gradient(to right, red, yellow, lime, cyan, blue, fuchsia, red);
	}

	.lambda-colorpicker-controls-slider-range {
		position: absolute;
		left: var(--spacing-xs);
		width: 14.25em;
		height: var(--size-2xs);
		border-radius: 2em;
		background: radial-gradient(circle, var(--white-color) 50%, var(--black-color));
		background: #ffffff00;
		border: none;
		z-index: 2;
	}
}

.lambda-colorpicker-controls-alpha {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 4.5em;
	place-items: center center;
	gap: var(--spacing-lg);
	padding: var(--spacing-none) var(--spacing-md);
	width: 100%;

	.lambda-colorpicker-controls-slider-alpha {
		position: absolute;
		left: var(--spacing-xs);
		width: 11.35em;
		height: var(--size-2xs);
		border-radius: 2em;
		border: var(--border-width) solid var(--surface-d);
	}

	.lambda-colorpicker-controls-slider-pattern {
		position: absolute;
		left: var(--spacing-xs);
		width: 11.35em;
		height: var(--size-2xs);
		border-radius: 2em;
		background-color: #e5e5f7;
		opacity: 0.1;
		background-image: repeating-linear-gradient(45deg,
				#242424 25%,
				transparent 25%,
				transparent 75%,
				#242424 75%,
				#242424),
			repeating-linear-gradient(45deg, #242424 25%, #e5e5f7 25%, #e5e5f7 75%, #242424 75%, #242424);
		background-position: 0 0, 5px 5px;
		background-size: 10px 10px;
	}

	.lambda-colorpicker-controls-alpha-input {
		padding: var(--spacing-xs) var(--spacing-md);
	}
}

.lambda-colorpicker-controls-inputs {
	padding: var(--spacing-none) var(--spacing-md);
}

.lambda-colorpicker-input-format {
	min-width: 4em !important;
}

.lambda-colorpicker-input-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--spacing-xs) var(--spacing-none);
	gap: var(--spacing-md);
	width: 100%;
}

.lambda-colorpicker-input-multiple {
	flex: 1;
}