.lambda-colorpicker {
	position: relative;
	border-radius: var(--border-radius-sm);
	border: var(--border-width-sm) solid var(--surface-e);
	background-color: var(--surface-a);
	transition: border-color 0.2s ease;
	font-family: var(--font-family);
	box-sizing: border-box;

	&:hover {
		border-color: var(--primary-color);
	}

	&:is(.lambda-colorpicker-show-text) {
		display: flex;
		flex-direction: row;
		gap: var(--padding-xs);
	}

	&:is(.lambda-colorpicker-tiny) {
		padding: var(--padding-3xs);
		min-width: var(--height-checkbox-sm);
		min-height: var(--height-checkbox-sm);

		&:is(.lambda-colorpicker-show-text) {
			.lambda-colorpicker-text {
				font-size: var(--font-size-xs);
			}
		}

		.lambda-colorpicker-button {
			width: var(--height-checkbox-xs);
			height: var(--height-checkbox-xs);
		}

		.lambda-colorpicker-border {
			width: var(--height-checkbox-xs);
			height: var(--height-checkbox-xs);
		}

		.lambda-colorpicker-pattern {
			width: var(--height-checkbox-xs);
			height: var(--height-checkbox-xs);
		}
	}

	&:is(.lambda-colorpicker-small) {
		padding: var(--padding-3xs);
		min-width: var(--height-checkbox-md);
		min-height: var(--height-checkbox-md);

		&:is(.lambda-colorpicker-show-text) {
			.lambda-colorpicker-text {
				font-size: var(--font-size-sm);
			}
		}

		.lambda-colorpicker-button {
			width: var(--height-checkbox-sm);
			height: var(--height-checkbox-sm);
		}

		.lambda-colorpicker-border {
			width: var(--height-checkbox-sm);
			height: var(--height-checkbox-sm);
		}

		.lambda-colorpicker-pattern {
			width: var(--height-checkbox-sm);
			height: var(--height-checkbox-sm);
		}
	}

	&:is(.lambda-colorpicker-medium) {
		padding: var(--padding-2xs);
		min-width: var(--height-checkbox-lg);
		min-height: var(--height-checkbox-lg);

		&:is(.lambda-colorpicker-show-text) {
			.lambda-colorpicker-text {
				font-size: var(--font-size-md);
			}
		}

		.lambda-colorpicker-button {
			width: var(--height-checkbox-md);
			height: var(--height-checkbox-md);
		}

		.lambda-colorpicker-border {
			width: var(--height-checkbox-md);
			height: var(--height-checkbox-md);
		}

		.lambda-colorpicker-pattern {
			width: var(--height-checkbox-md);
			height: var(--height-checkbox-md);
		}
	}

	&:is(.lambda-colorpicker-large) {
		padding: var(--padding-2xs);
		min-width: var(--height-checkbox-xl);
		min-height: var(--height-checkbox-xl);

		&:is(.lambda-colorpicker-show-text) {
			.lambda-colorpicker-text {
				font-size: var(--font-size-lg);
			}
		}

		.lambda-colorpicker-button {
			width: var(--height-checkbox-lg);
			height: var(--height-checkbox-lg);
		}

		.lambda-colorpicker-border {
			width: var(--height-checkbox-lg);
			height: var(--height-checkbox-lg);
		}

		.lambda-colorpicker-pattern {
			width: var(--height-checkbox-lg);
			height: var(--height-checkbox-lg);
		}
	}

	&:is(.lambda-colorpicker-radius-none) {
		border-radius: var(--border-radius-none);
	}

	&:is(.lambda-colorpicker-radius-small) {
		border-radius: var(--border-radius-md);
	}

	&:is(.lambda-colorpicker-radius-medium) {
		border-radius: var(--border-radius-lg);
	}
	&:is(.lambda-colorpicker-radius-circle) {
		border-radius: var(--border-radius-full);
	}

	&:is(.lambda-colorpicker-disabled) {
		opacity: 0.5;
		cursor: not-allowed;

		.lambda-colorpicker-button {
			pointer-events: none;
		}
	}
}

.lambda-colorpicker-group {
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;

	&:is(.lambda-colorpicker-group-tiny) {
		min-width: var(--height-checkbox-xs);
		min-height: var(--height-checkbox-xs);
	}

	&:is(.lambda-colorpicker-group-small) {
		min-width: var(--height-checkbox-sm);
		min-height: var(--height-checkbox-sm);
	}

	&:is(.lambda-colorpicker-group-medium) {
		min-width: var(--height-checkbox-md);
		min-height: var(--height-checkbox-md);
	}

	&:is(.lambda-colorpicker-group-large) {
		min-width: var(--height-checkbox-lg);
		min-height: var(--height-checkbox-lg);
	}

	&:is(.lambda-colorpicker-group-radius-none) {
		.lambda-colorpicker-button,
		.lambda-colorpicker-border,
		.lambda-colorpicker-pattern {
			border-radius: var(--border-radius-none);
		}
	}

	&:is(.lambda-colorpicker-group-radius-small) {
		.lambda-colorpicker-button,
		.lambda-colorpicker-border,
		.lambda-colorpicker-pattern {
			border-radius: var(--border-radius-sm);
		}
	}

	&:is(.lambda-colorpicker-group-radius-medium) {
		.lambda-colorpicker-button,
		.lambda-colorpicker-border,
		.lambda-colorpicker-pattern {
			border-radius: var(--border-radius-md);
		}
	}

	&:is(.lambda-colorpicker-group-radius-circle) {
		.lambda-colorpicker-button,
		.lambda-colorpicker-border,
		.lambda-colorpicker-pattern {
			border-radius: var(--border-radius-full);
		}
	}
}

.lambda-colorpicker-pattern {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: var(--border-radius-xs);
	border: var(--border-width-xs) solid transparent;
	background-color: var(--surface-a);
	box-sizing: border-box;
	opacity: 0.1;
	background-image: repeating-linear-gradient(
			45deg,
			#242424 25%,
			transparent 25%,
			transparent 75%,
			#242424 75%,
			#242424
		),
		repeating-linear-gradient(45deg, #242424 25%, #e5e5f7 25%, #e5e5f7 75%, #242424 75%, #242424);
	background-position: 0 0, 5px 5px;
	background-size: 10px 10px;
}

.lambda-colorpicker-button {
	position: absolute;
	top: 0;
	left: 0;
	border: var(--border-width-xs) solid var(--surface-c);
	box-sizing: border-box;
	cursor: pointer;
}

.lambda-colorpicker-border {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: var(--border-radius-xs);
	border: var(--border-width-xs) solid var(--surface-c);
	z-index: 1;
	box-sizing: border-box;
	pointer-events: none;
}

.lambda-colorpicker-text {
	grid-column: 2;
	z-index: 2;
	color: var(--foreground-color);
	padding: var(--padding-none) var(--padding-xs) var(--padding-none) var(--padding-none);
	text-transform: uppercase;
	place-content: center center;
}

.lambda-colorpicker-box {
	position: absolute;
	top: -2px;
	left: -2px;
	display: flex;
	flex-direction: column;
	width: 0;
	height: 0;
	opacity: 0;
	border-radius: var(--border-radius-sm);
	background-color: var(--surface-b);
	border: var(--border-width-xs) solid var(--surface-d);
	overflow: hidden;
	transition: all 0.2s ease;
	box-sizing: border-box;
	pointer-events: none;
	z-index: 3;
}

.lambda-colorpicker-box-view {
	height: 21em;
	width: 18em;
	opacity: 1;
	pointer-events: auto;
}

.lambda-colorpicker-preview {
	display: grid;
	grid-template-columns: 1fr 2em;
	position: relative;
	place-content: center start;
	width: 100%;
	height: 10%;
	padding: var(--padding-xs);
	border-radius: var(--border-radius-xs);

	.lambda-colorpicker-preview-background {
		position: absolute;
		top: var(--padding-xs);
		left: var(--padding-xs);
		width: 15em;
		height: calc(100% - var(--padding-md));
		background-color: #e5e5f7;
		border: var(--border-width-xs) solid transparent;
		opacity: 0.1;
		background-image: repeating-linear-gradient(
				45deg,
				#242424 25%,
				transparent 25%,
				transparent 75%,
				#242424 75%,
				#242424
			),
			repeating-linear-gradient(45deg, #242424 25%, #e5e5f7 25%, #e5e5f7 75%, #242424 75%, #242424);
		background-position: 0 0, 5px 5px;
		background-size: 10px 10px;
		z-index: 0;
	}
	.lambda-colorpicker-preview-color {
		position: absolute;
		top: var(--padding-xs);
		left: var(--padding-xs);
		width: 15em;
		height: calc(100% - var(--padding-md));
		border-radius: var(--border-radius-xs);
		border: var(--border-width-xs) solid transparent;
		z-index: 2;
	}

	.lambda-colorpicker-preview-copy {
		grid-column: 2;
	}
}

.lambda-colorpicker-picker {
	position: relative;
	width: calc(100% - var(--padding-xs) * 2);
	height: 55%;
	margin: var(--padding-none) var(--padding-xs) var(--padding-xs) var(--padding-xs);
	border: var(--border-width-xs) solid var(--surface-a);
	overflow: hidden;
	cursor: crosshair;

	&:active {
		cursor: none;

		& > .lambda-colorpicker-picker-button {
			background: transparent;
			box-shadow: none;
			border: none;

			&::after {
				position: absolute;
				top: -9px;
				left: -9px;
				content: "";
				background-color: transparent;
				width: 28px;
				height: 28px;
				border-radius: 50%;
				box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
				border: 2px solid #c9c9c9;
			}
		}
	}
}

.lambda-colorpicker-picker-button {
	position: absolute;
	width: 14px;
	height: 14px;
	border: 2px solid #c9c9c9;
	border-radius: 50%;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
	pointer-events: none;
	transform: translate(-50%, -50%);
	background: radial-gradient(circle, transparent 60%, var(--black-color));
}

.lambda-colorpicker-controls {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	padding: var(--padding-sm) var(--padding-xs);
	border-top: 1px solid var(--surface-d);
	width: 100%;
	height: 35%;
	background-color: var(--surface-b);
}

.lambda-colorpicker-controls-colors {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--padding-lg);
	padding: var(--padding-none) var(--padding-md);
	width: 100%;

	.lambda-colorpicker-controls-slider {
		position: absolute;
		left: var(--padding-xs);
		width: 14.25em;
		height: var(--handle-3xs);
		border-radius: 2em;
		border: var(--border-width-xs) solid var(--surface-d);
		background-image: linear-gradient(to right, red, yellow, lime, cyan, blue, fuchsia, red);
	}

	.lambda-colorpicker-controls-slider-range {
		position: absolute;
		left: var(--padding-xs);
		width: 14.25em;
		height: var(--handle-3xs);
		border-radius: 2em;
		background: radial-gradient(circle, var(--white-color) 50%, var(--black-color));
		background: #ffffff00;
		border: none;
		z-index: 2;
	}
}

.lambda-colorpicker-controls-alpha {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 4.5em;
	place-items: center center;
	gap: var(--padding-lg);
	padding: var(--padding-none) var(--padding-md);
	width: 100%;

	.lambda-colorpicker-controls-slider-alpha {
		position: absolute;
		left: var(--padding-xs);
		width: 11.35em;
		height: var(--handle-3xs);
		border-radius: 2em;
		border: var(--border-width-xs) solid var(--surface-d);
	}

	.lambda-colorpicker-controls-slider-pattern {
		position: absolute;
		left: var(--padding-xs);
		width: 11.35em;
		height: var(--handle-3xs);
		border-radius: 2em;
		background-color: #e5e5f7;
		opacity: 0.1;
		background-image: repeating-linear-gradient(
				45deg,
				#242424 25%,
				transparent 25%,
				transparent 75%,
				#242424 75%,
				#242424
			),
			repeating-linear-gradient(45deg, #242424 25%, #e5e5f7 25%, #e5e5f7 75%, #242424 75%, #242424);
		background-position: 0 0, 5px 5px;
		background-size: 10px 10px;
	}

	.lambda-colorpicker-controls-alpha-input {
		padding: var(--padding-xs) var(--padding-md);
	}
}

.lambda-colorpicker-controls-inputs {
	padding: var(--padding-none) var(--padding-md);
}

.lambda-colorpicker-input-format {
	min-width: 4em !important;
}

.lambda-colorpicker-input-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--padding-xs) var(--padding-none);
	gap: var(--padding-md);
	width: 100%;
}

.lambda-colorpicker-input-multiple {
	flex: 1;
}
