.lambda-table-container {
	display: block;
	border-radius: var(--radius-lg);
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	font-family: var(--font-family);

	/*
	&:is(.lambda-table-container-soft) {
		border: var(--border-width-xs) solid transparent;
	}

	&:is(.lambda-table-container-underlined) {
		border: var(--border-width-xs) solid transparent;
	}

	&:is(.lambda-table-container-bordered) {
		border: var(--border-width-xs) solid var(--border-color);
	}

	&:is(.lambda-table-container-striped) {
		border: var(--border-width-xs) solid var(--border-color);
	}
*/
	&:is(.lambda-table-container-radius-none) {
		border-radius: var(--radius-none);
	}

	&:is(.lambda-table-container-radius-tiny) {
		border-radius: var(--radius-xs);
	}

	&:is(.lambda-table-container-radius-small) {
		border-radius: var(--radius-sm);
	}

	&:is(.lambda-table-container-radius-medium) {
		border-radius: var(--radius-md);
	}

	&:is(.lambda-table-container-radius-large) {
		border-radius: var(--radius-lg);
	}
}

.lambda-table-container-table {
	display: block;
	width: 100%;
	box-sizing: border-box;
	overflow-x: auto;
	overflow-y: hidden;

	&:is(.lambda-table-container-table-bordered) {
		border: 1px solid var(--border-color);
		border-bottom: none;
	}
}

.lambda-table {
	table-layout: fixed;
	width: 100%;
	box-sizing: border-box;
	border: none;
	font-family: var(--font-family);
}

.lambda-table-striped {
	border-collapse: collapse;
	background-color: transparent;
}

.lambda-table-soft {
	border-collapse: separate;
	background-color: var(--surface-c);
}

.lambda-table-underlined {
	border-collapse: collapse;
	background-color: transparent;
}

.lambda-table-bordered {
	border-collapse: collapse;
}

.lambda-table-header {
	background-color: var(--surface-a);

	& .lambda-table-row:is(.lambda-table-row-bordered) {
		& .lambda-table-header-cell {
			border-top: none;
		}
	}
}

.lambda-table-header-cell {
	vertical-align: middle;
	font-weight: var(--font-weight-semibold);
	color: var(--foreground-title-color);
	text-align: center;
	background-color: var(--surface-b);
	width: 100%;

	&:is(.lambda-table-header-cell-bordered) {
		border: var(--border-width-xs) solid var(--border-color);
		border-top: 1px solid var(--surface-c);

		&:first-child {
			border-left: 1px solid var(--surface-b);
		}

		&:last-child {
			border-right: 1px solid var(--surface-b);
		}
	}

	&:is(.lambda-table-header-cell-underlined) {
		border-bottom: 1px solid var(--border-color);
	}

	&:is(.lambda-table-header-cell-striped) {
		border-bottom: 1px solid var(--border-color);
	}

	&:is(.lambda-table-header-cell-tiny) {
		font-size: var(--font-size-xs);
		padding: var(--spacing-sm) var(--spacing-md);
	}

	&:is(.lambda-table-header-cell-small) {
		font-size: var(--font-size-sm);
		padding: var(--spacing-md) var(--spacing-md);
	}

	&:is(.lambda-table-header-cell-medium) {
		position: relative;
		font-size: var(--font-size-md);
		padding: var(--spacing-lg) var(--spacing-lg);

		&:not(:last-child) {
			&:is(.lambda-table-header-cell-striped, .lambda-table-header-cell-underlined) {
				&:after {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					content: "";
					width: 1px;
					height: 50%;
					background-color: var(--border-color);
				}
			}
		}
	}

	&:is(.lambda-table-header-cell-large) {
		font-size: var(--font-size-lg);
		padding: var(--spacing-lg) var(--spacing-xl);
	}
}

.lambda-header-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
	gap: var(--spacing-lg);
	padding: var(--spacing-xs) var(--spacing-sm);
	border-radius: var(--radius-xs);
	background-color: transparent;
	width: 100%;

	.lambda-header-button {
		display: flex;
		align-items: center;
		border: none;
		background: none;
		transition: color 0.2s ease;
		background-color: transparent;
		color: currentColor;

		&>svg {
			width: var(--icon-size-xs);
			height: var(--icon-size-xs);
			stroke-width: var(--border-width-sm);
			color: currentColor;
		}
	}

	&:is(.lambda-header-group-sortable) {
		cursor: pointer;
		transition: all 0.4s ease;

		&:hover {
			background-color: var(--neutral-opacity-color);
		}
	}
}

.lambda-table-cell {
	display: table-cell;
	padding: 0.5rem;
	color: var(--foreground-secondary-color);
	width: 100%;
	max-lines: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	&:is(.lambda-table-cell-bordered) {
		border: var(--border-width-xs) solid var(--border-color);

		&:first-child {
			border-left: 1px solid transparent;
		}

		&:last-child {
			border-right: 1px solid transparent;
		}
	}

	&:is(.lambda-table-cell-underlined) {
		border-bottom: 1px solid var(--border-color);
	}

	&:is(.lambda-table-cell-striped) {
		border-bottom: 1px solid var(--border-color);
	}

	&:is(.lambda-table-cell-soft) {
		background-color: transparent;
	}

	&:is(.lambda-table-cell-tiny) {
		padding: var(--spacing-sm) var(--spacing-md);
	}

	&:is(.lambda-table-cell-small) {
		padding: var(--spacing-md) var(--spacing-md);
	}

	&:is(.lambda-table-cell-medium) {
		padding: var(--spacing-lg) var(--spacing-lg);
	}

	&:is(.lambda-table-cell-large) {
		padding: var(--spacing-lg) var(--spacing-xl);
	}

	&:is(.lambda-table-cell-align-left) {
		text-align: left;

		&>div {
			display: flex;
			justify-content: left;
			align-items: center;
		}
	}

	&:is(.lambda-table-cell-align-center) {
		text-align: center;

		&>div {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&:is(.lambda-table-cell-align-right) {
		text-align: right;

		&>div {
			display: flex;
			justify-content: right;
			align-items: center;
		}
	}
}

.lambda-table-row {
	background-color: var(--background-color);

	&:is(.lambda-table-row-striped) {
		&:is(:nth-child(odd)) {
			background-color: var(--surface-a);
		}
	}

	&:is(:last-child) {
		& .lambda-table-cell {
			/*border-bottom: 1px solid var(--surface-a);*/
		}
	}

	& .lambda-table-cell {
		&:first-child {
			border-left: 1px solid var(--surface-a);
		}

		&:last-child {
			border-right: 1px solid var(--surface-a);
		}
	}

	&:is(.lambda-table-row-highlight-on-hover):hover {
		background-color: var(--surface-a) !important;

		& .lambda-table-cell {
			border-left: 1px solid var(--surface-a);

			&:last-child {
				border-right: 1px solid var(--surface-a);
			}
		}
	}

	&:is(.lambda-table-row-tiny) {
		font-size: var(--font-size-xs);
	}

	&:is(.lambda-table-row-small) {
		font-size: var(--font-size-sm);
	}

	&:is(.lambda-table-row-medium) {
		font-size: var(--font-size-md);
	}

	&:is(.lambda-table-row-large) {
		font-size: var(--font-size-lg);
	}
}

.lambda-table-pagination {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px solid var(--border-color);
	padding: var(--spacing-lg) var(--spacing-md);
	z-index: 10;

	@media (max-width: 600px) {
		flex-direction: column;
		align-items: center;
	}
}

.lambda-table-pagination-text {
	display: flex;
	align-items: center;
	color: var(--foreground-secondary-color);
	font-size: var(--font-size-sm);
}

.lambda-table-pagination-select {
	justify-self: flex-end;
	margin: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) var(--spacing-sm);
	max-width: 6.7em;
	z-index: 10;
}

.lambda-table-pagination-text {
	display: flex;
	align-items: center;
	color: var(--foreground-secondary-color);
	font-size: var(--font-size-sm);
}

.lambda-table-pagination-select {
	justify-self: flex-end;
	margin: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) var(--spacing-sm);
	max-width: 6.7em;
	z-index: 10;
}