.lambda-join-tiny {
	font-size: var(--font-size-xs);
	height: var(--height-input-xs);
}

.lambda-join-small {
	font-size: var(--font-size-xs);
	height: var(--height-input-sm);
}

.lambda-join-medium {
	font-size: var(--font-size-sm);
	height: var(--height-input-md);
}

.lambda-join-large {
	font-size: var(--font-size-md);
	height: var(--height-input-lg);
}

.lambda-join-radius-none {
	border-radius: var(--border-radius-none);
}

.lambda-join-radius-tiny {
	border-radius: var(--border-radius-xs);
}

.lambda-join-radius-small {
	border-radius: var(--border-radius-sm);
}

.lambda-join-radius-medium {
	border-radius: var(--border-radius-md);
}

.lambda-join-radius-large {
	border-radius: var(--border-radius-lg);
}

.lambda-join-radius-full {
	border-radius: var(--border-radius-pill);
}
.lambda-join-invalid {
	background-color: var(--danger-soft-color);
}

.lambda-join {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	outline: none;
	width: 100%;
	font-family: var(--font-family);

	.lambda-join-input {
		flex-grow: 1;
	}

	&:has(label[aria-label="ComponentLabel"]) {
		& label[aria-label="ComponentLabel"] {
			position: absolute;
			top: -1.4em;
		}
	}
}

.lambda-join-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 100%;
	border: none;
	box-sizing: border-box;

	& > * {
		margin-inline-start: -1px;
	}
}

.lambda-join-disabled {
	cursor: not-allowed;
}

.lambda-join-container {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: max-content;
}
