.lambda-codeblock {
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: var(--radius-box);
	border: var(--border-width) solid var(--border-color);
	font-size: var(--font-size-sm);
	font-family: "Fira Mono", "Consolas", "Monaco", monospace;
	overflow: hidden;

	&.lambda-codeblock-dark {
		background-color: var(--background-code-dark);
	}

	&.lambda-codeblock-light {
		background-color: var(--background-code-light);
	}
}

.lambda-codeblock-tabs {
	display: flex;
	border-top-left-radius: var(--radius-sm);
	border-top-right-radius: var(--radius-sm);

	&.lambda-codeblock-tabs-dark {
		background-color: var(--background-tab-dark);
		border-bottom: 1px solid #333333;
	}

	&.lambda-codeblock-tabs-light {
		background-color: var(--background-tab-light);
		border-bottom: 1px solid #d8d8d8;
	}
}

.lambda-codeblock-tab {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: var(--spacing-xs);
	padding: var(--spacing-sm) var(--spacing-lg);
	font-size: var(--font-size-xs);
	font-family: var(--font-family);
	background: none;
	border: none;
	border-bottom: 2px solid transparent;
	cursor: pointer;
	transition: background 0.2s, color 0.2s;
	font-weight: var(--font-weight-regular);

	&.lambda-codeblock-tab-dark {
		color: #a09f9f;

		&:is(.lambda-codeblock-tab-active) {
			color: #dfdfdf;
		}
	}

	&.lambda-codeblock-tab-light {
		color: #a09f9f;
		font-weight: var(--font-weight-medium);

		&:is(.lambda-codeblock-tab-active) {
			color: #1b1b1b;
		}
	}

	& svg {
		width: var(--size-xs);
		height: var(--size-xs);
	}
}

.lambda-codeblock-tab-active {
	color: var(--white-color);
	border-bottom: 2px solid var(--primary-base-color);
}

.lambda-pre {
	display: flex;
	background: transparent;

	&.lambda-pre-dark {
		background-color: #0b1012;
	}

	&.lambda-pre-light {
		background-color: #f7f7f7;
	}
}

pre[class*="language-"] {
	background: transparent !important;
	margin: 0 0 0 0 !important;
	margin-bottom: 0 !important;

	/*padding: 0.75em 1em 0.75em 1em !important;*/
	&>code {
		background: transparent !important;
		border-left: none !important;
		box-shadow: none !important;
	}

	&[data-line]:not(.lambda-pre-line-highlight):not(.lambda-pre-line-numbers) {
		&>code {
			padding-left: 0 !important;
		}
	}

	&:not(.lambda-pre-line-highlight):not(.lambda-pre-line-numbers) {
		padding: 0.75em 2.5em 0.75em 1em !important;
	}

	&:is(.lambda-pre-line-highlight):not(.lambda-pre-line-numbers),
	&:is(.lambda-pre-line-numbers):not(.lambda-pre-line-highlight) {
		padding: 0.75em 2.5em 0.75em 3.5em !important;
	}
}

.lambda-code {
	flex: 1;
	white-space: pre;
	background: none;
}

.lambda-copy-button {
	position: absolute;
	right: var(--spacing-sm);
	top: var(--spacing-sm);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	padding: var(--spacing-xs);
	color: var(--white-color);
	border: none;
	border-radius: var(--radius-field);
	cursor: pointer;
	transition: background 0.2s, color 0.2s;

	& svg {
		width: var(--size-xs);
		height: var(--size-xs);
	}

	&.lambda-copy-button-dark {
		background-color: #141b1e;
		color: #a1a1aa;

		&:hover {
			background-color: #242d3150;
		}
	}

	&.lambda-copy-button-light {
		background-color: #f0f0f1;
		color: #525151;

		&:hover {
			background-color: #e6e6e6;
		}
	}
}