.lambda-tooltip-target-wrapper {
	box-sizing: border-box;
}

/* Contenedor del tooltip (el pop-up box que va al Portal) */
.lambda-tooltip-container {
	position: fixed;
	top: -500px;
	left: -500px;
	z-index: 9999;
	pointer-events: none;
	font-family: var(--font-family);
	font-weight: var(--font-weight-semibold);
	padding: var(--spacing-xs) var(--spacing-md);
	font-size: var(--font-size-xs);
	line-height: 1.5;
	max-width: 200px;
	text-align: center;
	box-sizing: border-box;
	word-wrap: break-word;
	opacity: 0;
	color: var(--white-color);
	border: none;
	transform-origin: bottom center;
	transform: translateY(25%);
	text-shadow: 0 0 1px #00000050;

	&::before {
		content: "";
		position: absolute;
		border-width: var(--size-md);
		border-style: solid;
		pointer-events: none;
		z-index: -1;
		border-width: 5px;
	}

	&.lambda-tooltip-container-radius-default {
		border-radius: var(--radius-selector);
	}

	&.lambda-tooltip-container-radius-none {
		border-radius: var(--radius-none);
	}

	&.lambda-tooltip-container-radius-tiny {
		border-radius: var(--radius-tiny);
	}

	&.lambda-tooltip-container-radius-small {
		border-radius: var(--radius-sm);
	}

	&.lambda-tooltip-container-radius-medium {
		border-radius: var(--radius-md);
	}

	&.lambda-tooltip-container-radius-large,
	&.lambda-tooltip-container-radius-full {
		border-radius: var(--radius-lg);
	}
}

/* Estado Visible */
.lambda-tooltip-container.visible {

	&:is(.lambda-tooltip-container-top-center,
		.lambda-tooltip-container-top-left,
		.lambda-tooltip-container-top-right) {
		animation: fadeInTop 0.25s ease-in-out both;
	}

	&:is(.lambda-tooltip-container-bottom-center,
		.lambda-tooltip-container-bottom-left,
		.lambda-tooltip-container-bottom-right) {
		animation: fadeInBottom 0.25s ease-in-out both;
	}

	&:is(.lambda-tooltip-container-left-center) {
		animation: fadeInLeft 0.25s ease-in-out both;
	}

	&:is(.lambda-tooltip-container-right-center) {
		animation: fadeInRight 0.25s ease-in-out both;
	}
}

@keyframes fadeInTop {
	from {
		opacity: 0;
		transform: translateY(25%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInBottom {
	from {
		opacity: 0;
		transform: translateY(-25%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX(-25%);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(25%);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.lambda-tooltip-container-neutral {
	background-color: var(--neutral-base-color);
	color: var(--foreground-invert-color);
	text-shadow: none;
}

.lambda-tooltip-container-primary {
	background-color: var(--primary-base-color);
}

.lambda-tooltip-container-secondary {
	background-color: var(--secondary-base-color);
}

.lambda-tooltip-container-success {
	background-color: var(--success-base-color);
}

.lambda-tooltip-container-danger {
	background-color: var(--danger-base-color);
}

.lambda-tooltip-container-warning {
	background-color: var(--warning-base-color);
}

.lambda-tooltip-container-info {
	background-color: var(--info-base-color);
}

/* Posición para ayudar en estilos específicos (principalmente transform-origin si hay animación) */
/* Estas clases se aplican al contenedor principal .lambda-tooltip-container */
.lambda-tooltip-container-top-left {
	transform-origin: bottom left;
}

.lambda-tooltip-container-top-center {
	transform-origin: bottom center;
}

.lambda-tooltip-container-top-right {
	transform-origin: bottom right;
}

.lambda-tooltip-container-bottom-left {
	transform-origin: top left;
}

.lambda-tooltip-container-bottom-center {
	transform-origin: top center;
}

.lambda-tooltip-container-bottom-right {
	transform-origin: top right;
}

.lambda-tooltip-container-left-center {
	transform-origin: right center;
}

.lambda-tooltip-container-right-center {
	transform-origin: left center;
}

.lambda-tooltip-container-top-center,
.lambda-tooltip-container-top-left,
.lambda-tooltip-container-top-right {
	&.lambda-tooltip-container-neutral::before {
		border-top-color: var(--neutral-base-color);
	}

	&.lambda-tooltip-container-primary::before {
		border-top-color: var(--primary-base-color);
	}

	&.lambda-tooltip-container-secondary::before {
		border-top-color: var(--secondary-base-color);
	}

	&.lambda-tooltip-container-success::before {
		border-top-color: var(--success-base-color);
	}

	&.lambda-tooltip-container-danger::before {
		border-top-color: var(--danger-base-color);
	}

	&.lambda-tooltip-container-warning::before {
		border-top-color: var(--warning-base-color);
	}

	&.lambda-tooltip-container-info::before {
		border-top-color: var(--info-base-color);
	}
}

.lambda-tooltip-container-bottom-center,
.lambda-tooltip-container-bottom-left,
.lambda-tooltip-container-bottom-right {
	&.lambda-tooltip-container-neutral::before {
		border-bottom-color: var(--neutral-base-color);
	}

	&.lambda-tooltip-container-primary::before {
		border-bottom-color: var(--primary-base-color);
	}

	&.lambda-tooltip-container-secondary::before {
		border-bottom-color: var(--secondary-base-color);
	}

	&.lambda-tooltip-container-success::before {
		border-bottom-color: var(--success-base-color);
	}

	&.lambda-tooltip-container-danger::before {
		border-bottom-color: var(--danger-base-color);
	}

	&.lambda-tooltip-container-warning::before {
		border-bottom-color: var(--warning-base-color);
	}

	&.lambda-tooltip-container-info::before {
		border-bottom-color: var(--info-base-color);
	}
}

.lambda-tooltip-container-left-center {
	&.lambda-tooltip-container-neutral::before {
		border-left-color: var(--neutral-base-color);
	}

	&.lambda-tooltip-container-primary::before {
		border-left-color: var(--primary-base-color);
	}

	&.lambda-tooltip-container-secondary::before {
		border-left-color: var(--secondary-base-color);
	}

	&.lambda-tooltip-container-success::before {
		border-left-color: var(--success-base-color);
	}

	&.lambda-tooltip-container-danger::before {
		border-left-color: var(--danger-base-color);
	}

	&.lambda-tooltip-container-warning::before {
		border-left-color: var(--warning-base-color);
	}

	&.lambda-tooltip-container-info::before {
		border-left-color: var(--info-base-color);
	}
}

.lambda-tooltip-container-right-center {
	&.lambda-tooltip-container-neutral::before {
		border-right-color: var(--neutral-base-color);
	}

	&.lambda-tooltip-container-primary::before {
		border-right-color: var(--primary-base-color);
	}

	&.lambda-tooltip-container-secondary::before {
		border-right-color: var(--secondary-base-color);
	}

	&.lambda-tooltip-container-success::before {
		border-right-color: var(--success-base-color);
	}

	&.lambda-tooltip-container-danger::before {
		border-right-color: var(--danger-base-color);
	}

	&.lambda-tooltip-container-warning::before {
		border-right-color: var(--warning-base-color);
	}

	&.lambda-tooltip-container-info::before {
		border-right-color: var(--info-base-color);
	}
}

/* Flecha abajo, apuntando hacia arriba (para tooltips posicionados ABOVE el target) */
.lambda-tooltip-arrow-bottom-left::before {
	bottom: calc(-0.7 * var(--size-xs));
	left: var(--spacing-sm);
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

.lambda-tooltip-arrow-bottom-center::before {
	bottom: calc(-0.7 * var(--size-xs));
	left: 50%;
	transform: translateX(-50%);
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
	/*border-color: var(--black-color) transparent transparent transparent;*/
}

.lambda-tooltip-arrow-bottom-right::before {
	bottom: calc(-0.7 * var(--size-xs));
	right: var(--spacing-3, 12px);
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

/* Flecha arriba, apuntando hacia abajo (para tooltips posicionados BELOW el target) */
.lambda-tooltip-arrow-top-left::before {
	top: calc(-0.7 * var(--size-xs));
	left: var(--spacing-3, 12px);
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
}

.lambda-tooltip-arrow-top-center::before {
	top: calc(-0.7 * var(--size-xs));
	left: 50%;
	transform: translateX(-50%);
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
}

.lambda-tooltip-arrow-top-right::before {
	top: calc(-0.7 * var(--size-xs));
	right: var(--spacing-3, 12px);
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
}

.lambda-tooltip-arrow-left-center::before {
	left: calc(-0.7 * var(--size-xs));
	top: 50%;
	transform: translateY(-50%);
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
}

.lambda-tooltip-arrow-right-center::before {
	right: calc(-0.7 * var(--size-xs));
	top: 50%;
	transform: translateY(-50%);
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
}

/* Ajustar offset de la flecha según el tamaño si es necesario */
/* .lambda-tooltip-arrow-small.lambda-tooltip-arrow-bottom-left::before { left: var(--spacing-2, 8px); } */
/* .lambda-tooltip-arrow-large.lambda-tooltip-arrow-bottom-left::before { left: var(--spacing-4, 16px); } */
/* ... y así para todas las combinaciones size/position ... */