 :root {
     --primary-color: #359cb1;
     --primary-hover-color: #2c95aa;
     --primary-light-color: #25718060;
     --primary-disabled-color: #2a7887;
     --secondary-color: #677485;
     --secondary-hover-color: #778597;
     --secondary-light-color: #67748560;
     --secondary-disabled-color: #47505c;
     --danger-color: #cc3232;
     --danger-hover-color: #c52828;
     --danger-light-color: #cc323260;
     --danger-disabled-color: #881919;
     --success-color: #2bac2f;
     --success-hover-color: rgb(24, 157, 29);
     --success-light-color: #2bac2f60;
     --success-disabled-color: #249227;
     --warning-color: #ad6d19;
     --warning-hover-color: #e2870f;
     --warning-light-color: #42270660;
     --warning-disabled-color: #2b1c0b;
     --info-color: #2686d5;
     --info-hover-color: #2896f3;
     --info-light-color: #2686d560;
     --info-disabled-color: #061521;
     --disabled-color: #6b6b6b;
     --foreground-color: #FFFFFF;
     --foreground-label-color: #8fa2b3;
     --foreground-disabled-color: #9b9a9a;
     --surface-a: #1c1e21;
     --surface-b: #141618;
     --surface-c: #A8B2BF15;
     --surface-d: #51586060;
     --surface-e: #232529;
     --surface-f: #2b2d31;
     --surface-g: #222427;
     --surface-h: #1a1c1f;
     --border-color: #5f5f5f;
     --shadow-color: #5f5f5f99;
     --padding-xs: 4px;
     --padding-sm: 6px;
     --padding-md: 8px;
     --padding-lg: 16px;
     --paddingButton-md: 4px 16px;
     --paddingButton-lg: 4px 24px;
     --paddingButton-sm: 0 16px;
     --paddingNumber-sm: 0 0 0 16px;
     --paddingNumber-md: 0 0 0 16px;
     --paddingNumber-lg: 0 0 0 16px;
     --paddingPassword-sm: 0 36px 0 16px;
     --paddingPassword-md: 8px 48px 8px 16px;
     --paddingPassword-lg: 8px 48px 8px 16px;
     --font-size-xs: 12px;
     --font-size-sm: 14px;
     --font-size-md: 16px;
     --font-size-lg: 18px;
     --border-radius-none: none;
     --border-radius-sm: 2px;
     --border-radius-md: 4px;
     --border-radius-lg: 8px;
     --border-radius-pill: 10em;
     --border-radius-full: 50%;
     --height-xs: 18px;
     --height-sm: 24px;
     --height-md: 32px;
     --height-lg: 40px;
     --box-shadow: 0 0 2px 1px var(--shadow-color);
     ;
     --font-family: 'Jost', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }