:root {
	--font-family: "Manrope Variable", sans-serif;
	--disabled-color: #6b6b6b;
	--black-color: #171717;
	--white-color: #ffffff;

	--gap-radio-size: 8px;

	/* --- Lambda Colors --- */

	/* Primary */
	/*
	--lambda-color-primary-050: #eafdf9;
	--lambda-color-primary-100: #c0f8ee;
	--lambda-color-primary-200: #96f4e3;
	--lambda-color-primary-300: #6cf0d7;
	--lambda-color-primary-400: #42ebcc;
	--lambda-color-primary-500: #18e7c1;
	--lambda-color-primary-600: #14bd9e;
	--lambda-color-primary-700: #0f937b;
	--lambda-color-primary-800: #0b6958;
	--lambda-color-primary-900: #073f35;
	--lambda-color-primary-950: #021512;
	*/
	--lambda-color-primary-050: #f6fee6;
	--lambda-color-primary-100: #e7fbbe;
	--lambda-color-primary-200: #d7f796;
	--lambda-color-primary-300: #c6f16e;
	--lambda-color-primary-400: #afe441;
	--lambda-color-primary-500: #87c400;
	--lambda-color-primary-600: #5e8f00;
	--lambda-color-primary-700: #466c00;
	--lambda-color-primary-800: #355300;
	--lambda-color-primary-900: #293d00;
	--lambda-color-primary-950: #111b00;

	/* Secondary */
	--lambda-color-secondary-050: #f1edfa;
	--lambda-color-secondary-100: #d6c8f1;
	--lambda-color-secondary-200: #bba3e7;
	--lambda-color-secondary-300: #a07ede;
	--lambda-color-secondary-400: #8459d5;
	--lambda-color-secondary-500: #6934cb;
	--lambda-color-secondary-600: #562aa6;
	--lambda-color-secondary-700: #432181;
	--lambda-color-secondary-800: #30175c;
	--lambda-color-secondary-900: #1d0e37;
	--lambda-color-secondary-950: #0a0512;

	/* Neutral */
	--lambda-color-neutral-050: #f3f3f4;
	--lambda-color-neutral-100: #dadcdf;
	--lambda-color-neutral-200: #c1c5c9;
	--lambda-color-neutral-300: #a8aeb4;
	--lambda-color-neutral-400: #8f979e;
	--lambda-color-neutral-500: #768089;
	--lambda-color-neutral-600: #616970;
	--lambda-color-neutral-700: #4b5157;
	--lambda-color-neutral-800: #363a3e;
	--lambda-color-neutral-900: #202325;
	--lambda-color-neutral-950: #0b0c0c;

	/* Success */
	--lambda-color-success-050: #eefaed;
	--lambda-color-success-100: #cbf0c9;
	--lambda-color-success-200: #a9e6a5;
	--lambda-color-success-300: #86db80;
	--lambda-color-success-400: #86db80;
	--lambda-color-success-500: #42c738;
	--lambda-color-success-600: #36a32e;
	--lambda-color-success-700: #2a7f24;
	--lambda-color-success-800: #1e5a19;
	--lambda-color-success-900: #12360f;
	--lambda-color-success-950: #061205;

	/* Danger */
	--lambda-color-danger-050: #fbecec;
	--lambda-color-danger-100: #f4c5c5;
	--lambda-color-danger-200: #ec9e9e;
	--lambda-color-danger-300: #e47777;
	--lambda-color-danger-400: #dd5151;
	--lambda-color-danger-500: #d52a2a;
	--lambda-color-danger-600: #ae2222;
	--lambda-color-danger-700: #881b1b;
	--lambda-color-danger-800: #611313;
	--lambda-color-danger-900: #3a0b0b;
	--lambda-color-danger-950: #130404;

	/* Warning */
	--lambda-color-warning-050: #fcf6eb;
	--lambda-color-warning-100: #f7e4c2;
	--lambda-color-warning-200: #f1d299;
	--lambda-color-warning-300: #ebc070;
	--lambda-color-warning-400: #e6ae48;
	--lambda-color-warning-500: #e09c1f;
	--lambda-color-warning-600: #b78019;
	--lambda-color-warning-700: #8f6314;
	--lambda-color-warning-800: #66470e;
	--lambda-color-warning-900: #3d2b08;
	--lambda-color-warning-950: #140e03;

	/* Info */
	--lambda-color-info-050: #ebf5fc;
	--lambda-color-info-100: #c4e0f5;
	--lambda-color-info-200: #9ccbee;
	--lambda-color-info-300: #75b6e7;
	--lambda-color-info-400: #4da1e0;
	--lambda-color-info-500: #268cd9;
	--lambda-color-info-600: #1f73b2;
	--lambda-color-info-700: #18598a;
	--lambda-color-info-800: #114063;
	--lambda-color-info-900: #0a263b;
	--lambda-color-info-950: #030d14;

	--padding-none: 0px;
	--padding-3xs: 1px;
	--padding-2xs: 2px;
	--padding-xs: 4px;
	--padding-sm: 6px;
	--padding-md: 8px;
	--padding-lg: 16px;
	--padding-xl: 32px;
	--padding-2xl: 64px;

	--gap-none: 0px;
	--gap-2xs: 1px;
	--gap-xs: 2px;
	--gap-sm: 4px;
	--gap-md: 8px;
	--gap-lg: 16px;
	--gap-xl: 24px;

	--font-weight-xs: 300;
	--font-weight-sm: 400;
	--font-weight-reg: 500;
	--font-weight-md: 600;
	--font-weight-semibold: 700;
	--font-weight-bold: 800;

	--font-size-xs: 11px;
	--font-size-sm: 12px;
	--font-size-md: 14px;
	--font-size-lg: 16px;
	--font-size-xl: 18px;
	--font-size-2xl: 20px;
	--font-size-3xl: 24px;
	--font-size-4xl: 28px;

	--font-size-title-xs: 16px;
	--font-size-title-sm: 20px;
	--font-size-title-md: 24px;
	--font-size-title-lg: 28px;
	--font-size-title-xl: 32px;
	--font-size-title-2xl: 36px;
	--font-size-title-3xl: 40px;
	--font-size-title-4xl: 44px;

	--border-radius-none: 0px;
	--border-radius-xs: 2px;
	--border-radius-sm: 4px;
	--border-radius-md: 8px;
	--border-radius-lg: 12px;
	--border-radius-pill: 20em;
	--border-radius-full: 9999px;

	--border-width-none: 0px;
	--border-width-xs: 1px;
	--border-width-sm: 2px;
	--border-width-md: 3px;
	--border-width-lg: 4px;
	--border-width-xl: 5px;
	--border-width-2xl: 6px;

	--icon-size-4xs: 8px;
	--icon-size-3xs: 10px;
	--icon-size-2xs: 12px;
	--icon-size-xs: 14px;
	--icon-size-sm: 16px;
	--icon-size-md: 18px;
	--icon-size-lg: 20px;
	--icon-size-xl: 22px;
	--icon-size-2xl: 24px;
	--icon-size-3xl: 28px;
	--icon-size-4xl: 32px;

	--badge-size-3xs: 6px;
	--badge-size-2xs: 8px;
	--badge-size-xs: 10px;
	--badge-size-sm: 12px;
	--badge-size-md: 16px;
	--badge-size-lg: 20px;
	--badge-size-xl: 24px;
	--badge-size-2xl: 28px;
	--badge-size-3xl: 32px;

	--handle-3xs: 6px;
	--handle-2xs: 10px;
	--handle-xs: 14px;
	--handle-sm: 18px;
	--handle-md: 22px;
	--handle-lg: 26px;

	--track-size-xs: 4px;
	--track-size-sm: 6px;
	--track-size-md: 8px;
	--track-size-lg: 12px;

	--card-size-xs: 32px;
	--card-size-sm: 48px;
	--card-size-md: 64px;
	--card-size-lg: 80px;
	--card-size-xl: 96px;

	--card-title-max-width: 12ch;

	--height-checkbox-xs: 16px;
	--height-checkbox-sm: 20px;
	--height-checkbox-md: 24px;
	--height-checkbox-lg: 30px;
	--height-checkbox-xl: 36px;

	--height-button-2xs: 18px;
	--height-button-xs: 24px;
	--height-button-sm: 30px;
	--height-button-md: 36px;
	--height-button-lg: 42px;

	--height-input-xs: 24px;
	--height-input-sm: 30px;
	--height-input-md: 36px;
	--height-input-lg: 42px;

	--accordion-transition-duration: 300ms;
	--accordion-transition-timing-function: ease-in-out;
	--accordion-max-height-open: 15em;
}

[data-theme="light"] {
	/*--background-color: #ededed;
	--background-color: #edefef;*/
	--background-color: #fefefe;
	--foreground-color: #424242;
	--foreground-title-color: #525151;
	--foreground-secondary-color: #727272;
	--foreground-invert-color: #ffffff;
	--foreground-label-color: #7e91a1;
	--foreground-helper-color: #28699e;
	--foreground-disabled-color: #b7b5b5;
	--placeholder-color: #b1b1b1;
	--visited-link-color: #75208a;
	--transparent-color: #87878710;
	--badge-background-color: #b3261e;
	--badge-text-color: #ffffff;

	--rating-solid-color: #f8c622;
	--rating-fill-color: #fac51565;
	--rating-stroke-color: #91720c;
	/*
	--surface-a: #fcfcfc;
	--surface-b: #eef1f0;
	--surface-c: #d3d9d8;
	--surface-d: #b8c1c0;
	--surface-e: #9caaa7;
	--surface-f: #81928f;
	--surface-g: #687875;
	--surface-h: #505d5b;


	--surface-a: #f1f5f9;  
	--surface-b: #e2e8f0;
	--surface-c: #cbd5e1;
	--surface-d: #94a3b8;
	--surface-e: #64748b;
	--surface-f: #475569;
	--surface-g: #334155;
	--surface-h: #1e293b;
	*/

	--surface-a: #f7f7f7;
	--surface-b: #f0f0f1;
	--surface-c: #e6e6e6;
	--surface-d: #dfdfe0;
	--surface-e: #d7d7d8;
	--surface-f: #cfcfd0;
	--surface-g: #c6c6c8;
	--surface-h: #bdbdbf;

	--border-color: #bec5c5;
	--border-inverse-color: #c5c3c3;
	--shadow-color: #91909030;
	--shadow-inset-color: #f1f1f155;

	--box-shadow: 0 0 2px 1px var(--shadow-color);

	--primary-text-color: var(--lambda-color-primary-800);
	--primary-content-color: var(--lambda-color-primary-400);
	--primary-soft-color: var(--lambda-color-primary-200);
	--primary-subtle-color: var(--lambda-color-primary-600);
	--primary-outline-color: var(--lambda-color-primary-300);
	--primary-base-color: var(--lambda-color-primary-500);
	--primary-hover-color: var(--lambda-color-primary-600);
	--primary-disabled-color: var(--lambda-color-primary-900);
	--primary-border-color: var(--lambda-color-primary-700);
	--primary-light-color: var(--lambda-color-primary-100);
	--primary-dark-color: var(--lambda-color-primary-950);
	--primary-background-color: var(--lambda-color-primary-050);
	--primary-opacity-color: color-mix(in srgb, var(--lambda-color-primary-600) 30%, transparent 90%);
	--primary-shadow-color: color-mix(in srgb, var(--lambda-color-primary-600) 50%, transparent 90%);

	--secondary-text-color: var(--lambda-color-secondary-800);
	--secondary-content-color: var(--lambda-color-secondary-400);
	--secondary-soft-color: var(--lambda-color-secondary-200);
	--secondary-subtle-color: var(--lambda-color-secondary-300);
	--secondary-outline-color: var(--lambda-color-secondary-200);
	--secondary-base-color: var(--lambda-color-secondary-500);
	--secondary-hover-color: var(--lambda-color-secondary-600);
	--secondary-border-color: var(--lambda-color-secondary-700);
	--secondary-disabled-color: var(--lambda-color-secondary-900);
	--secondary-light-color: var(--lambda-color-secondary-100);
	--secondary-dark-color: var(--lambda-color-secondary-950);
	--secondary-background-color: var(--lambda-color-secondary-050);
	--secondary-opacity-color: color-mix(
		in srgb,
		var(--lambda-color-secondary-600) 15%,
		transparent 90%
	);
	--secondary-shadow-color: color-mix(
		in srgb,
		var(--lambda-color-secondary-600) 50%,
		transparent 90%
	);

	--neutral-text-color: var(--lambda-color-neutral-800);
	--neutral-content-color: var(--lambda-color-neutral-400);
	--neutral-soft-color: var(--lambda-color-neutral-200);
	--neutral-subtle-color: var(--lambda-color-neutral-300);
	--neutral-outline-color: var(--lambda-color-neutral-500);
	--neutral-base-color: var(--lambda-color-neutral-800);
	--neutral-hover-color: var(--lambda-color-neutral-700);
	--neutral-border-color: var(--lambda-color-neutral-600);
	--neutral-disabled-color: var(--lambda-color-neutral-900);
	--neutral-light-color: var(--lambda-color-neutral-100);
	--neutral-dark-color: var(--lambda-color-neutral-950);
	--neutral-background-color: var(--lambda-color-neutral-050);
	--neutral-opacity-color: color-mix(in srgb, var(--lambda-color-neutral-600) 10%, transparent 90%);
	--neutral-shadow-color: color-mix(in srgb, var(--lambda-color-neutral-600) 50%, transparent 90%);

	--success-text-color: var(--lambda-color-success-800);
	--success-content-color: var(--lambda-color-success-400);
	--success-soft-color: var(--lambda-color-success-200);
	--success-subtle-color: var(--lambda-color-success-300);
	--success-outline-color: var(--lambda-color-success-300);
	--success-base-color: var(--lambda-color-success-500);
	--success-hover-color: var(--lambda-color-success-600);
	--success-disabled-color: var(--lambda-color-success-900);
	--success-border-color: var(--lambda-color-success-700);
	--success-light-color: var(--lambda-color-success-100);
	--success-dark-color: var(--lambda-color-success-950);
	--success-background-color: var(--lambda-color-success-050);
	--success-opacity-color: color-mix(in srgb, var(--lambda-color-success-600) 15%, transparent 90%);
	--success-shadow-color: color-mix(in srgb, var(--lambda-color-success-600) 50%, transparent 90%);

	--danger-text-color: var(--lambda-color-danger-800);
	--danger-content-color: var(--lambda-color-danger-400);
	--danger-soft-color: var(--lambda-color-danger-200);
	--danger-subtle-color: var(--lambda-color-danger-300);
	--danger-outline-color: var(--lambda-color-danger-300);
	--danger-base-color: var(--lambda-color-danger-500);
	--danger-hover-color: var(--lambda-color-danger-600);
	--danger-disabled-color: var(--lambda-color-danger-900);
	--danger-border-color: var(--lambda-color-danger-700);
	--danger-light-color: var(--lambda-color-danger-100);
	--danger-dark-color: var(--lambda-color-danger-950);
	--danger-background-color: var(--lambda-color-danger-050);
	--danger-opacity-color: color-mix(in srgb, var(--lambda-color-danger-600) 15%, transparent 90%);
	--danger-shadow-color: color-mix(in srgb, var(--lambda-color-danger-600) 50%, transparent 90%);

	--warning-text-color: var(--lambda-color-warning-800);
	--warning-content-color: var(--lambda-color-warning-400);
	--warning-soft-color: var(--lambda-color-warning-200);
	--warning-subtle-color: var(--lambda-color-warning-300);
	--warning-outline-color: var(--lambda-color-warning-300);
	--warning-base-color: var(--lambda-color-warning-500);
	--warning-hover-color: var(--lambda-color-warning-600);
	--warning-disabled-color: var(--lambda-color-warning-900);
	--warning-border-color: var(--lambda-color-warning-700);
	--warning-light-color: var(--lambda-color-warning-100);
	--warning-dark-color: var(--lambda-color-warning-950);
	--warning-background-color: var(--lambda-color-warning-050);
	--warning-opacity-color: color-mix(in srgb, var(--lambda-color-warning-600) 15%, transparent 90%);
	--warning-shadow-color: color-mix(in srgb, var(--lambda-color-warning-600) 50%, transparent 90%);

	--info-text-color: var(--lambda-color-info-800);
	--info-content-color: var(--lambda-color-info-400);
	--info-soft-color: var(--lambda-color-info-200);
	--info-subtle-color: var(--lambda-color-info-300);
	--info-outline-color: var(--lambda-color-info-300);
	--info-base-color: var(--lambda-color-info-500);
	--info-hover-color: var(--lambda-color-info-600);
	--info-disabled-color: var(--lambda-color-info-900);
	--info-border-color: var(--lambda-color-info-700);
	--info-light-color: var(--lambda-color-info-100);
	--info-dark-color: var(--lambda-color-info-950);
	--info-background-color: var(--lambda-color-info-050);
	--info-opacity-color: color-mix(in srgb, var(--lambda-color-info-600) 15%, transparent 90%);
	--info-shadow-color: color-mix(in srgb, var(--lambda-color-info-600) 50%, transparent 90%);
}

[data-theme="dark"] {
	/*--background-color: #0e0e10;
	--background-color: #151516;*/
	--background-color: #101927;
	--foreground-color: #d6d6d6;
	--foreground-title-color: #c4c4c4;
	--foreground-secondary-color: #888888;
	--foreground-invert-color: #222222;
	--foreground-label-color: #a6b6c2;
	--foreground-helper-color: #53a4e6;
	--foreground-disabled-color: #b7b5b5;
	--placeholder-color: #555555;
	--visited-link-color: #8c29a4;
	--transparent-color: #ffffff08;
	--badge-background-color: #f01e12;
	--badge-text-color: #f3f0f0;

	--rating-solid-color: #ffdd20;
	--rating-fill-color: #ffdd2035;
	--rating-stroke-color: #f7c00e;

	/*
	--surface-a: #171717;
	--surface-b: #222222;
	--surface-c: #2e2e2e;
	--surface-d: #393939;
	--surface-e: #444444;
	--surface-f: #505050;
	--surface-g: #5b5b5b;
	--surface-h: #676767;
	

	--surface-a: #17171b;
	--surface-b: #202024;
	--surface-c: #2e2e33;
	--surface-d: #3e3e3f;
	--surface-e: #4d4d57;
	--surface-f: #595b5b;
	--surface-g: #666668;
	--surface-h: #737475;
	*/

	--surface-a: #171f2c;
	--surface-b: #1d2531;
	--surface-c: #242b37;
	--surface-d: #2a313c;
	--surface-e: #313741;
	--surface-f: #373d46;
	--surface-g: #434952;
	--surface-h: #4f555d;

	--border-color: #313741;
	--border-inverse-color: #c0c0c0;
	--shadow-color: #61616130;
	--shadow-inset-color: #f1f1f155;

	--box-shadow: 0 0 2px 1px var(--shadow-color);

	--primary-text-color: var(--lambda-color-primary-200);
	--primary-content-color: var(--lambda-color-primary-400);
	--primary-soft-color: var(--lambda-color-primary-900);
	--primary-subtle-color: var(--lambda-color-primary-700);
	--primary-outline-color: var(--lambda-color-primary-800);
	--primary-base-color: var(--lambda-color-primary-500);
	--primary-hover-color: var(--lambda-color-primary-600);
	--primary-disabled-color: var(--lambda-color-primary-300);
	--primary-border-color: var(--lambda-color-primary-100);
	--primary-light-color: var(--lambda-color-primary-050);
	--primary-dark-color: var(--lambda-color-primary-900);
	--primary-background-color: var(--lambda-color-primary-950);
	--primary-opacity-color: color-mix(in srgb, var(--lambda-color-primary-500) 15%, transparent 90%);
	--primary-shadow-color: color-mix(in srgb, var(--lambda-color-primary-500) 50%, transparent 90%);

	--secondary-text-color: var(--lambda-color-secondary-200);
	--secondary-content-color: var(--lambda-color-secondary-600);
	--secondary-soft-color: var(--lambda-color-secondary-800);
	--secondary-subtle-color: var(--lambda-color-secondary-700);
	--secondary-outline-color: var(--lambda-color-secondary-800);
	--secondary-base-color: var(--lambda-color-secondary-500);
	--secondary-hover-color: var(--lambda-color-secondary-600);
	--secondary-disabled-color: var(--lambda-color-secondary-300);
	--secondary-border-color: var(--lambda-color-secondary-100);
	--secondary-light-color: var(--lambda-color-secondary-050);
	--secondary-dark-color: var(--lambda-color-secondary-900);
	--secondary-background-color: var(--lambda-color-secondary-950);
	--secondary-opacity-color: color-mix(
		in srgb,
		var(--lambda-color-secondary-500) 15%,
		transparent 90%
	);
	--secondary-shadow-color: color-mix(
		in srgb,
		var(--lambda-color-secondary-500) 50%,
		transparent 90%
	);

	--neutral-text-color: var(--lambda-color-neutral-200);
	--neutral-content-color: var(--lambda-color-neutral-900);
	--neutral-soft-color: var(--lambda-color-neutral-800);
	--neutral-subtle-color: var(--lambda-color-neutral-700);
	--neutral-outline-color: var(--lambda-color-neutral-800);
	--neutral-base-color: var(--lambda-color-neutral-100);
	--neutral-hover-color: var(--lambda-color-neutral-300);
	--neutral-disabled-color: var(--lambda-color-neutral-800);
	--neutral-border-color: var(--lambda-color-neutral-600);
	--neutral-light-color: var(--lambda-color-neutral-050);
	--neutral-dark-color: var(--lambda-color-neutral-950);
	--neutral-background-color: var(--lambda-color-neutral-950);
	--neutral-opacity-color: color-mix(in srgb, var(--lambda-color-neutral-500) 15%, transparent 90%);
	--neutral-shadow-color: color-mix(in srgb, var(--lambda-color-neutral-500) 50%, transparent 90%);

	--success-text-color: var(--lambda-color-success-200);
	--success-content-color: var(--lambda-color-success-400);
	--success-soft-color: var(--lambda-color-success-900);
	--success-subtle-color: var(--lambda-color-success-700);
	--success-outline-color: var(--lambda-color-success-800);
	--success-base-color: var(--lambda-color-success-500);
	--success-hover-color: var(--lambda-color-success-600);
	--success-disabled-color: var(--lambda-color-success-300);
	--success-border-color: var(--lambda-color-success-100);
	--success-light-color: var(--lambda-color-success-050);
	--success-dark-color: var(--lambda-color-success-950);
	--success-background-color: var(--lambda-color-success-950);
	--success-opacity-color: color-mix(in srgb, var(--lambda-color-success-500) 15%, transparent 90%);
	--success-shadow-color: color-mix(in srgb, var(--lambda-color-success-500) 50%, transparent 90%);

	--danger-text-color: var(--lambda-color-danger-200);
	--danger-content-color: var(--lambda-color-danger-400);
	--danger-soft-color: var(--lambda-color-danger-900);
	--danger-subtle-color: var(--lambda-color-danger-700);
	--danger-outline-color: var(--lambda-color-danger-800);
	--danger-base-color: var(--lambda-color-danger-500);
	--danger-hover-color: var(--lambda-color-danger-600);
	--danger-disabled-color: var(--lambda-color-danger-300);
	--danger-border-color: var(--lambda-color-danger-100);
	--danger-light-color: var(--lambda-color-danger-050);
	--danger-dark-color: var(--lambda-color-danger-950);
	--danger-background-color: var(--lambda-color-danger-950);
	--danger-opacity-color: color-mix(in srgb, var(--lambda-color-danger-500) 15%, transparent 90%);
	--danger-shadow-color: color-mix(in srgb, var(--lambda-color-danger-500) 50%, transparent 90%);

	--warning-text-color: var(--lambda-color-warning-200);
	--warning-content-color: var(--lambda-color-warning-400);
	--warning-soft-color: var(--lambda-color-warning-900);
	--warning-subtle-color: var(--lambda-color-warning-700);
	--warning-outline-color: var(--lambda-color-warning-800);
	--warning-base-color: var(--lambda-color-warning-500);
	--warning-hover-color: var(--lambda-color-warning-600);
	--warning-disabled-color: var(--lambda-color-warning-300);
	--warning-border-color: var(--lambda-color-warning-100);
	--warning-light-color: var(--lambda-color-warning-050);
	--warning-dark-color: var(--lambda-color-warning-950);
	--warning-background-color: var(--lambda-color-warning-950);
	--warning-opacity-color: color-mix(in srgb, var(--lambda-color-warning-500) 15%, transparent 90%);
	--warning-shadow-color: color-mix(in srgb, var(--lambda-color-warning-500) 50%, transparent 90%);

	--info-text-color: var(--lambda-color-info-200);
	--info-content-color: var(--lambda-color-info-400);
	--info-soft-color: var(--lambda-color-info-900);
	--info-subtle-color: var(--lambda-color-info-700);
	--info-outline-color: var(--lambda-color-info-800);
	--info-base-color: var(--lambda-color-info-500);
	--info-hover-color: var(--lambda-color-info-600);
	--info-disabled-color: var(--lambda-color-info-100);
	--info-border-color: var(--lambda-color-info-300);
	--info-light-color: var(--lambda-color-info-050);
	--info-dark-color: var(--lambda-color-info-900);
	--info-background-color: var(--lambda-color-info-950);
	--info-opacity-color: color-mix(in srgb, var(--lambda-color-info-500) 15%, transparent 90%);
	--info-shadow-color: color-mix(in srgb, var(--lambda-color-info-500) 50%, transparent 90%);
}

button,
input,
textarea {
	font-family: inherit;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*letter-spacing: 0.2px;*/
}

.scrollBar {
	scrollbar-color: var(--primary-base-color) var(--neutral-soft-color);
	scrollbar-width: thin;
}

.button-docs {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
		90deg,
		var(--lambda-color-primary-600),
		var(--lambda-color-primary-400)
	);
	background-size: 200% 100%;

	border-radius: var(--border-radius-sm);
	border: none;
	padding: 0.5rem 1rem;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.2s ease;
	text-decoration: none !important;
	color: var(--lambda-color-primary-050) !important;
}

.button-docs:hover {
	background-position: 100%;
}
