:root {
    --font-family: 'Jost', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* Variables generales */
    --primary-color: #359cb1;
    --primary-hover-color: #2993a9;
    --primary-light-color: #25718090;
    --primary-disabled-color: #2a7887;
    --secondary-color: #7e8997;
    --secondary-hover-color: #6e7b8d;
    --secondary-light-color: #7e899790;
    --secondary-disabled-color: #5c646e;
    --danger-color: #e04444;
    --danger-hover-color: #d03d3d;
    --danger-light-color: #e0444490;
    --danger-disabled-color: #982d2d;
    --success-color: #46c24a;
    --success-hover-color: #3cae3f;
    --success-light-color: #46c24a90;
    --success-disabled-color: #329635;
    --warning-color: #e4b731;
    --warning-hover-color: #ddb12c;
    --warning-light-color: #e4b73160;
    --warning-disabled-color: #aa8822;
    --info-color: #4da7f1;
    --info-hover-color: #339ef6;
    --info-light-color: #4da7f190;
    --info-disabled-color: #3e8ccb;
    --disabled-color: #6b6b6b;

    --padding-xs: 4px;
    --padding-sm: 6px;
    --padding-md: 8px;
    --padding-lg: 16px;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
    --border-radius-none: 0px;
    --border-radius-sm: 2px;
    --border-radius-md: 4px;
    --border-radius-lg: 8px;
    --border-radius-pill: 10em;
    --border-radius-full: 50%;
    --box-shadow: 0 0 3px 1px var(--shadow-color);
}

[data-theme="light"] {
    --background-color: #FFFFFF;
    --foreground-color: #fafafa;
    --foreground-label-color: #8fa2b3;
    --foreground-disabled-color: #9b9a9a;
    --surface-a: #f5f5f5;
    --surface-b: #e0e0e0;
    --surface-c: #d6d6d6;
    --surface-d: #c2c2c2;
    --surface-e: #b0b0b0;
    --surface-f: #9e9e9e;
    --border-color: #ccc;
    --shadow-color: #aaaaaa99;
}

[data-theme="dark"] {
    --background-color: #171717;
    --foreground-color: #fafafa;
    --foreground-label-color: #8fa2b3;
    --foreground-disabled-color: #9b9a9a;
    --surface-a: #1c1e21;
    --surface-b: #141618;
    --surface-c: #A8B2BF15;
    --surface-d: #51586060;
    --surface-e: #232529;
    --surface-f: #2b2d31;
    --border-color: #5f5f5f;
    --shadow-color: #ffffff90;
}