:root {
    --font-family: 'Jost', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* Variables generales */
    --primary-color: #359cb1;
    --primary-hover-color: #2993a9;
    --primary-light-color: #2993a920;
    --primary-outline-color: #2993a970;
    --primary-disabled-color: #27707f;
    --secondary-color: #7e8997;
    --secondary-hover-color: #6e7b8d;
    --secondary-light-color: #7e899720;
    --secondary-outline-color: #7e899770;
    --secondary-disabled-color: #474e57;
    --danger-color: #e04444;
    --danger-hover-color: #d03d3d;
    --danger-light-color: #e0444420;
    --danger-outline-color: #e0444470;
    --danger-disabled-color: #701b1b;
    --success-color: #46c24a;
    --success-hover-Fcolor: #3cae3f;
    --success-light-color: #46c24a20;
    --success-outline-color: #46c24a70;
    --success-disabled-color: #1e621f;
    --warning-color: #e47f31;
    --warning-hover-color: #d2742d;
    --warning-light-color: #e47f3120;
    --warning-outline-color: #e47f3170;
    --warning-disabled-color: #824314;
    --info-color: #4da7f1;
    --info-hover-color: #339ef6;
    --info-light-color: #4da7f120;
    --info-outline-color: #4da7f170;
    --info-disabled-color: rgb(36, 84, 122);
    --disabled-color: #6b6b6b;

    --padding-xs: 4px;
    --padding-sm: 6px;
    --padding-md: 8px;
    --padding-lg: 16px;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
    --border-radius-none: 0px;
    --border-radius-sm: 2px;
    --border-radius-md: 4px;
    --border-radius-lg: 8px;
    --border-radius-pill: 10em;
    --border-radius-full: 50%;
    --box-shadow: 0 0 3px 1px var(--shadow-color);
}

[data-theme="light"] {
    --background-color: #f3f3f3;
    --foreground-color: #fdfdfd;
    --foreground-invert-color: #1f1f1f;
    --foreground-label-color: #8fa2b3;
    --foreground-disabled-color: #b7b5b5;
    --surface-a: #F9F9F9;
    --surface-b: #ededed;
    --surface-c: #d6d6d6;
    --surface-d: #c2c2c2;
    --surface-e: #b0b0b0;
    --surface-f: #9e9e9e;
    --border-color: #a6a6a6;
    --shadow-color: #44434350;
    --shadow-inset-color: #f2f1f155;
}

[data-theme="dark"] {
    --background-color: #171717;
    --foreground-color: #fdfdfd;
    --foreground-invert-color: #fdfdfd;
    --foreground-label-color: #b1c0cc;
    --foreground-disabled-color: #b7b5b5;
    --surface-a: #1c1e21;
    --surface-b: #141618;
    --surface-c: #A8B2BF15;
    --surface-d: #51586060;
    --surface-e: #232529;
    --surface-f: #2b2d31;
    --border-color: #504a4a;
    --shadow-color: #3c3c3c60;
    --shadow-inset-color: #dedede55;
}



/* Asegura que los botones y otros elementos tengan la fuente correcta */
button,
input,
textarea {
    font-family: inherit;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}