.lambda-accordion {
	width: 100%;
	overflow: hidden;
	font-family: var(--font-family);

	&:is(.lambda-accordion-radius-none) {
		border-radius: var(--border-radius-none);
	}

	&:is(.lambda-accordion-radius-tiny) {
		border-radius: var(--border-radius-xs);
	}

	&:is(.lambda-accordion-radius-small) {
		border-radius: var(--border-radius-sm);
	}

	&:is(.lambda-accordion-radius-medium) {
		border-radius: var(--border-radius-md);
	}

	&:is(.lambda-accordion-radius-large) {
		border-radius: var(--border-radius-lg);
	}
}

/* Variantes del contenedor principal */
.lambda-accordion-default {
	border: var(--border-width-xs) solid var(--border-color);

	.lambda-accordion-header {
		border-top: 1px solid var(--border-color);
	}

	.lambda-accordion-item:first-child {
		border-radius: var(--border-radius-sm) var(--border-radius-sm) var(--border-radius-none)
			var(--border-radius-none);

		.lambda-accordion-header {
			border-top: 1px solid transparent;
		}
	}

	.lambda-accordion-item:last-child {
		border-radius: var(--border-radius-none) var(--border-radius-none) var(--border-radius-sm)
			var(--border-radius-sm);

		.lambda-accordion-header {
			border-bottom: 1px solid transparent;
		}
	}
}

.lambda-accordion-flush {
	border-radius: 0;

	.lambda-accordion-item {
		border: none;

		.lambda-accordion-header {
			border-bottom: 1px solid var(--border-color);
		}
	}

	.lambda-accordion-item:last-child {
		.lambda-accordion-header {
			border-bottom: 1px solid transparent;
		}
	}

	.lambda-accordion-item-open:last-child {
		.lambda-accordion-header {
			border-bottom: 1px solid var(--border-color);
		}
	}
}

.lambda-accordion-split {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	border-radius: var(--border-radius-none);
	padding: var(--padding-xs);
	box-sizing: border-box;

	.lambda-accordion-item {
		border: var(--border-width-xs) solid var(--border-color);
		box-sizing: border-box;

		.lambda-accordion-header-open {
			border-bottom: 1px solid var(--border-color);
		}

		&:is(.lambda-accordion-item-radius-none) {
			border-radius: var(--border-radius-none);

			.lambda-accordion-header {
				border-radius: var(--border-radius-none);
			}
		}

		&:is(.lambda-accordion-item-radius-tiny) {
			border-radius: var(--border-radius-xs);
			overflow: hidden;

			.lambda-accordion-header {
				border-radius: calc(var(--border-radius-xs) - 1px) calc(var(--border-radius-xs) - 1px)
					var(--border-radius-none) var(--border-radius-none);
			}
		}

		&:is(.lambda-accordion-item-radius-small) {
			border-radius: var(--border-radius-sm);
			overflow: hidden;

			.lambda-accordion-header {
				border-radius: calc(var(--border-radius-sm) - 1px) calc(var(--border-radius-sm) - 1px)
					var(--border-radius-none) var(--border-radius-none);
			}
		}

		&:is(.lambda-accordion-item-radius-medium) {
			border-radius: var(--border-radius-md);
			overflow: hidden;

			.lambda-accordion-header {
				border-radius: calc(var(--border-radius-md) - 1px) calc(var(--border-radius-md) - 1px)
					var(--border-radius-none) var(--border-radius-none);
			}
		}

		&:is(.lambda-accordion-item-radius-large) {
			border-radius: calc(var(--border-radius-lg) + 4px);
			overflow: hidden;

			.lambda-accordion-header {
				border-radius: var(--border-radius-lg) var(--border-radius-lg) var(--border-radius-none)
					var(--border-radius-none);
			}
		}
	}
}

.lambda-accordion-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border: none;
	text-align: left;
	cursor: pointer;
	font-weight: var(--font-weight-reg);
	color: var(--foreground-secondary-color);
	transition: background-color 0.2s ease, color 0.2s ease;
	background-color: transparent;
}

.lambda-accordion-header-tiny {
	padding: var(--padding-xs) var(--padding-lg);
	font-size: var(--font-size-sm);

	.lambda-accordion-header-icon {
		width: var(--icon-size-xs);
		height: var(--icon-size-xs);
	}
}

.lambda-accordion-header-small {
	padding: var(--padding-md) var(--padding-lg);
	font-size: var(--font-size-md);

	.lambda-accordion-header-icon {
		width: var(--icon-size-sm);
		height: var(--icon-size-sm);
	}
}

.lambda-accordion-header-medium {
	padding: var(--padding-lg);
	font-size: var(--font-size-lg);

	.lambda-accordion-header-icon {
		width: var(--icon-size-md);
		height: var(--icon-size-md);
	}
}

.lambda-accordion-header-large {
	min-height: 4em;
	padding: var(--padding-xl) var(--padding-lg);
	font-size: var(--font-size-xl);

	.lambda-accordion-header-icon {
		width: var(--icon-size-lg);
		height: var(--icon-size-lg);
	}
}

/* Estilos de hover/focus para el header */
.lambda-accordion-header:hover:not(.lambda-accordion-header-disabled):not(
		.lambda-accordion-header-open
	),
.lambda-accordion-header:focus-visible:not(.lambda-accordion-header-disabled) {
	color: var(--foreground-color);
	background-color: var(--neutral-opacity-color);
	outline: none;
}

.lambda-accordion-header:focus-visible:not(.lambda-accordion-header-disabled) {
	box-shadow: 0 0 3px 2px var(--primary-base-color) inset;
}

/* Variantes del AccordionHeader */
.lambda-accordion-header-open {
	background-color: var(--surface-b);
	font-weight: var(--font-weight-md);
	color: var(--foreground-color);
}

.lambda-accordion-header-closed {
	background-color: var(--background-color);
}

/* Contenedor del icono dentro del header (si existe) */
.lambda-accordion-header-icon-container {
	display: flex;
	align-items: center;
	margin-left: var(--gap-md);
	transition: transform var(--accordion-transition-duration) ease-;
}

/* Estilo básico para el icono SVG */

/* Rotación del icono cuando el header está abierto */
.lambda-accordion-header-open .lambda-accordion-header-icon-container {
	transform: rotate(180deg);
	/* Rotar 180 grados */
}

/* AccordionContent (el panel expandible) */
.lambda-accordion-content {
	overflow: hidden;
	height: 0;
	color: var(--foreground-color);
	padding: var(--padding-none) var(--padding-lg);
	transition-property: height;
	transition-duration: var(--accordion-transition-duration);
	transition-timing-function: var(--accordion-transition-timing-function);
}

.lambda-accordion-content-inner {
	min-height: 0;
}

/* Variantes del AccordionContent */
.lambda-accordion-content-open {
	background-color: var(--surface-a);
}

.lambda-accordion-content-closed {
	background-color: var(--surface-b);
}

/* Estilo para el contenido real dentro del panel (si necesitas estilos específicos) */
.lambda-accordion-content-inner {
	/* Puedes aplicar padding aquí si quieres que la transición afecte solo al max-height */
	padding: var(--padding-md);
}

.lambda-accordion-content-tiny {
	font-size: var(--font-size-xs);
}

.lambda-accordion-content-small {
	font-size: var(--font-size-sm);
}

.lambda-accordion-content-medium {
	font-size: var(--font-size-md);
}

.lambda-accordion-content-large {
	font-size: var(--font-size-lg);
}

.lambda-accordion-item-disabled {
	opacity: 0.5;
	cursor: not-allowed;
	& > .lambda-accordion-header {
		pointer-events: none;
		cursor: not-allowed;
	}
}
