 input::-ms-reveal,
 input::-ms-clear {
     display: none;
 }

 input[type="search"]::-webkit-search-cancel-button {
     display: none;
 }

 .lambda-input__wrapper {
     position: relative;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: 8px;
     border: 1px solid transparent;
     font-weight: 500;
     transition: box-shadow 0.01s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
     pointer-events: all;
     overflow: hidden;
     z-index: 0;
     box-sizing: border-box;
     outline: none;
     font-family: var(--font-family);

     &.lambda-input__wrapper--type-password {
         padding-right: 0;
     }
 }

 .lambda-input {
     position: relative;
     display: flex;
     flex-direction: column;
     gap: var(--gap-sm);
     font-family: var(--font-family);
     margin: 0 0 0px 0;
     width: 100%;
     margin: 1em 0;

     &.lambda-input--group {
         margin: 0;
     }
 }

 .lambda-input__error {
     position: absolute;
     background-color: var(--danger-color);
     color: var(--foreground-color);
     padding: 2px 8px;
     border-radius: var(--border-radius-sm);
     width: max-content;
     width: 100%;
     font-weight: 100;
     letter-spacing: 1px;
     opacity: 0;
     animation: animateError 0.4s ease both;
     z-index: 3;

     &::after {
         position: absolute;
         top: -6px;
         content: '';
         display: block;
         width: 0;
         height: 0;
         margin: 0 auto;
         border-left: 6px solid transparent;
         border-right: 6px solid transparent;
         border-bottom: 6px solid var(--danger-color);
     }

     &.lambda-input__error--size-tiny {
         top: calc(var(--height-input-xs) - 20px);
         font-size: var(--font-size-xs);
     }

     &.lambda-input__error--size-small {
         top: calc(var(--height-input-xs) - 14px);
         font-size: var(--font-size-xs);
     }

     &.lambda-input__error--size-medium {
         top: calc(var(--height-input-xs) - 8px);
         font-size: var(--font-size-xs);
     }

     &.lambda-input__error--size-large {
         top: calc(var(--height-input-sm) - 8px);
         font-size: var(--font-size-xs);
     }
 }

 @keyframes animateError {
     to {
         transform: translateY(24px);
         opacity: 1;
     }
 }

 .lambda-input__field {
     background-color: transparent;
     color: var(--foreground-color);
     border: none;
     outline: none;
     width: 100%;
     padding: 0;
     font-family: var(--font-family);

     &::placeholder {
         color: var(--placeholder-color);
         font-family: var(--font-family);
         font-weight: 300;
     }

     &:disabled::placeholder {
         color: var(--surface-e);
     }

     &.lambda-input__field--size-tiny {
         font-size: var(--font-size-xs);
         letter-spacing: 0.7px;

         &::placeholder {
             font-size: var(--font-size-xs);
         }
     }

     &.lambda-input__field--size-small {
         font-size: var(--font-size-sm);
         letter-spacing: 0.5px;

         &::placeholder {
             font-size: var(--font-size-sm);
         }
     }

     &.lambda-input__field--size-medium {
         font-size: var(--font-size-md);

         &::placeholder {
             font-size: var(--font-size-sm);
         }
     }

     &.lambda-input__field--size-large {
         font-size: var(--font-size-lg);

         &::placeholder {
             font-size: var(--font-size-lg);
         }
     }

     &:disabled {
         color: var(--surface-d);
     }

     &.lambda-input__field--showPassword {
         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Tahoma, Geneva, Verdana, sans-serif, Courier, monospace;
         font-weight: 800;
         color: var(--primary-color);

         &.lambda-input__field--disabled-true {
             color: var(--primary-outline-color);
         }
     }

     &:is(.lambda-input__field--showPassword) {
         letter-spacing: 3px;
     }
 }

 .lambda-input__input-wrapper {
     position: relative;
     width: 100%;

     &.lambda-input__input-wrapper--password {
         display: grid;
         grid-template-columns: 1fr 2em;
         gap: var(--gap-md);
         padding-right: 0;
     }

     .lambda-input__icon {
         pointer-events: none;

     }
 }

 .lambda-input__toggle-password {
     grid-column: 2 / 3;
     border: none;
     padding: 0;
     cursor: pointer;
     transition: all 0.3s ease-in-out;
     color: var(--primary-outline-color);
     background-color: transparent;
     justify-self: center;
     align-self: center;

     &:hover {
         color: var(--primary-color);
     }

     &.lambda-input__toggle-password--outline {
         background-color: transparent;
     }

     &.lambda-input__toggle-password--underline {
         background-color: transparent;
     }

     &.lambda-input__toggle-password--flat {
         background-color: transparent;
     }

     &.lambda-input__toggle-password--tiny {
         width: var(--icon-size-sm);
         height: var(--icon-size-sm);

         .lambda-input__icon {
             width: var(--icon-size-sm);
             height: var(--icon-size-sm);
         }
     }

     &.lambda-input__toggle-password--small {
         width: var(--icon-size-sm);
         height: var(--icon-size-sm);

         .lambda-input__icon {
             width: var(--icon-size-sm);
             height: var(--icon-size-sm);
         }
     }

     &.lambda-input__toggle-password--medium {
         width: var(--icon-size-md);
         height: var(--icon-size-md);

         .lambda-input__icon {
             width: var(--icon-size-md);
             height: var(--icon-size-md);
         }
     }

     &.lambda-input__toggle-password--large {
         width: var(--icon-size-lg);
         height: var(--icon-size-lg);

         .lambda-input__icon {
             width: var(--icon-size-lg);
             height: var(--icon-size-lg);
         }
     }
 }

 .lambda-input__clear-search {
     display: flex;
     align-items: center;
     justify-content: center;
     justify-self: end;
     height: 24px;
     width: 24px;
     color: var(--danger-color);
 }

 .lambda-input__clear-search-icon {
     width: 16px;
     height: 16px;
 }

 .lambda-input__wrapper--variant-outline {
     background-color: var(--surface-a);
     border: 1px solid var(--surface-d);

     &:hover:not(.lambda-input__wrapper--error-true) {
         border-color: var(--primary-color);
     }

     &:focus-within:not(.lambda-input__wrapper--error-true) {
         outline: 3px solid var(--primary-outline-color);
         background-color: var(--primary-light-color);
         border-color: var(--primary-color);
     }
 }

 .lambda-input__wrapper--variant-flat {
     background-color: var(--surface-a);

     &:hover:not(.lambda-input__wrapper--error-true) {
         border: 1px solid var(--primary-color);
     }


     &:focus-within:not(.lambda-input__wrapper--error-true) {
         background-color: var(--primary-light-color);
         box-shadow: var(--box-shadow);
     }
 }

 .lambda-input__wrapper--variant-underline {
     background-color: var(--surface-b);
     border-bottom: 1px solid var(--surface-d);

     &:hover:not(.lambda-input__wrapper--error-true) {
         border-bottom-color: var(--primary-hover-color);
     }

     &:focus-within:not(.lambda-input__wrapper--error-true) {
         background-color: var(--primary-light-color);
         box-shadow: var(--box-shadow);
     }
 }


 .lambda-input__wrapper--size-tiny {
     padding: var(--padding-none) var(--padding-sm);
     font-size: var(--font-size-xs);
     height: var(--height-input-xs);
 }

 .lambda-input__wrapper--size-small {
     padding: var(--padding-none) var(--padding-sm);
     font-size: var(--font-size-sm);
     height: var(--height-input-sm);
 }

 .lambda-input__wrapper--size-medium {
     padding: var(--padding-none) var(--padding-md);
     font-size: var(--font-size-md);
     height: var(--height-input-md);
 }

 .lambda-input__wrapper--size-large {
     padding: var(--padding-none) var(--padding-lg);
     font-size: var(--font-size-lg);
     height: var(--height-input-lg);
 }

 .lambda-input__wrapper--radius-none {
     border-radius: var(--border-radius-none);
 }

 .lambda-input__wrapper--radius-small {
     border-radius: var(--border-radius-sm);
 }

 .lambda-input__wrapper--radius-medium {
     border-radius: var(--border-radius-md);

     &.lambda-input__wrapper--variant-underline {
         border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
     }
 }

 .lambda-input__wrapper--radius-large {
     border-radius: var(--border-radius-lg);

     &.lambda-input__wrapper--variant-underline {
         border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
     }
 }

 .lambda-input__wrapper--radius-pill {
     border-radius: var(--border-radius-pill);

     &.lambda-input__wrapper--size-small {
         padding: var(--padding-xs) var(--padding-md);
     }

     &.lambda-input__wrapper--size-medium {
         padding: var(--padding-xs) var(--padding-lg);
     }

     &.lambda-input__wrapper--variant-underline {
         border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
     }
 }

 .lambda-input__wrapper--error-true {
     border-color: var(--danger-color);
     border-style: dashed;
     background-color: var(--danger-light-color);
 }

 .lambda-input__label {
     position: absolute;
     top: -1.4em;
     font-family: var(--font-family);
     color: var(--primary-text-color);
     padding: 0 0 0 4px;
     font-weight: 500;
     transition: transform 0.2s ease-in-out, font-size 0.2s ease-in-out;
     z-index: 2;

     &.lambda-input__label--size-tiny {
         font-size: var(--font-size-xs);
     }

     &.lambda-input__label--size-small {
         font-size: var(--font-size-sm);
     }

     &.lambda-input__label--size-medium {
         font-size: var(--font-size-sm);
     }

     &.lambda-input__label--size-large {
         font-size: var(--font-size-md);
     }

     &.lambda-input__label--radius-pill {
         padding: 0 0 0 var(--padding-lg);
     }

     &.lambda-input__label--isRequired {
         &::after {
             content: " *";
             color: var(--danger-color);
         }
     }
 }

 .lambda-input__label--floating {
     transform: translateY(-3%) translateX(-0%) scale(1);
     pointer-events: none;


     &.lambda-input__label--elements-first {

         &.lambda-input__label--radius-pill {
             transform: translateY(-3%) translateX(-8%) scale(1);
         }
     }
 }

 .lambda-input__label--default {
     font-weight: 300;
     color: var(--placeholder-color);
     pointer-events: none;

     &.lambda-input__label--size-tiny {
         font-size: var(--font-size-xs);
         transform: translateY(21px) translateX(5px) scale(1);
     }

     &.lambda-input__label--size-small {
         font-size: var(--font-size-sm);
         transform: translateY(27px) translateX(5px) scale(1);
     }

     &.lambda-input__label--size-medium {
         font-size: var(--font-size-sm);
         transform: translateY(29px) translateX(6px) scale(1);

         &.lambda-input__label--elements-first {
             &.lambda-input__label--radius-pill {
                 transform: translateY(26px) translateX(0px) scale(1);
             }
         }
     }

     &.lambda-input__label--size-large {
         font-size: var(--font-size-md);
         transform: translateY(34px) translateX(10px) scale(1);
     }
 }

 .lambda-input__wrapper--group {
     background-color: var(--surface-a);
     border: none;
     border: 1px solid var(--surface-d);
     border-radius: var(--border-radius-none);
     outline: none;
     box-shadow: none;

     &.lambda-input__wrapper--variant-outline,
     &.lambda-input__wrapper--variant-flat,
     &.lambda-input__wrapper--variant-underline {
         border-radius: var(--border-radius-none);

         &:hover:not(.lambda-input__wrapper--error-true) {
             border-color: var(--primary-hover-color);
         }

         &:focus-within:not(.lambda-input__wrapper--error-true) {
             background-color: var(--primary-light-color);
             border-color: var(--primary-hover-color);
         }
     }

     &.lambda-input__wrapper--error-true {
         border: 1px dashed var(--danger-color);
         background-color: var(--danger-light-color);
     }
 }

 .lambda-input__wrapper--elements-first {
     border-right-color: var(--surface-d);
     margin-right: -1px;

     &:hover:not(.lambda-input__wrapper--error-true) {
         border-color: var(--primary-hover-color);
         border-right: 1px solid;
     }

     &:focus-within:not(.lambda-input__wrapper--error-true) {
         border-right: 1px solid;
         border-color: var(--primary-hover-color);
     }

     &.lambda-input__wrapper--radius-small {
         border-radius: var(--border-radius-none) var(--border-radius-sm) var(--border-radius-sm) var(--border-radius-none);
     }

     &.lambda-input__wrapper--radius-medium {
         border-radius: var(--border-radius-none) var(--border-radius-md) var(--border-radius-md) var(--border-radius-none);
     }

     &.lambda-input__wrapper--radius-large {
         border-radius: var(--border-radius-none) var(--border-radius-lg) var(--border-radius-lg) var(--border-radius-none);
     }

     &.lambda-input__wrapper--radius-pill {
         border-radius: var(--border-radius-none) var(--border-radius-pill) var(--border-radius-pill) var(--border-radius-none);
     }
 }

 .lambda-input__wrapper--elements-last {
     border-left-color: var(--surface-d);
     margin-left: -1px;

     &:hover:not(.lambda-input__wrapper--error-true) {
         border-color: var(--primary-hover-color);
         border-left: 1px solid;
     }

     &:focus-within:not(.lambda-input__wrapper--error-true) {
         border-left: 1px solid;
         border-color: var(--primary-hover-color);
     }

     &.lambda-input__wrapper--radius-large {
         border-radius: var(--border-radius-lg) var(--border-radius-none) var(--border-radius-none) var(--border-radius-lg);
     }

     &.lambda-input__wrapper--radius-small {
         border-radius: var(--border-radius-sm) var(--border-radius-none)var(--border-radius-none) var(--border-radius-sm);
     }

     &.lambda-input__wrapper--radius-medium {
         border-radius: var(--border-radius-md) var(--border-radius-none) var(--border-radius-none) var(--border-radius-md);
     }

     &.lambda-input__wrapper--radius-large {
         border-radius: var(--border-radius-lg) var(--border-radius-none) var(--border-radius-none) var(--border-radius-lg);
     }

     &.lambda-input__wrapper--radius-pill {
         border-radius: var(--border-radius-pill) var(--border-radius-none) var(--border-radius-none) var(--border-radius-pill);
     }
 }

 .lambda-input--disabled-true {
     cursor: not-allowed;

     .lambda-input__label--default {
         color: var(--surface-e);
     }

     .lambda-input__wrapper:not(.lambda-input__wrapper--group) {

         &:hover {
             outline: 3px solid var(--surface-c);
         }

     }

     .lambda-input__input-wrapper {
         pointer-events: none;

         .lambda-input__toggle-password,
         .lambda-input__clear-search {
             color: var(--surface-c);
         }
     }

     .lambda-input__wrapper--disabled-true {
         background-color: var(--surface-b);

         &:hover:not(.lambda-input__wrapper--error-true) {
             border-color: var(--surface-d);
         }
     }

 }

 /* ------------------- OPTIONAL LABEL ---------------------*/
 .lambda-input {

     .lambda-input__optional {
         position: absolute;
         bottom: -1.5em;
         left: 0;
         font-size: var(--font-size-xs);
         font-weight: 500;
         color: var(--surface-f);
         font-style: italic;
         opacity: 0;
         transform: translateY(-2em);
         transition: all 0.3s ease-in-out;

         &.lambda-input__optional--disabled-true {
             color: var(--surface-c);
         }
     }

     &:focus-within {
         .lambda-input__optional {
             opacity: 1;
             transform: translateY(0);
         }
     }

 }