.lambda-slider-wrapper{
	display: flex;
	
	&:is(.lambda-slider-wrapper-vertical){
		flex-direction: row; 
		height: 100%; 
	}
	
	&:is(.lambda-slider-wrapper-horizontal){ 
		flex-direction: column;
		width: 100%; 
	}



	& > label{
		color: var(--foreground-label-color);
	}  

	&:is(.lambda-slider-wrapper-tiny){
		& > label{
			font-size: var(--font-size-xs);
		}
	}

	&:is(.lambda-slider-wrapper-small){
		& > label{
			font-size: var(--font-size-sm);
		}
	}

	&:is(.lambda-slider-wrapper-medium){
		& > label{
			font-size: var(--font-size-md);
		}
	}

	&:is(.lambda-slider-wrapper-large){
		& > label{
			font-size: var(--font-size-lg);
		}
	}

}

.lambda-slider-wrapper-has-marks{
	&:is(.lambda-slider-wrapper-tiny){
		margin-bottom: var(--padding-sm);
		margin-left: var(--padding-lg);
		margin-right: var(--padding-lg);
	}
	&:is(.lambda-slider-wrapper-small){
		margin-bottom: calc(var(--padding-sm) + var(--padding-xs));
		margin-left: var(--padding-lg);
		margin-right: var(--padding-lg);
	}
	&:is(.lambda-slider-wrapper-medium){
		margin-bottom: calc(var(--padding-md) + var(--padding-xs));
		margin-left: var(--padding-lg);
		margin-right: var(--padding-lg);
	}
	&:is(.lambda-slider-wrapper-large){
		margin-bottom: var(--padding-lg);
		margin-left: var(--padding-lg);
		margin-right: var(--padding-lg);
	}
}

.lambda-slider-container {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: var(--padding-lg) var(--padding-none);
	box-sizing: border-box;
	font-family: var(--font-family);
	user-select: none;
	-webkit-user-select: none;
	touch-action: none;

	&:is(.lambda-slider-container-vertical) {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		height: 100%;
		width: 60px;
		min-width: 60px;
		box-sizing: border-box;
	}
}

.lambda-slider-label {
	display: block;
	margin-bottom: var(--spacing-1, 4px);
	color: var(--foreground-label-color);
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-semibold);
}

.lambda-slider-label-small {
	font-size: var(--font-size-xs);
}

.lambda-slider-label-medium {
	font-size: var(--font-size-sm);
}

.lambda-slider-label-large {
	font-size: var(--font-size-md);
}

.lambda-slider-track {
	position: absolute;
	bottom: 50%;
	transform: translateY(50%);
	left: 0;
	right: 0;
	border-radius: var(--border-radius-sm);
	border: none;
	background-color: transparent;
	box-sizing: border-box;
	z-index: 1;

	&.lambda-slider-track-view-bar {
		background-color: var(--surface-b);
		border: var(--border-width-xs) solid var(--border-color);
	}

	&:is(.lambda-slider-track-radius-none) {
		border-radius: var(--border-radius-none);
	}

	&:is(.lambda-slider-track-radius-tiny) {
		border-radius: calc(var(--border-radius-xs) - 1px);
		&:is(.lambda-slider-fill-large) {
			border-radius: var(--border-radius-xs);
		}
	}

	&:is(.lambda-slider-track-radius-small) {
		border-radius: var(--border-radius-xs);
		&:is(.lambda-slider-fill-large) {
			border-radius: calc(var(--border-radius-xs) + 1px);
		}
	}

	&:is(.lambda-slider-track-radius-medium) {
		border-radius: calc(var(--border-radius-xs) + 1px);
		&:is(.lambda-slider-fill-large) {
			border-radius: var(--border-radius-sm);
		}
	}

	&:is(.lambda-slider-track-radius-large) {
		border-radius: calc(var(--border-radius-xs) + 1px);
		&:is(.lambda-slider-fill-large) {
			border-radius: calc(var(--border-radius-sm) + 1px);
		}
	}

	&:is(.lambda-slider-track-radius-full) {
		border-radius: var(--border-radius-full);
	}
}

.lambda-slider-track-horizontal {
	bottom: 50%;
	transform: translateY(50%);
	left: 0;
	right: 0;
	border: none;
	background-color: transparent;
	box-sizing: border-box;
	z-index: 1;

	&:is(.lambda-slider-track-tiny) {
		height: var(--track-size-xs, 4px);
	}

	&:is(.lambda-slider-track-small) {
		height: var(--track-size-sm, 6px);
	}

	&:is(.lambda-slider-track-medium) {
		height: var(--track-size-md, 8px);
	}

	&:is(.lambda-slider-track-large) {
		height: var(--track-size-lg, 12x);
	}
}

.lambda-slider-track-vertical {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	height: 100%;
	width: 8px;
	background: var(--surface-b);
	z-index: 1;

	&:is(.lambda-slider-track-tiny) {
		width: var(--track-size-xs, 4px);
	}

	&:is(.lambda-slider-track-small) {
		width: var(--track-size-sm, 6px);
	}

	&:is(.lambda-slider-track-medium) {
		width: var(--track-size-md, 8px);
	}

	&:is(.lambda-slider-track-large) {
		width: var(--track-size-lg, 12x);
	}
}

.lambda-slider-fill {
	position: absolute;
	bottom: 50%;
	transform: translateY(50%); 
	border: var(--border-width-xs) solid transparent; 
	z-index: 2;

	&:is(.lambda-slider-fill-radius-none) {
		border-radius: var(--border-radius-none);
	}

	&:is(.lambda-slider-fill-radius-tiny) {
		border-radius: calc(var(--border-radius-xs) - 1px);
		&:is(.lambda-slider-fill-large) {
			border-radius: var(--border-radius-xs);
		}
	}

	&:is(.lambda-slider-fill-radius-small) {
		border-radius: var(--border-radius-xs);
		&:is(.lambda-slider-fill-large) {
			border-radius: calc(var(--border-radius-xs) + 1px);
		}
	}

	&:is(.lambda-slider-fill-radius-medium) {
		border-radius: calc(var(--border-radius-xs) + 1px);
		&:is(.lambda-slider-fill-large) {
			border-radius: var(--border-radius-sm);
		}
	}

	&:is(.lambda-slider-fill-radius-large) {
		border-radius: calc(var(--border-radius-xs) + 1px);
		&:is(.lambda-slider-fill-large) {
			border-radius: calc(var(--border-radius-sm) + 1px);
		}
	}

	&:is(.lambda-slider-fill-radius-full) {
		border-radius: var(--border-radius-full);
	}
}

.lambda-slider-fill-primary{
	background-color: var(--primary-hover-color); 
	border-color: var(--primary-base-color); 
}

.lambda-slider-fill-neutral{
	background-color: var(--neutral-hover-color); 
	border-color: var(--neutral-base-color);
}

.lambda-slider-fill-secondary{
	background-color: var(--secondary-hover-color); 
	border-color: var(--secondary-base-color);
}

.lambda-slider-fill-info{
	background-color: var(--info-hover-color); 
	border-color: var(--info-base-color);
}

.lambda-slider-fill-warning{
	background-color: var(--warning-hover-color); 
	border-color: var(--warning-base-color);
}

.lambda-slider-fill-danger{
	background-color: var(--danger-hover-color); 
	border-color: var(--danger-base-color);
}

.lambda-slider-fill-success{
	background-color: var(--success-hover-color); 
	border-color: var(--success-base-color);
}

.lambda-slider-fill-horizontal {
	bottom: 50%;
	transform: translateY(50%);

	&:is(.lambda-slider-fill-tiny) {
		height: var(--track-size-xs, 4px);
	}

	&:is(.lambda-slider-fill-small) {
		height: var(--track-size-sm, 6px);
	}

	&:is(.lambda-slider-fill-medium) {
		height: var(--track-size-md, 8px);
	}

	&:is(.lambda-slider-fill-large) {
		height: var(--track-size-lg, 12x);
	}
}

.lambda-slider-fill-vertical {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);

	&:is(.lambda-slider-fill-tiny) {
		width: var(--track-size-xs, 4px);
	}

	&:is(.lambda-slider-fill-small) {
		width: var(--track-size-sm, 6px);
	}

	&:is(.lambda-slider-fill-medium) {
		width: var(--track-size-md, 8px);
	}

	&:is(.lambda-slider-fill-large) {
		width: var(--track-size-lg, 12x);
	}
}

.lambda-slider-handle {
	position: absolute;
	border: var(--border-width-xs) solid transparent;
	background: var(--foreground-invert-color);
	transition: transform 0.1s ease, box-shadow 0.2s ease;
	outline: none;
	z-index: 3;
	cursor: pointer;

	&:is(.lambda-slider-handle-radius-none) {
		border-radius: var(--border-radius-none);
	}

	&:is(.lambda-slider-handle-radius-tiny) {
		border-radius: calc(var(--border-radius-xs) - 1px);

		&:is(.lambda-slider-handle-large) {
			border-radius: var(--border-radius-xs);
		}
	}

	&:is(.lambda-slider-handle-radius-small) {
		border-radius: var(--border-radius-xs);
		&:is(.lambda-slider-handle-medium) {
			border-radius: calc(var(--border-radius-xs) + 1px);
		}
		&:is(.lambda-slider-handle-large) {
			border-radius: calc(var(--border-radius-xs) + 2px);
		}
	}

	&:is(.lambda-slider-handle-radius-medium) {
		border-radius: var(--border-radius-sm);
		&:is(.lambda-slider-handle-medium) {
			border-radius: calc(var(--border-radius-sm) + 2px);
		}
		&:is(.lambda-slider-handle-large) {
			border-radius: calc(var(--border-radius-xs) + 4px);
		}
	}

	&:is(.lambda-slider-handle-radius-large) {
		border-radius: calc(var(--border-radius-sm) + 2px);
		&:is(.lambda-slider-handle-medium) {
			border-radius: calc(var(--border-radius-sm) + 4px);
		}
		&:is(.lambda-slider-handle-large) {
			border-radius: var(--border-radius-md);
		}
	}

	&:is(.lambda-slider-handle-radius-full) {
		border-radius: var(--border-radius-full);
	}
}

.lambda-slider-handle-primary{ 
	border-color: var(--primary-base-color); 

	&:hover:not(.lambda-slider-handle-disabled), &:focus-visible:not(.lambda-slider-handle-disabled):not(:hover) {
		box-shadow: 0 0 0 4px var(--primary-shadow-color); 
	}
}

.lambda-slider-handle-neutral{ 
	border-color: var(--neutral-base-color);

	&:hover:not(.lambda-slider-handle-disabled), &:focus-visible:not(.lambda-slider-handle-disabled):not(:hover) {
		box-shadow: 0 0 0 4px var(--neutral-shadow-color); 
	}
}

.lambda-slider-handle-secondary{ 
	border-color: var(--secondary-base-color);

	&:hover:not(.lambda-slider-handle-disabled), &:focus-visible:not(.lambda-slider-handle-disabled):not(:hover) {
		box-shadow: 0 0 0 4px var(--secondary-shadow-color); 
	}
}

.lambda-slider-handle-info{ 
	border-color: var(--info-base-color);

	&:hover:not(.lambda-slider-handle-disabled), &:focus-visible:not(.lambda-slider-handle-disabled):not(:hover) {
		box-shadow: 0 0 0 4px var(--info-shadow-color); 
	}
}

.lambda-slider-handle-warning{ 
	border-color: var(--warning-base-color);

	&:hover:not(.lambda-slider-handle-disabled), &:focus-visible:not(.lambda-slider-handle-disabled):not(:hover) {
		box-shadow: 0 0 0 4px var(--warning-shadow-color); 
	}
}

.lambda-slider-handle-danger{ 
	border-color: var(--danger-base-color);

	&:hover:not(.lambda-slider-handle-disabled), &:focus-visible:not(.lambda-slider-handle-disabled):not(:hover) {
		box-shadow: 0 0 0 4px var(--danger-shadow-color); 
	}
}

.lambda-slider-handle-success{ 
	border-color: var(--success-base-color);

	&:hover:not(.lambda-slider-handle-disabled), &:focus-visible:not(.lambda-slider-handle-disabled):not(:hover) {
		box-shadow: 0 0 0 4px var(--success-shadow-color); 
	}
}

.lambda-slider-handle-horizontal {
	bottom: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
}

.lambda-slider-handle-vertical {
	left: 50%;
	transform: translate(-50%, -50%);
	/* top será seteado inline por el componente */
}

.lambda-slider-handle-horizontal.lambda-slider-handle-dragging {
	transform: translate(-50%, 50%) scale(1.1);
}

.lambda-slider-handle-vertical.lambda-slider-handle-dragging {
	transform: translate(-50%, -50%) scale(1.1);
}

.lambda-slider-handle-vertical {
	left: 50%;
	transform: translate(-50%, -50%);
	/* top será seteado inline por el componente */
}

/* Variantes de Tamaño del Handle */
.lambda-slider-handle-tiny {
	width: var(--handle-2xs);
	height: var(--handle-2xs);
	border-width: var(--border-width-sm);
}

.lambda-slider-handle-small {
	width: var(--handle-xs);
	height: var(--handle-xs);
	border-width: var(--border-width-sm);
}

.lambda-slider-handle-medium {
	width: var(--handle-sm);
	height: var(--handle-sm);
	border-width: var(--border-width-sm);
}

.lambda-slider-handle-large {
	width: var(--handle-md);
	height: var(--handle-md);
	border-width: var(--border-width-md);
}

/* Estado Hover del Handle */
.lambda-slider-handle:hover:not(.lambda-slider-handle-disabled) { 
	& .lambda-slider-handle-value {
		display: block;
	}
}

 
/* Estado Arrastrando del Handle */
.lambda-slider-handle-dragging {
	cursor: grabbing;
	transform: translate(-50%, 50%) scale(1.1);
	box-shadow: 0 0 0 4px var(--primary-shadow-color);
}

/* Estado Deshabilitado del Handle */
.lambda-slider-handle-disabled {
	cursor: not-allowed;
	border-color: var(--primary-disabled-color);
	background-color: var(--surface-c);

	/* Anular estilos de hover/focus/dragging */
	&:hover,
	&:focus-visible,
	&.lambda-slider-handle-dragging {
		box-shadow: none;
		transform: translate(-50%, 50%);
		border-color: var(--primary-disabled-color);
		background-color: var(--surface-c);
	}
}

.lambda-slider-handle-value {
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(-130%);
	transform-origin: bottom center;
	text-align: center;
	font-weight: var(--font-weight-semibold);
	color: var(--foreground-invert-color);
	background-color: var(--neutral-base-color);
	padding: var(--padding-xs) var(--padding-sm);
	border-radius: var(--border-radius-sm);
	white-space: nowrap;
	min-width: 2em;
	z-index: 4;

	&:is(.lambda-slider-handle-value-tiny) {
		font-size: var(--font-size-xs);
	}

	&.lambda-slider-handle-value-small {
		font-size: var(--font-size-xs);
	}

	&.lambda-slider-handle-value-medium {
		font-size: var(--font-size-sm);
	}

	&.lambda-slider-handle-value-large {
		font-size: var(--font-size-md);
	}

	&::after {
		content: "";
		position: absolute;
		top: 95%;
		left: 50%;
		transform: translateX(-50%);
		border-width: 5px;
		border-style: solid;
		border-color: var(--neutral-base-color) transparent transparent transparent;
	}
}

.lambda-slider-handle-value-vertical {
	left: -95%;
	top: 50%;
	transform: translateY(-50%) translateX(-100%);

	&::after {
		top: 50%;
		left: 95%;
		transform: translateY(-50%);
		transform-origin: center center;
		width: 100%;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent transparent var(--neutral-base-color);
	}
}

.lambda-slider-mark-container {
	display: flex;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.lambda-slider-mark {
	position: absolute;
	box-sizing: border-box;

	&.lambda-slider-mark-inslider:not(:first-child) {
		background-color: var(--border-color);
	}

	&.lambda-slider-mark-tiny {
		&:after {
			font-size: var(--font-size-xs);
		}
	}

	&.lambda-slider-mark-small {
		&:after {
			font-size: var(--font-size-xs);
		}
	}
}

.lambda-slider-mark-horizontal {
	width: var(--border-width-xs);

	&:is(.lambda-slider-mark-tiny) {
		height: calc(var(--track-size-xs) * 2.25);
		&:not(.lambda-slider-mark-has-label) {
			height: calc(var(--track-size-xs) * 0.85);
		}
	}

	&:is(.lambda-slider-mark-small) {
		height: calc(var(--track-size-sm) * 2.25);
		&:not(.lambda-slider-mark-has-label) {
			height: calc(var(--track-size-sm) * 0.85);
		}
	}
	&:is(.lambda-slider-mark-medium) {
		height: calc(var(--track-size-md) * 2);
		&:not(.lambda-slider-mark-has-label) {
			height: calc(var(--track-size-md) * 0.9);
		}
	}
	&:is(.lambda-slider-mark-large) {
		height: calc(var(--track-size-lg) * 1.75);
		&:not(.lambda-slider-mark-has-label) {
			height: calc(var(--track-size-lg) * 0.9);
		}
	}

	&:is(:last-child, :first-child) {
		background-color: transparent;
	}

	&:after {
		content: attr(data-value);
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: max-content;
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-semibold);
		text-align: center;
		color: var(--foreground-secondary-color);
	}
}

.lambda-slider-mark-vertical {
	height: var(--border-width-xs);

	&:is(.lambda-slider-mark-tiny) {
		width: calc(var(--track-size-xs) * 2.25);
		&:not(.lambda-slider-mark-has-label) {
			width: calc(var(--track-size-xs) * 0.85);
		}
	}

	&:is(.lambda-slider-mark-small) {
		width: calc(var(--track-size-sm) * 2.25);
		&:not(.lambda-slider-mark-has-label) {
			width: calc(var(--track-size-sm) * 0.85);
		}
	}
	&:is(.lambda-slider-mark-medium) {
		width: calc(var(--track-size-md) * 2);
		&:not(.lambda-slider-mark-has-label) {
			width: calc(var(--track-size-md) * 0.9);
		}
	}
	&:is(.lambda-slider-mark-large) {
		width: calc(var(--track-size-lg) * 1.75);
		&:not(.lambda-slider-mark-has-label) {
			width: calc(var(--track-size-lg) * 0.9);
		}
	}

	&:after {
		content: attr(data-value);
		position: absolute;
		top: 100%;
		left: 150%;
		transform: translateY(-50%);
		width: max-content;
		font-size: var(--font-size-sm);
		font-weight: var(--font-weight-semibold);
		text-align: center;
		color: var(--foreground-secondary-color);
	}
}

.lambda-slider-container-disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
