:root {
	--border-style: 1px solid var(--border-color);
	--margin-left: calc(var(--spacing-md) + var(--spacing-xs));
}

.lambda-navigation-menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: var(--font-family);
	gap: var(--spacing-xs);
	color: var(--foreground-color);
	width: 100%;
	padding: 0.5em;
	border-radius: var(--border-radius-sm);

	&:is(.lambda-navigation-menu-show-lines) {
		--margin-left: calc(var(--spacing-lg) + var(--spacing-xs));
	}

	&:is(.lambda-navigation-menu-line-solid) {
		--border-style: 1px solid var(--border-color);
	}

	&:is(.lambda-navigation-menu-line-dashed) {
		--border-style: 1px dashed var(--border-color);
	}

	&:is(.lambda-navigation-menu-line-dotted) {
		--border-style: 1px dotted var(--border-color);
	}

	&:is(.lambda-navigation-menu-hide-lines) {
		--margin-left: calc(var(--spacing-none));
		--border-style: none;
	}
}

.lambda-navigation-menu-item {
	position: relative;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	user-select: none;
	display: flex;
	align-items: flex-start;
	width: 100%;

	&>.lambda-navigation-menu-group {
		border-left: var(--border-style);
	}

	&.lambda-navigation-menu-item-level0 {
		&>.lambda-navigation-menu-item-content {
			&>.lambda-navigation-menu-label {
				color: var(--foreground-color);
				font-weight: var(--font-weight-semibold);
			}
		}
	}

	&.lambda-navigation-menu-item-children-selected {
		&>.lambda-navigation-menu-item-content {
			/*background-color: var(--neutral-opacity-color);*/

			.lambda-navigation-menu-label {
				font-weight: var(--font-weight-semibold);
				color: var(--primary-base-color);
			}
		}
	}

	&.lambda-navigation-menu-item-selected {
		&:not(.lambda-navigation-menu-item-has-children) {
			&:is(.lambda-navigation-menu-item-selected-style-highlight) {
				&>.lambda-navigation-menu-item-content {
					background-color: var(--neutral-opacity-color);

					.lambda-navigation-menu-label {
						font-weight: var(--font-weight-medium);
						color: var(--primary-base-color);
					}
				}
			}

			&:is(.lambda-navigation-menu-item-selected-style-border) {
				&:not(.lambda-navigation-menu-item-level0) {
					&>.lambda-navigation-menu-item-content {
						position: relative;

						&:before {
							content: "";
							width: 2px;
							height: 100%;
							background-color: var(--primary-base-color);
							position: absolute;
							left: -0.725em;
							top: 0;
						}

						.lambda-navigation-menu-label {
							font-weight: var(--font-weight-medium);
							color: var(--primary-base-color);
						}
					}
				}

				&:is(.lambda-navigation-menu-item-level0) {
					&>.lambda-navigation-menu-item-content {
						.lambda-navigation-menu-label {
							font-weight: var(--font-weight-semibold);
							color: var(--primary-base-color);
						}
					}
				}
			}
		}
	}

	&.lambda-navigation-menu-item-always-open {
		&:is(.lambda-navigation-menu-item-has-children) {
			cursor: default;

			&>.lambda-navigation-menu-item-content {
				cursor: pointer;
				pointer-events: none;
			}
		}
	}
}

.lambda-navigation-menu-item-disabled {
	cursor: not-allowed;

	.lambda-navigation-menu-item-content {
		opacity: 0.5;
		pointer-events: none;
	}
}

.lambda-navigation-menu-group {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);
	margin-top: var(--spacing-xs);
	margin-left: calc(var(--spacing-lg) + var(--spacing-none));
	padding-left: var(--spacing-md);
	width: calc(100% - var(--spacing-lg));
}

.lambda-navigation-menu-item-content {
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: var(--spacing-none) var(--spacing-xs);
	gap: var(--spacing-xs);
	width: 100%;
	border-radius: var(--border-radius-sm);
	border: none;
	color: var(--foreground-secondary-color);
	background-color: transparent;
	text-decoration: none;

	&:hover {
		background-color: var(--surface-b);
		color: var(--foreground-color);
	}
}

.lambda-navigation-menu-expanded-icon {
	transition: transform 0.2s ease-in-out;
	width: var(--icon-size-sm);
	height: var(--icon-size-sm);

	&:is(.lambda-navigation-menu-expanded-icon-expanded) {
		transform: rotate(90deg);
	}

	&:is(.lambda-navigation-menu-expanded-icon-always-open) {
		display: none;
	}
}

.lambda-navigation-menu-label {
	position: relative;
	flex: 1;
	display: flex;
	align-items: center;
	gap: var(--spacing-md);
	font-weight: var(--font-weight-medium);
	padding: var(--spacing-xs) var(--spacing-sm);
}

.lambda-navigation-menu-label-tiny {
	font-size: var(--font-size-xs);
}

.lambda-navigation-menu-label-small {
	font-size: var(--font-size-sm);
}

.lambda-navigation-menu-label-medium {
	font-size: var(--font-size-md);
}

.lambda-navigation-menu-label-large {
	font-size: var(--font-size-lg);
}

.lambda-navigation-menu-label-icon {
	width: var(--icon-size-sm);
	height: var(--icon-size-sm);
}

.lambda-navigation-menu-label-icon-tiny {
	width: var(--icon-size-xs);
	height: var(--icon-size-xs);
}

.lambda-navigation-menu-label-icon-small {
	width: var(--icon-size-sm);
	height: var(--icon-size-sm);
}

.lambda-navigation-menu-label-icon-medium {
	width: var(--icon-size-md);
	height: var(--icon-size-md);
}

.lambda-navigation-menu-label-icon-large {
	width: var(--icon-size-lg);
	height: var(--icon-size-lg);
}